/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// JournalEntriesAPIAPIService JournalEntriesAPIAPI service
type JournalEntriesAPIAPIService service

type ApiJournalEntriesApiCreateJournalEntryRequest struct {
	ctx context.Context
	ApiService *JournalEntriesAPIAPIService
	journalEntriesApiCreateJournalEntryRequest *JournalEntriesApiCreateJournalEntryRequest
}

func (r ApiJournalEntriesApiCreateJournalEntryRequest) JournalEntriesApiCreateJournalEntryRequest(journalEntriesApiCreateJournalEntryRequest JournalEntriesApiCreateJournalEntryRequest) ApiJournalEntriesApiCreateJournalEntryRequest {
	r.journalEntriesApiCreateJournalEntryRequest = &journalEntriesApiCreateJournalEntryRequest
	return r
}

func (r ApiJournalEntriesApiCreateJournalEntryRequest) Execute() (*JournalEntriesApiCreateJournalEntry201Response, *http.Response, error) {
	return r.ApiService.JournalEntriesApiCreateJournalEntryExecute(r)
}

/*
JournalEntriesApiCreateJournalEntry Create Journal Entry

Add a GL journal entry.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJournalEntriesApiCreateJournalEntryRequest
*/
func (a *JournalEntriesAPIAPIService) JournalEntriesApiCreateJournalEntry(ctx context.Context) ApiJournalEntriesApiCreateJournalEntryRequest {
	return ApiJournalEntriesApiCreateJournalEntryRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JournalEntriesApiCreateJournalEntry201Response
func (a *JournalEntriesAPIAPIService) JournalEntriesApiCreateJournalEntryExecute(r ApiJournalEntriesApiCreateJournalEntryRequest) (*JournalEntriesApiCreateJournalEntry201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JournalEntriesApiCreateJournalEntry201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JournalEntriesAPIAPIService.JournalEntriesApiCreateJournalEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v2/journal-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.journalEntriesApiCreateJournalEntryRequest == nil {
		return localVarReturnValue, nil, reportError("journalEntriesApiCreateJournalEntryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.journalEntriesApiCreateJournalEntryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JournalEntriesApiCreateJournalEntry400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJournalEntriesApiGetJournalEntryRequest struct {
	ctx context.Context
	ApiService *JournalEntriesAPIAPIService
	id string
}

func (r ApiJournalEntriesApiGetJournalEntryRequest) Execute() (*JournalEntriesApiGetJournalEntryResponse, *http.Response, error) {
	return r.ApiService.JournalEntriesApiGetJournalEntryExecute(r)
}

/*
JournalEntriesApiGetJournalEntry Get Journal Entry

Retrieve a GL journal entry by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The GL journal entry's ID.
 @return ApiJournalEntriesApiGetJournalEntryRequest
*/
func (a *JournalEntriesAPIAPIService) JournalEntriesApiGetJournalEntry(ctx context.Context, id string) ApiJournalEntriesApiGetJournalEntryRequest {
	return ApiJournalEntriesApiGetJournalEntryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JournalEntriesApiGetJournalEntryResponse
func (a *JournalEntriesAPIAPIService) JournalEntriesApiGetJournalEntryExecute(r ApiJournalEntriesApiGetJournalEntryRequest) (*JournalEntriesApiGetJournalEntryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JournalEntriesApiGetJournalEntryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JournalEntriesAPIAPIService.JournalEntriesApiGetJournalEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v2/journal-entries/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJournalEntriesApiListJournalEntriesRequest struct {
	ctx context.Context
	ApiService *JournalEntriesAPIAPIService
	id *[]string
	journalNumber *int32
	periodDisplay *string
	description *string
	postDateBegin *time.Time
	postDateEnd *time.Time
	reversing *bool
	status *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	booked *bool
	period13 *bool
	periodAdjustmentEntries *bool
}

// The list of GL journal entry IDs.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Id(id []string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.id = &id
	return r
}

// The GL journal entry journal number.
func (r ApiJournalEntriesApiListJournalEntriesRequest) JournalNumber(journalNumber int32) ApiJournalEntriesApiListJournalEntriesRequest {
	r.journalNumber = &journalNumber
	return r
}

// The period in which a GL journal entry is recorded.
func (r ApiJournalEntriesApiListJournalEntriesRequest) PeriodDisplay(periodDisplay string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// A description of the GL journal entry.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Description(description string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.description = &description
	return r
}

// The beginning date used to return GL journal entries posted within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) PostDateBegin(postDateBegin time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.postDateBegin = &postDateBegin
	return r
}

// The end date used to return GL journal entries posted within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) PostDateEnd(postDateEnd time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.postDateEnd = &postDateEnd
	return r
}

// Specify a GL journal entry has been reversed.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Reversing(reversing bool) ApiJournalEntriesApiListJournalEntriesRequest {
	r.reversing = &reversing
	return r
}

// The GL journal entry status.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Status(status string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.status = &status
	return r
}

// The IAM ID with which the GL journal entry was created.
func (r ApiJournalEntriesApiListJournalEntriesRequest) CreatedById(createdById string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.createdById = &createdById
	return r
}

// The beginning date used to return GL journal entries created within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The end date used to return GL journal entries created within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The IAM ID that last modified the GL journal entry.
func (r ApiJournalEntriesApiListJournalEntriesRequest) ModifiedById(modifiedById string) ApiJournalEntriesApiListJournalEntriesRequest {
	r.modifiedById = &modifiedById
	return r
}

// The beginning date used to return GL journal entries modified within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The end date used to return GL journal entries modified within a time frame.
func (r ApiJournalEntriesApiListJournalEntriesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiJournalEntriesApiListJournalEntriesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// Specify a GL journal entry has been booked.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Booked(booked bool) ApiJournalEntriesApiListJournalEntriesRequest {
	r.booked = &booked
	return r
}

// Specify a GL journal entry has a 13th period.
func (r ApiJournalEntriesApiListJournalEntriesRequest) Period13(period13 bool) ApiJournalEntriesApiListJournalEntriesRequest {
	r.period13 = &period13
	return r
}

// Specify that the period for a GL journal entry has been adjusted.
func (r ApiJournalEntriesApiListJournalEntriesRequest) PeriodAdjustmentEntries(periodAdjustmentEntries bool) ApiJournalEntriesApiListJournalEntriesRequest {
	r.periodAdjustmentEntries = &periodAdjustmentEntries
	return r
}

func (r ApiJournalEntriesApiListJournalEntriesRequest) Execute() ([]JournalEntriesApiListJournalEntriesItem, *http.Response, error) {
	return r.ApiService.JournalEntriesApiListJournalEntriesExecute(r)
}

/*
JournalEntriesApiListJournalEntries List Journal Entries

List journal entries by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJournalEntriesApiListJournalEntriesRequest
*/
func (a *JournalEntriesAPIAPIService) JournalEntriesApiListJournalEntries(ctx context.Context) ApiJournalEntriesApiListJournalEntriesRequest {
	return ApiJournalEntriesApiListJournalEntriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JournalEntriesApiListJournalEntriesItem
func (a *JournalEntriesAPIAPIService) JournalEntriesApiListJournalEntriesExecute(r ApiJournalEntriesApiListJournalEntriesRequest) ([]JournalEntriesApiListJournalEntriesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JournalEntriesApiListJournalEntriesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JournalEntriesAPIAPIService.JournalEntriesApiListJournalEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v2/journal-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.journalNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "journalNumber", r.journalNumber, "form", "")
	}
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	if r.postDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "postDateBegin", r.postDateBegin, "form", "")
	}
	if r.postDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "postDateEnd", r.postDateEnd, "form", "")
	}
	if r.reversing != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reversing", r.reversing, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.booked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "booked", r.booked, "form", "")
	}
	if r.period13 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period13", r.period13, "form", "")
	}
	if r.periodAdjustmentEntries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodAdjustmentEntries", r.periodAdjustmentEntries, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJournalEntriesApiListJournalEntryLinesRequest struct {
	ctx context.Context
	ApiService *JournalEntriesAPIAPIService
	id string
}

func (r ApiJournalEntriesApiListJournalEntryLinesRequest) Execute() ([]JournalEntriesApiListJournalEntryLinesItem, *http.Response, error) {
	return r.ApiService.JournalEntriesApiListJournalEntryLinesExecute(r)
}

/*
JournalEntriesApiListJournalEntryLines List Journal Entry Lines

Retrieve a list of Journal Entry Lines.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiJournalEntriesApiListJournalEntryLinesRequest
*/
func (a *JournalEntriesAPIAPIService) JournalEntriesApiListJournalEntryLines(ctx context.Context, id string) ApiJournalEntriesApiListJournalEntryLinesRequest {
	return ApiJournalEntriesApiListJournalEntryLinesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []JournalEntriesApiListJournalEntryLinesItem
func (a *JournalEntriesAPIAPIService) JournalEntriesApiListJournalEntryLinesExecute(r ApiJournalEntriesApiListJournalEntryLinesRequest) ([]JournalEntriesApiListJournalEntryLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JournalEntriesApiListJournalEntryLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JournalEntriesAPIAPIService.JournalEntriesApiListJournalEntryLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/journal-entries/{id}/lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJournalEntriesApiUpdateJournalEntryRequest struct {
	ctx context.Context
	ApiService *JournalEntriesAPIAPIService
	id string
	journalEntriesApiUpdateJournalEntryRequest *JournalEntriesApiUpdateJournalEntryRequest
}

func (r ApiJournalEntriesApiUpdateJournalEntryRequest) JournalEntriesApiUpdateJournalEntryRequest(journalEntriesApiUpdateJournalEntryRequest JournalEntriesApiUpdateJournalEntryRequest) ApiJournalEntriesApiUpdateJournalEntryRequest {
	r.journalEntriesApiUpdateJournalEntryRequest = &journalEntriesApiUpdateJournalEntryRequest
	return r
}

func (r ApiJournalEntriesApiUpdateJournalEntryRequest) Execute() (*JournalEntriesApiUpdateJournalEntryResponse, *http.Response, error) {
	return r.ApiService.JournalEntriesApiUpdateJournalEntryExecute(r)
}

/*
JournalEntriesApiUpdateJournalEntry Update Journal Entry

Update journal entry.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiJournalEntriesApiUpdateJournalEntryRequest
*/
func (a *JournalEntriesAPIAPIService) JournalEntriesApiUpdateJournalEntry(ctx context.Context, id string) ApiJournalEntriesApiUpdateJournalEntryRequest {
	return ApiJournalEntriesApiUpdateJournalEntryRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JournalEntriesApiUpdateJournalEntryResponse
func (a *JournalEntriesAPIAPIService) JournalEntriesApiUpdateJournalEntryExecute(r ApiJournalEntriesApiUpdateJournalEntryRequest) (*JournalEntriesApiUpdateJournalEntryResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JournalEntriesApiUpdateJournalEntryResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JournalEntriesAPIAPIService.JournalEntriesApiUpdateJournalEntry")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v2/journal-entries/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.journalEntriesApiUpdateJournalEntryRequest == nil {
		return localVarReturnValue, nil, reportError("journalEntriesApiUpdateJournalEntryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.journalEntriesApiUpdateJournalEntryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JournalEntriesApiUpdateJournalEntry400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
