/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// SpecificationTypesAPIAPIService SpecificationTypesAPIAPI service
type SpecificationTypesAPIAPIService service

type ApiSpecificationTypesApiListSpecificationTypesRequest struct {
	ctx context.Context
	ApiService *SpecificationTypesAPIAPIService
	specificationType *[]string
	checksheetType *string
	process *bool
	standard *bool
	foundationProcess *bool
	foundationProduct *bool
}

// The specification type.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) SpecificationType(specificationType []string) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.specificationType = &specificationType
	return r
}

// The checksheet type.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) ChecksheetType(checksheetType string) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.checksheetType = &checksheetType
	return r
}

// The process flag.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) Process(process bool) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.process = &process
	return r
}

// The standard flag.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) Standard(standard bool) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.standard = &standard
	return r
}

// The foundation process flag.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) FoundationProcess(foundationProcess bool) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.foundationProcess = &foundationProcess
	return r
}

// The foundation product flag.
func (r ApiSpecificationTypesApiListSpecificationTypesRequest) FoundationProduct(foundationProduct bool) ApiSpecificationTypesApiListSpecificationTypesRequest {
	r.foundationProduct = &foundationProduct
	return r
}

func (r ApiSpecificationTypesApiListSpecificationTypesRequest) Execute() ([]SpecificationTypesApiListSpecificationTypesItem, *http.Response, error) {
	return r.ApiService.SpecificationTypesApiListSpecificationTypesExecute(r)
}

/*
SpecificationTypesApiListSpecificationTypes List Specification Types

Retrieve a list of specification types.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSpecificationTypesApiListSpecificationTypesRequest
*/
func (a *SpecificationTypesAPIAPIService) SpecificationTypesApiListSpecificationTypes(ctx context.Context) ApiSpecificationTypesApiListSpecificationTypesRequest {
	return ApiSpecificationTypesApiListSpecificationTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SpecificationTypesApiListSpecificationTypesItem
func (a *SpecificationTypesAPIAPIService) SpecificationTypesApiListSpecificationTypesExecute(r ApiSpecificationTypesApiListSpecificationTypesRequest) ([]SpecificationTypesApiListSpecificationTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SpecificationTypesApiListSpecificationTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SpecificationTypesAPIAPIService.SpecificationTypesApiListSpecificationTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/specification-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.specificationType != nil {
		t := *r.specificationType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "specificationType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "specificationType", t, "form", "multi")
		}
	}
	if r.checksheetType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "checksheetType", r.checksheetType, "form", "")
	}
	if r.process != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "process", r.process, "form", "")
	}
	if r.standard != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "standard", r.standard, "form", "")
	}
	if r.foundationProcess != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "foundationProcess", r.foundationProcess, "form", "")
	}
	if r.foundationProduct != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "foundationProduct", r.foundationProduct, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
