/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// SupplyItemsAPIAPIService SupplyItemsAPIAPI service
type SupplyItemsAPIAPIService service

type ApiSupplyItemsApiActivateSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id string
}

func (r ApiSupplyItemsApiActivateSupplyItemRequest) Execute() (*http.Response, error) {
	return r.ApiService.SupplyItemsApiActivateSupplyItemExecute(r)
}

/*
SupplyItemsApiActivateSupplyItem Activate Supply Item

Activate a supply item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemsApiActivateSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiActivateSupplyItem(ctx context.Context, id string) ApiSupplyItemsApiActivateSupplyItemRequest {
	return ApiSupplyItemsApiActivateSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SupplyItemsAPIAPIService) SupplyItemsApiActivateSupplyItemExecute(r ApiSupplyItemsApiActivateSupplyItemRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiActivateSupplyItem")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/{id}/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiActivateSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSupplyItemsApiCreateSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	supplyItemsApiCreateSupplyItemRequest *SupplyItemsApiCreateSupplyItemRequest
}

func (r ApiSupplyItemsApiCreateSupplyItemRequest) SupplyItemsApiCreateSupplyItemRequest(supplyItemsApiCreateSupplyItemRequest SupplyItemsApiCreateSupplyItemRequest) ApiSupplyItemsApiCreateSupplyItemRequest {
	r.supplyItemsApiCreateSupplyItemRequest = &supplyItemsApiCreateSupplyItemRequest
	return r
}

func (r ApiSupplyItemsApiCreateSupplyItemRequest) Execute() (*SupplyItemsApiCreateSupplyItem201Response, *http.Response, error) {
	return r.ApiService.SupplyItemsApiCreateSupplyItemExecute(r)
}

/*
SupplyItemsApiCreateSupplyItem Create Supply Item

Create a supply item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSupplyItemsApiCreateSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiCreateSupplyItem(ctx context.Context) ApiSupplyItemsApiCreateSupplyItemRequest {
	return ApiSupplyItemsApiCreateSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SupplyItemsApiCreateSupplyItem201Response
func (a *SupplyItemsAPIAPIService) SupplyItemsApiCreateSupplyItemExecute(r ApiSupplyItemsApiCreateSupplyItemRequest) (*SupplyItemsApiCreateSupplyItem201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplyItemsApiCreateSupplyItem201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiCreateSupplyItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.supplyItemsApiCreateSupplyItemRequest == nil {
		return localVarReturnValue, nil, reportError("supplyItemsApiCreateSupplyItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.supplyItemsApiCreateSupplyItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiCreateSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemsApiDeactivateSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id string
}

func (r ApiSupplyItemsApiDeactivateSupplyItemRequest) Execute() (*http.Response, error) {
	return r.ApiService.SupplyItemsApiDeactivateSupplyItemExecute(r)
}

/*
SupplyItemsApiDeactivateSupplyItem Deactivate Supply Item

Deactivate a supply item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemsApiDeactivateSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiDeactivateSupplyItem(ctx context.Context, id string) ApiSupplyItemsApiDeactivateSupplyItemRequest {
	return ApiSupplyItemsApiDeactivateSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SupplyItemsAPIAPIService) SupplyItemsApiDeactivateSupplyItemExecute(r ApiSupplyItemsApiDeactivateSupplyItemRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiDeactivateSupplyItem")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiDeactivateSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSupplyItemsApiDeleteSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id string
}

func (r ApiSupplyItemsApiDeleteSupplyItemRequest) Execute() (*SupplyItemsApiDeleteSupplyItemResponse, *http.Response, error) {
	return r.ApiService.SupplyItemsApiDeleteSupplyItemExecute(r)
}

/*
SupplyItemsApiDeleteSupplyItem Delete Supply Item

Delete a supply item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemsApiDeleteSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiDeleteSupplyItem(ctx context.Context, id string) ApiSupplyItemsApiDeleteSupplyItemRequest {
	return ApiSupplyItemsApiDeleteSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SupplyItemsApiDeleteSupplyItemResponse
func (a *SupplyItemsAPIAPIService) SupplyItemsApiDeleteSupplyItemExecute(r ApiSupplyItemsApiDeleteSupplyItemRequest) (*SupplyItemsApiDeleteSupplyItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplyItemsApiDeleteSupplyItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiDeleteSupplyItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiDeleteSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemsApiGetSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id string
}

func (r ApiSupplyItemsApiGetSupplyItemRequest) Execute() (*SupplyItemsApiGetSupplyItemResponse, *http.Response, error) {
	return r.ApiService.SupplyItemsApiGetSupplyItemExecute(r)
}

/*
SupplyItemsApiGetSupplyItem Get Supply Item

Retrieve a supply item by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemsApiGetSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiGetSupplyItem(ctx context.Context, id string) ApiSupplyItemsApiGetSupplyItemRequest {
	return ApiSupplyItemsApiGetSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SupplyItemsApiGetSupplyItemResponse
func (a *SupplyItemsAPIAPIService) SupplyItemsApiGetSupplyItemExecute(r ApiSupplyItemsApiGetSupplyItemRequest) (*SupplyItemsApiGetSupplyItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplyItemsApiGetSupplyItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiGetSupplyItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemsApiListSupplyItemsRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id *[]string
	supplyItemNumber *string
	type_ *string
	category *string
	priority *string
	group *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of supply item IDs.
func (r ApiSupplyItemsApiListSupplyItemsRequest) Id(id []string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.id = &id
	return r
}

// A short identifier for the Supply Item.
func (r ApiSupplyItemsApiListSupplyItemsRequest) SupplyItemNumber(supplyItemNumber string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.supplyItemNumber = &supplyItemNumber
	return r
}

// Indicates the Supply Item type, such as office supplies or shop supplies. Setup Table: Item Type
func (r ApiSupplyItemsApiListSupplyItemsRequest) Type_(type_ string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.type_ = &type_
	return r
}

// Setup Table: Supply Category
func (r ApiSupplyItemsApiListSupplyItemsRequest) Category(category string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.category = &category
	return r
}

// Setup Table: Item Priority
func (r ApiSupplyItemsApiListSupplyItemsRequest) Priority(priority string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.priority = &priority
	return r
}

// A supply group, used to categorize Supply Items, such as Electrical, Mechanical, Office Supplies. Setup Table: Item Group
func (r ApiSupplyItemsApiListSupplyItemsRequest) Group(group string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.group = &group
	return r
}

// The IAM Account ID of the user who created the record.
func (r ApiSupplyItemsApiListSupplyItemsRequest) CreatedById(createdById string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.createdById = &createdById
	return r
}

// The date on which the record was created.
func (r ApiSupplyItemsApiListSupplyItemsRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSupplyItemsApiListSupplyItemsRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiSupplyItemsApiListSupplyItemsRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSupplyItemsApiListSupplyItemsRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The IAM Account ID of the user who last modified the record.
func (r ApiSupplyItemsApiListSupplyItemsRequest) ModifiedById(modifiedById string) ApiSupplyItemsApiListSupplyItemsRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date on which the record was last modified.
func (r ApiSupplyItemsApiListSupplyItemsRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSupplyItemsApiListSupplyItemsRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiSupplyItemsApiListSupplyItemsRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSupplyItemsApiListSupplyItemsRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiSupplyItemsApiListSupplyItemsRequest) Execute() ([]SupplyItemsApiListSupplyItemsItem, *http.Response, error) {
	return r.ApiService.SupplyItemsApiListSupplyItemsExecute(r)
}

/*
SupplyItemsApiListSupplyItems List Supply Items

List supply items based on query params.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSupplyItemsApiListSupplyItemsRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiListSupplyItems(ctx context.Context) ApiSupplyItemsApiListSupplyItemsRequest {
	return ApiSupplyItemsApiListSupplyItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SupplyItemsApiListSupplyItemsItem
func (a *SupplyItemsAPIAPIService) SupplyItemsApiListSupplyItemsExecute(r ApiSupplyItemsApiListSupplyItemsRequest) ([]SupplyItemsApiListSupplyItemsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupplyItemsApiListSupplyItemsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiListSupplyItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.supplyItemNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplyItemNumber", r.supplyItemNumber, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	if r.group != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "group", r.group, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemsApiSyncSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	supplyItemsApiSyncSupplyItemRequest *SupplyItemsApiSyncSupplyItemRequest
}

func (r ApiSupplyItemsApiSyncSupplyItemRequest) SupplyItemsApiSyncSupplyItemRequest(supplyItemsApiSyncSupplyItemRequest SupplyItemsApiSyncSupplyItemRequest) ApiSupplyItemsApiSyncSupplyItemRequest {
	r.supplyItemsApiSyncSupplyItemRequest = &supplyItemsApiSyncSupplyItemRequest
	return r
}

func (r ApiSupplyItemsApiSyncSupplyItemRequest) Execute() (*http.Response, error) {
	return r.ApiService.SupplyItemsApiSyncSupplyItemExecute(r)
}

/*
SupplyItemsApiSyncSupplyItem Sync Supply Item

Add/Update multiple Supply Item records and their sub-resources. This operation performs create and update logic.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSupplyItemsApiSyncSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiSyncSupplyItem(ctx context.Context) ApiSupplyItemsApiSyncSupplyItemRequest {
	return ApiSupplyItemsApiSyncSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SupplyItemsAPIAPIService) SupplyItemsApiSyncSupplyItemExecute(r ApiSupplyItemsApiSyncSupplyItemRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiSyncSupplyItem")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.supplyItemsApiSyncSupplyItemRequest == nil {
		return nil, reportError("supplyItemsApiSyncSupplyItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.supplyItemsApiSyncSupplyItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiSyncSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSupplyItemsApiUpdateSupplyItemRequest struct {
	ctx context.Context
	ApiService *SupplyItemsAPIAPIService
	id string
	supplyItemsApiUpdateSupplyItemRequest *SupplyItemsApiUpdateSupplyItemRequest
}

func (r ApiSupplyItemsApiUpdateSupplyItemRequest) SupplyItemsApiUpdateSupplyItemRequest(supplyItemsApiUpdateSupplyItemRequest SupplyItemsApiUpdateSupplyItemRequest) ApiSupplyItemsApiUpdateSupplyItemRequest {
	r.supplyItemsApiUpdateSupplyItemRequest = &supplyItemsApiUpdateSupplyItemRequest
	return r
}

func (r ApiSupplyItemsApiUpdateSupplyItemRequest) Execute() (*SupplyItemsApiUpdateSupplyItemResponse, *http.Response, error) {
	return r.ApiService.SupplyItemsApiUpdateSupplyItemExecute(r)
}

/*
SupplyItemsApiUpdateSupplyItem Update Supply Item

Update a supply item.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemsApiUpdateSupplyItemRequest
*/
func (a *SupplyItemsAPIAPIService) SupplyItemsApiUpdateSupplyItem(ctx context.Context, id string) ApiSupplyItemsApiUpdateSupplyItemRequest {
	return ApiSupplyItemsApiUpdateSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SupplyItemsApiUpdateSupplyItemResponse
func (a *SupplyItemsAPIAPIService) SupplyItemsApiUpdateSupplyItemExecute(r ApiSupplyItemsApiUpdateSupplyItemRequest) (*SupplyItemsApiUpdateSupplyItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplyItemsApiUpdateSupplyItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemsAPIAPIService.SupplyItemsApiUpdateSupplyItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/supply-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.supplyItemsApiUpdateSupplyItemRequest == nil {
		return localVarReturnValue, nil, reportError("supplyItemsApiUpdateSupplyItemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.supplyItemsApiUpdateSupplyItemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SupplyItemsApiUpdateSupplyItem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
