/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// TransferOrdersAPIAPIService TransferOrdersAPIAPI service
type TransferOrdersAPIAPIService service

type ApiTransferOrdersApiCancelTransferOrderRequest struct {
	ctx context.Context
	ApiService *TransferOrdersAPIAPIService
	id string
}

func (r ApiTransferOrdersApiCancelTransferOrderRequest) Execute() (*TransferOrdersApiCancelTransferOrderResponse, *http.Response, error) {
	return r.ApiService.TransferOrdersApiCancelTransferOrderExecute(r)
}

/*
TransferOrdersApiCancelTransferOrder Cancel Transfer Order

Cancel a transfer order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The id of transfer order to be cancelled.
 @return ApiTransferOrdersApiCancelTransferOrderRequest
*/
func (a *TransferOrdersAPIAPIService) TransferOrdersApiCancelTransferOrder(ctx context.Context, id string) ApiTransferOrdersApiCancelTransferOrderRequest {
	return ApiTransferOrdersApiCancelTransferOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return TransferOrdersApiCancelTransferOrderResponse
func (a *TransferOrdersAPIAPIService) TransferOrdersApiCancelTransferOrderExecute(r ApiTransferOrdersApiCancelTransferOrderRequest) (*TransferOrdersApiCancelTransferOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransferOrdersApiCancelTransferOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferOrdersAPIAPIService.TransferOrdersApiCancelTransferOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/transfer-orders/{id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v TransferOrdersApiCancelTransferOrder400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTransferOrdersApiCreateTransferOrderRequest struct {
	ctx context.Context
	ApiService *TransferOrdersAPIAPIService
	transferOrdersApiCreateTransferOrderRequest *TransferOrdersApiCreateTransferOrderRequest
}

func (r ApiTransferOrdersApiCreateTransferOrderRequest) TransferOrdersApiCreateTransferOrderRequest(transferOrdersApiCreateTransferOrderRequest TransferOrdersApiCreateTransferOrderRequest) ApiTransferOrdersApiCreateTransferOrderRequest {
	r.transferOrdersApiCreateTransferOrderRequest = &transferOrdersApiCreateTransferOrderRequest
	return r
}

func (r ApiTransferOrdersApiCreateTransferOrderRequest) Execute() (*TransferOrdersApiCreateTransferOrder201Response, *http.Response, error) {
	return r.ApiService.TransferOrdersApiCreateTransferOrderExecute(r)
}

/*
TransferOrdersApiCreateTransferOrder Create Transfer Order

Create a transfer order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTransferOrdersApiCreateTransferOrderRequest
*/
func (a *TransferOrdersAPIAPIService) TransferOrdersApiCreateTransferOrder(ctx context.Context) ApiTransferOrdersApiCreateTransferOrderRequest {
	return ApiTransferOrdersApiCreateTransferOrderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TransferOrdersApiCreateTransferOrder201Response
func (a *TransferOrdersAPIAPIService) TransferOrdersApiCreateTransferOrderExecute(r ApiTransferOrdersApiCreateTransferOrderRequest) (*TransferOrdersApiCreateTransferOrder201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransferOrdersApiCreateTransferOrder201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferOrdersAPIAPIService.TransferOrdersApiCreateTransferOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/transfer-orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.transferOrdersApiCreateTransferOrderRequest == nil {
		return localVarReturnValue, nil, reportError("transferOrdersApiCreateTransferOrderRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.transferOrdersApiCreateTransferOrderRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v TransferOrdersApiCreateTransferOrder400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTransferOrdersApiGetTransferOrderRequest struct {
	ctx context.Context
	ApiService *TransferOrdersAPIAPIService
	id string
}

func (r ApiTransferOrdersApiGetTransferOrderRequest) Execute() (*TransferOrdersApiGetTransferOrderResponse, *http.Response, error) {
	return r.ApiService.TransferOrdersApiGetTransferOrderExecute(r)
}

/*
TransferOrdersApiGetTransferOrder Get Transfer Order

Retrieve a transfer order by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Transfer order ID.
 @return ApiTransferOrdersApiGetTransferOrderRequest
*/
func (a *TransferOrdersAPIAPIService) TransferOrdersApiGetTransferOrder(ctx context.Context, id string) ApiTransferOrdersApiGetTransferOrderRequest {
	return ApiTransferOrdersApiGetTransferOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return TransferOrdersApiGetTransferOrderResponse
func (a *TransferOrdersAPIAPIService) TransferOrdersApiGetTransferOrderExecute(r ApiTransferOrdersApiGetTransferOrderRequest) (*TransferOrdersApiGetTransferOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransferOrdersApiGetTransferOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferOrdersAPIAPIService.TransferOrdersApiGetTransferOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/transfer-orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTransferOrdersApiListTransferOrdersRequest struct {
	ctx context.Context
	ApiService *TransferOrdersAPIAPIService
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	id *[]string
	lotId *string
	partId *string
	requiredShipDateBegin *time.Time
	requiredShipDateEnd *time.Time
	shipFromId *string
	shipToId *string
	status *[]string
	supplyItemId *string
	transferOrderNo *string
	type_ *string
}

// The beginning date used to return orders that were created within a time frame.
func (r ApiTransferOrdersApiListTransferOrdersRequest) CreatedDateBegin(createdDateBegin time.Time) ApiTransferOrdersApiListTransferOrdersRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The end date used to return orders that were created within a time frame.
func (r ApiTransferOrdersApiListTransferOrdersRequest) CreatedDateEnd(createdDateEnd time.Time) ApiTransferOrdersApiListTransferOrdersRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// A unique identifier for the transfer order.
func (r ApiTransferOrdersApiListTransferOrdersRequest) Id(id []string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.id = &id
	return r
}

// The ID of the lot allowed on the transfer order.
func (r ApiTransferOrdersApiListTransferOrdersRequest) LotId(lotId string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.lotId = &lotId
	return r
}

// The ID for a part.
func (r ApiTransferOrdersApiListTransferOrdersRequest) PartId(partId string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.partId = &partId
	return r
}

// The beginning date used to return orders that were placed within a time frame.
func (r ApiTransferOrdersApiListTransferOrdersRequest) RequiredShipDateBegin(requiredShipDateBegin time.Time) ApiTransferOrdersApiListTransferOrdersRequest {
	r.requiredShipDateBegin = &requiredShipDateBegin
	return r
}

// The end date used to return orders that were placed within a time frame.
func (r ApiTransferOrdersApiListTransferOrdersRequest) RequiredShipDateEnd(requiredShipDateEnd time.Time) ApiTransferOrdersApiListTransferOrdersRequest {
	r.requiredShipDateEnd = &requiredShipDateEnd
	return r
}

// The ID of the building from which the order will ship.
func (r ApiTransferOrdersApiListTransferOrdersRequest) ShipFromId(shipFromId string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.shipFromId = &shipFromId
	return r
}

// The ID of the building the order will ship to.
func (r ApiTransferOrdersApiListTransferOrdersRequest) ShipToId(shipToId string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.shipToId = &shipToId
	return r
}

// The transfer order status.
func (r ApiTransferOrdersApiListTransferOrdersRequest) Status(status []string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.status = &status
	return r
}

// The ID for a supply item.
func (r ApiTransferOrdersApiListTransferOrdersRequest) SupplyItemId(supplyItemId string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.supplyItemId = &supplyItemId
	return r
}

// The internal order number generated by Plex that corresponds to a given transfer order.
func (r ApiTransferOrdersApiListTransferOrdersRequest) TransferOrderNo(transferOrderNo string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.transferOrderNo = &transferOrderNo
	return r
}

// The transfer order type.
func (r ApiTransferOrdersApiListTransferOrdersRequest) Type_(type_ string) ApiTransferOrdersApiListTransferOrdersRequest {
	r.type_ = &type_
	return r
}

func (r ApiTransferOrdersApiListTransferOrdersRequest) Execute() ([]TransferOrdersApiListTransferOrdersItem, *http.Response, error) {
	return r.ApiService.TransferOrdersApiListTransferOrdersExecute(r)
}

/*
TransferOrdersApiListTransferOrders List Transfer Orders

List Transfer Orders by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTransferOrdersApiListTransferOrdersRequest
*/
func (a *TransferOrdersAPIAPIService) TransferOrdersApiListTransferOrders(ctx context.Context) ApiTransferOrdersApiListTransferOrdersRequest {
	return ApiTransferOrdersApiListTransferOrdersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []TransferOrdersApiListTransferOrdersItem
func (a *TransferOrdersAPIAPIService) TransferOrdersApiListTransferOrdersExecute(r ApiTransferOrdersApiListTransferOrdersRequest) ([]TransferOrdersApiListTransferOrdersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TransferOrdersApiListTransferOrdersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferOrdersAPIAPIService.TransferOrdersApiListTransferOrders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/transfer-orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.lotId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lotId", r.lotId, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.requiredShipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "requiredShipDateBegin", r.requiredShipDateBegin, "form", "")
	}
	if r.requiredShipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "requiredShipDateEnd", r.requiredShipDateEnd, "form", "")
	}
	if r.shipFromId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipFromId", r.shipFromId, "form", "")
	}
	if r.shipToId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipToId", r.shipToId, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.supplyItemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplyItemId", r.supplyItemId, "form", "")
	}
	if r.transferOrderNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transferOrderNo", r.transferOrderNo, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiTransferOrdersApiUpdateTransferOrderRequest struct {
	ctx context.Context
	ApiService *TransferOrdersAPIAPIService
	id string
	transferOrdersApiUpdateTransferOrderRequest *TransferOrdersApiUpdateTransferOrderRequest
}

func (r ApiTransferOrdersApiUpdateTransferOrderRequest) TransferOrdersApiUpdateTransferOrderRequest(transferOrdersApiUpdateTransferOrderRequest TransferOrdersApiUpdateTransferOrderRequest) ApiTransferOrdersApiUpdateTransferOrderRequest {
	r.transferOrdersApiUpdateTransferOrderRequest = &transferOrdersApiUpdateTransferOrderRequest
	return r
}

func (r ApiTransferOrdersApiUpdateTransferOrderRequest) Execute() (*TransferOrdersApiUpdateTransferOrderResponse, *http.Response, error) {
	return r.ApiService.TransferOrdersApiUpdateTransferOrderExecute(r)
}

/*
TransferOrdersApiUpdateTransferOrder Update Transfer Order

Update a transfer order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The id of transfer order to be updated.
 @return ApiTransferOrdersApiUpdateTransferOrderRequest
*/
func (a *TransferOrdersAPIAPIService) TransferOrdersApiUpdateTransferOrder(ctx context.Context, id string) ApiTransferOrdersApiUpdateTransferOrderRequest {
	return ApiTransferOrdersApiUpdateTransferOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return TransferOrdersApiUpdateTransferOrderResponse
func (a *TransferOrdersAPIAPIService) TransferOrdersApiUpdateTransferOrderExecute(r ApiTransferOrdersApiUpdateTransferOrderRequest) (*TransferOrdersApiUpdateTransferOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TransferOrdersApiUpdateTransferOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TransferOrdersAPIAPIService.TransferOrdersApiUpdateTransferOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/transfer-orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.transferOrdersApiUpdateTransferOrderRequest == nil {
		return localVarReturnValue, nil, reportError("transferOrdersApiUpdateTransferOrderRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.transferOrdersApiUpdateTransferOrderRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v TransferOrdersApiUpdateTransferOrder400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
