/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// CustomerPartsAPIAPIService CustomerPartsAPIAPI service
type CustomerPartsAPIAPIService service

type ApiCustomerPartsApiCreateCustomerPartRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	customerPartsApiCreateCustomerPartRequest *CustomerPartsApiCreateCustomerPartRequest
}

func (r ApiCustomerPartsApiCreateCustomerPartRequest) CustomerPartsApiCreateCustomerPartRequest(customerPartsApiCreateCustomerPartRequest CustomerPartsApiCreateCustomerPartRequest) ApiCustomerPartsApiCreateCustomerPartRequest {
	r.customerPartsApiCreateCustomerPartRequest = &customerPartsApiCreateCustomerPartRequest
	return r
}

func (r ApiCustomerPartsApiCreateCustomerPartRequest) Execute() (*CustomerPartsApiCreateCustomerPart201Response, *http.Response, error) {
	return r.ApiService.CustomerPartsApiCreateCustomerPartExecute(r)
}

/*
CustomerPartsApiCreateCustomerPart Create Customer Part

Create a customer part.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerPartsApiCreateCustomerPartRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiCreateCustomerPart(ctx context.Context) ApiCustomerPartsApiCreateCustomerPartRequest {
	return ApiCustomerPartsApiCreateCustomerPartRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CustomerPartsApiCreateCustomerPart201Response
func (a *CustomerPartsAPIAPIService) CustomerPartsApiCreateCustomerPartExecute(r ApiCustomerPartsApiCreateCustomerPartRequest) (*CustomerPartsApiCreateCustomerPart201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerPartsApiCreateCustomerPart201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiCreateCustomerPart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerPartsApiCreateCustomerPartRequest == nil {
		return localVarReturnValue, nil, reportError("customerPartsApiCreateCustomerPartRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerPartsApiCreateCustomerPartRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerPartsApiCreateCustomerPart400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerPartsApiDeleteCustomerPartRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	id string
}

func (r ApiCustomerPartsApiDeleteCustomerPartRequest) Execute() (*CustomerPartsApiDeleteCustomerPartResponse, *http.Response, error) {
	return r.ApiService.CustomerPartsApiDeleteCustomerPartExecute(r)
}

/*
CustomerPartsApiDeleteCustomerPart Delete Customer Part

Delete a customer part.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiCustomerPartsApiDeleteCustomerPartRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiDeleteCustomerPart(ctx context.Context, id string) ApiCustomerPartsApiDeleteCustomerPartRequest {
	return ApiCustomerPartsApiDeleteCustomerPartRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerPartsApiDeleteCustomerPartResponse
func (a *CustomerPartsAPIAPIService) CustomerPartsApiDeleteCustomerPartExecute(r ApiCustomerPartsApiDeleteCustomerPartRequest) (*CustomerPartsApiDeleteCustomerPartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerPartsApiDeleteCustomerPartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiDeleteCustomerPart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerPartsApiDeleteCustomerPart400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerPartsApiGetCustomerPartRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	id string
}

func (r ApiCustomerPartsApiGetCustomerPartRequest) Execute() (*CustomerPartsApiGetCustomerPartResponse, *http.Response, error) {
	return r.ApiService.CustomerPartsApiGetCustomerPartExecute(r)
}

/*
CustomerPartsApiGetCustomerPart Get Customer Part

Retrieve a customer part by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiCustomerPartsApiGetCustomerPartRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiGetCustomerPart(ctx context.Context, id string) ApiCustomerPartsApiGetCustomerPartRequest {
	return ApiCustomerPartsApiGetCustomerPartRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerPartsApiGetCustomerPartResponse
func (a *CustomerPartsAPIAPIService) CustomerPartsApiGetCustomerPartExecute(r ApiCustomerPartsApiGetCustomerPartRequest) (*CustomerPartsApiGetCustomerPartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerPartsApiGetCustomerPartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiGetCustomerPart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerPartsApiListCustomerPartsRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	id *[]string
	number *string
	partId *string
	customerId *string
	modifiedDateTimeBegin *time.Time
	modifiedDateTimeEnd *time.Time
}

// A list of customer part IDs.
func (r ApiCustomerPartsApiListCustomerPartsRequest) Id(id []string) ApiCustomerPartsApiListCustomerPartsRequest {
	r.id = &id
	return r
}

// The customer part number.
func (r ApiCustomerPartsApiListCustomerPartsRequest) Number(number string) ApiCustomerPartsApiListCustomerPartsRequest {
	r.number = &number
	return r
}

// The part ID.
func (r ApiCustomerPartsApiListCustomerPartsRequest) PartId(partId string) ApiCustomerPartsApiListCustomerPartsRequest {
	r.partId = &partId
	return r
}

// The customer ID.
func (r ApiCustomerPartsApiListCustomerPartsRequest) CustomerId(customerId string) ApiCustomerPartsApiListCustomerPartsRequest {
	r.customerId = &customerId
	return r
}

// The beginning date and time to use for records that were last modified within a time frame.
func (r ApiCustomerPartsApiListCustomerPartsRequest) ModifiedDateTimeBegin(modifiedDateTimeBegin time.Time) ApiCustomerPartsApiListCustomerPartsRequest {
	r.modifiedDateTimeBegin = &modifiedDateTimeBegin
	return r
}

// The ending date and time to use for records that were last modified within a time frame.
func (r ApiCustomerPartsApiListCustomerPartsRequest) ModifiedDateTimeEnd(modifiedDateTimeEnd time.Time) ApiCustomerPartsApiListCustomerPartsRequest {
	r.modifiedDateTimeEnd = &modifiedDateTimeEnd
	return r
}

func (r ApiCustomerPartsApiListCustomerPartsRequest) Execute() ([]CustomerPartsApiListCustomerPartsItem, *http.Response, error) {
	return r.ApiService.CustomerPartsApiListCustomerPartsExecute(r)
}

/*
CustomerPartsApiListCustomerParts List Customer Parts

List customer parts by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerPartsApiListCustomerPartsRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiListCustomerParts(ctx context.Context) ApiCustomerPartsApiListCustomerPartsRequest {
	return ApiCustomerPartsApiListCustomerPartsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomerPartsApiListCustomerPartsItem
func (a *CustomerPartsAPIAPIService) CustomerPartsApiListCustomerPartsExecute(r ApiCustomerPartsApiListCustomerPartsRequest) ([]CustomerPartsApiListCustomerPartsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerPartsApiListCustomerPartsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiListCustomerParts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.number != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "number", r.number, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	}
	if r.modifiedDateTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateTimeBegin", r.modifiedDateTimeBegin, "form", "")
	}
	if r.modifiedDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateTimeEnd", r.modifiedDateTimeEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerPartsApiSyncCustomerPartsRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	customerPartsApiSyncCustomerPartsRequest *CustomerPartsApiSyncCustomerPartsRequest
}

func (r ApiCustomerPartsApiSyncCustomerPartsRequest) CustomerPartsApiSyncCustomerPartsRequest(customerPartsApiSyncCustomerPartsRequest CustomerPartsApiSyncCustomerPartsRequest) ApiCustomerPartsApiSyncCustomerPartsRequest {
	r.customerPartsApiSyncCustomerPartsRequest = &customerPartsApiSyncCustomerPartsRequest
	return r
}

func (r ApiCustomerPartsApiSyncCustomerPartsRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomerPartsApiSyncCustomerPartsExecute(r)
}

/*
CustomerPartsApiSyncCustomerParts Sync Customer Parts

Sync a set of customer parts from another system. This operation performs create and update logic.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerPartsApiSyncCustomerPartsRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiSyncCustomerParts(ctx context.Context) ApiCustomerPartsApiSyncCustomerPartsRequest {
	return ApiCustomerPartsApiSyncCustomerPartsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomerPartsAPIAPIService) CustomerPartsApiSyncCustomerPartsExecute(r ApiCustomerPartsApiSyncCustomerPartsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiSyncCustomerParts")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerPartsApiSyncCustomerPartsRequest == nil {
		return nil, reportError("customerPartsApiSyncCustomerPartsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerPartsApiSyncCustomerPartsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerPartsApiSyncCustomerParts400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomerPartsApiUpdateCustomerPartRequest struct {
	ctx context.Context
	ApiService *CustomerPartsAPIAPIService
	id string
	customerPartsApiUpdateCustomerPartRequest *CustomerPartsApiUpdateCustomerPartRequest
}

func (r ApiCustomerPartsApiUpdateCustomerPartRequest) CustomerPartsApiUpdateCustomerPartRequest(customerPartsApiUpdateCustomerPartRequest CustomerPartsApiUpdateCustomerPartRequest) ApiCustomerPartsApiUpdateCustomerPartRequest {
	r.customerPartsApiUpdateCustomerPartRequest = &customerPartsApiUpdateCustomerPartRequest
	return r
}

func (r ApiCustomerPartsApiUpdateCustomerPartRequest) Execute() (*CustomerPartsApiUpdateCustomerPartResponse, *http.Response, error) {
	return r.ApiService.CustomerPartsApiUpdateCustomerPartExecute(r)
}

/*
CustomerPartsApiUpdateCustomerPart Update Customer Part

Update a customer part.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiCustomerPartsApiUpdateCustomerPartRequest
*/
func (a *CustomerPartsAPIAPIService) CustomerPartsApiUpdateCustomerPart(ctx context.Context, id string) ApiCustomerPartsApiUpdateCustomerPartRequest {
	return ApiCustomerPartsApiUpdateCustomerPartRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerPartsApiUpdateCustomerPartResponse
func (a *CustomerPartsAPIAPIService) CustomerPartsApiUpdateCustomerPartExecute(r ApiCustomerPartsApiUpdateCustomerPartRequest) (*CustomerPartsApiUpdateCustomerPartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerPartsApiUpdateCustomerPartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerPartsAPIAPIService.CustomerPartsApiUpdateCustomerPart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customer-parts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerPartsApiUpdateCustomerPartRequest == nil {
		return localVarReturnValue, nil, reportError("customerPartsApiUpdateCustomerPartRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerPartsApiUpdateCustomerPartRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerPartsApiUpdateCustomerPart400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
