/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ChecksheetTypeAPIAPIService ChecksheetTypeAPIAPI service
type ChecksheetTypeAPIAPIService service

type ApiChecksheetTypeApiListChecksheetTypesRequest struct {
	ctx context.Context
	ApiService *ChecksheetTypeAPIAPIService
	description *[]string
	preselectedSpecifications *string
	inProcess *bool
	pieces *int32
	container *bool
	operation *bool
	workcenter *bool
	subgroupSize *int32
	subgroup *bool
	process *bool
	statusRequired *bool
}

// A list of Checksheet Type descriptions.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Description(description []string) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.description = &description
	return r
}

// Determines if Customer Specified or Dock Audit specifications are preselected on the checksheet setup form when Specifications is set to Multiple Part Specs.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) PreselectedSpecifications(preselectedSpecifications string) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.preselectedSpecifications = &preselectedSpecifications
	return r
}

// Designation if the checksheet type is used for production checksheets launched from the Control Panel.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) InProcess(inProcess bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.inProcess = &inProcess
	return r
}

// The default number of measurements on the checksheet setup form.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Pieces(pieces int32) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.pieces = &pieces
	return r
}

// Designation if container serial numbers are used on the checksheet form. Used in conjunction with the setting Container Text Standalone Display to enable the SPC Checksheet Container Text field on the checksheet form.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Container(container bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.container = &container
	return r
}

// Designation if the operation field is enabled on the checksheet form.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Operation(operation bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.operation = &operation
	return r
}

// Designation if workcenters are used on the checksheet setup.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Workcenter(workcenter bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.workcenter = &workcenter
	return r
}

// The subgroup size.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) SubgroupSize(subgroupSize int32) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.subgroupSize = &subgroupSize
	return r
}

// Designation if subgroups are used on the checksheet.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Subgroup(subgroup bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.subgroup = &subgroup
	return r
}

// Designation if the checksheet type is used for Process Control checksheets.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Process(process bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.process = &process
	return r
}

// Designation if the Status and Days Until Expiration fields are enabled on the checksheet.
func (r ApiChecksheetTypeApiListChecksheetTypesRequest) StatusRequired(statusRequired bool) ApiChecksheetTypeApiListChecksheetTypesRequest {
	r.statusRequired = &statusRequired
	return r
}

func (r ApiChecksheetTypeApiListChecksheetTypesRequest) Execute() ([]ChecksheetTypeApiListChecksheetTypesItem, *http.Response, error) {
	return r.ApiService.ChecksheetTypeApiListChecksheetTypesExecute(r)
}

/*
ChecksheetTypeApiListChecksheetTypes List Checksheet Types

Retrieve a list of checksheet types.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiChecksheetTypeApiListChecksheetTypesRequest
*/
func (a *ChecksheetTypeAPIAPIService) ChecksheetTypeApiListChecksheetTypes(ctx context.Context) ApiChecksheetTypeApiListChecksheetTypesRequest {
	return ApiChecksheetTypeApiListChecksheetTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ChecksheetTypeApiListChecksheetTypesItem
func (a *ChecksheetTypeAPIAPIService) ChecksheetTypeApiListChecksheetTypesExecute(r ApiChecksheetTypeApiListChecksheetTypesRequest) ([]ChecksheetTypeApiListChecksheetTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ChecksheetTypeApiListChecksheetTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ChecksheetTypeAPIAPIService.ChecksheetTypeApiListChecksheetTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/checksheet-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.description != nil {
		t := *r.description
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "description", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "description", t, "form", "multi")
		}
	}
	if r.preselectedSpecifications != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "preselectedSpecifications", r.preselectedSpecifications, "form", "")
	}
	if r.inProcess != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inProcess", r.inProcess, "form", "")
	}
	if r.pieces != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pieces", r.pieces, "form", "")
	}
	if r.container != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "container", r.container, "form", "")
	}
	if r.operation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operation", r.operation, "form", "")
	}
	if r.workcenter != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workcenter", r.workcenter, "form", "")
	}
	if r.subgroupSize != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subgroupSize", r.subgroupSize, "form", "")
	}
	if r.subgroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subgroup", r.subgroup, "form", "")
	}
	if r.process != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "process", r.process, "form", "")
	}
	if r.statusRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusRequired", r.statusRequired, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
