/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// PurchaseOrderReleasesAPIAPIService PurchaseOrderReleasesAPIAPI service
type PurchaseOrderReleasesAPIAPIService service

type ApiPurchaseOrderReleasesApiCancelReleaseRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	id string
	purchaseOrderReleasesApiCancelReleaseRequest *PurchaseOrderReleasesApiCancelReleaseRequest
}

func (r ApiPurchaseOrderReleasesApiCancelReleaseRequest) PurchaseOrderReleasesApiCancelReleaseRequest(purchaseOrderReleasesApiCancelReleaseRequest PurchaseOrderReleasesApiCancelReleaseRequest) ApiPurchaseOrderReleasesApiCancelReleaseRequest {
	r.purchaseOrderReleasesApiCancelReleaseRequest = &purchaseOrderReleasesApiCancelReleaseRequest
	return r
}

func (r ApiPurchaseOrderReleasesApiCancelReleaseRequest) Execute() (*http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiCancelReleaseExecute(r)
}

/*
PurchaseOrderReleasesApiCancelRelease Cancel Release

Cancel a Release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Release Resource Id.
 @return ApiPurchaseOrderReleasesApiCancelReleaseRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCancelRelease(ctx context.Context, id string) ApiPurchaseOrderReleasesApiCancelReleaseRequest {
	return ApiPurchaseOrderReleasesApiCancelReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCancelReleaseExecute(r ApiPurchaseOrderReleasesApiCancelReleaseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiCancelRelease")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/releases/{id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purchaseOrderReleasesApiCancelReleaseRequest == nil {
		return nil, reportError("purchaseOrderReleasesApiCancelReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purchaseOrderReleasesApiCancelReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PurchaseOrderReleasesApiCancelRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiCreateReleaseRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	purchaseOrderReleasesApiCreateReleaseRequest *PurchaseOrderReleasesApiCreateReleaseRequest
}

func (r ApiPurchaseOrderReleasesApiCreateReleaseRequest) PurchaseOrderReleasesApiCreateReleaseRequest(purchaseOrderReleasesApiCreateReleaseRequest PurchaseOrderReleasesApiCreateReleaseRequest) ApiPurchaseOrderReleasesApiCreateReleaseRequest {
	r.purchaseOrderReleasesApiCreateReleaseRequest = &purchaseOrderReleasesApiCreateReleaseRequest
	return r
}

func (r ApiPurchaseOrderReleasesApiCreateReleaseRequest) Execute() (*PurchaseOrderReleasesApiCreateRelease201Response, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiCreateReleaseExecute(r)
}

/*
PurchaseOrderReleasesApiCreateRelease Create Release

Create a Release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrderReleasesApiCreateReleaseRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCreateRelease(ctx context.Context) ApiPurchaseOrderReleasesApiCreateReleaseRequest {
	return ApiPurchaseOrderReleasesApiCreateReleaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PurchaseOrderReleasesApiCreateRelease201Response
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCreateReleaseExecute(r ApiPurchaseOrderReleasesApiCreateReleaseRequest) (*PurchaseOrderReleasesApiCreateRelease201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrderReleasesApiCreateRelease201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiCreateRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v2-beta1/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purchaseOrderReleasesApiCreateReleaseRequest == nil {
		return localVarReturnValue, nil, reportError("purchaseOrderReleasesApiCreateReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purchaseOrderReleasesApiCreateReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PurchaseOrderReleasesApiCreateRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiCreateReleasesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	purchaseOrderReleasesApiCreateReleasesRequest *PurchaseOrderReleasesApiCreateReleasesRequest
}

func (r ApiPurchaseOrderReleasesApiCreateReleasesRequest) PurchaseOrderReleasesApiCreateReleasesRequest(purchaseOrderReleasesApiCreateReleasesRequest PurchaseOrderReleasesApiCreateReleasesRequest) ApiPurchaseOrderReleasesApiCreateReleasesRequest {
	r.purchaseOrderReleasesApiCreateReleasesRequest = &purchaseOrderReleasesApiCreateReleasesRequest
	return r
}

func (r ApiPurchaseOrderReleasesApiCreateReleasesRequest) Execute() (*PurchaseOrderReleasesApiCreateReleases201Response, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiCreateReleasesExecute(r)
}

/*
PurchaseOrderReleasesApiCreateReleases Create Releases

Creating releases, to be inserted at once.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrderReleasesApiCreateReleasesRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCreateReleases(ctx context.Context) ApiPurchaseOrderReleasesApiCreateReleasesRequest {
	return ApiPurchaseOrderReleasesApiCreateReleasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PurchaseOrderReleasesApiCreateReleases201Response
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiCreateReleasesExecute(r ApiPurchaseOrderReleasesApiCreateReleasesRequest) (*PurchaseOrderReleasesApiCreateReleases201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrderReleasesApiCreateReleases201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiCreateReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v3/releases/create"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purchaseOrderReleasesApiCreateReleasesRequest == nil {
		return localVarReturnValue, nil, reportError("purchaseOrderReleasesApiCreateReleasesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purchaseOrderReleasesApiCreateReleasesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PurchaseOrderReleasesApiCreateReleases400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiDeleteReleaseRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	id string
}

func (r ApiPurchaseOrderReleasesApiDeleteReleaseRequest) Execute() (*http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiDeleteReleaseExecute(r)
}

/*
PurchaseOrderReleasesApiDeleteRelease Delete Release

Delete a Release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPurchaseOrderReleasesApiDeleteReleaseRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiDeleteRelease(ctx context.Context, id string) ApiPurchaseOrderReleasesApiDeleteReleaseRequest {
	return ApiPurchaseOrderReleasesApiDeleteReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiDeleteReleaseExecute(r ApiPurchaseOrderReleasesApiDeleteReleaseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiDeleteRelease")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PurchaseOrderReleasesApiDeleteRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiGetReleaseRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	id string
}

func (r ApiPurchaseOrderReleasesApiGetReleaseRequest) Execute() (*PurchaseOrderReleasesApiGetReleaseResponse, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiGetReleaseExecute(r)
}

/*
PurchaseOrderReleasesApiGetRelease Get Release

Retrieve a Release by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPurchaseOrderReleasesApiGetReleaseRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiGetRelease(ctx context.Context, id string) ApiPurchaseOrderReleasesApiGetReleaseRequest {
	return ApiPurchaseOrderReleasesApiGetReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PurchaseOrderReleasesApiGetReleaseResponse
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiGetReleaseExecute(r ApiPurchaseOrderReleasesApiGetReleaseRequest) (*PurchaseOrderReleasesApiGetReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrderReleasesApiGetReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiGetRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v2-beta1/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiListReleaseStatusesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	name *[]string
	includeInMrp *bool
	default_ *bool
	active *bool
	cancelled *bool
	received *bool
	partial *bool
	forecast *bool
	planStatus *bool
	mrpAutoChange *bool
	open *bool
	immediateStatus *bool
}

// A List of Release Status Names.
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Name(name []string) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.name = &name
	return r
}

// IncludeInMrp Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) IncludeInMrp(includeInMrp bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.includeInMrp = &includeInMrp
	return r
}

// Default Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Default_(default_ bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.default_ = &default_
	return r
}

// Active Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Active(active bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.active = &active
	return r
}

// Cancelled Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Cancelled(cancelled bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.cancelled = &cancelled
	return r
}

// Received Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Received(received bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.received = &received
	return r
}

// Partial Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Partial(partial bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.partial = &partial
	return r
}

// Forecast Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Forecast(forecast bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.forecast = &forecast
	return r
}

// PlanStatus Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) PlanStatus(planStatus bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.planStatus = &planStatus
	return r
}

// MrpAutoChange Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) MrpAutoChange(mrpAutoChange bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.mrpAutoChange = &mrpAutoChange
	return r
}

// Open Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Open(open bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.open = &open
	return r
}

// ImmediateStatus Flag
func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) ImmediateStatus(immediateStatus bool) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	r.immediateStatus = &immediateStatus
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) Execute() ([]PurchaseOrderReleasesApiListReleaseStatusesItem, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiListReleaseStatusesExecute(r)
}

/*
PurchaseOrderReleasesApiListReleaseStatuses List Release Statuses

List Release Status Records based on Release Status properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrderReleasesApiListReleaseStatusesRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiListReleaseStatuses(ctx context.Context) ApiPurchaseOrderReleasesApiListReleaseStatusesRequest {
	return ApiPurchaseOrderReleasesApiListReleaseStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PurchaseOrderReleasesApiListReleaseStatusesItem
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiListReleaseStatusesExecute(r ApiPurchaseOrderReleasesApiListReleaseStatusesRequest) ([]PurchaseOrderReleasesApiListReleaseStatusesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrderReleasesApiListReleaseStatusesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiListReleaseStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/release-statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		t := *r.name
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "name", t, "form", "multi")
		}
	}
	if r.includeInMrp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInMrp", r.includeInMrp, "form", "")
	}
	if r.default_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "default", r.default_, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.cancelled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelled", r.cancelled, "form", "")
	}
	if r.received != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "received", r.received, "form", "")
	}
	if r.partial != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partial", r.partial, "form", "")
	}
	if r.forecast != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "forecast", r.forecast, "form", "")
	}
	if r.planStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "planStatus", r.planStatus, "form", "")
	}
	if r.mrpAutoChange != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mrpAutoChange", r.mrpAutoChange, "form", "")
	}
	if r.open != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "open", r.open, "form", "")
	}
	if r.immediateStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "immediateStatus", r.immediateStatus, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiListReleasesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	id *[]string
	pOLineItemId *string
	status *[]string
	releaseDateBegin *time.Time
	releaseDateEnd *time.Time
	dueDateBegin *time.Time
	dueDateEnd *time.Time
	releaseLineNumber *int32
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	partId *[]string
	originalDueDateBegin *time.Time
	originalDueDateEnd *time.Time
	pOId *[]string
	supplierId *[]string
	releaseAuthorizationNumber *string
	operationCode *string
	type_ *string
}

// A List of Release IDs.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) Id(id []string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.id = &id
	return r
}

// Purchase Order Line Item ID.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) POLineItemId(pOLineItemId string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.pOLineItemId = &pOLineItemId
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) Status(status []string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.status = &status
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ReleaseDateBegin(releaseDateBegin time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.releaseDateBegin = &releaseDateBegin
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ReleaseDateEnd(releaseDateEnd time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.releaseDateEnd = &releaseDateEnd
	return r
}

// The Due Date of the Release.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) DueDateBegin(dueDateBegin time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.dueDateBegin = &dueDateBegin
	return r
}

// The Due Date of the Release.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) DueDateEnd(dueDateEnd time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.dueDateEnd = &dueDateEnd
	return r
}

// Release Line Number.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ReleaseLineNumber(releaseLineNumber int32) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.releaseLineNumber = &releaseLineNumber
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// The List of Part IDs associated with the Line item.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) PartId(partId []string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.partId = &partId
	return r
}

// Original Due Date of the Release.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) OriginalDueDateBegin(originalDueDateBegin time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.originalDueDateBegin = &originalDueDateBegin
	return r
}

// Original Due Date of the Release.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) OriginalDueDateEnd(originalDueDateEnd time.Time) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.originalDueDateEnd = &originalDueDateEnd
	return r
}

// List Purchase Order ID.
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) POId(pOId []string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.pOId = &pOId
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) SupplierId(supplierId []string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.supplierId = &supplierId
	return r
}

// Release Authorization Number
func (r ApiPurchaseOrderReleasesApiListReleasesRequest) ReleaseAuthorizationNumber(releaseAuthorizationNumber string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.releaseAuthorizationNumber = &releaseAuthorizationNumber
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) OperationCode(operationCode string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.operationCode = &operationCode
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) Type_(type_ string) ApiPurchaseOrderReleasesApiListReleasesRequest {
	r.type_ = &type_
	return r
}

func (r ApiPurchaseOrderReleasesApiListReleasesRequest) Execute() ([]PurchaseOrderReleasesApiListReleasesItem, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiListReleasesExecute(r)
}

/*
PurchaseOrderReleasesApiListReleases List Releases

List Releases by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrderReleasesApiListReleasesRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiListReleases(ctx context.Context) ApiPurchaseOrderReleasesApiListReleasesRequest {
	return ApiPurchaseOrderReleasesApiListReleasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PurchaseOrderReleasesApiListReleasesItem
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiListReleasesExecute(r ApiPurchaseOrderReleasesApiListReleasesRequest) ([]PurchaseOrderReleasesApiListReleasesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrderReleasesApiListReleasesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiListReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v2-beta1/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.pOLineItemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pOLineItemId", r.pOLineItemId, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.releaseDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseDateBegin", r.releaseDateBegin, "form", "")
	}
	if r.releaseDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseDateEnd", r.releaseDateEnd, "form", "")
	}
	if r.dueDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateBegin", r.dueDateBegin, "form", "")
	}
	if r.dueDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateEnd", r.dueDateEnd, "form", "")
	}
	if r.releaseLineNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseLineNumber", r.releaseLineNumber, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.partId != nil {
		t := *r.partId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "partId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "partId", t, "form", "multi")
		}
	}
	if r.originalDueDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "originalDueDateBegin", r.originalDueDateBegin, "form", "")
	}
	if r.originalDueDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "originalDueDateEnd", r.originalDueDateEnd, "form", "")
	}
	if r.pOId != nil {
		t := *r.pOId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "pOId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "pOId", t, "form", "multi")
		}
	}
	if r.supplierId != nil {
		t := *r.supplierId
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", t, "form", "multi")
		}
	}
	if r.releaseAuthorizationNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseAuthorizationNumber", r.releaseAuthorizationNumber, "form", "")
	}
	if r.operationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationCode", r.operationCode, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrderReleasesApiUpdateReleaseRequest struct {
	ctx context.Context
	ApiService *PurchaseOrderReleasesAPIAPIService
	id string
	purchaseOrderReleasesApiUpdateReleaseRequest *PurchaseOrderReleasesApiUpdateReleaseRequest
}

func (r ApiPurchaseOrderReleasesApiUpdateReleaseRequest) PurchaseOrderReleasesApiUpdateReleaseRequest(purchaseOrderReleasesApiUpdateReleaseRequest PurchaseOrderReleasesApiUpdateReleaseRequest) ApiPurchaseOrderReleasesApiUpdateReleaseRequest {
	r.purchaseOrderReleasesApiUpdateReleaseRequest = &purchaseOrderReleasesApiUpdateReleaseRequest
	return r
}

func (r ApiPurchaseOrderReleasesApiUpdateReleaseRequest) Execute() (*PurchaseOrderReleasesApiUpdateReleaseResponse, *http.Response, error) {
	return r.ApiService.PurchaseOrderReleasesApiUpdateReleaseExecute(r)
}

/*
PurchaseOrderReleasesApiUpdateRelease Update Release

Update a Release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Release Resource ID.
 @return ApiPurchaseOrderReleasesApiUpdateReleaseRequest
*/
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiUpdateRelease(ctx context.Context, id string) ApiPurchaseOrderReleasesApiUpdateReleaseRequest {
	return ApiPurchaseOrderReleasesApiUpdateReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PurchaseOrderReleasesApiUpdateReleaseResponse
func (a *PurchaseOrderReleasesAPIAPIService) PurchaseOrderReleasesApiUpdateReleaseExecute(r ApiPurchaseOrderReleasesApiUpdateReleaseRequest) (*PurchaseOrderReleasesApiUpdateReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrderReleasesApiUpdateReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrderReleasesAPIAPIService.PurchaseOrderReleasesApiUpdateRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v2-beta1/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.purchaseOrderReleasesApiUpdateReleaseRequest == nil {
		return localVarReturnValue, nil, reportError("purchaseOrderReleasesApiUpdateReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.purchaseOrderReleasesApiUpdateReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PurchaseOrderReleasesApiUpdateRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
