/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ProcessSpecificationsAPIAPIService ProcessSpecificationsAPIAPI service
type ProcessSpecificationsAPIAPIService service

type ApiProcessSpecificationsApiGetProcessSpecificationRequest struct {
	ctx context.Context
	ApiService *ProcessSpecificationsAPIAPIService
	id string
}

func (r ApiProcessSpecificationsApiGetProcessSpecificationRequest) Execute() (*ProcessSpecificationsApiGetProcessSpecificationResponse, *http.Response, error) {
	return r.ApiService.ProcessSpecificationsApiGetProcessSpecificationExecute(r)
}

/*
ProcessSpecificationsApiGetProcessSpecification Get Process Specification

Retrieve an active process specification by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the process specification.
 @return ApiProcessSpecificationsApiGetProcessSpecificationRequest
*/
func (a *ProcessSpecificationsAPIAPIService) ProcessSpecificationsApiGetProcessSpecification(ctx context.Context, id string) ApiProcessSpecificationsApiGetProcessSpecificationRequest {
	return ApiProcessSpecificationsApiGetProcessSpecificationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessSpecificationsApiGetProcessSpecificationResponse
func (a *ProcessSpecificationsAPIAPIService) ProcessSpecificationsApiGetProcessSpecificationExecute(r ApiProcessSpecificationsApiGetProcessSpecificationRequest) (*ProcessSpecificationsApiGetProcessSpecificationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessSpecificationsApiGetProcessSpecificationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessSpecificationsAPIAPIService.ProcessSpecificationsApiGetProcessSpecification")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-specifications/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessSpecificationsApiListProcessSpecificationsRequest struct {
	ctx context.Context
	ApiService *ProcessSpecificationsAPIAPIService
	ids *[]string
	processControlRecipeFamilyId *string
	processControlRecipeId *string
	operationId *string
}

// A list of IDs representing the specification.
func (r ApiProcessSpecificationsApiListProcessSpecificationsRequest) Ids(ids []string) ApiProcessSpecificationsApiListProcessSpecificationsRequest {
	r.ids = &ids
	return r
}

// ID representing the process control recipe family.
func (r ApiProcessSpecificationsApiListProcessSpecificationsRequest) ProcessControlRecipeFamilyId(processControlRecipeFamilyId string) ApiProcessSpecificationsApiListProcessSpecificationsRequest {
	r.processControlRecipeFamilyId = &processControlRecipeFamilyId
	return r
}

// ID representing the process control recipe.
func (r ApiProcessSpecificationsApiListProcessSpecificationsRequest) ProcessControlRecipeId(processControlRecipeId string) ApiProcessSpecificationsApiListProcessSpecificationsRequest {
	r.processControlRecipeId = &processControlRecipeId
	return r
}

// ID representing the operation.
func (r ApiProcessSpecificationsApiListProcessSpecificationsRequest) OperationId(operationId string) ApiProcessSpecificationsApiListProcessSpecificationsRequest {
	r.operationId = &operationId
	return r
}

func (r ApiProcessSpecificationsApiListProcessSpecificationsRequest) Execute() ([]ProcessSpecificationsApiListProcessSpecificationsItem, *http.Response, error) {
	return r.ApiService.ProcessSpecificationsApiListProcessSpecificationsExecute(r)
}

/*
ProcessSpecificationsApiListProcessSpecifications List Process Specifications

Retrieve a list of active process specifications.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessSpecificationsApiListProcessSpecificationsRequest
*/
func (a *ProcessSpecificationsAPIAPIService) ProcessSpecificationsApiListProcessSpecifications(ctx context.Context) ApiProcessSpecificationsApiListProcessSpecificationsRequest {
	return ApiProcessSpecificationsApiListProcessSpecificationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessSpecificationsApiListProcessSpecificationsItem
func (a *ProcessSpecificationsAPIAPIService) ProcessSpecificationsApiListProcessSpecificationsExecute(r ApiProcessSpecificationsApiListProcessSpecificationsRequest) ([]ProcessSpecificationsApiListProcessSpecificationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessSpecificationsApiListProcessSpecificationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessSpecificationsAPIAPIService.ProcessSpecificationsApiListProcessSpecifications")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-specifications"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.processControlRecipeFamilyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processControlRecipeFamilyId", r.processControlRecipeFamilyId, "form", "")
	}
	if r.processControlRecipeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processControlRecipeId", r.processControlRecipeId, "form", "")
	}
	if r.operationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationId", r.operationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
