/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// FiscalPeriodStatusesAPIAPIService FiscalPeriodStatusesAPIAPI service
type FiscalPeriodStatusesAPIAPIService service

type ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest struct {
	ctx context.Context
	ApiService *FiscalPeriodStatusesAPIAPIService
	periodDisplayBegin *string
	periodDisplayEnd *string
}

// The starting period used to return fiscal period status records.
func (r ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The ending period used to return fiscal period status records.
func (r ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

func (r ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest) Execute() ([]FiscalPeriodStatusesApiListFiscalPeriodStatusesItem, *http.Response, error) {
	return r.ApiService.FiscalPeriodStatusesApiListFiscalPeriodStatusesExecute(r)
}

/*
FiscalPeriodStatusesApiListFiscalPeriodStatuses List Fiscal Period Statuses

List fiscal period statuses based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest
*/
func (a *FiscalPeriodStatusesAPIAPIService) FiscalPeriodStatusesApiListFiscalPeriodStatuses(ctx context.Context) ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest {
	return ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []FiscalPeriodStatusesApiListFiscalPeriodStatusesItem
func (a *FiscalPeriodStatusesAPIAPIService) FiscalPeriodStatusesApiListFiscalPeriodStatusesExecute(r ApiFiscalPeriodStatusesApiListFiscalPeriodStatusesRequest) ([]FiscalPeriodStatusesApiListFiscalPeriodStatusesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []FiscalPeriodStatusesApiListFiscalPeriodStatusesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "FiscalPeriodStatusesAPIAPIService.FiscalPeriodStatusesApiListFiscalPeriodStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/fiscal-period-statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
