/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// DeviationsAPIAPIService DeviationsAPIAPI service
type DeviationsAPIAPIService service

type ApiDeviationsApiGetDeviationRequest struct {
	ctx context.Context
	ApiService *DeviationsAPIAPIService
	id string
}

func (r ApiDeviationsApiGetDeviationRequest) Execute() (*DeviationsApiGetDeviationResponse, *http.Response, error) {
	return r.ApiService.DeviationsApiGetDeviationExecute(r)
}

/*
DeviationsApiGetDeviation Get Deviation

Retrieve a deviation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiDeviationsApiGetDeviationRequest
*/
func (a *DeviationsAPIAPIService) DeviationsApiGetDeviation(ctx context.Context, id string) ApiDeviationsApiGetDeviationRequest {
	return ApiDeviationsApiGetDeviationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return DeviationsApiGetDeviationResponse
func (a *DeviationsAPIAPIService) DeviationsApiGetDeviationExecute(r ApiDeviationsApiGetDeviationRequest) (*DeviationsApiGetDeviationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *DeviationsApiGetDeviationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviationsAPIAPIService.DeviationsApiGetDeviation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/deviations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiDeviationsApiListDeviationsRequest struct {
	ctx context.Context
	ApiService *DeviationsAPIAPIService
	ids *[]string
	specificationId *string
	jobId *string
	partId *string
	deviationStatus *[]string
	currentlyEffectiveOnly *bool
}

// A list of IDs representing the Deviation.
func (r ApiDeviationsApiListDeviationsRequest) Ids(ids []string) ApiDeviationsApiListDeviationsRequest {
	r.ids = &ids
	return r
}

// ID representing a Specification.
func (r ApiDeviationsApiListDeviationsRequest) SpecificationId(specificationId string) ApiDeviationsApiListDeviationsRequest {
	r.specificationId = &specificationId
	return r
}

// ID representing a Job.
func (r ApiDeviationsApiListDeviationsRequest) JobId(jobId string) ApiDeviationsApiListDeviationsRequest {
	r.jobId = &jobId
	return r
}

// ID representing a Part.
func (r ApiDeviationsApiListDeviationsRequest) PartId(partId string) ApiDeviationsApiListDeviationsRequest {
	r.partId = &partId
	return r
}

// The list of deviation status.
func (r ApiDeviationsApiListDeviationsRequest) DeviationStatus(deviationStatus []string) ApiDeviationsApiListDeviationsRequest {
	r.deviationStatus = &deviationStatus
	return r
}

// If true, only the list of deviations with effective date less than or equal to today and an expiration date or is greater than today will be returned.
func (r ApiDeviationsApiListDeviationsRequest) CurrentlyEffectiveOnly(currentlyEffectiveOnly bool) ApiDeviationsApiListDeviationsRequest {
	r.currentlyEffectiveOnly = &currentlyEffectiveOnly
	return r
}

func (r ApiDeviationsApiListDeviationsRequest) Execute() ([]DeviationsApiListDeviationsItem, *http.Response, error) {
	return r.ApiService.DeviationsApiListDeviationsExecute(r)
}

/*
DeviationsApiListDeviations List Deviations

Retrieve a list of deviations.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviationsApiListDeviationsRequest
*/
func (a *DeviationsAPIAPIService) DeviationsApiListDeviations(ctx context.Context) ApiDeviationsApiListDeviationsRequest {
	return ApiDeviationsApiListDeviationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DeviationsApiListDeviationsItem
func (a *DeviationsAPIAPIService) DeviationsApiListDeviationsExecute(r ApiDeviationsApiListDeviationsRequest) ([]DeviationsApiListDeviationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DeviationsApiListDeviationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviationsAPIAPIService.DeviationsApiListDeviations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/deviations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.specificationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "specificationId", r.specificationId, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobId", r.jobId, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.deviationStatus != nil {
		t := *r.deviationStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "deviationStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "deviationStatus", t, "form", "multi")
		}
	}
	if r.currentlyEffectiveOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "currentlyEffectiveOnly", r.currentlyEffectiveOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
