/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// SupplyItemSuppliersAPIAPIService SupplyItemSuppliersAPIAPI service
type SupplyItemSuppliersAPIAPIService service

type ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest struct {
	ctx context.Context
	ApiService *SupplyItemSuppliersAPIAPIService
	id string
}

func (r ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest) Execute() (*SupplyItemSuppliersApiGetSupplyItemSupplierResponse, *http.Response, error) {
	return r.ApiService.SupplyItemSuppliersApiGetSupplyItemSupplierExecute(r)
}

/*
SupplyItemSuppliersApiGetSupplyItemSupplier Get Supply Item Supplier

Retrieve a Supply Item's Supplier and Item record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest
*/
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiGetSupplyItemSupplier(ctx context.Context, id string) ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest {
	return ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SupplyItemSuppliersApiGetSupplyItemSupplierResponse
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiGetSupplyItemSupplierExecute(r ApiSupplyItemSuppliersApiGetSupplyItemSupplierRequest) (*SupplyItemSuppliersApiGetSupplyItemSupplierResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplyItemSuppliersApiGetSupplyItemSupplierResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemSuppliersAPIAPIService.SupplyItemSuppliersApiGetSupplyItemSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/item-suppliers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemSuppliersApiListPricesRequest struct {
	ctx context.Context
	ApiService *SupplyItemSuppliersAPIAPIService
	id string
}

func (r ApiSupplyItemSuppliersApiListPricesRequest) Execute() ([]SupplyItemSuppliersApiListPricesItem, *http.Response, error) {
	return r.ApiService.SupplyItemSuppliersApiListPricesExecute(r)
}

/*
SupplyItemSuppliersApiListPrices List Prices

List Supply Item's Supplier Price record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplyItemSuppliersApiListPricesRequest
*/
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiListPrices(ctx context.Context, id string) ApiSupplyItemSuppliersApiListPricesRequest {
	return ApiSupplyItemSuppliersApiListPricesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []SupplyItemSuppliersApiListPricesItem
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiListPricesExecute(r ApiSupplyItemSuppliersApiListPricesRequest) ([]SupplyItemSuppliersApiListPricesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupplyItemSuppliersApiListPricesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemSuppliersAPIAPIService.SupplyItemSuppliersApiListPrices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/item-suppliers/{id}/prices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest struct {
	ctx context.Context
	ApiService *SupplyItemSuppliersAPIAPIService
	id *[]string
	itemId *string
	supplierId *string
	supplierItemNumber *string
}

// A List of Item Supplier Resource IDs.
func (r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) Id(id []string) ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest {
	r.id = &id
	return r
}

// The ID of the Supply Item.
func (r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) ItemId(itemId string) ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest {
	r.itemId = &itemId
	return r
}

// The ID of the Supplier.
func (r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) SupplierId(supplierId string) ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest {
	r.supplierId = &supplierId
	return r
}

// The Supplier&#39;s Item Number (this may be different from the Plex Supply Item Number).
func (r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) SupplierItemNumber(supplierItemNumber string) ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest {
	r.supplierItemNumber = &supplierItemNumber
	return r
}

func (r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) Execute() ([]SupplyItemSuppliersApiListSupplierItemSuppliersItem, *http.Response, error) {
	return r.ApiService.SupplyItemSuppliersApiListSupplierItemSuppliersExecute(r)
}

/*
SupplyItemSuppliersApiListSupplierItemSuppliers List Supplier Item Suppliers

List Supply Item Suppliers and Items, based on parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest
*/
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiListSupplierItemSuppliers(ctx context.Context) ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest {
	return ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SupplyItemSuppliersApiListSupplierItemSuppliersItem
func (a *SupplyItemSuppliersAPIAPIService) SupplyItemSuppliersApiListSupplierItemSuppliersExecute(r ApiSupplyItemSuppliersApiListSupplierItemSuppliersRequest) ([]SupplyItemSuppliersApiListSupplierItemSuppliersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupplyItemSuppliersApiListSupplierItemSuppliersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplyItemSuppliersAPIAPIService.SupplyItemSuppliersApiListSupplierItemSuppliers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/item-suppliers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.supplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", r.supplierId, "form", "")
	}
	if r.supplierItemNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierItemNumber", r.supplierItemNumber, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
