/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// PurchaseOrdersAPIAPIService PurchaseOrdersAPIAPI service
type PurchaseOrdersAPIAPIService service

type ApiPurchaseOrdersApiGetLineItemRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	id string
	lineItemId string
}

func (r ApiPurchaseOrdersApiGetLineItemRequest) Execute() (*PurchaseOrdersApiGetLineItemResponse, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiGetLineItemExecute(r)
}

/*
PurchaseOrdersApiGetLineItem Get Line Item

Retrieve a PO line item by ID. A line item on a purchase order contains information that specifies the purchased item or service along with the low-level details of the order, including the price (depending on configuration) and release schedule. Most of the fields available in a line item are controlled by the PO type. Some fields are also controlled by module settings and setup table configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the purchase order.
 @param lineItemId A unique identifier for the line item.
 @return ApiPurchaseOrdersApiGetLineItemRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiGetLineItem(ctx context.Context, id string, lineItemId string) ApiPurchaseOrdersApiGetLineItemRequest {
	return ApiPurchaseOrdersApiGetLineItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineItemId: lineItemId,
	}
}

// Execute executes the request
//  @return PurchaseOrdersApiGetLineItemResponse
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiGetLineItemExecute(r ApiPurchaseOrdersApiGetLineItemRequest) (*PurchaseOrdersApiGetLineItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrdersApiGetLineItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiGetLineItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-orders/{id}/line-items/{lineItemId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineItemId"+"}", url.PathEscape(parameterValueToString(r.lineItemId, "lineItemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiGetPurchaseOrderRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	id string
}

func (r ApiPurchaseOrdersApiGetPurchaseOrderRequest) Execute() (*PurchaseOrdersApiGetPurchaseOrderResponse, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiGetPurchaseOrderExecute(r)
}

/*
PurchaseOrdersApiGetPurchaseOrder Get Purchase Order

Retrieve a purchase order by ID. Purchase orders (POs) are created for single-use "spot buys" or recurring blanket orders of goods from suppliers. Before using POs to order goods (such as parts, materials, and supplies), the goods must be defined in the system. For example, a component part must appear on the Parts screen to order it from a supplier. Once the purchase order is created in the system, Get Purchase Order is used to retrieve the purchase order information.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the purchase order.
 @return ApiPurchaseOrdersApiGetPurchaseOrderRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiGetPurchaseOrder(ctx context.Context, id string) ApiPurchaseOrdersApiGetPurchaseOrderRequest {
	return ApiPurchaseOrdersApiGetPurchaseOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PurchaseOrdersApiGetPurchaseOrderResponse
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiGetPurchaseOrderExecute(r ApiPurchaseOrdersApiGetPurchaseOrderRequest) (*PurchaseOrdersApiGetPurchaseOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PurchaseOrdersApiGetPurchaseOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiGetPurchaseOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiListLineItemsRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	poId string
	id *[]string
	lineItemNumber *int32
	status *string
	manufacturer *string
	manufacturerPartNumber *string
	supplierPartNumber *string
	itemId *string
	partId *string
	building *string
	department *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of unique identifiers for line items.
func (r ApiPurchaseOrdersApiListLineItemsRequest) Id(id []string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.id = &id
	return r
}

// The PO line item number.
func (r ApiPurchaseOrdersApiListLineItemsRequest) LineItemNumber(lineItemNumber int32) ApiPurchaseOrdersApiListLineItemsRequest {
	r.lineItemNumber = &lineItemNumber
	return r
}

// Setup Table: PO Line Item Status
func (r ApiPurchaseOrdersApiListLineItemsRequest) Status(status string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.status = &status
	return r
}

// Application: Manufacturers
func (r ApiPurchaseOrdersApiListLineItemsRequest) Manufacturer(manufacturer string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.manufacturer = &manufacturer
	return r
}

// Manufacturer part number, this may be different than the Plex part number.
func (r ApiPurchaseOrdersApiListLineItemsRequest) ManufacturerPartNumber(manufacturerPartNumber string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.manufacturerPartNumber = &manufacturerPartNumber
	return r
}

// Supplier part number, this may be different than the Plex part number.
func (r ApiPurchaseOrdersApiListLineItemsRequest) SupplierPartNumber(supplierPartNumber string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.supplierPartNumber = &supplierPartNumber
	return r
}

// A unique identifier for the supply item.
func (r ApiPurchaseOrdersApiListLineItemsRequest) ItemId(itemId string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.itemId = &itemId
	return r
}

// A unique identifier for the part.
func (r ApiPurchaseOrdersApiListLineItemsRequest) PartId(partId string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.partId = &partId
	return r
}

// Application: Buildings
func (r ApiPurchaseOrdersApiListLineItemsRequest) Building(building string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.building = &building
	return r
}

// Application: Department List
func (r ApiPurchaseOrdersApiListLineItemsRequest) Department(department string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.department = &department
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrdersApiListLineItemsRequest) CreatedDateBegin(createdDateBegin time.Time) ApiPurchaseOrdersApiListLineItemsRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrdersApiListLineItemsRequest) CreatedDateEnd(createdDateEnd time.Time) ApiPurchaseOrdersApiListLineItemsRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiPurchaseOrdersApiListLineItemsRequest) ModifiedById(modifiedById string) ApiPurchaseOrdersApiListLineItemsRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrdersApiListLineItemsRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiPurchaseOrdersApiListLineItemsRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrdersApiListLineItemsRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiPurchaseOrdersApiListLineItemsRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiPurchaseOrdersApiListLineItemsRequest) Execute() ([]PurchaseOrdersApiListLineItemsItem, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiListLineItemsExecute(r)
}

/*
PurchaseOrdersApiListLineItems List Line Items

List PO line items by query parameters. The List Line Items operation retrieves the information associated with the line items. PO line items are used to specify the purchased item or service along with the low-level details of the order, including the price (depending on configuration) and release schedule. Most of the fields available in a line item are controlled by the PO type. Some fields are also controlled by module settings and setup table configuration.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param poId A unique identifier for the purchase order.
 @return ApiPurchaseOrdersApiListLineItemsRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListLineItems(ctx context.Context, poId string) ApiPurchaseOrdersApiListLineItemsRequest {
	return ApiPurchaseOrdersApiListLineItemsRequest{
		ApiService: a,
		ctx: ctx,
		poId: poId,
	}
}

// Execute executes the request
//  @return []PurchaseOrdersApiListLineItemsItem
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListLineItemsExecute(r ApiPurchaseOrdersApiListLineItemsRequest) ([]PurchaseOrdersApiListLineItemsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrdersApiListLineItemsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiListLineItems")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-orders/{poId}/line-items"
	localVarPath = strings.Replace(localVarPath, "{"+"poId"+"}", url.PathEscape(parameterValueToString(r.poId, "poId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.lineItemNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lineItemNumber", r.lineItemNumber, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.manufacturer != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "manufacturer", r.manufacturer, "form", "")
	}
	if r.manufacturerPartNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "manufacturerPartNumber", r.manufacturerPartNumber, "form", "")
	}
	if r.supplierPartNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierPartNumber", r.supplierPartNumber, "form", "")
	}
	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.building != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "building", r.building, "form", "")
	}
	if r.department != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "department", r.department, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiListPurchaseOrderPricesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	id string
	lineItemId string
	priceByDateBegin *time.Time
	priceByDateEnd *time.Time
	effectiveDateBegin *time.Time
	effectiveDateEnd *time.Time
	expirationDateBegin *time.Time
	expirationDateEnd *time.Time
}

// A date on which to validate if the Price is effective. Only returns records with an Expiration Date on or after this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) PriceByDateBegin(priceByDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.priceByDateBegin = &priceByDateBegin
	return r
}

// A date on which to validate if the Price is effective. Only returns records with an Effective Date on or before this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) PriceByDateEnd(priceByDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.priceByDateEnd = &priceByDateEnd
	return r
}

// A date on which to validate if the Price is effective. Only returns records with an Effective Date on or after this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) EffectiveDateBegin(effectiveDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.effectiveDateBegin = &effectiveDateBegin
	return r
}

// A date on which to validate if the Price is effective. Only returns records with an Effective Date on or before this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) EffectiveDateEnd(effectiveDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.effectiveDateEnd = &effectiveDateEnd
	return r
}

// A date on which to validate if the Price is effective. Only returns records with an Expiration Date on or after this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) ExpirationDateBegin(expirationDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.expirationDateBegin = &expirationDateBegin
	return r
}

// A date on which to validate if the Price is effective. Only returns records with an Expiration Date on or before this value when it is specified.
func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) ExpirationDateEnd(expirationDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	r.expirationDateEnd = &expirationDateEnd
	return r
}

func (r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) Execute() ([]PurchaseOrdersApiListPurchaseOrderPricesItem, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiListPurchaseOrderPricesExecute(r)
}

/*
PurchaseOrdersApiListPurchaseOrderPrices List Purchase Order Prices

List purchase order prices based on specified query parameters related to the price's effective date and expiration date.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the purchase order.
 @param lineItemId A unique identifier for the line item.
 @return ApiPurchaseOrdersApiListPurchaseOrderPricesRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderPrices(ctx context.Context, id string, lineItemId string) ApiPurchaseOrdersApiListPurchaseOrderPricesRequest {
	return ApiPurchaseOrdersApiListPurchaseOrderPricesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineItemId: lineItemId,
	}
}

// Execute executes the request
//  @return []PurchaseOrdersApiListPurchaseOrderPricesItem
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderPricesExecute(r ApiPurchaseOrdersApiListPurchaseOrderPricesRequest) ([]PurchaseOrdersApiListPurchaseOrderPricesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrdersApiListPurchaseOrderPricesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiListPurchaseOrderPrices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-orders/{id}/line-items/{lineItemId}/prices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineItemId"+"}", url.PathEscape(parameterValueToString(r.lineItemId, "lineItemId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.priceByDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priceByDateBegin", r.priceByDateBegin, "form", "")
	}
	if r.priceByDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priceByDateEnd", r.priceByDateEnd, "form", "")
	}
	if r.effectiveDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateBegin", r.effectiveDateBegin, "form", "")
	}
	if r.effectiveDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateEnd", r.effectiveDateEnd, "form", "")
	}
	if r.expirationDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateBegin", r.expirationDateBegin, "form", "")
	}
	if r.expirationDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateEnd", r.expirationDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	name *[]string
	active *bool
	default_ *bool
	receive *bool
	includeInMrp *bool
	cancelled *bool
	release *bool
	onOrder *bool
	received *bool
}

// List of purchase order status names.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Name(name []string) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.name = &name
	return r
}

// Indicates whether the purchase order status is active or inactive.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Active(active bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.active = &active
	return r
}

// Indicates that this purchase order status is the default for purchase orders.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Default_(default_ bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.default_ = &default_
	return r
}

// Indicates that purchase orders in this status allow receiving.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Receive(receive bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.receive = &receive
	return r
}

// Indicates that purchase orders in this status are included in MRP (Material Requirements Planning).
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) IncludeInMrp(includeInMrp bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.includeInMrp = &includeInMrp
	return r
}

// Indicates that purchase orders in this status are canceled.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Cancelled(cancelled bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.cancelled = &cancelled
	return r
}

// Indicates that purchase orders in this status are released.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Release(release bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.release = &release
	return r
}

// Indicates that purchase orders in this status are on order (sent to the supplier).
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) OnOrder(onOrder bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.onOrder = &onOrder
	return r
}

// Indicates that purchase orders in this status were fully received.
func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Received(received bool) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	r.received = &received
	return r
}

func (r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) Execute() ([]PurchaseOrdersApiListPurchaseOrderStatusesItem, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiListPurchaseOrderStatusesExecute(r)
}

/*
PurchaseOrdersApiListPurchaseOrderStatuses List Purchase Order Statuses

List purchase order statuses based on specified PO status properties. Purchase order status can include values such as New, Requested, Review, On order, Approved, Hold, Cancelled, Received, or other custom statuses as configured in the PO Status setup table.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderStatuses(ctx context.Context) ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest {
	return ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PurchaseOrdersApiListPurchaseOrderStatusesItem
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderStatusesExecute(r ApiPurchaseOrdersApiListPurchaseOrderStatusesRequest) ([]PurchaseOrdersApiListPurchaseOrderStatusesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrdersApiListPurchaseOrderStatusesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiListPurchaseOrderStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-order-statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		t := *r.name
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "name", t, "form", "multi")
		}
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.default_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "default", r.default_, "form", "")
	}
	if r.receive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receive", r.receive, "form", "")
	}
	if r.includeInMrp != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInMrp", r.includeInMrp, "form", "")
	}
	if r.cancelled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "cancelled", r.cancelled, "form", "")
	}
	if r.release != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "release", r.release, "form", "")
	}
	if r.onOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "onOrder", r.onOrder, "form", "")
	}
	if r.received != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "received", r.received, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiListPurchaseOrderTypesRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	name *[]string
	active *bool
	default_ *bool
	includeInMRP *bool
}

// List of purchase order type names.
func (r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) Name(name []string) ApiPurchaseOrdersApiListPurchaseOrderTypesRequest {
	r.name = &name
	return r
}

// Indicates whether the purchase order type is active or inactive.
func (r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) Active(active bool) ApiPurchaseOrdersApiListPurchaseOrderTypesRequest {
	r.active = &active
	return r
}

// Indicates that this purchase order type is the default for purchase orders.
func (r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) Default_(default_ bool) ApiPurchaseOrdersApiListPurchaseOrderTypesRequest {
	r.default_ = &default_
	return r
}

// Indicates that purchase orders of this type are included in MRP (Material Requirements Planning).
func (r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) IncludeInMRP(includeInMRP bool) ApiPurchaseOrdersApiListPurchaseOrderTypesRequest {
	r.includeInMRP = &includeInMRP
	return r
}

func (r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) Execute() ([]PurchaseOrdersApiListPurchaseOrderTypesItem, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiListPurchaseOrderTypesExecute(r)
}

/*
PurchaseOrdersApiListPurchaseOrderTypes List Purchase Order Types

List purchase order type records based on specified PO type properties. Purchase order types can include values such as Direct Materials, Purchased Components and Materials, Subcontract, Inventoried MRO / Supply, Indirect Services, Tooling, CapEx, or other custom types as configured on the Purchase Order Types screen.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrdersApiListPurchaseOrderTypesRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderTypes(ctx context.Context) ApiPurchaseOrdersApiListPurchaseOrderTypesRequest {
	return ApiPurchaseOrdersApiListPurchaseOrderTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PurchaseOrdersApiListPurchaseOrderTypesItem
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrderTypesExecute(r ApiPurchaseOrdersApiListPurchaseOrderTypesRequest) ([]PurchaseOrdersApiListPurchaseOrderTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrdersApiListPurchaseOrderTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiListPurchaseOrderTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-order-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		t := *r.name
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "name", t, "form", "multi")
		}
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.default_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "default", r.default_, "form", "")
	}
	if r.includeInMRP != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "includeInMRP", r.includeInMRP, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPurchaseOrdersApiListPurchaseOrdersRequest struct {
	ctx context.Context
	ApiService *PurchaseOrdersAPIAPIService
	id *[]string
	pONumber *string
	status *string
	active *bool
	receive *bool
	type_ *string
	supplierId *string
	shipTo *string
	orderedDateBegin *time.Time
	orderedDateEnd *time.Time
	dueDateBegin *time.Time
	dueDateEnd *time.Time
	building *string
	department *string
	blanketOrder *bool
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of purchase order IDs.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Id(id []string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.id = &id
	return r
}

// The purchase order number.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) PONumber(pONumber string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.pONumber = &pONumber
	return r
}

// Setup Table: PO Status
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Status(status string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.status = &status
	return r
}

// This flag will be set to true by default.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Active(active bool) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.active = &active
	return r
}

// Indicates that purchase orders in this status allow receiving.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Receive(receive bool) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.receive = &receive
	return r
}

// Application: PO Type
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Type_(type_ string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.type_ = &type_
	return r
}

// A unique identifier for the supplier.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) SupplierId(supplierId string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.supplierId = &supplierId
	return r
}

// The destination to which goods and services on the PO will be shipped to. Application: PO Ship To
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) ShipTo(shipTo string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.shipTo = &shipTo
	return r
}

// The date on which the status was set to On Order.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) OrderedDateBegin(orderedDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.orderedDateBegin = &orderedDateBegin
	return r
}

// The date on which the status was set to On Order.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) OrderedDateEnd(orderedDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.orderedDateEnd = &orderedDateEnd
	return r
}

// The Due Date for the PO, not for individual lines or releases.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) DueDateBegin(dueDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.dueDateBegin = &dueDateBegin
	return r
}

// The Due Date for the PO, not for individual lines or releases.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) DueDateEnd(dueDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.dueDateEnd = &dueDateEnd
	return r
}

// Application: Buildings
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Building(building string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.building = &building
	return r
}

// Application: Department List
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Department(department string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.department = &department
	return r
}

// Determines whether the Purchase Order is a blanket order or discrete order.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) BlanketOrder(blanketOrder bool) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.blanketOrder = &blanketOrder
	return r
}

// The ID of the user who created the record.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) CreatedById(createdById string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.createdById = &createdById
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) CreatedDateBegin(createdDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) CreatedDateEnd(createdDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) ModifiedById(modifiedById string) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiPurchaseOrdersApiListPurchaseOrdersRequest) Execute() ([]PurchaseOrdersApiListPurchaseOrdersItem, *http.Response, error) {
	return r.ApiService.PurchaseOrdersApiListPurchaseOrdersExecute(r)
}

/*
PurchaseOrdersApiListPurchaseOrders List Purchase Orders

List purchase orders by query parameters. Purchase orders (POs) are created for single-use "spot buys" or recurring blanket orders of goods from suppliers. Before using POs to order goods (such as parts, materials, and supplies), the goods must be defined in the system. For example, a component part must appear on the Parts screen before ordering it from a supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPurchaseOrdersApiListPurchaseOrdersRequest
*/
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrders(ctx context.Context) ApiPurchaseOrdersApiListPurchaseOrdersRequest {
	return ApiPurchaseOrdersApiListPurchaseOrdersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PurchaseOrdersApiListPurchaseOrdersItem
func (a *PurchaseOrdersAPIAPIService) PurchaseOrdersApiListPurchaseOrdersExecute(r ApiPurchaseOrdersApiListPurchaseOrdersRequest) ([]PurchaseOrdersApiListPurchaseOrdersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PurchaseOrdersApiListPurchaseOrdersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PurchaseOrdersAPIAPIService.PurchaseOrdersApiListPurchaseOrders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/purchase-orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.pONumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pONumber", r.pONumber, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.receive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receive", r.receive, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.supplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", r.supplierId, "form", "")
	}
	if r.shipTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipTo", r.shipTo, "form", "")
	}
	if r.orderedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderedDateBegin", r.orderedDateBegin, "form", "")
	}
	if r.orderedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderedDateEnd", r.orderedDateEnd, "form", "")
	}
	if r.dueDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateBegin", r.dueDateBegin, "form", "")
	}
	if r.dueDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateEnd", r.dueDateEnd, "form", "")
	}
	if r.building != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "building", r.building, "form", "")
	}
	if r.department != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "department", r.department, "form", "")
	}
	if r.blanketOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "blanketOrder", r.blanketOrder, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
