/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// AccountsReceivableInvoicesAPIAPIService AccountsReceivableInvoicesAPIAPI service
type AccountsReceivableInvoicesAPIAPIService service

type ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableInvoicesAPIAPIService
	accountsReceivableInvoicesApiCreateARInvoiceRequest *AccountsReceivableInvoicesApiCreateARInvoiceRequest
}

func (r ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest) AccountsReceivableInvoicesApiCreateARInvoiceRequest(accountsReceivableInvoicesApiCreateARInvoiceRequest AccountsReceivableInvoicesApiCreateARInvoiceRequest) ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest {
	r.accountsReceivableInvoicesApiCreateARInvoiceRequest = &accountsReceivableInvoicesApiCreateARInvoiceRequest
	return r
}

func (r ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest) Execute() (*AccountsReceivableInvoicesApiCreateARInvoice201Response, *http.Response, error) {
	return r.ApiService.AccountsReceivableInvoicesApiCreateARInvoiceExecute(r)
}

/*
AccountsReceivableInvoicesApiCreateARInvoice Create AR Invoice

Add an AR invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest
*/
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiCreateARInvoice(ctx context.Context) ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest {
	return ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountsReceivableInvoicesApiCreateARInvoice201Response
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiCreateARInvoiceExecute(r ApiAccountsReceivableInvoicesApiCreateARInvoiceRequest) (*AccountsReceivableInvoicesApiCreateARInvoice201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsReceivableInvoicesApiCreateARInvoice201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableInvoicesAPIAPIService.AccountsReceivableInvoicesApiCreateARInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsReceivableInvoicesApiCreateARInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsReceivableInvoicesApiCreateARInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsReceivableInvoicesApiCreateARInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsReceivableInvoicesApiCreateARInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsReceivableInvoicesApiGetARInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableInvoicesAPIAPIService
	id string
}

func (r ApiAccountsReceivableInvoicesApiGetARInvoiceRequest) Execute() (*AccountsReceivableInvoicesApiGetARInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsReceivableInvoicesApiGetARInvoiceExecute(r)
}

/*
AccountsReceivableInvoicesApiGetARInvoice Get AR Invoice

Retrieve an AR invoice by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Accounts Receivable invoice ID.
 @return ApiAccountsReceivableInvoicesApiGetARInvoiceRequest
*/
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiGetARInvoice(ctx context.Context, id string) ApiAccountsReceivableInvoicesApiGetARInvoiceRequest {
	return ApiAccountsReceivableInvoicesApiGetARInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsReceivableInvoicesApiGetARInvoiceResponse
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiGetARInvoiceExecute(r ApiAccountsReceivableInvoicesApiGetARInvoiceRequest) (*AccountsReceivableInvoicesApiGetARInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsReceivableInvoicesApiGetARInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableInvoicesAPIAPIService.AccountsReceivableInvoicesApiGetARInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-invoices/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsReceivableInvoicesApiListARInvoicesRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableInvoicesAPIAPIService
	id *[]string
	invoiceNumber *string
	periodDisplayBegin *string
	periodDisplayEnd *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	booked *bool
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	customerCode *string
	customerPONo *string
	status *string
	paid *int32
	void *bool
}

// The ID of the AR invoice.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Id(id []string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.id = &id
	return r
}

// The AR invoice number.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) InvoiceNumber(invoiceNumber string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.invoiceNumber = &invoiceNumber
	return r
}

// The beginning date used to return AR invoice records during a period.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The end date used to return AR invoice records during a period.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

// The beginning date used to return AR transaction records during a period.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date used to return AR transaction records during a period.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

// The beginning date used to return AR invoices created within a time frame.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The end date used to return AR invoices created within a time frame.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// Specify that an AR invoice has a booked status.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Booked(booked bool) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.booked = &booked
	return r
}

// The beginning date used to return AR invoices modified within a time frame.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The end date used to return AR invoices modified within a time frame.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// The AR invoice customer code.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) CustomerCode(customerCode string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.customerCode = &customerCode
	return r
}

// The AR invoice customer purchase order number.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) CustomerPONo(customerPONo string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.customerPONo = &customerPONo
	return r
}

// The AR invoice status.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Status(status string) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.status = &status
	return r
}

// Specify whether or not the AR invoices in your query results have been paid by entering one of the following: 0 - Unpaid invoices only, 1 - Fully paid invoices only, 2 - Partially paid invoices only, 3 - All invoices.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Paid(paid int32) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.paid = &paid
	return r
}

// Specify that the AR invoice is void.
func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Void(void bool) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	r.void = &void
	return r
}

func (r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) Execute() ([]AccountsReceivableInvoicesApiListARInvoicesItem, *http.Response, error) {
	return r.ApiService.AccountsReceivableInvoicesApiListARInvoicesExecute(r)
}

/*
AccountsReceivableInvoicesApiListARInvoices List AR Invoices

Disclaimer: The APIs are designed to maintain optimal performance with a limit of 1,000 invoices per call (depending on the number of distribution lines per invoice). To avoid timeout errors, you can apply relevant filters to retrieve a more specific response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsReceivableInvoicesApiListARInvoicesRequest
*/
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiListARInvoices(ctx context.Context) ApiAccountsReceivableInvoicesApiListARInvoicesRequest {
	return ApiAccountsReceivableInvoicesApiListARInvoicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AccountsReceivableInvoicesApiListARInvoicesItem
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiListARInvoicesExecute(r ApiAccountsReceivableInvoicesApiListARInvoicesRequest) ([]AccountsReceivableInvoicesApiListARInvoicesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AccountsReceivableInvoicesApiListARInvoicesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableInvoicesAPIAPIService.AccountsReceivableInvoicesApiListARInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.invoiceNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceNumber", r.invoiceNumber, "form", "")
	}
	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.booked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "booked", r.booked, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.customerCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerCode", r.customerCode, "form", "")
	}
	if r.customerPONo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerPONo", r.customerPONo, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.paid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paid", r.paid, "form", "")
	}
	if r.void != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "void", r.void, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableInvoicesAPIAPIService
	id string
	accountsReceivableInvoicesApiUpdateARInvoiceRequest *AccountsReceivableInvoicesApiUpdateARInvoiceRequest
}

func (r ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest) AccountsReceivableInvoicesApiUpdateARInvoiceRequest(accountsReceivableInvoicesApiUpdateARInvoiceRequest AccountsReceivableInvoicesApiUpdateARInvoiceRequest) ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest {
	r.accountsReceivableInvoicesApiUpdateARInvoiceRequest = &accountsReceivableInvoicesApiUpdateARInvoiceRequest
	return r
}

func (r ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest) Execute() (*AccountsReceivableInvoicesApiUpdateARInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsReceivableInvoicesApiUpdateARInvoiceExecute(r)
}

/*
AccountsReceivableInvoicesApiUpdateARInvoice Update AR Invoice

Update an AR invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest
*/
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiUpdateARInvoice(ctx context.Context, id string) ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest {
	return ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsReceivableInvoicesApiUpdateARInvoiceResponse
func (a *AccountsReceivableInvoicesAPIAPIService) AccountsReceivableInvoicesApiUpdateARInvoiceExecute(r ApiAccountsReceivableInvoicesApiUpdateARInvoiceRequest) (*AccountsReceivableInvoicesApiUpdateARInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsReceivableInvoicesApiUpdateARInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableInvoicesAPIAPIService.AccountsReceivableInvoicesApiUpdateARInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-invoices/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsReceivableInvoicesApiUpdateARInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsReceivableInvoicesApiUpdateARInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsReceivableInvoicesApiUpdateARInvoiceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsReceivableInvoicesApiUpdateARInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
