/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ShippingInventoryAPIAPIService ShippingInventoryAPIAPI service
type ShippingInventoryAPIAPIService service

type ApiShippingInventoryApiGetContainerShippingDetailsRequest struct {
	ctx context.Context
	ApiService *ShippingInventoryAPIAPIService
	serialNo string
}

func (r ApiShippingInventoryApiGetContainerShippingDetailsRequest) Execute() (*ShippingInventoryApiGetContainerShippingDetailsResponse, *http.Response, error) {
	return r.ApiService.ShippingInventoryApiGetContainerShippingDetailsExecute(r)
}

/*
ShippingInventoryApiGetContainerShippingDetails Get Container Shipping Details

Retrieve shipping details for a container.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serialNo The serial number of the container.
 @return ApiShippingInventoryApiGetContainerShippingDetailsRequest
*/
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetContainerShippingDetails(ctx context.Context, serialNo string) ApiShippingInventoryApiGetContainerShippingDetailsRequest {
	return ApiShippingInventoryApiGetContainerShippingDetailsRequest{
		ApiService: a,
		ctx: ctx,
		serialNo: serialNo,
	}
}

// Execute executes the request
//  @return ShippingInventoryApiGetContainerShippingDetailsResponse
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetContainerShippingDetailsExecute(r ApiShippingInventoryApiGetContainerShippingDetailsRequest) (*ShippingInventoryApiGetContainerShippingDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShippingInventoryApiGetContainerShippingDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShippingInventoryAPIAPIService.ShippingInventoryApiGetContainerShippingDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/inventory/containers/{serialNo}/shipping-details"
	localVarPath = strings.Replace(localVarPath, "{"+"serialNo"+"}", url.PathEscape(parameterValueToString(r.serialNo, "serialNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiShippingInventoryApiGetMasterUnitRequest struct {
	ctx context.Context
	ApiService *ShippingInventoryAPIAPIService
	masterUnitId string
}

func (r ApiShippingInventoryApiGetMasterUnitRequest) Execute() (*ShippingInventoryApiGetMasterUnitResponse, *http.Response, error) {
	return r.ApiService.ShippingInventoryApiGetMasterUnitExecute(r)
}

/*
ShippingInventoryApiGetMasterUnit Get Master Unit

Retrieve master unit details based on the master unit ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param masterUnitId The unique master unit identifier.
 @return ApiShippingInventoryApiGetMasterUnitRequest
*/
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetMasterUnit(ctx context.Context, masterUnitId string) ApiShippingInventoryApiGetMasterUnitRequest {
	return ApiShippingInventoryApiGetMasterUnitRequest{
		ApiService: a,
		ctx: ctx,
		masterUnitId: masterUnitId,
	}
}

// Execute executes the request
//  @return ShippingInventoryApiGetMasterUnitResponse
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetMasterUnitExecute(r ApiShippingInventoryApiGetMasterUnitRequest) (*ShippingInventoryApiGetMasterUnitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShippingInventoryApiGetMasterUnitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShippingInventoryAPIAPIService.ShippingInventoryApiGetMasterUnit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/inventory/master-units/{masterUnitId}"
	localVarPath = strings.Replace(localVarPath, "{"+"masterUnitId"+"}", url.PathEscape(parameterValueToString(r.masterUnitId, "masterUnitId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiShippingInventoryApiGetPartShippingDetailsRequest struct {
	ctx context.Context
	ApiService *ShippingInventoryAPIAPIService
	partId string
}

func (r ApiShippingInventoryApiGetPartShippingDetailsRequest) Execute() (*ShippingInventoryApiGetPartShippingDetailsResponse, *http.Response, error) {
	return r.ApiService.ShippingInventoryApiGetPartShippingDetailsExecute(r)
}

/*
ShippingInventoryApiGetPartShippingDetails Get Part Shipping Details

Retrieve shipping details for a Part by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param partId A unique identifier for the part.
 @return ApiShippingInventoryApiGetPartShippingDetailsRequest
*/
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetPartShippingDetails(ctx context.Context, partId string) ApiShippingInventoryApiGetPartShippingDetailsRequest {
	return ApiShippingInventoryApiGetPartShippingDetailsRequest{
		ApiService: a,
		ctx: ctx,
		partId: partId,
	}
}

// Execute executes the request
//  @return ShippingInventoryApiGetPartShippingDetailsResponse
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiGetPartShippingDetailsExecute(r ApiShippingInventoryApiGetPartShippingDetailsRequest) (*ShippingInventoryApiGetPartShippingDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ShippingInventoryApiGetPartShippingDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShippingInventoryAPIAPIService.ShippingInventoryApiGetPartShippingDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/inventory/parts/{partId}/shipping-details"
	localVarPath = strings.Replace(localVarPath, "{"+"partId"+"}", url.PathEscape(parameterValueToString(r.partId, "partId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiShippingInventoryApiListShippableContainersRequest struct {
	ctx context.Context
	ApiService *ShippingInventoryAPIAPIService
	shipperId string
	buildingId *string
	location *string
	locationGroup *string
	partId *string
}

// The ID of the building associated with the shippable container.
func (r ApiShippingInventoryApiListShippableContainersRequest) BuildingId(buildingId string) ApiShippingInventoryApiListShippableContainersRequest {
	r.buildingId = &buildingId
	return r
}

// The location associated with the shippable container.
func (r ApiShippingInventoryApiListShippableContainersRequest) Location(location string) ApiShippingInventoryApiListShippableContainersRequest {
	r.location = &location
	return r
}

// The location group associated with the shippable container.
func (r ApiShippingInventoryApiListShippableContainersRequest) LocationGroup(locationGroup string) ApiShippingInventoryApiListShippableContainersRequest {
	r.locationGroup = &locationGroup
	return r
}

// The ID of the part associated with the shippable container.
func (r ApiShippingInventoryApiListShippableContainersRequest) PartId(partId string) ApiShippingInventoryApiListShippableContainersRequest {
	r.partId = &partId
	return r
}

func (r ApiShippingInventoryApiListShippableContainersRequest) Execute() ([]ShippingInventoryApiListShippableContainersItem, *http.Response, error) {
	return r.ApiService.ShippingInventoryApiListShippableContainersExecute(r)
}

/*
ShippingInventoryApiListShippableContainers List Shippable Containers

List shippable containers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId The shipper ID associated with the container.
 @return ApiShippingInventoryApiListShippableContainersRequest
*/
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiListShippableContainers(ctx context.Context, shipperId string) ApiShippingInventoryApiListShippableContainersRequest {
	return ApiShippingInventoryApiListShippableContainersRequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
	}
}

// Execute executes the request
//  @return []ShippingInventoryApiListShippableContainersItem
func (a *ShippingInventoryAPIAPIService) ShippingInventoryApiListShippableContainersExecute(r ApiShippingInventoryApiListShippableContainersRequest) ([]ShippingInventoryApiListShippableContainersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ShippingInventoryApiListShippableContainersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ShippingInventoryAPIAPIService.ShippingInventoryApiListShippableContainers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/inventory/customer-shippers/{shipperId}/shippable-containers"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.buildingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buildingId", r.buildingId, "form", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.locationGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationGroup", r.locationGroup, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
