/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// UserAccountsAPIAPIService UserAccountsAPIAPI service
type UserAccountsAPIAPIService service

type ApiUserAccountsApiGetUserAccountRequest struct {
	ctx context.Context
	ApiService *UserAccountsAPIAPIService
	id string
}

func (r ApiUserAccountsApiGetUserAccountRequest) Execute() (*UserAccountsApiGetUserAccountResponse, *http.Response, error) {
	return r.ApiService.UserAccountsApiGetUserAccountExecute(r)
}

/*
UserAccountsApiGetUserAccount Get User Account

Retrieve a User Account by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiUserAccountsApiGetUserAccountRequest
*/
func (a *UserAccountsAPIAPIService) UserAccountsApiGetUserAccount(ctx context.Context, id string) ApiUserAccountsApiGetUserAccountRequest {
	return ApiUserAccountsApiGetUserAccountRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return UserAccountsApiGetUserAccountResponse
func (a *UserAccountsAPIAPIService) UserAccountsApiGetUserAccountExecute(r ApiUserAccountsApiGetUserAccountRequest) (*UserAccountsApiGetUserAccountResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *UserAccountsApiGetUserAccountResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAccountsAPIAPIService.UserAccountsApiGetUserAccount")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/user-accounts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiUserAccountsApiListUserAccountsRequest struct {
	ctx context.Context
	ApiService *UserAccountsAPIAPIService
	id *[]string
	userId *string
	firstName *string
	middleName *string
	lastName *string
	email *string
	position *string
	department *string
}

// A unique identifier for the User Account. This will be automatically generated if omitted from the request.
func (r ApiUserAccountsApiListUserAccountsRequest) Id(id []string) ApiUserAccountsApiListUserAccountsRequest {
	r.id = &id
	return r
}

// The User ID as seen on Plex login screens.
func (r ApiUserAccountsApiListUserAccountsRequest) UserId(userId string) ApiUserAccountsApiListUserAccountsRequest {
	r.userId = &userId
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) FirstName(firstName string) ApiUserAccountsApiListUserAccountsRequest {
	r.firstName = &firstName
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) MiddleName(middleName string) ApiUserAccountsApiListUserAccountsRequest {
	r.middleName = &middleName
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) LastName(lastName string) ApiUserAccountsApiListUserAccountsRequest {
	r.lastName = &lastName
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) Email(email string) ApiUserAccountsApiListUserAccountsRequest {
	r.email = &email
	return r
}

// Position or title within the organization.
func (r ApiUserAccountsApiListUserAccountsRequest) Position(position string) ApiUserAccountsApiListUserAccountsRequest {
	r.position = &position
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) Department(department string) ApiUserAccountsApiListUserAccountsRequest {
	r.department = &department
	return r
}

func (r ApiUserAccountsApiListUserAccountsRequest) Execute() ([]UserAccountsApiListUserAccountsItem, *http.Response, error) {
	return r.ApiService.UserAccountsApiListUserAccountsExecute(r)
}

/*
UserAccountsApiListUserAccounts List User Accounts

List User Accounts by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiUserAccountsApiListUserAccountsRequest
*/
func (a *UserAccountsAPIAPIService) UserAccountsApiListUserAccounts(ctx context.Context) ApiUserAccountsApiListUserAccountsRequest {
	return ApiUserAccountsApiListUserAccountsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []UserAccountsApiListUserAccountsItem
func (a *UserAccountsAPIAPIService) UserAccountsApiListUserAccountsExecute(r ApiUserAccountsApiListUserAccountsRequest) ([]UserAccountsApiListUserAccountsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []UserAccountsApiListUserAccountsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "UserAccountsAPIAPIService.UserAccountsApiListUserAccounts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/user-accounts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.firstName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "firstName", r.firstName, "form", "")
	}
	if r.middleName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "middleName", r.middleName, "form", "")
	}
	if r.lastName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastName", r.lastName, "form", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	if r.position != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position", r.position, "form", "")
	}
	if r.department != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "department", r.department, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
