/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// DeviationStatusAPIAPIService DeviationStatusAPIAPI service
type DeviationStatusAPIAPIService service

type ApiDeviationStatusApiListDeviationStatusRequest struct {
	ctx context.Context
	ApiService *DeviationStatusAPIAPIService
	deviationStatus *[]string
	active *bool
	defaultStatus *bool
	approved *bool
	awaitingApproval *bool
	rejected *bool
	expired *bool
}

// The name of the Deviation Status.
func (r ApiDeviationStatusApiListDeviationStatusRequest) DeviationStatus(deviationStatus []string) ApiDeviationStatusApiListDeviationStatusRequest {
	r.deviationStatus = &deviationStatus
	return r
}

// The designation to signify the deviations are active.
func (r ApiDeviationStatusApiListDeviationStatusRequest) Active(active bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.active = &active
	return r
}

// The designation to signify the default status for deviations.
func (r ApiDeviationStatusApiListDeviationStatusRequest) DefaultStatus(defaultStatus bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.defaultStatus = &defaultStatus
	return r
}

// The designation to signify the deviations are approved.
func (r ApiDeviationStatusApiListDeviationStatusRequest) Approved(approved bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.approved = &approved
	return r
}

// The designation to signify the deviations are awaiting approval.
func (r ApiDeviationStatusApiListDeviationStatusRequest) AwaitingApproval(awaitingApproval bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.awaitingApproval = &awaitingApproval
	return r
}

// The designation to signify the deviations are rejected.
func (r ApiDeviationStatusApiListDeviationStatusRequest) Rejected(rejected bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.rejected = &rejected
	return r
}

// The designation to signify the deviations are expired.
func (r ApiDeviationStatusApiListDeviationStatusRequest) Expired(expired bool) ApiDeviationStatusApiListDeviationStatusRequest {
	r.expired = &expired
	return r
}

func (r ApiDeviationStatusApiListDeviationStatusRequest) Execute() ([]DeviationStatusApiListDeviationStatusItem, *http.Response, error) {
	return r.ApiService.DeviationStatusApiListDeviationStatusExecute(r)
}

/*
DeviationStatusApiListDeviationStatus List Deviation Status

Retrieve a list of deviation status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiDeviationStatusApiListDeviationStatusRequest
*/
func (a *DeviationStatusAPIAPIService) DeviationStatusApiListDeviationStatus(ctx context.Context) ApiDeviationStatusApiListDeviationStatusRequest {
	return ApiDeviationStatusApiListDeviationStatusRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []DeviationStatusApiListDeviationStatusItem
func (a *DeviationStatusAPIAPIService) DeviationStatusApiListDeviationStatusExecute(r ApiDeviationStatusApiListDeviationStatusRequest) ([]DeviationStatusApiListDeviationStatusItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []DeviationStatusApiListDeviationStatusItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "DeviationStatusAPIAPIService.DeviationStatusApiListDeviationStatus")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/deviation-status"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.deviationStatus != nil {
		t := *r.deviationStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "deviationStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "deviationStatus", t, "form", "multi")
		}
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.defaultStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "defaultStatus", r.defaultStatus, "form", "")
	}
	if r.approved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "approved", r.approved, "form", "")
	}
	if r.awaitingApproval != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "awaitingApproval", r.awaitingApproval, "form", "")
	}
	if r.rejected != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rejected", r.rejected, "form", "")
	}
	if r.expired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expired", r.expired, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
