/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// EDIAPIAPIService EDIAPIAPI service
type EDIAPIAPIService service

type ApiEdiApiClearLogLoadErrorRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiClearLogLoadErrorRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiClearLogLoadErrorExecute(r)
}

/*
EdiApiClearLogLoadError Clear Log Load Error

Delete Log Load Errors.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiClearLogLoadErrorRequest
*/
func (a *EDIAPIAPIService) EdiApiClearLogLoadError(ctx context.Context, id string) ApiEdiApiClearLogLoadErrorRequest {
	return ApiEdiApiClearLogLoadErrorRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiClearLogLoadErrorExecute(r ApiEdiApiClearLogLoadErrorRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiClearLogLoadError")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/load-error"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiClearLogLoadError400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiClearLogLoadError404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiClearLogProblemRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiClearLogProblemRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiClearLogProblemExecute(r)
}

/*
EdiApiClearLogProblem Clear Log Problem

Delete Log Problems.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiClearLogProblemRequest
*/
func (a *EDIAPIAPIService) EdiApiClearLogProblem(ctx context.Context, id string) ApiEdiApiClearLogProblemRequest {
	return ApiEdiApiClearLogProblemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiClearLogProblemExecute(r ApiEdiApiClearLogProblemRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiClearLogProblem")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/problem"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiClearLogProblem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiClearLogProblem404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateDocumentRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	ediApiCreateDocumentRequest *EdiApiCreateDocumentRequest
}

func (r ApiEdiApiCreateDocumentRequest) EdiApiCreateDocumentRequest(ediApiCreateDocumentRequest EdiApiCreateDocumentRequest) ApiEdiApiCreateDocumentRequest {
	r.ediApiCreateDocumentRequest = &ediApiCreateDocumentRequest
	return r
}

func (r ApiEdiApiCreateDocumentRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateDocumentExecute(r)
}

/*
EdiApiCreateDocument Create Document

Add an EDI document to the EDI Log.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The id identifying the EDI log
 @return ApiEdiApiCreateDocumentRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateDocument(ctx context.Context, id string) ApiEdiApiCreateDocumentRequest {
	return ApiEdiApiCreateDocumentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateDocumentExecute(r ApiEdiApiCreateDocumentRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateDocument")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateDocumentRequest == nil {
		return nil, reportError("ediApiCreateDocumentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateDocumentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateDocument400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateLogRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	ediApiCreateLogRequest *EdiApiCreateLogRequest
}

func (r ApiEdiApiCreateLogRequest) EdiApiCreateLogRequest(ediApiCreateLogRequest EdiApiCreateLogRequest) ApiEdiApiCreateLogRequest {
	r.ediApiCreateLogRequest = &ediApiCreateLogRequest
	return r
}

func (r ApiEdiApiCreateLogRequest) Execute() (*EdiApiCreateLog201Response, *http.Response, error) {
	return r.ApiService.EdiApiCreateLogExecute(r)
}

/*
EdiApiCreateLog Create Log

Add an EDI Log record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiCreateLogRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateLog(ctx context.Context) ApiEdiApiCreateLogRequest {
	return ApiEdiApiCreateLogRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EdiApiCreateLog201Response
func (a *EDIAPIAPIService) EdiApiCreateLogExecute(r ApiEdiApiCreateLogRequest) (*EdiApiCreateLog201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiCreateLog201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateLogRequest == nil {
		return localVarReturnValue, nil, reportError("ediApiCreateLogRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateLogRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateLog400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiCreateLogLoadErrorRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	ediApiCreateLogLoadErrorRequest *EdiApiCreateLogLoadErrorRequest
}

func (r ApiEdiApiCreateLogLoadErrorRequest) EdiApiCreateLogLoadErrorRequest(ediApiCreateLogLoadErrorRequest EdiApiCreateLogLoadErrorRequest) ApiEdiApiCreateLogLoadErrorRequest {
	r.ediApiCreateLogLoadErrorRequest = &ediApiCreateLogLoadErrorRequest
	return r
}

func (r ApiEdiApiCreateLogLoadErrorRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateLogLoadErrorExecute(r)
}

/*
EdiApiCreateLogLoadError Create Log Load Error

Create a new Log Load Error.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiCreateLogLoadErrorRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateLogLoadError(ctx context.Context, id string) ApiEdiApiCreateLogLoadErrorRequest {
	return ApiEdiApiCreateLogLoadErrorRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateLogLoadErrorExecute(r ApiEdiApiCreateLogLoadErrorRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateLogLoadError")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/load-error"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateLogLoadErrorRequest == nil {
		return nil, reportError("ediApiCreateLogLoadErrorRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateLogLoadErrorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateLogLoadError400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiCreateLogLoadError404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateLogProblemRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	ediApiCreateLogProblemRequest *EdiApiCreateLogProblemRequest
}

func (r ApiEdiApiCreateLogProblemRequest) EdiApiCreateLogProblemRequest(ediApiCreateLogProblemRequest EdiApiCreateLogProblemRequest) ApiEdiApiCreateLogProblemRequest {
	r.ediApiCreateLogProblemRequest = &ediApiCreateLogProblemRequest
	return r
}

func (r ApiEdiApiCreateLogProblemRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateLogProblemExecute(r)
}

/*
EdiApiCreateLogProblem Create Log Problem

Create a new Log Problem.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiCreateLogProblemRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateLogProblem(ctx context.Context, id string) ApiEdiApiCreateLogProblemRequest {
	return ApiEdiApiCreateLogProblemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateLogProblemExecute(r ApiEdiApiCreateLogProblemRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateLogProblem")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/problem"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateLogProblemRequest == nil {
		return nil, reportError("ediApiCreateLogProblemRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateLogProblemRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateLogProblem400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiCreateLogProblem404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateLogXMLRepresentationRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	ediApiCreateLogXMLRepresentationRequest *EdiApiCreateLogXMLRepresentationRequest
}

func (r ApiEdiApiCreateLogXMLRepresentationRequest) EdiApiCreateLogXMLRepresentationRequest(ediApiCreateLogXMLRepresentationRequest EdiApiCreateLogXMLRepresentationRequest) ApiEdiApiCreateLogXMLRepresentationRequest {
	r.ediApiCreateLogXMLRepresentationRequest = &ediApiCreateLogXMLRepresentationRequest
	return r
}

func (r ApiEdiApiCreateLogXMLRepresentationRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateLogXMLRepresentationExecute(r)
}

/*
EdiApiCreateLogXMLRepresentation Create Log XML Representation

Create a new Log XML Representation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiCreateLogXMLRepresentationRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateLogXMLRepresentation(ctx context.Context, id string) ApiEdiApiCreateLogXMLRepresentationRequest {
	return ApiEdiApiCreateLogXMLRepresentationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateLogXMLRepresentationExecute(r ApiEdiApiCreateLogXMLRepresentationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateLogXMLRepresentation")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/xml-representation-add"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateLogXMLRepresentationRequest == nil {
		return nil, reportError("ediApiCreateLogXMLRepresentationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateLogXMLRepresentationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateLogXMLRepresentation400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiCreateLogXMLRepresentation404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateNotificationRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	ediApiCreateNotificationRequest *EdiApiCreateNotificationRequest
}

func (r ApiEdiApiCreateNotificationRequest) EdiApiCreateNotificationRequest(ediApiCreateNotificationRequest EdiApiCreateNotificationRequest) ApiEdiApiCreateNotificationRequest {
	r.ediApiCreateNotificationRequest = &ediApiCreateNotificationRequest
	return r
}

func (r ApiEdiApiCreateNotificationRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateNotificationExecute(r)
}

/*
EdiApiCreateNotification Create Notification

Create a new Notification.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiCreateNotificationRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateNotification(ctx context.Context) ApiEdiApiCreateNotificationRequest {
	return ApiEdiApiCreateNotificationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateNotificationExecute(r ApiEdiApiCreateNotificationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateNotification")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/notification"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateNotificationRequest == nil {
		return nil, reportError("ediApiCreateNotificationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateNotificationRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateNotification400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiCreateNotification404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiCreateReleaseSnapshotRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	releaseId string
	ediApiCreateReleaseSnapshotRequest *EdiApiCreateReleaseSnapshotRequest
}

func (r ApiEdiApiCreateReleaseSnapshotRequest) EdiApiCreateReleaseSnapshotRequest(ediApiCreateReleaseSnapshotRequest EdiApiCreateReleaseSnapshotRequest) ApiEdiApiCreateReleaseSnapshotRequest {
	r.ediApiCreateReleaseSnapshotRequest = &ediApiCreateReleaseSnapshotRequest
	return r
}

func (r ApiEdiApiCreateReleaseSnapshotRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiCreateReleaseSnapshotExecute(r)
}

/*
EdiApiCreateReleaseSnapshot Create Release Snapshot

Create a new Log Release Snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @param releaseId The Release resource id.
 @return ApiEdiApiCreateReleaseSnapshotRequest
*/
func (a *EDIAPIAPIService) EdiApiCreateReleaseSnapshot(ctx context.Context, id string, releaseId string) ApiEdiApiCreateReleaseSnapshotRequest {
	return ApiEdiApiCreateReleaseSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		releaseId: releaseId,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiCreateReleaseSnapshotExecute(r ApiEdiApiCreateReleaseSnapshotRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiCreateReleaseSnapshot")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/release-snapshot/{releaseId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"releaseId"+"}", url.PathEscape(parameterValueToString(r.releaseId, "releaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiCreateReleaseSnapshotRequest == nil {
		return nil, reportError("ediApiCreateReleaseSnapshotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiCreateReleaseSnapshotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiCreateReleaseSnapshot400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiDeleteReleaseSnapshotRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	releaseId string
}

func (r ApiEdiApiDeleteReleaseSnapshotRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiDeleteReleaseSnapshotExecute(r)
}

/*
EdiApiDeleteReleaseSnapshot Delete Release Snapshot

Delete a Log Release Snapshot.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @param releaseId The Release resource id.
 @return ApiEdiApiDeleteReleaseSnapshotRequest
*/
func (a *EDIAPIAPIService) EdiApiDeleteReleaseSnapshot(ctx context.Context, id string, releaseId string) ApiEdiApiDeleteReleaseSnapshotRequest {
	return ApiEdiApiDeleteReleaseSnapshotRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		releaseId: releaseId,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiDeleteReleaseSnapshotExecute(r ApiEdiApiDeleteReleaseSnapshotRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiDeleteReleaseSnapshot")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/release-snapshot/{releaseId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"releaseId"+"}", url.PathEscape(parameterValueToString(r.releaseId, "releaseId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiDeleteReleaseSnapshot400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiDeleteReleaseSnapshot404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiDeleteReleaseSnapshotsRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiDeleteReleaseSnapshotsRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiDeleteReleaseSnapshotsExecute(r)
}

/*
EdiApiDeleteReleaseSnapshots Delete Release Snapshots

Delete Log Release Snapshots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiDeleteReleaseSnapshotsRequest
*/
func (a *EDIAPIAPIService) EdiApiDeleteReleaseSnapshots(ctx context.Context, id string) ApiEdiApiDeleteReleaseSnapshotsRequest {
	return ApiEdiApiDeleteReleaseSnapshotsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiDeleteReleaseSnapshotsExecute(r ApiEdiApiDeleteReleaseSnapshotsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiDeleteReleaseSnapshots")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/release-snapshot"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiDeleteReleaseSnapshots400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiDeleteReleaseSnapshots404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiGetEDIDocumentRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetEDIDocumentRequest) Execute() (*EdiApiGetEDIDocumentResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetEDIDocumentExecute(r)
}

/*
EdiApiGetEDIDocument Get EDI Document

Retrieve a Document by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiGetEDIDocumentRequest
*/
func (a *EDIAPIAPIService) EdiApiGetEDIDocument(ctx context.Context, id string) ApiEdiApiGetEDIDocumentRequest {
	return ApiEdiApiGetEDIDocumentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetEDIDocumentResponse
func (a *EDIAPIAPIService) EdiApiGetEDIDocumentExecute(r ApiEdiApiGetEDIDocumentRequest) (*EdiApiGetEDIDocumentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetEDIDocumentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetEDIDocument")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/documents/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetEDIDocument400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiGetEDIDocument404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetLoadErrorTypesRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	description *string
}

// The Load Error Type Description. Must be a unique value.
func (r ApiEdiApiGetLoadErrorTypesRequest) Description(description string) ApiEdiApiGetLoadErrorTypesRequest {
	r.description = &description
	return r
}

func (r ApiEdiApiGetLoadErrorTypesRequest) Execute() ([]EdiApiGetLoadErrorTypesItem, *http.Response, error) {
	return r.ApiService.EdiApiGetLoadErrorTypesExecute(r)
}

/*
EdiApiGetLoadErrorTypes Get Load Error Types

List Load Error Types by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiGetLoadErrorTypesRequest
*/
func (a *EDIAPIAPIService) EdiApiGetLoadErrorTypes(ctx context.Context) ApiEdiApiGetLoadErrorTypesRequest {
	return ApiEdiApiGetLoadErrorTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EdiApiGetLoadErrorTypesItem
func (a *EDIAPIAPIService) EdiApiGetLoadErrorTypesExecute(r ApiEdiApiGetLoadErrorTypesRequest) ([]EdiApiGetLoadErrorTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EdiApiGetLoadErrorTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetLoadErrorTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/load-error-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.description != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "description", r.description, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetLoadErrorTypes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetLogRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetLogRequest) Execute() (*EdiApiGetLogResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetLogExecute(r)
}

/*
EdiApiGetLog Get Log

Retrieve an EDI Log by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiGetLogRequest
*/
func (a *EDIAPIAPIService) EdiApiGetLog(ctx context.Context, id string) ApiEdiApiGetLogRequest {
	return ApiEdiApiGetLogRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetLogResponse
func (a *EDIAPIAPIService) EdiApiGetLogExecute(r ApiEdiApiGetLogRequest) (*EdiApiGetLogResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetLogResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetLog")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetLog400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiGetLog404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetLogStatusesRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
}

func (r ApiEdiApiGetLogStatusesRequest) Execute() ([]EdiApiGetLogStatusesItem, *http.Response, error) {
	return r.ApiService.EdiApiGetLogStatusesExecute(r)
}

/*
EdiApiGetLogStatuses Get Log Statuses

List log statuses.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiGetLogStatusesRequest
*/
func (a *EDIAPIAPIService) EdiApiGetLogStatuses(ctx context.Context) ApiEdiApiGetLogStatusesRequest {
	return ApiEdiApiGetLogStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EdiApiGetLogStatusesItem
func (a *EDIAPIAPIService) EdiApiGetLogStatusesExecute(r ApiEdiApiGetLogStatusesRequest) ([]EdiApiGetLogStatusesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EdiApiGetLogStatusesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetLogStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/log-statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetLogStatuses400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetLogsRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	mailboxId *string
	customerId *string
	action *string
	status *string
	documentName *string
	logDateBegin *time.Time
	logDateEnd *time.Time
	mailboxActive *bool
	workflowName *string
	workflowType *string
	workflowActive *bool
}

// A unique identifier for a Mailbox.
func (r ApiEdiApiGetLogsRequest) MailboxId(mailboxId string) ApiEdiApiGetLogsRequest {
	r.mailboxId = &mailboxId
	return r
}

// A unique identifier for a Customer.
func (r ApiEdiApiGetLogsRequest) CustomerId(customerId string) ApiEdiApiGetLogsRequest {
	r.customerId = &customerId
	return r
}

// EDI Action. Must be a unique value.
func (r ApiEdiApiGetLogsRequest) Action(action string) ApiEdiApiGetLogsRequest {
	r.action = &action
	return r
}

// The Status of the EDI Log entry, supports a comma delimited list of desired statuses
func (r ApiEdiApiGetLogsRequest) Status(status string) ApiEdiApiGetLogsRequest {
	r.status = &status
	return r
}

// The Document Name.
func (r ApiEdiApiGetLogsRequest) DocumentName(documentName string) ApiEdiApiGetLogsRequest {
	r.documentName = &documentName
	return r
}

// The start of the date range for filtering the log entries.
func (r ApiEdiApiGetLogsRequest) LogDateBegin(logDateBegin time.Time) ApiEdiApiGetLogsRequest {
	r.logDateBegin = &logDateBegin
	return r
}

// The end of the date range for filtering the log entries.
func (r ApiEdiApiGetLogsRequest) LogDateEnd(logDateEnd time.Time) ApiEdiApiGetLogsRequest {
	r.logDateEnd = &logDateEnd
	return r
}

// The Active flag of the EDI Mailbox. Set to true to return logs associated with active mailboxes, false for inactive mailboxes, and do not include the parameter to return active and inactive mailboxes.
func (r ApiEdiApiGetLogsRequest) MailboxActive(mailboxActive bool) ApiEdiApiGetLogsRequest {
	r.mailboxActive = &mailboxActive
	return r
}

// The name of the workflow to filter on.
func (r ApiEdiApiGetLogsRequest) WorkflowName(workflowName string) ApiEdiApiGetLogsRequest {
	r.workflowName = &workflowName
	return r
}

// This Type of the Workflow.
func (r ApiEdiApiGetLogsRequest) WorkflowType(workflowType string) ApiEdiApiGetLogsRequest {
	r.workflowType = &workflowType
	return r
}

// The Active flag of the Workflow of the EDI Mailbox. Set to true to return logs associated with active workflows, false for inactive workflows, and do not include the parameter to return active and inactive workflows or logs that are not associated with a workflow.
func (r ApiEdiApiGetLogsRequest) WorkflowActive(workflowActive bool) ApiEdiApiGetLogsRequest {
	r.workflowActive = &workflowActive
	return r
}

func (r ApiEdiApiGetLogsRequest) Execute() ([]EdiApiGetLogsItem, *http.Response, error) {
	return r.ApiService.EdiApiGetLogsExecute(r)
}

/*
EdiApiGetLogs Get Logs

List Logs by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiGetLogsRequest
*/
func (a *EDIAPIAPIService) EdiApiGetLogs(ctx context.Context) ApiEdiApiGetLogsRequest {
	return ApiEdiApiGetLogsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EdiApiGetLogsItem
func (a *EDIAPIAPIService) EdiApiGetLogsExecute(r ApiEdiApiGetLogsRequest) ([]EdiApiGetLogsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EdiApiGetLogsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetLogs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.mailboxId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mailboxId", r.mailboxId, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	}
	if r.action != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "action", r.action, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.documentName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "documentName", r.documentName, "form", "")
	}
	if r.logDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logDateBegin", r.logDateBegin, "form", "")
	}
	if r.logDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "logDateEnd", r.logDateEnd, "form", "")
	}
	if r.mailboxActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "mailboxActive", r.mailboxActive, "form", "")
	}
	if r.workflowName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowName", r.workflowName, "form", "")
	}
	if r.workflowType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowType", r.workflowType, "form", "")
	}
	if r.workflowActive != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workflowActive", r.workflowActive, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetLogs400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetMailboxRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetMailboxRequest) Execute() (*EdiApiGetMailboxResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetMailboxExecute(r)
}

/*
EdiApiGetMailbox Get Mailbox

Retrieve a Mailbox by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiGetMailboxRequest
*/
func (a *EDIAPIAPIService) EdiApiGetMailbox(ctx context.Context, id string) ApiEdiApiGetMailboxRequest {
	return ApiEdiApiGetMailboxRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetMailboxResponse
func (a *EDIAPIAPIService) EdiApiGetMailboxExecute(r ApiEdiApiGetMailboxRequest) (*EdiApiGetMailboxResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetMailboxResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetMailbox")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/mailboxes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetMailbox400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiGetMailbox404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetMailboxesRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id *[]string
	name *string
	code *string
	active *bool
	destinationMailbox *string
}

// A list of unique identifiers for Mailboxes.
func (r ApiEdiApiGetMailboxesRequest) Id(id []string) ApiEdiApiGetMailboxesRequest {
	r.id = &id
	return r
}

// EDI Mailbox Name. Must be a unique value.
func (r ApiEdiApiGetMailboxesRequest) Name(name string) ApiEdiApiGetMailboxesRequest {
	r.name = &name
	return r
}

// The User Code mapped to outbound documents.
func (r ApiEdiApiGetMailboxesRequest) Code(code string) ApiEdiApiGetMailboxesRequest {
	r.code = &code
	return r
}

// This flag will be set to Active by default.
func (r ApiEdiApiGetMailboxesRequest) Active(active bool) ApiEdiApiGetMailboxesRequest {
	r.active = &active
	return r
}

// The destination mailbox to filter on.
func (r ApiEdiApiGetMailboxesRequest) DestinationMailbox(destinationMailbox string) ApiEdiApiGetMailboxesRequest {
	r.destinationMailbox = &destinationMailbox
	return r
}

func (r ApiEdiApiGetMailboxesRequest) Execute() ([]EdiApiGetMailboxesItem, *http.Response, error) {
	return r.ApiService.EdiApiGetMailboxesExecute(r)
}

/*
EdiApiGetMailboxes Get Mailboxes

List Mailboxes by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiGetMailboxesRequest
*/
func (a *EDIAPIAPIService) EdiApiGetMailboxes(ctx context.Context) ApiEdiApiGetMailboxesRequest {
	return ApiEdiApiGetMailboxesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EdiApiGetMailboxesItem
func (a *EDIAPIAPIService) EdiApiGetMailboxesExecute(r ApiEdiApiGetMailboxesRequest) ([]EdiApiGetMailboxesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EdiApiGetMailboxesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetMailboxes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/mailboxes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.destinationMailbox != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "destinationMailbox", r.destinationMailbox, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetMailboxes400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetTransformedDataRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetTransformedDataRequest) Execute() (*EdiApiGetTransformedDataResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetTransformedDataExecute(r)
}

/*
EdiApiGetTransformedData Get Transformed Data

Retrieve the transformed data for a Log.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiGetTransformedDataRequest
*/
func (a *EDIAPIAPIService) EdiApiGetTransformedData(ctx context.Context, id string) ApiEdiApiGetTransformedDataRequest {
	return ApiEdiApiGetTransformedDataRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetTransformedDataResponse
func (a *EDIAPIAPIService) EdiApiGetTransformedDataExecute(r ApiEdiApiGetTransformedDataRequest) (*EdiApiGetTransformedDataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetTransformedDataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetTransformedData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/raw"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetTransformedData400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiGetTransformedData404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetUnitRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetUnitRequest) Execute() (*EdiApiGetUnitResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetUnitExecute(r)
}

/*
EdiApiGetUnit Get Unit

Retrieve a unit by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEdiApiGetUnitRequest
*/
func (a *EDIAPIAPIService) EdiApiGetUnit(ctx context.Context, id string) ApiEdiApiGetUnitRequest {
	return ApiEdiApiGetUnitRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetUnitResponse
func (a *EDIAPIAPIService) EdiApiGetUnitExecute(r ApiEdiApiGetUnitRequest) (*EdiApiGetUnitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetUnitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetUnit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/units/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetUnitsRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	idList *[]string
	unit *string
}

// A list of unit unique identifiers.
func (r ApiEdiApiGetUnitsRequest) IdList(idList []string) ApiEdiApiGetUnitsRequest {
	r.idList = &idList
	return r
}

// Unit.
func (r ApiEdiApiGetUnitsRequest) Unit(unit string) ApiEdiApiGetUnitsRequest {
	r.unit = &unit
	return r
}

func (r ApiEdiApiGetUnitsRequest) Execute() ([]EdiApiGetUnitsItem, *http.Response, error) {
	return r.ApiService.EdiApiGetUnitsExecute(r)
}

/*
EdiApiGetUnits Get Units

List units by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiGetUnitsRequest
*/
func (a *EDIAPIAPIService) EdiApiGetUnits(ctx context.Context) ApiEdiApiGetUnitsRequest {
	return ApiEdiApiGetUnitsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EdiApiGetUnitsItem
func (a *EDIAPIAPIService) EdiApiGetUnitsExecute(r ApiEdiApiGetUnitsRequest) ([]EdiApiGetUnitsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EdiApiGetUnitsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetUnits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/units"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.idList != nil {
		t := *r.idList
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "idList", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "idList", t, "form", "multi")
		}
	}
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unit", r.unit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiGetWorkflowRunIDRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
}

func (r ApiEdiApiGetWorkflowRunIDRequest) Execute() (*EdiApiGetWorkflowRunIDResponse, *http.Response, error) {
	return r.ApiService.EdiApiGetWorkflowRunIDExecute(r)
}

/*
EdiApiGetWorkflowRunID Get Workflow Run ID

Retrieve an EDI Log Workflow Run ID by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiGetWorkflowRunIDRequest
*/
func (a *EDIAPIAPIService) EdiApiGetWorkflowRunID(ctx context.Context, id string) ApiEdiApiGetWorkflowRunIDRequest {
	return ApiEdiApiGetWorkflowRunIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EdiApiGetWorkflowRunIDResponse
func (a *EDIAPIAPIService) EdiApiGetWorkflowRunIDExecute(r ApiEdiApiGetWorkflowRunIDRequest) (*EdiApiGetWorkflowRunIDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EdiApiGetWorkflowRunIDResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiGetWorkflowRunID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/workflow-run"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiGetWorkflowRunID400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiGetWorkflowRunID404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEdiApiUpdateEDILogTrackingNoRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	id string
	ediApiUpdateEDILogTrackingNoRequest *EdiApiUpdateEDILogTrackingNoRequest
}

func (r ApiEdiApiUpdateEDILogTrackingNoRequest) EdiApiUpdateEDILogTrackingNoRequest(ediApiUpdateEDILogTrackingNoRequest EdiApiUpdateEDILogTrackingNoRequest) ApiEdiApiUpdateEDILogTrackingNoRequest {
	r.ediApiUpdateEDILogTrackingNoRequest = &ediApiUpdateEDILogTrackingNoRequest
	return r
}

func (r ApiEdiApiUpdateEDILogTrackingNoRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiUpdateEDILogTrackingNoExecute(r)
}

/*
EdiApiUpdateEDILogTrackingNo Update EDI Log Tracking No

Update a Log tracking number (i.e. run id or execution id).

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Log resource id.
 @return ApiEdiApiUpdateEDILogTrackingNoRequest
*/
func (a *EDIAPIAPIService) EdiApiUpdateEDILogTrackingNo(ctx context.Context, id string) ApiEdiApiUpdateEDILogTrackingNoRequest {
	return ApiEdiApiUpdateEDILogTrackingNoRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiUpdateEDILogTrackingNoExecute(r ApiEdiApiUpdateEDILogTrackingNoRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiUpdateEDILogTrackingNo")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/{id}/tracking-no"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiUpdateEDILogTrackingNoRequest == nil {
		return nil, reportError("ediApiUpdateEDILogTrackingNoRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.ediApiUpdateEDILogTrackingNoRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EdiApiUpdateEDILogTrackingNo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v EdiApiUpdateEDILogTrackingNo404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEdiApiUpdateInboundReceiveRequest struct {
	ctx context.Context
	ApiService *EDIAPIAPIService
	ediApiUpdateInboundReceiveRequest *EdiApiUpdateInboundReceiveRequest
}

func (r ApiEdiApiUpdateInboundReceiveRequest) EdiApiUpdateInboundReceiveRequest(ediApiUpdateInboundReceiveRequest EdiApiUpdateInboundReceiveRequest) ApiEdiApiUpdateInboundReceiveRequest {
	r.ediApiUpdateInboundReceiveRequest = &ediApiUpdateInboundReceiveRequest
	return r
}

func (r ApiEdiApiUpdateInboundReceiveRequest) Execute() (*http.Response, error) {
	return r.ApiService.EdiApiUpdateInboundReceiveExecute(r)
}

/*
EdiApiUpdateInboundReceive Update Inbound Receive

Receive a list of EDI Log records in sequence.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEdiApiUpdateInboundReceiveRequest
*/
func (a *EDIAPIAPIService) EdiApiUpdateInboundReceive(ctx context.Context) ApiEdiApiUpdateInboundReceiveRequest {
	return ApiEdiApiUpdateInboundReceiveRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *EDIAPIAPIService) EdiApiUpdateInboundReceiveExecute(r ApiEdiApiUpdateInboundReceiveRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EDIAPIAPIService.EdiApiUpdateInboundReceive")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/edi/v1/logs/inbound-receive"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.ediApiUpdateInboundReceiveRequest == nil {
		return nil, reportError("ediApiUpdateInboundReceiveRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
[...]
