/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// JustInSequenceAPIAPIService JustInSequenceAPIAPI service
type JustInSequenceAPIAPIService service

type ApiJustInSequenceApiAuditJISReleaseRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
	justInSequenceApiAuditJISReleaseRequest *JustInSequenceApiAuditJISReleaseRequest
}

func (r ApiJustInSequenceApiAuditJISReleaseRequest) JustInSequenceApiAuditJISReleaseRequest(justInSequenceApiAuditJISReleaseRequest JustInSequenceApiAuditJISReleaseRequest) ApiJustInSequenceApiAuditJISReleaseRequest {
	r.justInSequenceApiAuditJISReleaseRequest = &justInSequenceApiAuditJISReleaseRequest
	return r
}

func (r ApiJustInSequenceApiAuditJISReleaseRequest) Execute() (*http.Response, error) {
	return r.ApiService.JustInSequenceApiAuditJISReleaseExecute(r)
}

/*
JustInSequenceApiAuditJISRelease Audit JIS Release

Audit and confirm an individual sequenced release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the sequenced release.
 @return ApiJustInSequenceApiAuditJISReleaseRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiAuditJISRelease(ctx context.Context, id string) ApiJustInSequenceApiAuditJISReleaseRequest {
	return ApiJustInSequenceApiAuditJISReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JustInSequenceAPIAPIService) JustInSequenceApiAuditJISReleaseExecute(r ApiJustInSequenceApiAuditJISReleaseRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiAuditJISRelease")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases/{id}/confirm"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiAuditJISReleaseRequest == nil {
		return nil, reportError("justInSequenceApiAuditJISReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiAuditJISReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiAuditJISRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJustInSequenceApiCreateJISKitRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	justInSequenceApiCreateJISKitRequest *JustInSequenceApiCreateJISKitRequest
}

func (r ApiJustInSequenceApiCreateJISKitRequest) JustInSequenceApiCreateJISKitRequest(justInSequenceApiCreateJISKitRequest JustInSequenceApiCreateJISKitRequest) ApiJustInSequenceApiCreateJISKitRequest {
	r.justInSequenceApiCreateJISKitRequest = &justInSequenceApiCreateJISKitRequest
	return r
}

func (r ApiJustInSequenceApiCreateJISKitRequest) Execute() (*JustInSequenceApiCreateJISKit201Response, *http.Response, error) {
	return r.ApiService.JustInSequenceApiCreateJISKitExecute(r)
}

/*
JustInSequenceApiCreateJISKit Create JIS Kit

Create a sequenced kit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiCreateJISKitRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISKit(ctx context.Context) ApiJustInSequenceApiCreateJISKitRequest {
	return ApiJustInSequenceApiCreateJISKitRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JustInSequenceApiCreateJISKit201Response
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISKitExecute(r ApiJustInSequenceApiCreateJISKitRequest) (*JustInSequenceApiCreateJISKit201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiCreateJISKit201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiCreateJISKit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/kits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiCreateJISKitRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiCreateJISKitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiCreateJISKitRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiCreateJISKit400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiCreateJISRackRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	justInSequenceApiCreateJISRackRequest *JustInSequenceApiCreateJISRackRequest
}

func (r ApiJustInSequenceApiCreateJISRackRequest) JustInSequenceApiCreateJISRackRequest(justInSequenceApiCreateJISRackRequest JustInSequenceApiCreateJISRackRequest) ApiJustInSequenceApiCreateJISRackRequest {
	r.justInSequenceApiCreateJISRackRequest = &justInSequenceApiCreateJISRackRequest
	return r
}

func (r ApiJustInSequenceApiCreateJISRackRequest) Execute() (*JustInSequenceApiCreateJISRack201Response, *http.Response, error) {
	return r.ApiService.JustInSequenceApiCreateJISRackExecute(r)
}

/*
JustInSequenceApiCreateJISRack Create JIS Rack

Create a sequenced rack.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiCreateJISRackRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISRack(ctx context.Context) ApiJustInSequenceApiCreateJISRackRequest {
	return ApiJustInSequenceApiCreateJISRackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JustInSequenceApiCreateJISRack201Response
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISRackExecute(r ApiJustInSequenceApiCreateJISRackRequest) (*JustInSequenceApiCreateJISRack201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiCreateJISRack201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiCreateJISRack")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiCreateJISRackRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiCreateJISRackRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiCreateJISRackRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiCreateJISRack400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiCreateJISReleaseRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	justInSequenceApiCreateJISReleaseRequest *JustInSequenceApiCreateJISReleaseRequest
}

func (r ApiJustInSequenceApiCreateJISReleaseRequest) JustInSequenceApiCreateJISReleaseRequest(justInSequenceApiCreateJISReleaseRequest JustInSequenceApiCreateJISReleaseRequest) ApiJustInSequenceApiCreateJISReleaseRequest {
	r.justInSequenceApiCreateJISReleaseRequest = &justInSequenceApiCreateJISReleaseRequest
	return r
}

func (r ApiJustInSequenceApiCreateJISReleaseRequest) Execute() (*JustInSequenceApiCreateJISRelease201Response, *http.Response, error) {
	return r.ApiService.JustInSequenceApiCreateJISReleaseExecute(r)
}

/*
JustInSequenceApiCreateJISRelease Create JIS Release

Create a sequenced release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiCreateJISReleaseRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISRelease(ctx context.Context) ApiJustInSequenceApiCreateJISReleaseRequest {
	return ApiJustInSequenceApiCreateJISReleaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JustInSequenceApiCreateJISRelease201Response
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreateJISReleaseExecute(r ApiJustInSequenceApiCreateJISReleaseRequest) (*JustInSequenceApiCreateJISRelease201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiCreateJISRelease201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiCreateJISRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiCreateJISReleaseRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiCreateJISReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiCreateJISReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiCreateJISRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiCreatePlannedJISRackRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	justInSequenceApiCreatePlannedJISRackRequest *JustInSequenceApiCreatePlannedJISRackRequest
}

func (r ApiJustInSequenceApiCreatePlannedJISRackRequest) JustInSequenceApiCreatePlannedJISRackRequest(justInSequenceApiCreatePlannedJISRackRequest JustInSequenceApiCreatePlannedJISRackRequest) ApiJustInSequenceApiCreatePlannedJISRackRequest {
	r.justInSequenceApiCreatePlannedJISRackRequest = &justInSequenceApiCreatePlannedJISRackRequest
	return r
}

func (r ApiJustInSequenceApiCreatePlannedJISRackRequest) Execute() (*JustInSequenceApiCreatePlannedJISRack201Response, *http.Response, error) {
	return r.ApiService.JustInSequenceApiCreatePlannedJISRackExecute(r)
}

/*
JustInSequenceApiCreatePlannedJISRack Create Planned JIS Rack

Create a sequenced rack and its associated kits and releases, each in a Planned status.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiCreatePlannedJISRackRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreatePlannedJISRack(ctx context.Context) ApiJustInSequenceApiCreatePlannedJISRackRequest {
	return ApiJustInSequenceApiCreatePlannedJISRackRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JustInSequenceApiCreatePlannedJISRack201Response
func (a *JustInSequenceAPIAPIService) JustInSequenceApiCreatePlannedJISRackExecute(r ApiJustInSequenceApiCreatePlannedJISRackRequest) (*JustInSequenceApiCreatePlannedJISRack201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiCreatePlannedJISRack201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiCreatePlannedJISRack")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/create-planned-rack"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiCreatePlannedJISRackRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiCreatePlannedJISRackRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiCreatePlannedJISRackRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiCreatePlannedJISRack400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiGetJISKitRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
}

func (r ApiJustInSequenceApiGetJISKitRequest) Execute() (*JustInSequenceApiGetJISKitResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiGetJISKitExecute(r)
}

/*
JustInSequenceApiGetJISKit Get JIS Kit

Retrieve a sequenced kit by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Kit ID.
 @return ApiJustInSequenceApiGetJISKitRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISKit(ctx context.Context, id string) ApiJustInSequenceApiGetJISKitRequest {
	return ApiJustInSequenceApiGetJISKitRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiGetJISKitResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISKitExecute(r ApiJustInSequenceApiGetJISKitRequest) (*JustInSequenceApiGetJISKitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiGetJISKitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiGetJISKit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/kits/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiGetJISRackRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
}

func (r ApiJustInSequenceApiGetJISRackRequest) Execute() (*JustInSequenceApiGetJISRackResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiGetJISRackExecute(r)
}

/*
JustInSequenceApiGetJISRack Get JIS Rack

Retrieve a sequenced rack by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Rack ID.
 @return ApiJustInSequenceApiGetJISRackRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISRack(ctx context.Context, id string) ApiJustInSequenceApiGetJISRackRequest {
	return ApiJustInSequenceApiGetJISRackRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiGetJISRackResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISRackExecute(r ApiJustInSequenceApiGetJISRackRequest) (*JustInSequenceApiGetJISRackResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiGetJISRackResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiGetJISRack")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiGetJISReleaseRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
}

func (r ApiJustInSequenceApiGetJISReleaseRequest) Execute() (*JustInSequenceApiGetJISReleaseResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiGetJISReleaseExecute(r)
}

/*
JustInSequenceApiGetJISRelease Get JIS Release

Retrieve a sequenced release by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Release's resource id.
 @return ApiJustInSequenceApiGetJISReleaseRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISRelease(ctx context.Context, id string) ApiJustInSequenceApiGetJISReleaseRequest {
	return ApiJustInSequenceApiGetJISReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiGetJISReleaseResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiGetJISReleaseExecute(r ApiJustInSequenceApiGetJISReleaseRequest) (*JustInSequenceApiGetJISReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiGetJISReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiGetJISRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiListJISKitsRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id *string
	jisKitStatus *string
	kitName *string
	isReprintNeeded *bool
	addDateTimeBegin *time.Time
	addDateTimeEnd *time.Time
	rackSequenceNumber *string
	labelPrintedDateTimeBegin *time.Time
	labelPrintedDateTimeEnd *time.Time
}

// The ID of the sequenced kit.
func (r ApiJustInSequenceApiListJISKitsRequest) Id(id string) ApiJustInSequenceApiListJISKitsRequest {
	r.id = &id
	return r
}

// The sequenced kit&#39;s status.
func (r ApiJustInSequenceApiListJISKitsRequest) JisKitStatus(jisKitStatus string) ApiJustInSequenceApiListJISKitsRequest {
	r.jisKitStatus = &jisKitStatus
	return r
}

// The sequenced kit&#39;s name.
func (r ApiJustInSequenceApiListJISKitsRequest) KitName(kitName string) ApiJustInSequenceApiListJISKitsRequest {
	r.kitName = &kitName
	return r
}

// Determines whether the kit requires its paperwork to be reprinted.
func (r ApiJustInSequenceApiListJISKitsRequest) IsReprintNeeded(isReprintNeeded bool) ApiJustInSequenceApiListJISKitsRequest {
	r.isReprintNeeded = &isReprintNeeded
	return r
}

// The beginning date and time on which the kit was created.
func (r ApiJustInSequenceApiListJISKitsRequest) AddDateTimeBegin(addDateTimeBegin time.Time) ApiJustInSequenceApiListJISKitsRequest {
	r.addDateTimeBegin = &addDateTimeBegin
	return r
}

// The ending date and time on which the kit was created.
func (r ApiJustInSequenceApiListJISKitsRequest) AddDateTimeEnd(addDateTimeEnd time.Time) ApiJustInSequenceApiListJISKitsRequest {
	r.addDateTimeEnd = &addDateTimeEnd
	return r
}

// The kit&#39;s rack number.
func (r ApiJustInSequenceApiListJISKitsRequest) RackSequenceNumber(rackSequenceNumber string) ApiJustInSequenceApiListJISKitsRequest {
	r.rackSequenceNumber = &rackSequenceNumber
	return r
}

// The beginning date and time on which the kit label was last printed.
func (r ApiJustInSequenceApiListJISKitsRequest) LabelPrintedDateTimeBegin(labelPrintedDateTimeBegin time.Time) ApiJustInSequenceApiListJISKitsRequest {
	r.labelPrintedDateTimeBegin = &labelPrintedDateTimeBegin
	return r
}

// The ending date and time on which the kit label was last printed.
func (r ApiJustInSequenceApiListJISKitsRequest) LabelPrintedDateTimeEnd(labelPrintedDateTimeEnd time.Time) ApiJustInSequenceApiListJISKitsRequest {
	r.labelPrintedDateTimeEnd = &labelPrintedDateTimeEnd
	return r
}

func (r ApiJustInSequenceApiListJISKitsRequest) Execute() ([]JustInSequenceApiListJISKitsItem, *http.Response, error) {
	return r.ApiService.JustInSequenceApiListJISKitsExecute(r)
}

/*
JustInSequenceApiListJISKits List JIS Kits

List sequenced kits by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiListJISKitsRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISKits(ctx context.Context) ApiJustInSequenceApiListJISKitsRequest {
	return ApiJustInSequenceApiListJISKitsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JustInSequenceApiListJISKitsItem
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISKitsExecute(r ApiJustInSequenceApiListJISKitsRequest) ([]JustInSequenceApiListJISKitsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JustInSequenceApiListJISKitsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiListJISKits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/kits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.jisKitStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jisKitStatus", r.jisKitStatus, "form", "")
	}
	if r.kitName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kitName", r.kitName, "form", "")
	}
	if r.isReprintNeeded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "isReprintNeeded", r.isReprintNeeded, "form", "")
	}
	if r.addDateTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "addDateTimeBegin", r.addDateTimeBegin, "form", "")
	}
	if r.addDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "addDateTimeEnd", r.addDateTimeEnd, "form", "")
	}
	if r.rackSequenceNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rackSequenceNumber", r.rackSequenceNumber, "form", "")
	}
	if r.labelPrintedDateTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelPrintedDateTimeBegin", r.labelPrintedDateTimeBegin, "form", "")
	}
	if r.labelPrintedDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelPrintedDateTimeEnd", r.labelPrintedDateTimeEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiListJISRacksRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id *string
	rackStatus *[]string
	rackSequenceNumber *string
	masterUnitNumber *string
	lineSequenceSetupName *string
	createdDateTimeStart *time.Time
	createdDateTimeEnd *time.Time
	reprintNeeded *bool
	printedDateTimeStart *time.Time
	printedDateTimeEnd *time.Time
	truckID *string
	truckNumber *string
	trailerNumber *string
	labelPrintedDateTimeStart *time.Time
	labelPrintedDateTimeEnd *time.Time
}

// A unique identifier for the sales order. This will be automatically generated if omitted from the request.
func (r ApiJustInSequenceApiListJISRacksRequest) Id(id string) ApiJustInSequenceApiListJISRacksRequest {
	r.id = &id
	return r
}

// The status of the rack.
func (r ApiJustInSequenceApiListJISRacksRequest) RackStatus(rackStatus []string) ApiJustInSequenceApiListJISRacksRequest {
	r.rackStatus = &rackStatus
	return r
}

// The rack sequence number.
func (r ApiJustInSequenceApiListJISRacksRequest) RackSequenceNumber(rackSequenceNumber string) ApiJustInSequenceApiListJISRacksRequest {
	r.rackSequenceNumber = &rackSequenceNumber
	return r
}

// The master unit number associated with the rack.
func (r ApiJustInSequenceApiListJISRacksRequest) MasterUnitNumber(masterUnitNumber string) ApiJustInSequenceApiListJISRacksRequest {
	r.masterUnitNumber = &masterUnitNumber
	return r
}

// The rack&#39;s line sequence setup name.
func (r ApiJustInSequenceApiListJISRacksRequest) LineSequenceSetupName(lineSequenceSetupName string) ApiJustInSequenceApiListJISRacksRequest {
	r.lineSequenceSetupName = &lineSequenceSetupName
	return r
}

// The start date and time on which the rack was added.
func (r ApiJustInSequenceApiListJISRacksRequest) CreatedDateTimeStart(createdDateTimeStart time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.createdDateTimeStart = &createdDateTimeStart
	return r
}

// The end date and time on which the rack was added.
func (r ApiJustInSequenceApiListJISRacksRequest) CreatedDateTimeEnd(createdDateTimeEnd time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.createdDateTimeEnd = &createdDateTimeEnd
	return r
}

// Determines whether the rack requires its paperwork to be reprinted.
func (r ApiJustInSequenceApiListJISRacksRequest) ReprintNeeded(reprintNeeded bool) ApiJustInSequenceApiListJISRacksRequest {
	r.reprintNeeded = &reprintNeeded
	return r
}

// The start date and time on which the rack paperwork was last printed.
func (r ApiJustInSequenceApiListJISRacksRequest) PrintedDateTimeStart(printedDateTimeStart time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.printedDateTimeStart = &printedDateTimeStart
	return r
}

// The end date and time on which the rack paperwork was last printed.
func (r ApiJustInSequenceApiListJISRacksRequest) PrintedDateTimeEnd(printedDateTimeEnd time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.printedDateTimeEnd = &printedDateTimeEnd
	return r
}

// The unique ID of the truck associated with the rack.
func (r ApiJustInSequenceApiListJISRacksRequest) TruckID(truckID string) ApiJustInSequenceApiListJISRacksRequest {
	r.truckID = &truckID
	return r
}

// The truck number associated with the rack.
func (r ApiJustInSequenceApiListJISRacksRequest) TruckNumber(truckNumber string) ApiJustInSequenceApiListJISRacksRequest {
	r.truckNumber = &truckNumber
	return r
}

// The trailer number of the rack&#39;s associated truck.
func (r ApiJustInSequenceApiListJISRacksRequest) TrailerNumber(trailerNumber string) ApiJustInSequenceApiListJISRacksRequest {
	r.trailerNumber = &trailerNumber
	return r
}

// The start date and time on which the rack label was last printed.
func (r ApiJustInSequenceApiListJISRacksRequest) LabelPrintedDateTimeStart(labelPrintedDateTimeStart time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.labelPrintedDateTimeStart = &labelPrintedDateTimeStart
	return r
}

// The end date and time on which the rack label was last printed.
func (r ApiJustInSequenceApiListJISRacksRequest) LabelPrintedDateTimeEnd(labelPrintedDateTimeEnd time.Time) ApiJustInSequenceApiListJISRacksRequest {
	r.labelPrintedDateTimeEnd = &labelPrintedDateTimeEnd
	return r
}

func (r ApiJustInSequenceApiListJISRacksRequest) Execute() ([]JustInSequenceApiListJISRacksItem, *http.Response, error) {
	return r.ApiService.JustInSequenceApiListJISRacksExecute(r)
}

/*
JustInSequenceApiListJISRacks List JIS Racks

List sequenced rack records based on specified properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiListJISRacksRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISRacks(ctx context.Context) ApiJustInSequenceApiListJISRacksRequest {
	return ApiJustInSequenceApiListJISRacksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JustInSequenceApiListJISRacksItem
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISRacksExecute(r ApiJustInSequenceApiListJISRacksRequest) ([]JustInSequenceApiListJISRacksItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JustInSequenceApiListJISRacksItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiListJISRacks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.rackStatus != nil {
		t := *r.rackStatus
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "rackStatus", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "rackStatus", t, "form", "multi")
		}
	}
	if r.rackSequenceNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rackSequenceNumber", r.rackSequenceNumber, "form", "")
	}
	if r.masterUnitNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "masterUnitNumber", r.masterUnitNumber, "form", "")
	}
	if r.lineSequenceSetupName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lineSequenceSetupName", r.lineSequenceSetupName, "form", "")
	}
	if r.createdDateTimeStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateTimeStart", r.createdDateTimeStart, "form", "")
	}
	if r.createdDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateTimeEnd", r.createdDateTimeEnd, "form", "")
	}
	if r.reprintNeeded != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "reprintNeeded", r.reprintNeeded, "form", "")
	}
	if r.printedDateTimeStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "printedDateTimeStart", r.printedDateTimeStart, "form", "")
	}
	if r.printedDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "printedDateTimeEnd", r.printedDateTimeEnd, "form", "")
	}
	if r.truckID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckID", r.truckID, "form", "")
	}
	if r.truckNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckNumber", r.truckNumber, "form", "")
	}
	if r.trailerNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trailerNumber", r.trailerNumber, "form", "")
	}
	if r.labelPrintedDateTimeStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelPrintedDateTimeStart", r.labelPrintedDateTimeStart, "form", "")
	}
	if r.labelPrintedDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "labelPrintedDateTimeEnd", r.labelPrintedDateTimeEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiListJISReleasesRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id *string
	salesReleaseNumber *string
	releaseStatus *string
	salesReleaseId *string
	kitId *string
	kitName *string
	createdDateTimeBegin *time.Time
	createdDateTimeEnd *time.Time
}

// A unique identifier for the sequenced release.
func (r ApiJustInSequenceApiListJISReleasesRequest) Id(id string) ApiJustInSequenceApiListJISReleasesRequest {
	r.id = &id
	return r
}

// The release number.
func (r ApiJustInSequenceApiListJISReleasesRequest) SalesReleaseNumber(salesReleaseNumber string) ApiJustInSequenceApiListJISReleasesRequest {
	r.salesReleaseNumber = &salesReleaseNumber
	return r
}

// The status assigned to the sequenced release.
func (r ApiJustInSequenceApiListJISReleasesRequest) ReleaseStatus(releaseStatus string) ApiJustInSequenceApiListJISReleasesRequest {
	r.releaseStatus = &releaseStatus
	return r
}

// A unique identifier for the sales release.
func (r ApiJustInSequenceApiListJISReleasesRequest) SalesReleaseId(salesReleaseId string) ApiJustInSequenceApiListJISReleasesRequest {
	r.salesReleaseId = &salesReleaseId
	return r
}

// A unique identifier for the kit.
func (r ApiJustInSequenceApiListJISReleasesRequest) KitId(kitId string) ApiJustInSequenceApiListJISReleasesRequest {
	r.kitId = &kitId
	return r
}

// The kit name.
func (r ApiJustInSequenceApiListJISReleasesRequest) KitName(kitName string) ApiJustInSequenceApiListJISReleasesRequest {
	r.kitName = &kitName
	return r
}

// The date and time on which the release was created.
func (r ApiJustInSequenceApiListJISReleasesRequest) CreatedDateTimeBegin(createdDateTimeBegin time.Time) ApiJustInSequenceApiListJISReleasesRequest {
	r.createdDateTimeBegin = &createdDateTimeBegin
	return r
}

// The date and time on which the release was created.
func (r ApiJustInSequenceApiListJISReleasesRequest) CreatedDateTimeEnd(createdDateTimeEnd time.Time) ApiJustInSequenceApiListJISReleasesRequest {
	r.createdDateTimeEnd = &createdDateTimeEnd
	return r
}

func (r ApiJustInSequenceApiListJISReleasesRequest) Execute() ([]JustInSequenceApiListJISReleasesItem, *http.Response, error) {
	return r.ApiService.JustInSequenceApiListJISReleasesExecute(r)
}

/*
JustInSequenceApiListJISReleases List JIS Releases

List sequenced release records based on specified properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJustInSequenceApiListJISReleasesRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISReleases(ctx context.Context) ApiJustInSequenceApiListJISReleasesRequest {
	return ApiJustInSequenceApiListJISReleasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JustInSequenceApiListJISReleasesItem
func (a *JustInSequenceAPIAPIService) JustInSequenceApiListJISReleasesExecute(r ApiJustInSequenceApiListJISReleasesRequest) ([]JustInSequenceApiListJISReleasesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JustInSequenceApiListJISReleasesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiListJISReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.salesReleaseNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "salesReleaseNumber", r.salesReleaseNumber, "form", "")
	}
	if r.releaseStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseStatus", r.releaseStatus, "form", "")
	}
	if r.salesReleaseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "salesReleaseId", r.salesReleaseId, "form", "")
	}
	if r.kitId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kitId", r.kitId, "form", "")
	}
	if r.kitName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "kitName", r.kitName, "form", "")
	}
	if r.createdDateTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateTimeBegin", r.createdDateTimeBegin, "form", "")
	}
	if r.createdDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateTimeEnd", r.createdDateTimeEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiLoadJISRackRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
	justInSequenceApiLoadJISRackRequest *JustInSequenceApiLoadJISRackRequest
}

func (r ApiJustInSequenceApiLoadJISRackRequest) JustInSequenceApiLoadJISRackRequest(justInSequenceApiLoadJISRackRequest JustInSequenceApiLoadJISRackRequest) ApiJustInSequenceApiLoadJISRackRequest {
	r.justInSequenceApiLoadJISRackRequest = &justInSequenceApiLoadJISRackRequest
	return r
}

func (r ApiJustInSequenceApiLoadJISRackRequest) Execute() (*JustInSequenceApiLoadJISRackResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiLoadJISRackExecute(r)
}

/*
JustInSequenceApiLoadJISRack Load JIS Rack

Load a sequenced rack to a truck.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the sequenced rack.
 @return ApiJustInSequenceApiLoadJISRackRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiLoadJISRack(ctx context.Context, id string) ApiJustInSequenceApiLoadJISRackRequest {
	return ApiJustInSequenceApiLoadJISRackRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiLoadJISRackResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiLoadJISRackExecute(r ApiJustInSequenceApiLoadJISRackRequest) (*JustInSequenceApiLoadJISRackResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiLoadJISRackResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiLoadJISRack")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks/{id}/load-to-truck"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiLoadJISRackRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiLoadJISRackRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiLoadJISRackRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiPackJISKitByModuleRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
	justInSequenceApiPackJISKitByModuleRequest *JustInSequenceApiPackJISKitByModuleRequest
}

func (r ApiJustInSequenceApiPackJISKitByModuleRequest) JustInSequenceApiPackJISKitByModuleRequest(justInSequenceApiPackJISKitByModuleRequest JustInSequenceApiPackJISKitByModuleRequest) ApiJustInSequenceApiPackJISKitByModuleRequest {
	r.justInSequenceApiPackJISKitByModuleRequest = &justInSequenceApiPackJISKitByModuleRequest
	return r
}

func (r ApiJustInSequenceApiPackJISKitByModuleRequest) Execute() (*JustInSequenceApiPackJISKitByModule201Response, *http.Response, error) {
	return r.ApiService.JustInSequenceApiPackJISKitByModuleExecute(r)
}

/*
JustInSequenceApiPackJISKitByModule Pack JIS Kit By Module

Pack a sequenced kit by specifying a container.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Kit ID.
 @return ApiJustInSequenceApiPackJISKitByModuleRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISKitByModule(ctx context.Context, id string) ApiJustInSequenceApiPackJISKitByModuleRequest {
	return ApiJustInSequenceApiPackJISKitByModuleRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiPackJISKitByModule201Response
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISKitByModuleExecute(r ApiJustInSequenceApiPackJISKitByModuleRequest) (*JustInSequenceApiPackJISKitByModule201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiPackJISKitByModule201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiPackJISKitByModule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/kits/{id}/pack-by-module"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiPackJISKitByModuleRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiPackJISKitByModuleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiPackJISKitByModuleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiPackJISKitByModule400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiPackJISRackByFIFORequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
}

func (r ApiJustInSequenceApiPackJISRackByFIFORequest) Execute() (*JustInSequenceApiPackJISRackByFIFOResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiPackJISRackByFIFOExecute(r)
}

/*
JustInSequenceApiPackJISRackByFIFO Pack JIS Rack By FIFO

Pack an entire rack in a single operation in FIFO order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the sequenced rack.
 @return ApiJustInSequenceApiPackJISRackByFIFORequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISRackByFIFO(ctx context.Context, id string) ApiJustInSequenceApiPackJISRackByFIFORequest {
	return ApiJustInSequenceApiPackJISRackByFIFORequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiPackJISRackByFIFOResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISRackByFIFOExecute(r ApiJustInSequenceApiPackJISRackByFIFORequest) (*JustInSequenceApiPackJISRackByFIFOResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiPackJISRackByFIFOResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiPackJISRackByFIFO")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks/{id}/pack-by-fifo"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiPackJISRackByFIFO400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiPackJISRackByMasterUnitRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
	justInSequenceApiPackJISRackByMasterUnitRequest *JustInSequenceApiPackJISRackByMasterUnitRequest
}

func (r ApiJustInSequenceApiPackJISRackByMasterUnitRequest) JustInSequenceApiPackJISRackByMasterUnitRequest(justInSequenceApiPackJISRackByMasterUnitRequest JustInSequenceApiPackJISRackByMasterUnitRequest) ApiJustInSequenceApiPackJISRackByMasterUnitRequest {
	r.justInSequenceApiPackJISRackByMasterUnitRequest = &justInSequenceApiPackJISRackByMasterUnitRequest
	return r
}

func (r ApiJustInSequenceApiPackJISRackByMasterUnitRequest) Execute() (*JustInSequenceApiPackJISRackByMasterUnitResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiPackJISRackByMasterUnitExecute(r)
}

/*
JustInSequenceApiPackJISRackByMasterUnit Pack JIS Rack By Master Unit

Pack an entire rack in a single operation by specifying a master unit.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the sequenced rack.
 @return ApiJustInSequenceApiPackJISRackByMasterUnitRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISRackByMasterUnit(ctx context.Context, id string) ApiJustInSequenceApiPackJISRackByMasterUnitRequest {
	return ApiJustInSequenceApiPackJISRackByMasterUnitRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiPackJISRackByMasterUnitResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISRackByMasterUnitExecute(r ApiJustInSequenceApiPackJISRackByMasterUnitRequest) (*JustInSequenceApiPackJISRackByMasterUnitResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiPackJISRackByMasterUnitResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiPackJISRackByMasterUnit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/racks/{id}/pack-by-master-unit"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiPackJISRackByMasterUnitRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiPackJISRackByMasterUnitRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiPackJISRackByMasterUnitRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiPackJISRackByMasterUnit400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiPackJISReleaseByContainerRequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
	justInSequenceApiPackJISReleaseByContainerRequest *JustInSequenceApiPackJISReleaseByContainerRequest
}

func (r ApiJustInSequenceApiPackJISReleaseByContainerRequest) JustInSequenceApiPackJISReleaseByContainerRequest(justInSequenceApiPackJISReleaseByContainerRequest JustInSequenceApiPackJISReleaseByContainerRequest) ApiJustInSequenceApiPackJISReleaseByContainerRequest {
	r.justInSequenceApiPackJISReleaseByContainerRequest = &justInSequenceApiPackJISReleaseByContainerRequest
	return r
}

func (r ApiJustInSequenceApiPackJISReleaseByContainerRequest) Execute() (*JustInSequenceApiPackJISReleaseByContainerResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiPackJISReleaseByContainerExecute(r)
}

/*
JustInSequenceApiPackJISReleaseByContainer Pack JIS Release By Container

Pack an individual sequenced release by specifying a container.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the sequenced release.
 @return ApiJustInSequenceApiPackJISReleaseByContainerRequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISReleaseByContainer(ctx context.Context, id string) ApiJustInSequenceApiPackJISReleaseByContainerRequest {
	return ApiJustInSequenceApiPackJISReleaseByContainerRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiPackJISReleaseByContainerResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISReleaseByContainerExecute(r ApiJustInSequenceApiPackJISReleaseByContainerRequest) (*JustInSequenceApiPackJISReleaseByContainerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiPackJISReleaseByContainerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiPackJISReleaseByContainer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases/{id}/pack-by-container"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.justInSequenceApiPackJISReleaseByContainerRequest == nil {
		return localVarReturnValue, nil, reportError("justInSequenceApiPackJISReleaseByContainerRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.justInSequenceApiPackJISReleaseByContainerRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiPackJISReleaseByContainer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJustInSequenceApiPackJISReleaseByFIFORequest struct {
	ctx context.Context
	ApiService *JustInSequenceAPIAPIService
	id string
}

func (r ApiJustInSequenceApiPackJISReleaseByFIFORequest) Execute() (*JustInSequenceApiPackJISReleaseByFIFOResponse, *http.Response, error) {
	return r.ApiService.JustInSequenceApiPackJISReleaseByFIFOExecute(r)
}

/*
JustInSequenceApiPackJISReleaseByFIFO Pack JIS Release By FIFO

Pack an individual release by specifying the part number to be packed in FIFO order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the sequenced release.
 @return ApiJustInSequenceApiPackJISReleaseByFIFORequest
*/
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISReleaseByFIFO(ctx context.Context, id string) ApiJustInSequenceApiPackJISReleaseByFIFORequest {
	return ApiJustInSequenceApiPackJISReleaseByFIFORequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JustInSequenceApiPackJISReleaseByFIFOResponse
func (a *JustInSequenceAPIAPIService) JustInSequenceApiPackJISReleaseByFIFOExecute(r ApiJustInSequenceApiPackJISReleaseByFIFORequest) (*JustInSequenceApiPackJISReleaseByFIFOResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JustInSequenceApiPackJISReleaseByFIFOResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JustInSequenceAPIAPIService.JustInSequenceApiPackJISReleaseByFIFO")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/jis/releases/{id}/pack-by-fifo"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JustInSequenceApiPackJISReleaseByFIFO400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
