/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// EmployeesAPIAPIService EmployeesAPIAPI service
type EmployeesAPIAPIService service

type ApiEmployeesApiActivateEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id string
	employeesApiActivateEmployeeRequest *EmployeesApiActivateEmployeeRequest
}

func (r ApiEmployeesApiActivateEmployeeRequest) EmployeesApiActivateEmployeeRequest(employeesApiActivateEmployeeRequest EmployeesApiActivateEmployeeRequest) ApiEmployeesApiActivateEmployeeRequest {
	r.employeesApiActivateEmployeeRequest = &employeesApiActivateEmployeeRequest
	return r
}

func (r ApiEmployeesApiActivateEmployeeRequest) Execute() (*http.Response, error) {
	return r.ApiService.EmployeesApiActivateEmployeeExecute(r)
}

/*
EmployeesApiActivateEmployee Activate Employee

Activate an Employee and the associated User Account. Note: Additional configuration is required via the User Manager to fully enable User login.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEmployeesApiActivateEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiActivateEmployee(ctx context.Context, id string) ApiEmployeesApiActivateEmployeeRequest {
	return ApiEmployeesApiActivateEmployeeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EmployeesAPIAPIService) EmployeesApiActivateEmployeeExecute(r ApiEmployeesApiActivateEmployeeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiActivateEmployee")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/{id}/activate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiActivateEmployeeRequest == nil {
		return nil, reportError("employeesApiActivateEmployeeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiActivateEmployeeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiActivateEmployee400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEmployeesApiCreateEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	employeesApiCreateEmployeeRequest *EmployeesApiCreateEmployeeRequest
}

func (r ApiEmployeesApiCreateEmployeeRequest) EmployeesApiCreateEmployeeRequest(employeesApiCreateEmployeeRequest EmployeesApiCreateEmployeeRequest) ApiEmployeesApiCreateEmployeeRequest {
	r.employeesApiCreateEmployeeRequest = &employeesApiCreateEmployeeRequest
	return r
}

func (r ApiEmployeesApiCreateEmployeeRequest) Execute() (*EmployeesApiCreateEmployee201Response, *http.Response, error) {
	return r.ApiService.EmployeesApiCreateEmployeeExecute(r)
}

/*
EmployeesApiCreateEmployee Create Employee

Create a new Employee and associated User Account (if User ID provided does not already correspond to existing User). Note: Additional configuration required via User Manager to fully enable User login.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmployeesApiCreateEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiCreateEmployee(ctx context.Context) ApiEmployeesApiCreateEmployeeRequest {
	return ApiEmployeesApiCreateEmployeeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EmployeesApiCreateEmployee201Response
func (a *EmployeesAPIAPIService) EmployeesApiCreateEmployeeExecute(r ApiEmployeesApiCreateEmployeeRequest) (*EmployeesApiCreateEmployee201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmployeesApiCreateEmployee201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiCreateEmployee")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiCreateEmployeeRequest == nil {
		return localVarReturnValue, nil, reportError("employeesApiCreateEmployeeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiCreateEmployeeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiCreateEmployee400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmployeesApiDeactivateEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id string
	employeesApiDeactivateEmployeeRequest *EmployeesApiDeactivateEmployeeRequest
}

func (r ApiEmployeesApiDeactivateEmployeeRequest) EmployeesApiDeactivateEmployeeRequest(employeesApiDeactivateEmployeeRequest EmployeesApiDeactivateEmployeeRequest) ApiEmployeesApiDeactivateEmployeeRequest {
	r.employeesApiDeactivateEmployeeRequest = &employeesApiDeactivateEmployeeRequest
	return r
}

func (r ApiEmployeesApiDeactivateEmployeeRequest) Execute() (*http.Response, error) {
	return r.ApiService.EmployeesApiDeactivateEmployeeExecute(r)
}

/*
EmployeesApiDeactivateEmployee Deactivate Employee

Deactivate an Employee and the associated User Account.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEmployeesApiDeactivateEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiDeactivateEmployee(ctx context.Context, id string) ApiEmployeesApiDeactivateEmployeeRequest {
	return ApiEmployeesApiDeactivateEmployeeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EmployeesAPIAPIService) EmployeesApiDeactivateEmployeeExecute(r ApiEmployeesApiDeactivateEmployeeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiDeactivateEmployee")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiDeactivateEmployeeRequest == nil {
		return nil, reportError("employeesApiDeactivateEmployeeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiDeactivateEmployeeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiDeactivateEmployee400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEmployeesApiGetEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id string
}

func (r ApiEmployeesApiGetEmployeeRequest) Execute() (*EmployeesApiGetEmployeeResponse, *http.Response, error) {
	return r.ApiService.EmployeesApiGetEmployeeExecute(r)
}

/*
EmployeesApiGetEmployee Get Employee

Retrieve an Employee by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEmployeesApiGetEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiGetEmployee(ctx context.Context, id string) ApiEmployeesApiGetEmployeeRequest {
	return ApiEmployeesApiGetEmployeeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EmployeesApiGetEmployeeResponse
func (a *EmployeesAPIAPIService) EmployeesApiGetEmployeeExecute(r ApiEmployeesApiGetEmployeeRequest) (*EmployeesApiGetEmployeeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmployeesApiGetEmployeeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiGetEmployee")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmployeesApiListEmployeesRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id *[]string
	badgeNumber *string
	userId *string
	firstName *string
	lastName *string
	supervisorId *string
	status *string
	position *string
	shift *string
	building *string
	type_ *string
	department *string
	email *string
}

// A list of unique identifiers for Employees.
func (r ApiEmployeesApiListEmployeesRequest) Id(id []string) ApiEmployeesApiListEmployeesRequest {
	r.id = &id
	return r
}

// Employee badge number as used in Plex.
func (r ApiEmployeesApiListEmployeesRequest) BadgeNumber(badgeNumber string) ApiEmployeesApiListEmployeesRequest {
	r.badgeNumber = &badgeNumber
	return r
}

// The User ID as seen on Plex login screens.
func (r ApiEmployeesApiListEmployeesRequest) UserId(userId string) ApiEmployeesApiListEmployeesRequest {
	r.userId = &userId
	return r
}

func (r ApiEmployeesApiListEmployeesRequest) FirstName(firstName string) ApiEmployeesApiListEmployeesRequest {
	r.firstName = &firstName
	return r
}

func (r ApiEmployeesApiListEmployeesRequest) LastName(lastName string) ApiEmployeesApiListEmployeesRequest {
	r.lastName = &lastName
	return r
}

// Refers to another Employee&#39;s ID within the same Enterprise.
func (r ApiEmployeesApiListEmployeesRequest) SupervisorId(supervisorId string) ApiEmployeesApiListEmployeesRequest {
	r.supervisorId = &supervisorId
	return r
}

// Setup Table: Employee Status
func (r ApiEmployeesApiListEmployeesRequest) Status(status string) ApiEmployeesApiListEmployeesRequest {
	r.status = &status
	return r
}

// Job title or position. Plex Classic Screen: Positions. Plex UX Screen: Employee Positions.
func (r ApiEmployeesApiListEmployeesRequest) Position(position string) ApiEmployeesApiListEmployeesRequest {
	r.position = &position
	return r
}

// The Employee&#39;s default shift. Setup Table: Shift
func (r ApiEmployeesApiListEmployeesRequest) Shift(shift string) ApiEmployeesApiListEmployeesRequest {
	r.shift = &shift
	return r
}

// The Employee&#39;s default building. Screen: Buildings
func (r ApiEmployeesApiListEmployeesRequest) Building(building string) ApiEmployeesApiListEmployeesRequest {
	r.building = &building
	return r
}

// Typically full-time or part-time. Setup Table: Employee Type
func (r ApiEmployeesApiListEmployeesRequest) Type_(type_ string) ApiEmployeesApiListEmployeesRequest {
	r.type_ = &type_
	return r
}

// Setup Table: Department
func (r ApiEmployeesApiListEmployeesRequest) Department(department string) ApiEmployeesApiListEmployeesRequest {
	r.department = &department
	return r
}

func (r ApiEmployeesApiListEmployeesRequest) Email(email string) ApiEmployeesApiListEmployeesRequest {
	r.email = &email
	return r
}

func (r ApiEmployeesApiListEmployeesRequest) Execute() ([]EmployeesApiListEmployeesItem, *http.Response, error) {
	return r.ApiService.EmployeesApiListEmployeesExecute(r)
}

/*
EmployeesApiListEmployees List Employees

List Employees by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmployeesApiListEmployeesRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiListEmployees(ctx context.Context) ApiEmployeesApiListEmployeesRequest {
	return ApiEmployeesApiListEmployeesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EmployeesApiListEmployeesItem
func (a *EmployeesAPIAPIService) EmployeesApiListEmployeesExecute(r ApiEmployeesApiListEmployeesRequest) ([]EmployeesApiListEmployeesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EmployeesApiListEmployeesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiListEmployees")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.badgeNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "badgeNumber", r.badgeNumber, "form", "")
	}
	if r.userId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "userId", r.userId, "form", "")
	}
	if r.firstName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "firstName", r.firstName, "form", "")
	}
	if r.lastName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lastName", r.lastName, "form", "")
	}
	if r.supervisorId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supervisorId", r.supervisorId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.position != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "position", r.position, "form", "")
	}
	if r.shift != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shift", r.shift, "form", "")
	}
	if r.building != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "building", r.building, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.department != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "department", r.department, "form", "")
	}
	if r.email != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "email", r.email, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEmployeesApiSyncEmployeesRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	employeesApiSyncEmployeesRequest *EmployeesApiSyncEmployeesRequest
}

func (r ApiEmployeesApiSyncEmployeesRequest) EmployeesApiSyncEmployeesRequest(employeesApiSyncEmployeesRequest EmployeesApiSyncEmployeesRequest) ApiEmployeesApiSyncEmployeesRequest {
	r.employeesApiSyncEmployeesRequest = &employeesApiSyncEmployeesRequest
	return r
}

func (r ApiEmployeesApiSyncEmployeesRequest) Execute() (*http.Response, error) {
	return r.ApiService.EmployeesApiSyncEmployeesExecute(r)
}

/*
EmployeesApiSyncEmployees Sync Employees

Sync a set of Employees from another system. This operation creates Employees that do not exist in Plex and updates existing Employees.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEmployeesApiSyncEmployeesRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiSyncEmployees(ctx context.Context) ApiEmployeesApiSyncEmployeesRequest {
	return ApiEmployeesApiSyncEmployeesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *EmployeesAPIAPIService) EmployeesApiSyncEmployeesExecute(r ApiEmployeesApiSyncEmployeesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiSyncEmployees")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiSyncEmployeesRequest == nil {
		return nil, reportError("employeesApiSyncEmployeesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiSyncEmployeesRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiSyncEmployees400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEmployeesApiTransferEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id string
	employeesApiTransferEmployeeRequest *EmployeesApiTransferEmployeeRequest
}

func (r ApiEmployeesApiTransferEmployeeRequest) EmployeesApiTransferEmployeeRequest(employeesApiTransferEmployeeRequest EmployeesApiTransferEmployeeRequest) ApiEmployeesApiTransferEmployeeRequest {
	r.employeesApiTransferEmployeeRequest = &employeesApiTransferEmployeeRequest
	return r
}

func (r ApiEmployeesApiTransferEmployeeRequest) Execute() (*http.Response, error) {
	return r.ApiService.EmployeesApiTransferEmployeeExecute(r)
}

/*
EmployeesApiTransferEmployee Transfer Employee

Transfer an Employee to a different Tenant within the same Enterprise. Note: The Employee setup data must be available in the target Tenant in order for the Employee to transfer successfully.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEmployeesApiTransferEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiTransferEmployee(ctx context.Context, id string) ApiEmployeesApiTransferEmployeeRequest {
	return ApiEmployeesApiTransferEmployeeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *EmployeesAPIAPIService) EmployeesApiTransferEmployeeExecute(r ApiEmployeesApiTransferEmployeeRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiTransferEmployee")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/{id}/transfer"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiTransferEmployeeRequest == nil {
		return nil, reportError("employeesApiTransferEmployeeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiTransferEmployeeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiTransferEmployee400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiEmployeesApiUpdateEmployeeRequest struct {
	ctx context.Context
	ApiService *EmployeesAPIAPIService
	id string
	employeesApiUpdateEmployeeRequest *EmployeesApiUpdateEmployeeRequest
}

func (r ApiEmployeesApiUpdateEmployeeRequest) EmployeesApiUpdateEmployeeRequest(employeesApiUpdateEmployeeRequest EmployeesApiUpdateEmployeeRequest) ApiEmployeesApiUpdateEmployeeRequest {
	r.employeesApiUpdateEmployeeRequest = &employeesApiUpdateEmployeeRequest
	return r
}

func (r ApiEmployeesApiUpdateEmployeeRequest) Execute() (*EmployeesApiUpdateEmployeeResponse, *http.Response, error) {
	return r.ApiService.EmployeesApiUpdateEmployeeExecute(r)
}

/*
EmployeesApiUpdateEmployee Update Employee

Update an Employee.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEmployeesApiUpdateEmployeeRequest
*/
func (a *EmployeesAPIAPIService) EmployeesApiUpdateEmployee(ctx context.Context, id string) ApiEmployeesApiUpdateEmployeeRequest {
	return ApiEmployeesApiUpdateEmployeeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EmployeesApiUpdateEmployeeResponse
func (a *EmployeesAPIAPIService) EmployeesApiUpdateEmployeeExecute(r ApiEmployeesApiUpdateEmployeeRequest) (*EmployeesApiUpdateEmployeeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EmployeesApiUpdateEmployeeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EmployeesAPIAPIService.EmployeesApiUpdateEmployee")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/employees/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.employeesApiUpdateEmployeeRequest == nil {
		return localVarReturnValue, nil, reportError("employeesApiUpdateEmployeeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.employeesApiUpdateEmployeeRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EmployeesApiUpdateEmployee400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
