/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// CustomerShippersAPIAPIService CustomerShippersAPIAPI service
type CustomerShippersAPIAPIService service

type ApiCustomerShippersApiCreateShipperRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	customerShippersApiCreateShipperRequest *CustomerShippersApiCreateShipperRequest
}

func (r ApiCustomerShippersApiCreateShipperRequest) CustomerShippersApiCreateShipperRequest(customerShippersApiCreateShipperRequest CustomerShippersApiCreateShipperRequest) ApiCustomerShippersApiCreateShipperRequest {
	r.customerShippersApiCreateShipperRequest = &customerShippersApiCreateShipperRequest
	return r
}

func (r ApiCustomerShippersApiCreateShipperRequest) Execute() (*CustomerShippersApiCreateShipper201Response, *http.Response, error) {
	return r.ApiService.CustomerShippersApiCreateShipperExecute(r)
}

/*
CustomerShippersApiCreateShipper Create Shipper

Creates a customer shipper.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerShippersApiCreateShipperRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiCreateShipper(ctx context.Context) ApiCustomerShippersApiCreateShipperRequest {
	return ApiCustomerShippersApiCreateShipperRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CustomerShippersApiCreateShipper201Response
func (a *CustomerShippersAPIAPIService) CustomerShippersApiCreateShipperExecute(r ApiCustomerShippersApiCreateShipperRequest) (*CustomerShippersApiCreateShipper201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiCreateShipper201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiCreateShipper")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerShippersApiCreateShipperRequest == nil {
		return localVarReturnValue, nil, reportError("customerShippersApiCreateShipperRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerShippersApiCreateShipperRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiCreateShipper400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiGetCustomerShipperRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id string
}

func (r ApiCustomerShippersApiGetCustomerShipperRequest) Execute() (*CustomerShippersApiGetCustomerShipperResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiGetCustomerShipperExecute(r)
}

/*
CustomerShippersApiGetCustomerShipper Get Customer Shipper

Retrieve a customer shipper by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the customer shipper record.
 @return ApiCustomerShippersApiGetCustomerShipperRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiGetCustomerShipper(ctx context.Context, id string) ApiCustomerShippersApiGetCustomerShipperRequest {
	return ApiCustomerShippersApiGetCustomerShipperRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerShippersApiGetCustomerShipperResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiGetCustomerShipperExecute(r ApiCustomerShippersApiGetCustomerShipperRequest) (*CustomerShippersApiGetCustomerShipperResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiGetCustomerShipperResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiGetCustomerShipper")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiGetCustomerShipperLineRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	shipperId string
	lineId string
}

func (r ApiCustomerShippersApiGetCustomerShipperLineRequest) Execute() (*CustomerShippersApiGetCustomerShipperLineResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiGetCustomerShipperLineExecute(r)
}

/*
CustomerShippersApiGetCustomerShipperLine Get Customer Shipper Line

Retrieve a customer shipper line by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId A unique identifier for the customer shipper record.
 @param lineId A unique identifier for the customer shipper line.
 @return ApiCustomerShippersApiGetCustomerShipperLineRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiGetCustomerShipperLine(ctx context.Context, shipperId string, lineId string) ApiCustomerShippersApiGetCustomerShipperLineRequest {
	return ApiCustomerShippersApiGetCustomerShipperLineRequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return CustomerShippersApiGetCustomerShipperLineResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiGetCustomerShipperLineExecute(r ApiCustomerShippersApiGetCustomerShipperLineRequest) (*CustomerShippersApiGetCustomerShipperLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiGetCustomerShipperLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiGetCustomerShipperLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers/{shipperId}/lines/{lineId}"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiListCustomerShipperLineContainersRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id string
	lineId string
}

func (r ApiCustomerShippersApiListCustomerShipperLineContainersRequest) Execute() ([]CustomerShippersApiListCustomerShipperLineContainersItem, *http.Response, error) {
	return r.ApiService.CustomerShippersApiListCustomerShipperLineContainersExecute(r)
}

/*
CustomerShippersApiListCustomerShipperLineContainers List Customer Shipper Line Containers

List customer shipper line containers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the customer shipper record.
 @param lineId A unique identifier for the customer shipper line record.
 @return ApiCustomerShippersApiListCustomerShipperLineContainersRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLineContainers(ctx context.Context, id string, lineId string) ApiCustomerShippersApiListCustomerShipperLineContainersRequest {
	return ApiCustomerShippersApiListCustomerShipperLineContainersRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return []CustomerShippersApiListCustomerShipperLineContainersItem
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLineContainersExecute(r ApiCustomerShippersApiListCustomerShipperLineContainersRequest) ([]CustomerShippersApiListCustomerShipperLineContainersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerShippersApiListCustomerShipperLineContainersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiListCustomerShipperLineContainers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers/{id}/lines/{lineId}/containers"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiListCustomerShipperLineReleasesRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id string
	lineId string
}

func (r ApiCustomerShippersApiListCustomerShipperLineReleasesRequest) Execute() ([]CustomerShippersApiListCustomerShipperLineReleasesItem, *http.Response, error) {
	return r.ApiService.CustomerShippersApiListCustomerShipperLineReleasesExecute(r)
}

/*
CustomerShippersApiListCustomerShipperLineReleases List Customer Shipper Line Releases

List customer shipper line releases by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the customer shipper record.
 @param lineId A unique identifier for the customer shipper line record.
 @return ApiCustomerShippersApiListCustomerShipperLineReleasesRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLineReleases(ctx context.Context, id string, lineId string) ApiCustomerShippersApiListCustomerShipperLineReleasesRequest {
	return ApiCustomerShippersApiListCustomerShipperLineReleasesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return []CustomerShippersApiListCustomerShipperLineReleasesItem
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLineReleasesExecute(r ApiCustomerShippersApiListCustomerShipperLineReleasesRequest) ([]CustomerShippersApiListCustomerShipperLineReleasesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerShippersApiListCustomerShipperLineReleasesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiListCustomerShipperLineReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers/{id}/lines/{lineId}/releases"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiListCustomerShipperLinesRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	shipperId string
	id *[]string
}

// One or more customer shipper line IDs.
func (r ApiCustomerShippersApiListCustomerShipperLinesRequest) Id(id []string) ApiCustomerShippersApiListCustomerShipperLinesRequest {
	r.id = &id
	return r
}

func (r ApiCustomerShippersApiListCustomerShipperLinesRequest) Execute() ([]CustomerShippersApiListCustomerShipperLinesItem, *http.Response, error) {
	return r.ApiService.CustomerShippersApiListCustomerShipperLinesExecute(r)
}

/*
CustomerShippersApiListCustomerShipperLines List Customer Shipper Lines

List customer shipper lines by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId A unique identifier for the customer shipper record.
 @return ApiCustomerShippersApiListCustomerShipperLinesRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLines(ctx context.Context, shipperId string) ApiCustomerShippersApiListCustomerShipperLinesRequest {
	return ApiCustomerShippersApiListCustomerShipperLinesRequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
	}
}

// Execute executes the request
//  @return []CustomerShippersApiListCustomerShipperLinesItem
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShipperLinesExecute(r ApiCustomerShippersApiListCustomerShipperLinesRequest) ([]CustomerShippersApiListCustomerShipperLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerShippersApiListCustomerShipperLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiListCustomerShipperLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers/{shipperId}/lines"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiListCustomerShippersRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id *[]string
	shipperNumber *string
	customerId *string
	customerAddressId *string
	shipDateBegin *time.Time
	shipDateEnd *time.Time
	shippedById *string
	carrierId *string
	freightTerms *string
	status *string
	trackingNumber *string
	trailerNumber *string
	scheduledShipDateBegin *time.Time
	scheduledShipDateEnd *time.Time
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	truckId *string
	expediteReason *string
	expediteDepartment *string
	expediteAuthorizedById *string
	shipFromCode *string
	truckArrivalTimeBegin *time.Time
	truckArrivalTimeEnd *time.Time
	printedById *string
	printedDateBegin *time.Time
	printedDateEnd *time.Time
	pickListPrintedDateTimeBegin *time.Time
	pickListPrintedDateTimeEnd *time.Time
	truckArrivalTimeOfDayBegin *string
	truckArrivalTimeOfDayEnd *string
}

// One or more customer shipper line IDs.
func (r ApiCustomerShippersApiListCustomerShippersRequest) Id(id []string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.id = &id
	return r
}

// The shipper number associated with a given shipment.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ShipperNumber(shipperNumber string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.shipperNumber = &shipperNumber
	return r
}

// The ID of the customer that is associated with the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CustomerId(customerId string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.customerId = &customerId
	return r
}

// The ID of the customer address that is associated with the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CustomerAddressId(customerAddressId string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.customerAddressId = &customerAddressId
	return r
}

// The date on which the shipper was shipped.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ShipDateBegin(shipDateBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.shipDateBegin = &shipDateBegin
	return r
}

// The date on which the shipper was shipped.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ShipDateEnd(shipDateEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.shipDateEnd = &shipDateEnd
	return r
}

// The ID of the user who shipped the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ShippedById(shippedById string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.shippedById = &shippedById
	return r
}

// The supplier ID that is flagged as the carrier on this shipment.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CarrierId(carrierId string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.carrierId = &carrierId
	return r
}

// Terms of the freight payment; for example, COD, Collect, or Prepaid.
func (r ApiCustomerShippersApiListCustomerShippersRequest) FreightTerms(freightTerms string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.freightTerms = &freightTerms
	return r
}

// The shipper&#39;s status.
func (r ApiCustomerShippersApiListCustomerShippersRequest) Status(status string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.status = &status
	return r
}

// The tracking number, often provided by a carrier, that is specified on the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TrackingNumber(trackingNumber string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.trackingNumber = &trackingNumber
	return r
}

// The trailer number associated with the physical trailer that a specific shipment was shipped on.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TrailerNumber(trailerNumber string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.trailerNumber = &trailerNumber
	return r
}

// The beginning date used to return shipper records that were scheduled to ship during a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ScheduledShipDateBegin(scheduledShipDateBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.scheduledShipDateBegin = &scheduledShipDateBegin
	return r
}

// The ending date used to return shipper records that were scheduled to ship during a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ScheduledShipDateEnd(scheduledShipDateEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.scheduledShipDateEnd = &scheduledShipDateEnd
	return r
}

// The ID of the user who created the record.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CreatedById(createdById string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.createdById = &createdById
	return r
}

// The beginning date used to return shipper records that were created during a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CreatedDateBegin(createdDateBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The ending date used to return shipper records that were created during a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) CreatedDateEnd(createdDateEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ModifiedById(modifiedById string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.modifiedById = &modifiedById
	return r
}

// The beginning date used to return shipper records that were last modified within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The ending date used to return shipper records that were last modified within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// The ID of the truck associated with the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TruckId(truckId string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.truckId = &truckId
	return r
}

// The reason for expedited shipping as specified on the shipper.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ExpediteReason(expediteReason string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.expediteReason = &expediteReason
	return r
}

// The department that authorized or required an expedited shipment.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ExpediteDepartment(expediteDepartment string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.expediteDepartment = &expediteDepartment
	return r
}

// The ID of the user who authorized the expedited shipping.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ExpediteAuthorizedById(expediteAuthorizedById string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.expediteAuthorizedById = &expediteAuthorizedById
	return r
}

// The building code from which the shipper was shipped.
func (r ApiCustomerShippersApiListCustomerShippersRequest) ShipFromCode(shipFromCode string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.shipFromCode = &shipFromCode
	return r
}

// This field has been deprecated. Use TruckArrivalTimeOfDayBegin.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TruckArrivalTimeBegin(truckArrivalTimeBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.truckArrivalTimeBegin = &truckArrivalTimeBegin
	return r
}

// This field has been deprecated. Use TruckArrivalTimeOfDayEnd.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TruckArrivalTimeEnd(truckArrivalTimeEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.truckArrivalTimeEnd = &truckArrivalTimeEnd
	return r
}

// The ID of the user who printed the record.
func (r ApiCustomerShippersApiListCustomerShippersRequest) PrintedById(printedById string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.printedById = &printedById
	return r
}

// The beginning date used to return records that were printed within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) PrintedDateBegin(printedDateBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.printedDateBegin = &printedDateBegin
	return r
}

// The ending date used to return records that were printed within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) PrintedDateEnd(printedDateEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.printedDateEnd = &printedDateEnd
	return r
}

// The beginning date used to return pick list records that were printed within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) PickListPrintedDateTimeBegin(pickListPrintedDateTimeBegin time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.pickListPrintedDateTimeBegin = &pickListPrintedDateTimeBegin
	return r
}

// The ending date used to return pick list records that were printed within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) PickListPrintedDateTimeEnd(pickListPrintedDateTimeEnd time.Time) ApiCustomerShippersApiListCustomerShippersRequest {
	r.pickListPrintedDateTimeEnd = &pickListPrintedDateTimeEnd
	return r
}

// The beginning time of day used to return truck records that arrived within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TruckArrivalTimeOfDayBegin(truckArrivalTimeOfDayBegin string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.truckArrivalTimeOfDayBegin = &truckArrivalTimeOfDayBegin
	return r
}

// The beginning time of day used to return truck records that arrived within a specified period of time.
func (r ApiCustomerShippersApiListCustomerShippersRequest) TruckArrivalTimeOfDayEnd(truckArrivalTimeOfDayEnd string) ApiCustomerShippersApiListCustomerShippersRequest {
	r.truckArrivalTimeOfDayEnd = &truckArrivalTimeOfDayEnd
	return r
}

func (r ApiCustomerShippersApiListCustomerShippersRequest) Execute() ([]CustomerShippersApiListCustomerShippersItem, *http.Response, error) {
	return r.ApiService.CustomerShippersApiListCustomerShippersExecute(r)
}

/*
CustomerShippersApiListCustomerShippers List Customer Shippers

List customer shippers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerShippersApiListCustomerShippersRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShippers(ctx context.Context) ApiCustomerShippersApiListCustomerShippersRequest {
	return ApiCustomerShippersApiListCustomerShippersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomerShippersApiListCustomerShippersItem
func (a *CustomerShippersAPIAPIService) CustomerShippersApiListCustomerShippersExecute(r ApiCustomerShippersApiListCustomerShippersRequest) ([]CustomerShippersApiListCustomerShippersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerShippersApiListCustomerShippersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiListCustomerShippers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-shippers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.shipperNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipperNumber", r.shipperNumber, "form", "")
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	}
	if r.customerAddressId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerAddressId", r.customerAddressId, "form", "")
	}
	if r.shipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateBegin", r.shipDateBegin, "form", "")
	}
	if r.shipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateEnd", r.shipDateEnd, "form", "")
	}
	if r.shippedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shippedById", r.shippedById, "form", "")
	}
	if r.carrierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "carrierId", r.carrierId, "form", "")
	}
	if r.freightTerms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "freightTerms", r.freightTerms, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.trackingNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackingNumber", r.trackingNumber, "form", "")
	}
	if r.trailerNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trailerNumber", r.trailerNumber, "form", "")
	}
	if r.scheduledShipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledShipDateBegin", r.scheduledShipDateBegin, "form", "")
	}
	if r.scheduledShipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledShipDateEnd", r.scheduledShipDateEnd, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.truckId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckId", r.truckId, "form", "")
	}
	if r.expediteReason != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expediteReason", r.expediteReason, "form", "")
	}
	if r.expediteDepartment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expediteDepartment", r.expediteDepartment, "form", "")
	}
	if r.expediteAuthorizedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expediteAuthorizedById", r.expediteAuthorizedById, "form", "")
	}
	if r.shipFromCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipFromCode", r.shipFromCode, "form", "")
	}
	if r.truckArrivalTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeBegin", r.truckArrivalTimeBegin, "form", "")
	}
	if r.truckArrivalTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeEnd", r.truckArrivalTimeEnd, "form", "")
	}
	if r.printedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "printedById", r.printedById, "form", "")
	}
	if r.printedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "printedDateBegin", r.printedDateBegin, "form", "")
	}
	if r.printedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "printedDateEnd", r.printedDateEnd, "form", "")
	}
	if r.pickListPrintedDateTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pickListPrintedDateTimeBegin", r.pickListPrintedDateTimeBegin, "form", "")
	}
	if r.pickListPrintedDateTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pickListPrintedDateTimeEnd", r.pickListPrintedDateTimeEnd, "form", "")
	}
	if r.truckArrivalTimeOfDayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeOfDayBegin", r.truckArrivalTimeOfDayBegin, "form", "")
	}
	if r.truckArrivalTimeOfDayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeOfDayEnd", r.truckArrivalTimeOfDayEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiLoadContainerRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	shipperId string
	lineId string
	customerShippersApiLoadContainerRequest *CustomerShippersApiLoadContainerRequest
}

func (r ApiCustomerShippersApiLoadContainerRequest) CustomerShippersApiLoadContainerRequest(customerShippersApiLoadContainerRequest CustomerShippersApiLoadContainerRequest) ApiCustomerShippersApiLoadContainerRequest {
	r.customerShippersApiLoadContainerRequest = &customerShippersApiLoadContainerRequest
	return r
}

func (r ApiCustomerShippersApiLoadContainerRequest) Execute() (*CustomerShippersApiLoadContainerResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiLoadContainerExecute(r)
}

/*
CustomerShippersApiLoadContainer Load Container

Load a container to a shipper line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId The shipper id.
 @param lineId The line id.
 @return ApiCustomerShippersApiLoadContainerRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiLoadContainer(ctx context.Context, shipperId string, lineId string) ApiCustomerShippersApiLoadContainerRequest {
	return ApiCustomerShippersApiLoadContainerRequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return CustomerShippersApiLoadContainerResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiLoadContainerExecute(r ApiCustomerShippersApiLoadContainerRequest) (*CustomerShippersApiLoadContainerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiLoadContainerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiLoadContainer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers/{shipperId}/lines/{lineId}/load-container"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerShippersApiLoadContainerRequest == nil {
		return localVarReturnValue, nil, reportError("customerShippersApiLoadContainerRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerShippersApiLoadContainerRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiLoadContainer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiLoadShipperLineFIFORequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	shipperId string
	lineId string
}

func (r ApiCustomerShippersApiLoadShipperLineFIFORequest) Execute() (*CustomerShippersApiLoadShipperLineFIFOResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiLoadShipperLineFIFOExecute(r)
}

/*
CustomerShippersApiLoadShipperLineFIFO Load Shipper Line FIFO

Loads containers to a shipper line in FIFO order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId A unique identifier for the shipper.
 @param lineId A unique identifier for the shipper line.
 @return ApiCustomerShippersApiLoadShipperLineFIFORequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiLoadShipperLineFIFO(ctx context.Context, shipperId string, lineId string) ApiCustomerShippersApiLoadShipperLineFIFORequest {
	return ApiCustomerShippersApiLoadShipperLineFIFORequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return CustomerShippersApiLoadShipperLineFIFOResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiLoadShipperLineFIFOExecute(r ApiCustomerShippersApiLoadShipperLineFIFORequest) (*CustomerShippersApiLoadShipperLineFIFOResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiLoadShipperLineFIFOResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiLoadShipperLineFIFO")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers/{shipperId}/lines/{lineId}/load-fifo"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiLoadShipperLineFIFO400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiScheduleReleasesRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id string
	customerShippersApiScheduleReleasesRequest *CustomerShippersApiScheduleReleasesRequest
}

func (r ApiCustomerShippersApiScheduleReleasesRequest) CustomerShippersApiScheduleReleasesRequest(customerShippersApiScheduleReleasesRequest CustomerShippersApiScheduleReleasesRequest) ApiCustomerShippersApiScheduleReleasesRequest {
	r.customerShippersApiScheduleReleasesRequest = &customerShippersApiScheduleReleasesRequest
	return r
}

func (r ApiCustomerShippersApiScheduleReleasesRequest) Execute() ([]CustomerShippersApiScheduleReleasesItem, *http.Response, error) {
	return r.ApiService.CustomerShippersApiScheduleReleasesExecute(r)
}

/*
CustomerShippersApiScheduleReleases Schedule Releases

Schedules a list of releases.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of the customer shipper to schedule releases against.
 @return ApiCustomerShippersApiScheduleReleasesRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiScheduleReleases(ctx context.Context, id string) ApiCustomerShippersApiScheduleReleasesRequest {
	return ApiCustomerShippersApiScheduleReleasesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []CustomerShippersApiScheduleReleasesItem
func (a *CustomerShippersAPIAPIService) CustomerShippersApiScheduleReleasesExecute(r ApiCustomerShippersApiScheduleReleasesRequest) ([]CustomerShippersApiScheduleReleasesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerShippersApiScheduleReleasesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiScheduleReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers/{id}/schedule-releases"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerShippersApiScheduleReleasesRequest == nil {
		return localVarReturnValue, nil, reportError("customerShippersApiScheduleReleasesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerShippersApiScheduleReleasesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiScheduleReleases400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiShipShipperRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	shipperId string
}

func (r ApiCustomerShippersApiShipShipperRequest) Execute() (*CustomerShippersApiShipShipperResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiShipShipperExecute(r)
}

/*
CustomerShippersApiShipShipper Ship Shipper

Ships a customer shipper.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param shipperId The ID of the shipper being shipped.
 @return ApiCustomerShippersApiShipShipperRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiShipShipper(ctx context.Context, shipperId string) ApiCustomerShippersApiShipShipperRequest {
	return ApiCustomerShippersApiShipShipperRequest{
		ApiService: a,
		ctx: ctx,
		shipperId: shipperId,
	}
}

// Execute executes the request
//  @return CustomerShippersApiShipShipperResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiShipShipperExecute(r ApiCustomerShippersApiShipShipperRequest) (*CustomerShippersApiShipShipperResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiShipShipperResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiShipShipper")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers/{shipperId}/ship"
	localVarPath = strings.Replace(localVarPath, "{"+"shipperId"+"}", url.PathEscape(parameterValueToString(r.shipperId, "shipperId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiShipShipper400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerShippersApiUpdateShipperRequest struct {
	ctx context.Context
	ApiService *CustomerShippersAPIAPIService
	id string
	customerShippersApiUpdateShipperRequest *CustomerShippersApiUpdateShipperRequest
}

func (r ApiCustomerShippersApiUpdateShipperRequest) CustomerShippersApiUpdateShipperRequest(customerShippersApiUpdateShipperRequest CustomerShippersApiUpdateShipperRequest) ApiCustomerShippersApiUpdateShipperRequest {
	r.customerShippersApiUpdateShipperRequest = &customerShippersApiUpdateShipperRequest
	return r
}

func (r ApiCustomerShippersApiUpdateShipperRequest) Execute() (*CustomerShippersApiUpdateShipperResponse, *http.Response, error) {
	return r.ApiService.CustomerShippersApiUpdateShipperExecute(r)
}

/*
CustomerShippersApiUpdateShipper Update Shipper

Update a customer shipper.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The ID of customer shipper to be update.
 @return ApiCustomerShippersApiUpdateShipperRequest
*/
func (a *CustomerShippersAPIAPIService) CustomerShippersApiUpdateShipper(ctx context.Context, id string) ApiCustomerShippersApiUpdateShipperRequest {
	return ApiCustomerShippersApiUpdateShipperRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerShippersApiUpdateShipperResponse
func (a *CustomerShippersAPIAPIService) CustomerShippersApiUpdateShipperExecute(r ApiCustomerShippersApiUpdateShipperRequest) (*CustomerShippersApiUpdateShipperResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerShippersApiUpdateShipperResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerShippersAPIAPIService.CustomerShippersApiUpdateShipper")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-shippers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerShippersApiUpdateShipperRequest == nil {
		return localVarReturnValue, nil, reportError("customerShippersApiUpdateShipperRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerShippersApiUpdateShipperRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerShippersApiUpdateShipper400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
