/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// CustomFieldsAPIAPIService CustomFieldsAPIAPI service
type CustomFieldsAPIAPIService service

type ApiCustomFieldsApiDeleteFieldValuesRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	customFieldsApiDeleteFieldValuesRequest *CustomFieldsApiDeleteFieldValuesRequest
}

func (r ApiCustomFieldsApiDeleteFieldValuesRequest) CustomFieldsApiDeleteFieldValuesRequest(customFieldsApiDeleteFieldValuesRequest CustomFieldsApiDeleteFieldValuesRequest) ApiCustomFieldsApiDeleteFieldValuesRequest {
	r.customFieldsApiDeleteFieldValuesRequest = &customFieldsApiDeleteFieldValuesRequest
	return r
}

func (r ApiCustomFieldsApiDeleteFieldValuesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomFieldsApiDeleteFieldValuesExecute(r)
}

/*
CustomFieldsApiDeleteFieldValues Delete Field Values

Delete custom field values from the list of specified resources. This operation is limited to 5000 records per transaction.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiDeleteFieldValuesRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiDeleteFieldValues(ctx context.Context) ApiCustomFieldsApiDeleteFieldValuesRequest {
	return ApiCustomFieldsApiDeleteFieldValuesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomFieldsAPIAPIService) CustomFieldsApiDeleteFieldValuesExecute(r ApiCustomFieldsApiDeleteFieldValuesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiDeleteFieldValues")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-values/delete"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldsApiDeleteFieldValuesRequest == nil {
		return nil, reportError("customFieldsApiDeleteFieldValuesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customFieldsApiDeleteFieldValuesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomFieldsApiDeleteFieldValues400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomFieldsApiGetFieldDefinitionRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	fieldName string
}

func (r ApiCustomFieldsApiGetFieldDefinitionRequest) Execute() ([]CustomFieldsApiGetFieldDefinitionItem, *http.Response, error) {
	return r.ApiService.CustomFieldsApiGetFieldDefinitionExecute(r)
}

/*
CustomFieldsApiGetFieldDefinition Get Field Definition

Get Custom Field Definition by Name.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldName The name of the field definition that uniquely identifies the field within a standard object and is used internally by the system.
 @return ApiCustomFieldsApiGetFieldDefinitionRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetFieldDefinition(ctx context.Context, fieldName string) ApiCustomFieldsApiGetFieldDefinitionRequest {
	return ApiCustomFieldsApiGetFieldDefinitionRequest{
		ApiService: a,
		ctx: ctx,
		fieldName: fieldName,
	}
}

// Execute executes the request
//  @return []CustomFieldsApiGetFieldDefinitionItem
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetFieldDefinitionExecute(r ApiCustomFieldsApiGetFieldDefinitionRequest) ([]CustomFieldsApiGetFieldDefinitionItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomFieldsApiGetFieldDefinitionItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiGetFieldDefinition")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-definitions/{fieldName}"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldName"+"}", url.PathEscape(parameterValueToString(r.fieldName, "fieldName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiGetFieldTypeRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	fieldTypeName string
}

func (r ApiCustomFieldsApiGetFieldTypeRequest) Execute() (*CustomFieldsApiGetFieldTypeResponse, *http.Response, error) {
	return r.ApiService.CustomFieldsApiGetFieldTypeExecute(r)
}

/*
CustomFieldsApiGetFieldType Get Field Type

Get a data type and its available constraints that can be assigned to a custom field.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param fieldTypeName The name of the data type used internally by the system.
 @return ApiCustomFieldsApiGetFieldTypeRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetFieldType(ctx context.Context, fieldTypeName string) ApiCustomFieldsApiGetFieldTypeRequest {
	return ApiCustomFieldsApiGetFieldTypeRequest{
		ApiService: a,
		ctx: ctx,
		fieldTypeName: fieldTypeName,
	}
}

// Execute executes the request
//  @return CustomFieldsApiGetFieldTypeResponse
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetFieldTypeExecute(r ApiCustomFieldsApiGetFieldTypeRequest) (*CustomFieldsApiGetFieldTypeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomFieldsApiGetFieldTypeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiGetFieldType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-types/{fieldTypeName}"
	localVarPath = strings.Replace(localVarPath, "{"+"fieldTypeName"+"}", url.PathEscape(parameterValueToString(r.fieldTypeName, "fieldTypeName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiGetStandardObjectRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	standardObjectName string
}

func (r ApiCustomFieldsApiGetStandardObjectRequest) Execute() (*CustomFieldsApiGetStandardObjectResponse, *http.Response, error) {
	return r.ApiService.CustomFieldsApiGetStandardObjectExecute(r)
}

/*
CustomFieldsApiGetStandardObject Get Standard Object

Get information about a standard object.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param standardObjectName The name of the standard object that is used internally by the system.
 @return ApiCustomFieldsApiGetStandardObjectRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetStandardObject(ctx context.Context, standardObjectName string) ApiCustomFieldsApiGetStandardObjectRequest {
	return ApiCustomFieldsApiGetStandardObjectRequest{
		ApiService: a,
		ctx: ctx,
		standardObjectName: standardObjectName,
	}
}

// Execute executes the request
//  @return CustomFieldsApiGetStandardObjectResponse
func (a *CustomFieldsAPIAPIService) CustomFieldsApiGetStandardObjectExecute(r ApiCustomFieldsApiGetStandardObjectRequest) (*CustomFieldsApiGetStandardObjectResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomFieldsApiGetStandardObjectResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiGetStandardObject")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/standard-objects/{standardObjectName}"
	localVarPath = strings.Replace(localVarPath, "{"+"standardObjectName"+"}", url.PathEscape(parameterValueToString(r.standardObjectName, "standardObjectName")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiListFieldDefinitionsRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	fieldName *string
	fieldLabel *string
	standardObjectName *string
	fieldTypeName *string
}

// The name of the field definition that uniquely identifies the field within a standard object and is used internally by the system.
func (r ApiCustomFieldsApiListFieldDefinitionsRequest) FieldName(fieldName string) ApiCustomFieldsApiListFieldDefinitionsRequest {
	r.fieldName = &fieldName
	return r
}

// The display name of the custom field that is used as a label on forms within Plex and on printed documents.
func (r ApiCustomFieldsApiListFieldDefinitionsRequest) FieldLabel(fieldLabel string) ApiCustomFieldsApiListFieldDefinitionsRequest {
	r.fieldLabel = &fieldLabel
	return r
}

// The name of the standard object that is used internally by the system.
func (r ApiCustomFieldsApiListFieldDefinitionsRequest) StandardObjectName(standardObjectName string) ApiCustomFieldsApiListFieldDefinitionsRequest {
	r.standardObjectName = &standardObjectName
	return r
}

// The name of the data type used internally by the system.
func (r ApiCustomFieldsApiListFieldDefinitionsRequest) FieldTypeName(fieldTypeName string) ApiCustomFieldsApiListFieldDefinitionsRequest {
	r.fieldTypeName = &fieldTypeName
	return r
}

func (r ApiCustomFieldsApiListFieldDefinitionsRequest) Execute() ([]CustomFieldsApiListFieldDefinitionsItem, *http.Response, error) {
	return r.ApiService.CustomFieldsApiListFieldDefinitionsExecute(r)
}

/*
CustomFieldsApiListFieldDefinitions List Field Definitions

Retrieve a list of custom field definitions and the standard objects to which they have been added.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiListFieldDefinitionsRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListFieldDefinitions(ctx context.Context) ApiCustomFieldsApiListFieldDefinitionsRequest {
	return ApiCustomFieldsApiListFieldDefinitionsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomFieldsApiListFieldDefinitionsItem
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListFieldDefinitionsExecute(r ApiCustomFieldsApiListFieldDefinitionsRequest) ([]CustomFieldsApiListFieldDefinitionsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomFieldsApiListFieldDefinitionsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiListFieldDefinitions")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-definitions"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldName", r.fieldName, "form", "")
	}
	if r.fieldLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldLabel", r.fieldLabel, "form", "")
	}
	if r.standardObjectName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "standardObjectName", r.standardObjectName, "form", "")
	}
	if r.fieldTypeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldTypeName", r.fieldTypeName, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiListFieldTypesRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	fieldTypeName *string
	fieldTypeLabel *string
}

// The name of the data type used internally by the system.
func (r ApiCustomFieldsApiListFieldTypesRequest) FieldTypeName(fieldTypeName string) ApiCustomFieldsApiListFieldTypesRequest {
	r.fieldTypeName = &fieldTypeName
	return r
}

// The display name of the data type that is used as a label on forms within Plex.
func (r ApiCustomFieldsApiListFieldTypesRequest) FieldTypeLabel(fieldTypeLabel string) ApiCustomFieldsApiListFieldTypesRequest {
	r.fieldTypeLabel = &fieldTypeLabel
	return r
}

func (r ApiCustomFieldsApiListFieldTypesRequest) Execute() ([]CustomFieldsApiListFieldTypesItem, *http.Response, error) {
	return r.ApiService.CustomFieldsApiListFieldTypesExecute(r)
}

/*
CustomFieldsApiListFieldTypes List Field Types

Retrieve a list of data types that can be assigned to a custom field definition.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiListFieldTypesRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListFieldTypes(ctx context.Context) ApiCustomFieldsApiListFieldTypesRequest {
	return ApiCustomFieldsApiListFieldTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomFieldsApiListFieldTypesItem
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListFieldTypesExecute(r ApiCustomFieldsApiListFieldTypesRequest) ([]CustomFieldsApiListFieldTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomFieldsApiListFieldTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiListFieldTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.fieldTypeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldTypeName", r.fieldTypeName, "form", "")
	}
	if r.fieldTypeLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fieldTypeLabel", r.fieldTypeLabel, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiListStandardObjectsRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	standardObjectName *string
	standardObjectLabel *string
}

// The name of the standard object that is used internally by the system.
func (r ApiCustomFieldsApiListStandardObjectsRequest) StandardObjectName(standardObjectName string) ApiCustomFieldsApiListStandardObjectsRequest {
	r.standardObjectName = &standardObjectName
	return r
}

// The display name of the standard object that is used on forms within Plex and on printed documents.
func (r ApiCustomFieldsApiListStandardObjectsRequest) StandardObjectLabel(standardObjectLabel string) ApiCustomFieldsApiListStandardObjectsRequest {
	r.standardObjectLabel = &standardObjectLabel
	return r
}

func (r ApiCustomFieldsApiListStandardObjectsRequest) Execute() ([]CustomFieldsApiListStandardObjectsItem, *http.Response, error) {
	return r.ApiService.CustomFieldsApiListStandardObjectsExecute(r)
}

/*
CustomFieldsApiListStandardObjects List Standard Objects

Retrieve a list of standard objects and the property keys that uniquely identify records.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiListStandardObjectsRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListStandardObjects(ctx context.Context) ApiCustomFieldsApiListStandardObjectsRequest {
	return ApiCustomFieldsApiListStandardObjectsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomFieldsApiListStandardObjectsItem
func (a *CustomFieldsAPIAPIService) CustomFieldsApiListStandardObjectsExecute(r ApiCustomFieldsApiListStandardObjectsRequest) ([]CustomFieldsApiListStandardObjectsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomFieldsApiListStandardObjectsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiListStandardObjects")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/standard-objects"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.standardObjectName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "standardObjectName", r.standardObjectName, "form", "")
	}
	if r.standardObjectLabel != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "standardObjectLabel", r.standardObjectLabel, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiSaveFieldValuesRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	customFieldsApiSaveFieldValuesRequest *CustomFieldsApiSaveFieldValuesRequest
}

func (r ApiCustomFieldsApiSaveFieldValuesRequest) CustomFieldsApiSaveFieldValuesRequest(customFieldsApiSaveFieldValuesRequest CustomFieldsApiSaveFieldValuesRequest) ApiCustomFieldsApiSaveFieldValuesRequest {
	r.customFieldsApiSaveFieldValuesRequest = &customFieldsApiSaveFieldValuesRequest
	return r
}

func (r ApiCustomFieldsApiSaveFieldValuesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomFieldsApiSaveFieldValuesExecute(r)
}

/*
CustomFieldsApiSaveFieldValues Save Field Values

Add or update custom field values for the list of specified resources. This operation is limited to 5000 records per transaction.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiSaveFieldValuesRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiSaveFieldValues(ctx context.Context) ApiCustomFieldsApiSaveFieldValuesRequest {
	return ApiCustomFieldsApiSaveFieldValuesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomFieldsAPIAPIService) CustomFieldsApiSaveFieldValuesExecute(r ApiCustomFieldsApiSaveFieldValuesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiSaveFieldValues")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-values/save"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldsApiSaveFieldValuesRequest == nil {
		return nil, reportError("customFieldsApiSaveFieldValuesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customFieldsApiSaveFieldValuesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomFieldsApiSaveFieldValues400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomFieldsApiSearchFieldValuesRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	customFieldsApiSearchFieldValuesRequest *CustomFieldsApiSearchFieldValuesRequest
}

func (r ApiCustomFieldsApiSearchFieldValuesRequest) CustomFieldsApiSearchFieldValuesRequest(customFieldsApiSearchFieldValuesRequest CustomFieldsApiSearchFieldValuesRequest) ApiCustomFieldsApiSearchFieldValuesRequest {
	r.customFieldsApiSearchFieldValuesRequest = &customFieldsApiSearchFieldValuesRequest
	return r
}

func (r ApiCustomFieldsApiSearchFieldValuesRequest) Execute() ([]CustomFieldsApiSearchFieldValuesItem, *http.Response, error) {
	return r.ApiService.CustomFieldsApiSearchFieldValuesExecute(r)
}

/*
CustomFieldsApiSearchFieldValues Search Field Values

Retrieve a list of resources of the specified standard object by searching against record identifiers and custom field values.
Sample request for search by customer fields
POST /search

{
  &quot;standardObjectName&quot;: &quot;GLJournalDist&quot;,
  &quot;fieldValueSearchFilters&quot;: [
   {
     fieldName&quot;: &quot;decimalTestLine&quot;,
     &quot;operation&quot;: &quot;&gt;&quot;,
     &quot;operand&quot;: 10
   },
   {
     &quot;fieldName&quot;: &quot;textUniqueLine&quot;,
     &quot;operation&quot;: &quot;startsWith&quot;,
     &quot;operand&quot;: &quot;text&quot;
   }
 ]
}

Sample request for search by identity values
POST /search

{
  &quot;standardObjectName&quot;: &quot;GLJournalDist&quot;,
  &quot;recordIdentifiers&quot;: [
     {
       &quot;Journal_Link&quot;: 8,
       &quot;Line_Item_No&quot;: 30113466
     },
     {
        &quot;Journal_Link&quot;: 8,
        &quot;Line_Item_No&quot;: 30113467
     }
  ]
}

This operation will return a maximum of 5000.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiSearchFieldValuesRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiSearchFieldValues(ctx context.Context) ApiCustomFieldsApiSearchFieldValuesRequest {
	return ApiCustomFieldsApiSearchFieldValuesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomFieldsApiSearchFieldValuesItem
func (a *CustomFieldsAPIAPIService) CustomFieldsApiSearchFieldValuesExecute(r ApiCustomFieldsApiSearchFieldValuesRequest) ([]CustomFieldsApiSearchFieldValuesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomFieldsApiSearchFieldValuesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiSearchFieldValues")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-values/search"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldsApiSearchFieldValuesRequest == nil {
		return localVarReturnValue, nil, reportError("customFieldsApiSearchFieldValuesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customFieldsApiSearchFieldValuesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomFieldsApiSearchFieldValues400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomFieldsApiValidateFieldValuesRequest struct {
	ctx context.Context
	ApiService *CustomFieldsAPIAPIService
	customFieldsApiValidateFieldValuesRequest *CustomFieldsApiValidateFieldValuesRequest
}

func (r ApiCustomFieldsApiValidateFieldValuesRequest) CustomFieldsApiValidateFieldValuesRequest(customFieldsApiValidateFieldValuesRequest CustomFieldsApiValidateFieldValuesRequest) ApiCustomFieldsApiValidateFieldValuesRequest {
	r.customFieldsApiValidateFieldValuesRequest = &customFieldsApiValidateFieldValuesRequest
	return r
}

func (r ApiCustomFieldsApiValidateFieldValuesRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomFieldsApiValidateFieldValuesExecute(r)
}

/*
CustomFieldsApiValidateFieldValues Validate Field Values

Validate Custom Field Values. This operation is limited to 5000 records per transaction.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomFieldsApiValidateFieldValuesRequest
*/
func (a *CustomFieldsAPIAPIService) CustomFieldsApiValidateFieldValues(ctx context.Context) ApiCustomFieldsApiValidateFieldValuesRequest {
	return ApiCustomFieldsApiValidateFieldValuesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomFieldsAPIAPIService) CustomFieldsApiValidateFieldValuesExecute(r ApiCustomFieldsApiValidateFieldValuesRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomFieldsAPIAPIService.CustomFieldsApiValidateFieldValues")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/platform/custom-fields/v1/field-values/validate"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customFieldsApiValidateFieldValuesRequest == nil {
		return nil, reportError("customFieldsApiValidateFieldValuesRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customFieldsApiValidateFieldValuesRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomFieldsApiValidateFieldValues400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
