/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ProcessControlPlansAPIAPIService ProcessControlPlansAPIAPI service
type ProcessControlPlansAPIAPIService service

type ApiProcessControlPlansApiGetProcessControlRecipePlanRequest struct {
	ctx context.Context
	ApiService *ProcessControlPlansAPIAPIService
	id string
}

func (r ApiProcessControlPlansApiGetProcessControlRecipePlanRequest) Execute() (*ProcessControlPlansApiGetProcessControlRecipePlanResponse, *http.Response, error) {
	return r.ApiService.ProcessControlPlansApiGetProcessControlRecipePlanExecute(r)
}

/*
ProcessControlPlansApiGetProcessControlRecipePlan Get Process Control Recipe Plan

Retrieve a control plan.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessControlPlansApiGetProcessControlRecipePlanRequest
*/
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiGetProcessControlRecipePlan(ctx context.Context, id string) ApiProcessControlPlansApiGetProcessControlRecipePlanRequest {
	return ApiProcessControlPlansApiGetProcessControlRecipePlanRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessControlPlansApiGetProcessControlRecipePlanResponse
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiGetProcessControlRecipePlanExecute(r ApiProcessControlPlansApiGetProcessControlRecipePlanRequest) (*ProcessControlPlansApiGetProcessControlRecipePlanResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessControlPlansApiGetProcessControlRecipePlanResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlPlansAPIAPIService.ProcessControlPlansApiGetProcessControlRecipePlan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-plans/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest struct {
	ctx context.Context
	ApiService *ProcessControlPlansAPIAPIService
	id string
	lineId string
}

func (r ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest) Execute() (*ProcessControlPlansApiGetProcessControlRecipePlanLineResponse, *http.Response, error) {
	return r.ApiService.ProcessControlPlansApiGetProcessControlRecipePlanLineExecute(r)
}

/*
ProcessControlPlansApiGetProcessControlRecipePlanLine Get Process Control Recipe Plan Line

Retrieve a control plan line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param lineId
 @return ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest
*/
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiGetProcessControlRecipePlanLine(ctx context.Context, id string, lineId string) ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest {
	return ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return ProcessControlPlansApiGetProcessControlRecipePlanLineResponse
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiGetProcessControlRecipePlanLineExecute(r ApiProcessControlPlansApiGetProcessControlRecipePlanLineRequest) (*ProcessControlPlansApiGetProcessControlRecipePlanLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessControlPlansApiGetProcessControlRecipePlanLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlPlansAPIAPIService.ProcessControlPlansApiGetProcessControlRecipePlanLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-plans/{id}/control-plan-lines/{lineId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest struct {
	ctx context.Context
	ApiService *ProcessControlPlansAPIAPIService
	id string
	ids *[]string
	inspectionMode *string
	processControlRecipeId *string
}

// A list of IDs representing the Process Control Plan Line.
func (r ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest) Ids(ids []string) ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest {
	r.ids = &ids
	return r
}

// The inspection mode.
func (r ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest) InspectionMode(inspectionMode string) ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest {
	r.inspectionMode = &inspectionMode
	return r
}

// ID representing the process control recipe.
func (r ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest) ProcessControlRecipeId(processControlRecipeId string) ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest {
	r.processControlRecipeId = &processControlRecipeId
	return r
}

func (r ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest) Execute() ([]ProcessControlPlansApiListProcessControlRecipePlanLinesItem, *http.Response, error) {
	return r.ApiService.ProcessControlPlansApiListProcessControlRecipePlanLinesExecute(r)
}

/*
ProcessControlPlansApiListProcessControlRecipePlanLines List Process Control Recipe Plan Lines

Retrieve a list of control plan lines.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest
*/
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiListProcessControlRecipePlanLines(ctx context.Context, id string) ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest {
	return ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []ProcessControlPlansApiListProcessControlRecipePlanLinesItem
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiListProcessControlRecipePlanLinesExecute(r ApiProcessControlPlansApiListProcessControlRecipePlanLinesRequest) ([]ProcessControlPlansApiListProcessControlRecipePlanLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessControlPlansApiListProcessControlRecipePlanLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlPlansAPIAPIService.ProcessControlPlansApiListProcessControlRecipePlanLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-plans/{id}/control-plan-lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.inspectionMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inspectionMode", r.inspectionMode, "form", "")
	}
	if r.processControlRecipeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processControlRecipeId", r.processControlRecipeId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlPlansApiListProcessControlRecipePlansRequest struct {
	ctx context.Context
	ApiService *ProcessControlPlansAPIAPIService
	ids *[]string
	controlPlanNo *float64
	controlPlanTypes *[]string
	primary *bool
	processControlRecipeFamilyId *string
}

// A list of IDs representing the Control Plan.
func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) Ids(ids []string) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	r.ids = &ids
	return r
}

// The Control Plan No.
func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) ControlPlanNo(controlPlanNo float64) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	r.controlPlanNo = &controlPlanNo
	return r
}

// A list of Control Plan types.
func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) ControlPlanTypes(controlPlanTypes []string) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	r.controlPlanTypes = &controlPlanTypes
	return r
}

// The primary flag.
func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) Primary(primary bool) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	r.primary = &primary
	return r
}

// The Process Control Recipe Family ID.
func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) ProcessControlRecipeFamilyId(processControlRecipeFamilyId string) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	r.processControlRecipeFamilyId = &processControlRecipeFamilyId
	return r
}

func (r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) Execute() ([]ProcessControlPlansApiListProcessControlRecipePlansItem, *http.Response, error) {
	return r.ApiService.ProcessControlPlansApiListProcessControlRecipePlansExecute(r)
}

/*
ProcessControlPlansApiListProcessControlRecipePlans List Process Control Recipe Plans

Retrieve a list of active control plans.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessControlPlansApiListProcessControlRecipePlansRequest
*/
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiListProcessControlRecipePlans(ctx context.Context) ApiProcessControlPlansApiListProcessControlRecipePlansRequest {
	return ApiProcessControlPlansApiListProcessControlRecipePlansRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessControlPlansApiListProcessControlRecipePlansItem
func (a *ProcessControlPlansAPIAPIService) ProcessControlPlansApiListProcessControlRecipePlansExecute(r ApiProcessControlPlansApiListProcessControlRecipePlansRequest) ([]ProcessControlPlansApiListProcessControlRecipePlansItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessControlPlansApiListProcessControlRecipePlansItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlPlansAPIAPIService.ProcessControlPlansApiListProcessControlRecipePlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.controlPlanNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanNo", r.controlPlanNo, "form", "")
	}
	if r.controlPlanTypes != nil {
		t := *r.controlPlanTypes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanTypes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanTypes", t, "form", "multi")
		}
	}
	if r.primary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "primary", r.primary, "form", "")
	}
	if r.processControlRecipeFamilyId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processControlRecipeFamilyId", r.processControlRecipeFamilyId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
