/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// OperatingParametersAPIAPIService OperatingParametersAPIAPI service
type OperatingParametersAPIAPIService service

type ApiOperatingParametersApiGetOperatingParameterByIDRequest struct {
	ctx context.Context
	ApiService *OperatingParametersAPIAPIService
	id string
}

func (r ApiOperatingParametersApiGetOperatingParameterByIDRequest) Execute() (*OperatingParametersApiGetOperatingParameterByIDResponse, *http.Response, error) {
	return r.ApiService.OperatingParametersApiGetOperatingParameterByIDExecute(r)
}

/*
OperatingParametersApiGetOperatingParameterByID Get Operating Parameter By ID

Get an Operating Parameter by its ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Operating Parameter ID.
 @return ApiOperatingParametersApiGetOperatingParameterByIDRequest
*/
func (a *OperatingParametersAPIAPIService) OperatingParametersApiGetOperatingParameterByID(ctx context.Context, id string) ApiOperatingParametersApiGetOperatingParameterByIDRequest {
	return ApiOperatingParametersApiGetOperatingParameterByIDRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return OperatingParametersApiGetOperatingParameterByIDResponse
func (a *OperatingParametersAPIAPIService) OperatingParametersApiGetOperatingParameterByIDExecute(r ApiOperatingParametersApiGetOperatingParameterByIDRequest) (*OperatingParametersApiGetOperatingParameterByIDResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *OperatingParametersApiGetOperatingParameterByIDResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatingParametersAPIAPIService.OperatingParametersApiGetOperatingParameterByID")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/engineering/v1/operating-parameters/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v OperatingParametersApiGetOperatingParameterByID403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v OperatingParametersApiGetOperatingParameterByID404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOperatingParametersApiListOperatingParameterGroupsRequest struct {
	ctx context.Context
	ApiService *OperatingParametersAPIAPIService
	partId *string
	partOpId *string
	equipmentTypeId *string
	equipmentId *string
}

// A unique identifier representing the Part to filter by.
func (r ApiOperatingParametersApiListOperatingParameterGroupsRequest) PartId(partId string) ApiOperatingParametersApiListOperatingParameterGroupsRequest {
	r.partId = &partId
	return r
}

// A unique identifier representing the Part Operation to filter by.
func (r ApiOperatingParametersApiListOperatingParameterGroupsRequest) PartOpId(partOpId string) ApiOperatingParametersApiListOperatingParameterGroupsRequest {
	r.partOpId = &partOpId
	return r
}

// A unique identifier representing the EquipmentType to filter by.
func (r ApiOperatingParametersApiListOperatingParameterGroupsRequest) EquipmentTypeId(equipmentTypeId string) ApiOperatingParametersApiListOperatingParameterGroupsRequest {
	r.equipmentTypeId = &equipmentTypeId
	return r
}

// A unique identifier representing the Equipment to filter by.
func (r ApiOperatingParametersApiListOperatingParameterGroupsRequest) EquipmentId(equipmentId string) ApiOperatingParametersApiListOperatingParameterGroupsRequest {
	r.equipmentId = &equipmentId
	return r
}

func (r ApiOperatingParametersApiListOperatingParameterGroupsRequest) Execute() ([]OperatingParametersApiListOperatingParameterGroupsItem, *http.Response, error) {
	return r.ApiService.OperatingParametersApiListOperatingParameterGroupsExecute(r)
}

/*
OperatingParametersApiListOperatingParameterGroups List Operating Parameter Groups

List Operating Parameter Groups, with optional filtering.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOperatingParametersApiListOperatingParameterGroupsRequest
*/
func (a *OperatingParametersAPIAPIService) OperatingParametersApiListOperatingParameterGroups(ctx context.Context) ApiOperatingParametersApiListOperatingParameterGroupsRequest {
	return ApiOperatingParametersApiListOperatingParameterGroupsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []OperatingParametersApiListOperatingParameterGroupsItem
func (a *OperatingParametersAPIAPIService) OperatingParametersApiListOperatingParameterGroupsExecute(r ApiOperatingParametersApiListOperatingParameterGroupsRequest) ([]OperatingParametersApiListOperatingParameterGroupsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []OperatingParametersApiListOperatingParameterGroupsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatingParametersAPIAPIService.OperatingParametersApiListOperatingParameterGroups")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/engineering/v1/operating-parameter-groups"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.partOpId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOpId", r.partOpId, "form", "")
	}
	if r.equipmentTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "equipmentTypeId", r.equipmentTypeId, "form", "")
	}
	if r.equipmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "equipmentId", r.equipmentId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v OperatingParametersApiListOperatingParameterGroups403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v OperatingParametersApiListOperatingParameterGroups400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiOperatingParametersApiListOperatingParametersRequest struct {
	ctx context.Context
	ApiService *OperatingParametersAPIAPIService
	operatingParameterCode *string
	active *bool
	unitId *string
}

// The code of the Operating Parameter to filter by.
func (r ApiOperatingParametersApiListOperatingParametersRequest) OperatingParameterCode(operatingParameterCode string) ApiOperatingParametersApiListOperatingParametersRequest {
	r.operatingParameterCode = &operatingParameterCode
	return r
}

// A filter to return only active or inactive Operating Parameters. If not specified, defaults to true (active only).
func (r ApiOperatingParametersApiListOperatingParametersRequest) Active(active bool) ApiOperatingParametersApiListOperatingParametersRequest {
	r.active = &active
	return r
}

// A unique identifier representing the Unit to filter by.
func (r ApiOperatingParametersApiListOperatingParametersRequest) UnitId(unitId string) ApiOperatingParametersApiListOperatingParametersRequest {
	r.unitId = &unitId
	return r
}

func (r ApiOperatingParametersApiListOperatingParametersRequest) Execute() ([]OperatingParametersApiListOperatingParametersItem, *http.Response, error) {
	return r.ApiService.OperatingParametersApiListOperatingParametersExecute(r)
}

/*
OperatingParametersApiListOperatingParameters List Operating Parameters

List Operating Parameters, with optional filtering.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiOperatingParametersApiListOperatingParametersRequest
*/
func (a *OperatingParametersAPIAPIService) OperatingParametersApiListOperatingParameters(ctx context.Context) ApiOperatingParametersApiListOperatingParametersRequest {
	return ApiOperatingParametersApiListOperatingParametersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []OperatingParametersApiListOperatingParametersItem
func (a *OperatingParametersAPIAPIService) OperatingParametersApiListOperatingParametersExecute(r ApiOperatingParametersApiListOperatingParametersRequest) ([]OperatingParametersApiListOperatingParametersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []OperatingParametersApiListOperatingParametersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "OperatingParametersAPIAPIService.OperatingParametersApiListOperatingParameters")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/engineering/v1/operating-parameters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.operatingParameterCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operatingParameterCode", r.operatingParameterCode, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.unitId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unitId", r.unitId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 403 {
			var v OperatingParametersApiListOperatingParameters403Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
