/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// GeneralLedgerTransactionsAPIAPIService GeneralLedgerTransactionsAPIAPI service
type GeneralLedgerTransactionsAPIAPIService service

type ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest struct {
	ctx context.Context
	ApiService *GeneralLedgerTransactionsAPIAPIService
	accountId *string
	periodDisplay *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
}

// A unique identifier for the GL transaction account.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) AccountId(accountId string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest {
	r.accountId = &accountId
	return r
}

// The GL transaction fiscal period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) PeriodDisplay(periodDisplay string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// The beginning date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) Execute() ([]GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesItem, *http.Response, error) {
	return r.ApiService.GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesExecute(r)
}

/*
GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoices List GL Transaction Lines For AP Invoices

List GL transaction lines for AP invoices based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest
*/
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoices(ctx context.Context) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest {
	return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesItem
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesExecute(r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesRequest) ([]GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoicesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralLedgerTransactionsAPIAPIService.GeneralLedgerTransactionsApiListGLTransactionLinesForAPInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/general-ledger-activity/ap-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest struct {
	ctx context.Context
	ApiService *GeneralLedgerTransactionsAPIAPIService
	accountId *string
	periodDisplay *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
}

// A unique identifier for the GL transaction account.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) AccountId(accountId string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest {
	r.accountId = &accountId
	return r
}

// The GL transaction fiscal period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) PeriodDisplay(periodDisplay string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// The beginning date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) Execute() ([]GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsItem, *http.Response, error) {
	return r.ApiService.GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsExecute(r)
}

/*
GeneralLedgerTransactionsApiListGLTransactionLinesForAPPayments List GL Transaction Lines For AP Payments

List GL transaction lines for AP payments based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest
*/
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForAPPayments(ctx context.Context) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest {
	return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsItem
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsExecute(r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsRequest) ([]GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GeneralLedgerTransactionsApiListGLTransactionLinesForAPPaymentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralLedgerTransactionsAPIAPIService.GeneralLedgerTransactionsApiListGLTransactionLinesForAPPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/general-ledger-activity/ap-payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest struct {
	ctx context.Context
	ApiService *GeneralLedgerTransactionsAPIAPIService
	accountId *string
	periodDisplay *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
}

// A unique identifier for the GL transaction account.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) AccountId(accountId string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest {
	r.accountId = &accountId
	return r
}

// The GL transaction fiscal period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) PeriodDisplay(periodDisplay string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// The beginning date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) Execute() ([]GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsItem, *http.Response, error) {
	return r.ApiService.GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsExecute(r)
}

/*
GeneralLedgerTransactionsApiListGLTransactionLinesForARDeposits List GL Transaction Lines For AR Deposits

List GL transaction lines for AR deposits based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest
*/
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForARDeposits(ctx context.Context) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest {
	return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsItem
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsExecute(r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsRequest) ([]GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GeneralLedgerTransactionsApiListGLTransactionLinesForARDepositsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralLedgerTransactionsAPIAPIService.GeneralLedgerTransactionsApiListGLTransactionLinesForARDeposits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/general-ledger-activity/ar-deposits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest struct {
	ctx context.Context
	ApiService *GeneralLedgerTransactionsAPIAPIService
	accountId *string
	periodDisplay *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
}

// A unique identifier for the GL transaction account.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) AccountId(accountId string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest {
	r.accountId = &accountId
	return r
}

// The GL transaction fiscal period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) PeriodDisplay(periodDisplay string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// The beginning date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) Execute() ([]GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesItem, *http.Response, error) {
	return r.ApiService.GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesExecute(r)
}

/*
GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoices List GL Transaction Lines For AR Invoices

List GL transaction lines for AR invoices based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest
*/
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoices(ctx context.Context) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest {
	return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesItem
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesExecute(r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesRequest) ([]GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoicesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralLedgerTransactionsAPIAPIService.GeneralLedgerTransactionsApiListGLTransactionLinesForARInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/general-ledger-activity/ar-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest struct {
	ctx context.Context
	ApiService *GeneralLedgerTransactionsAPIAPIService
	accountId *string
	periodDisplay *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	period13 *bool
	periodAdjustmentEntries *bool
}

// A unique identifier for the GL transaction account.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) AccountId(accountId string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.accountId = &accountId
	return r
}

// The GL transaction fiscal period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) PeriodDisplay(periodDisplay string) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.periodDisplay = &periodDisplay
	return r
}

// The beginning date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date on which a GL transaction was recorded.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

// The beginning date used to return GL journal entries modified within a time frame.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The end date used to return GL journal entries modified within a time frame.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// Specify that a GL journal entry has a 13th period.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) Period13(period13 bool) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.period13 = &period13
	return r
}

// Specify that a GL journal entry has a period adjustment use.
func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) PeriodAdjustmentEntries(periodAdjustmentEntries bool) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	r.periodAdjustmentEntries = &periodAdjustmentEntries
	return r
}

func (r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) Execute() ([]GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsItem, *http.Response, error) {
	return r.ApiService.GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsExecute(r)
}

/*
GeneralLedgerTransactionsApiListGLTransactionLinesForJournals List GL Transaction Lines For Journals

List GL transaction lines for journal based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest
*/
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForJournals(ctx context.Context) ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest {
	return ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsItem
func (a *GeneralLedgerTransactionsAPIAPIService) GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsExecute(r ApiGeneralLedgerTransactionsApiListGLTransactionLinesForJournalsRequest) ([]GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []GeneralLedgerTransactionsApiListGLTransactionLinesForJournalsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "GeneralLedgerTransactionsAPIAPIService.GeneralLedgerTransactionsApiListGLTransactionLinesForJournals")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/general-ledger-activity/journal-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountId == nil {
		return localVarReturnValue, nil, reportError("accountId is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "accountId", r.accountId, "form", "")
	if r.periodDisplay != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplay", r.periodDisplay, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.period13 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "period13", r.period13, "form", "")
	}
	if r.periodAdjustmentEntries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodAdjustmentEntries", r.periodAdjustmentEntries, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
