/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// InspectionModesAPIAPIService InspectionModesAPIAPI service
type InspectionModesAPIAPIService service

type ApiInspectionModesApiListInspectionModesRequest struct {
	ctx context.Context
	ApiService *InspectionModesAPIAPIService
	description *[]string
	plcIntegrated *bool
	manufacturing *bool
	processCheck *bool
	outOfSpecNotify *bool
	gageRequired *bool
	exceptionOverrideRequired *bool
}

// The list of inspection mode descriptions.
func (r ApiInspectionModesApiListInspectionModesRequest) Description(description []string) ApiInspectionModesApiListInspectionModesRequest {
	r.description = &description
	return r
}

// The PLC integrated flag.
func (r ApiInspectionModesApiListInspectionModesRequest) PlcIntegrated(plcIntegrated bool) ApiInspectionModesApiListInspectionModesRequest {
	r.plcIntegrated = &plcIntegrated
	return r
}

// The Manufacturing flag.
func (r ApiInspectionModesApiListInspectionModesRequest) Manufacturing(manufacturing bool) ApiInspectionModesApiListInspectionModesRequest {
	r.manufacturing = &manufacturing
	return r
}

// The Process Check flag.
func (r ApiInspectionModesApiListInspectionModesRequest) ProcessCheck(processCheck bool) ApiInspectionModesApiListInspectionModesRequest {
	r.processCheck = &processCheck
	return r
}

// The Out of Spec Notify flag.
func (r ApiInspectionModesApiListInspectionModesRequest) OutOfSpecNotify(outOfSpecNotify bool) ApiInspectionModesApiListInspectionModesRequest {
	r.outOfSpecNotify = &outOfSpecNotify
	return r
}

// The Gage Required flag.
func (r ApiInspectionModesApiListInspectionModesRequest) GageRequired(gageRequired bool) ApiInspectionModesApiListInspectionModesRequest {
	r.gageRequired = &gageRequired
	return r
}

// The Exception Override Required flag.
func (r ApiInspectionModesApiListInspectionModesRequest) ExceptionOverrideRequired(exceptionOverrideRequired bool) ApiInspectionModesApiListInspectionModesRequest {
	r.exceptionOverrideRequired = &exceptionOverrideRequired
	return r
}

func (r ApiInspectionModesApiListInspectionModesRequest) Execute() ([]InspectionModesApiListInspectionModesItem, *http.Response, error) {
	return r.ApiService.InspectionModesApiListInspectionModesExecute(r)
}

/*
InspectionModesApiListInspectionModes List Inspection Modes

Retrieve a list of inspection modes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInspectionModesApiListInspectionModesRequest
*/
func (a *InspectionModesAPIAPIService) InspectionModesApiListInspectionModes(ctx context.Context) ApiInspectionModesApiListInspectionModesRequest {
	return ApiInspectionModesApiListInspectionModesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InspectionModesApiListInspectionModesItem
func (a *InspectionModesAPIAPIService) InspectionModesApiListInspectionModesExecute(r ApiInspectionModesApiListInspectionModesRequest) ([]InspectionModesApiListInspectionModesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InspectionModesApiListInspectionModesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InspectionModesAPIAPIService.InspectionModesApiListInspectionModes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/inspection-modes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.description != nil {
		t := *r.description
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "description", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "description", t, "form", "multi")
		}
	}
	if r.plcIntegrated != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plcIntegrated", r.plcIntegrated, "form", "")
	}
	if r.manufacturing != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "manufacturing", r.manufacturing, "form", "")
	}
	if r.processCheck != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "processCheck", r.processCheck, "form", "")
	}
	if r.outOfSpecNotify != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outOfSpecNotify", r.outOfSpecNotify, "form", "")
	}
	if r.gageRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gageRequired", r.gageRequired, "form", "")
	}
	if r.exceptionOverrideRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "exceptionOverrideRequired", r.exceptionOverrideRequired, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
