/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// PlexAPMODataAPIAPIService PlexAPMODataAPIAPI service
type PlexAPMODataAPIAPIService service

type ApiPlexApmOdataApiGetTagDataRequest struct {
	ctx context.Context
	ApiService *PlexAPMODataAPIAPIService
	filter *string
	select_ *string
	top *int32
}

// For fetching the tag data, you must provide $filter parameter. Allowed logical operators for filter query are - &amp;quot;eq&amp;quot;, &amp;quot;and&amp;quot;, &amp;quot;in&amp;quot;, &amp;quot;startswith&amp;quot;, &amp;quot;endswith&amp;quot;.
func (r ApiPlexApmOdataApiGetTagDataRequest) Filter(filter string) ApiPlexApmOdataApiGetTagDataRequest {
	r.filter = &filter
	return r
}

// For retrieving specific columns in the response, you should provide $select parameter.
func (r ApiPlexApmOdataApiGetTagDataRequest) Select_(select_ string) ApiPlexApmOdataApiGetTagDataRequest {
	r.select_ = &select_
	return r
}

// For limiting response to a specific record count, you should provide $top parameter. If you do not provide $top parameter, response will be served with a default limit of 50000. $top accepts a non-zero, non-negative integer value.
func (r ApiPlexApmOdataApiGetTagDataRequest) Top(top int32) ApiPlexApmOdataApiGetTagDataRequest {
	r.top = &top
	return r
}

func (r ApiPlexApmOdataApiGetTagDataRequest) Execute() (*PlexApmOdataApiGetTagDataResponse, *http.Response, error) {
	return r.ApiService.PlexApmOdataApiGetTagDataExecute(r)
}

/*
PlexApmOdataApiGetTagData Get Tag Data

Returns data points(numerical tags data) and events(boolean and string tags data) on which you can add filter and select query. Endpoint is rate limited to serve 40K requests per day.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmOdataApiGetTagDataRequest
*/
func (a *PlexAPMODataAPIAPIService) PlexApmOdataApiGetTagData(ctx context.Context) ApiPlexApmOdataApiGetTagDataRequest {
	return ApiPlexApmOdataApiGetTagDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PlexApmOdataApiGetTagDataResponse
func (a *PlexAPMODataAPIAPIService) PlexApmOdataApiGetTagDataExecute(r ApiPlexApmOdataApiGetTagDataRequest) (*PlexApmOdataApiGetTagDataResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PlexApmOdataApiGetTagDataResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMODataAPIAPIService.PlexApmOdataApiGetTagData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/odata/v2/events"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.filter == nil {
		return localVarReturnValue, nil, reportError("filter is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "$filter", r.filter, "form", "")
	if r.select_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "$select", r.select_, "form", "")
	}
	if r.top != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "$top", r.top, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmOdataApiGetTagData400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v PlexApmOdataApiGetTagData404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
