/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// SupplierReturnsAPIAPIService SupplierReturnsAPIAPI service
type SupplierReturnsAPIAPIService service

type ApiSupplierReturnsApiGetSupplierReturnRequest struct {
	ctx context.Context
	ApiService *SupplierReturnsAPIAPIService
	id string
}

func (r ApiSupplierReturnsApiGetSupplierReturnRequest) Execute() (*SupplierReturnsApiGetSupplierReturnResponse, *http.Response, error) {
	return r.ApiService.SupplierReturnsApiGetSupplierReturnExecute(r)
}

/*
SupplierReturnsApiGetSupplierReturn Get Supplier Return

Retrieve a Supplier Return Record by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplierReturnsApiGetSupplierReturnRequest
*/
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiGetSupplierReturn(ctx context.Context, id string) ApiSupplierReturnsApiGetSupplierReturnRequest {
	return ApiSupplierReturnsApiGetSupplierReturnRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SupplierReturnsApiGetSupplierReturnResponse
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiGetSupplierReturnExecute(r ApiSupplierReturnsApiGetSupplierReturnRequest) (*SupplierReturnsApiGetSupplierReturnResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SupplierReturnsApiGetSupplierReturnResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplierReturnsAPIAPIService.SupplierReturnsApiGetSupplierReturn")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/supplier-returns/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplierReturnsApiListSupplierReturnLinesRequest struct {
	ctx context.Context
	ApiService *SupplierReturnsAPIAPIService
	id string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// The date on which the record was created.
func (r ApiSupplierReturnsApiListSupplierReturnLinesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSupplierReturnsApiListSupplierReturnLinesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiSupplierReturnsApiListSupplierReturnLinesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSupplierReturnsApiListSupplierReturnLinesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The date and time of the last modification to the record.
func (r ApiSupplierReturnsApiListSupplierReturnLinesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSupplierReturnsApiListSupplierReturnLinesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date and time of the last modification to the record.
func (r ApiSupplierReturnsApiListSupplierReturnLinesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSupplierReturnsApiListSupplierReturnLinesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiSupplierReturnsApiListSupplierReturnLinesRequest) Execute() ([]SupplierReturnsApiListSupplierReturnLinesItem, *http.Response, error) {
	return r.ApiService.SupplierReturnsApiListSupplierReturnLinesExecute(r)
}

/*
SupplierReturnsApiListSupplierReturnLines List Supplier Return Lines

List Supplier Return Line records based on supplier return lines.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSupplierReturnsApiListSupplierReturnLinesRequest
*/
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiListSupplierReturnLines(ctx context.Context, id string) ApiSupplierReturnsApiListSupplierReturnLinesRequest {
	return ApiSupplierReturnsApiListSupplierReturnLinesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []SupplierReturnsApiListSupplierReturnLinesItem
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiListSupplierReturnLinesExecute(r ApiSupplierReturnsApiListSupplierReturnLinesRequest) ([]SupplierReturnsApiListSupplierReturnLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupplierReturnsApiListSupplierReturnLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplierReturnsAPIAPIService.SupplierReturnsApiListSupplierReturnLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/supplier-returns/{id}/lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSupplierReturnsApiListSupplierReturnsRequest struct {
	ctx context.Context
	ApiService *SupplierReturnsAPIAPIService
	id *[]string
	supplierReturnNumber *string
	supplierId *string
	status *string
	type_ *string
	supplierAddressId *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A List of Supplier Return IDs.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) Id(id []string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.id = &id
	return r
}

// Return Number.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) SupplierReturnNumber(supplierReturnNumber string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.supplierReturnNumber = &supplierReturnNumber
	return r
}

// The ID of the Supplier.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) SupplierId(supplierId string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.supplierId = &supplierId
	return r
}

// Setup Table: Supplier Return Status
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) Status(status string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.status = &status
	return r
}

// Setup Table: Supplier Return Type
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) Type_(type_ string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.type_ = &type_
	return r
}

func (r ApiSupplierReturnsApiListSupplierReturnsRequest) SupplierAddressId(supplierAddressId string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.supplierAddressId = &supplierAddressId
	return r
}

// The ID of the user who created the record.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) CreatedById(createdById string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.createdById = &createdById
	return r
}

// The date on which the record was created.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) ModifiedById(modifiedById string) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date and time of the last modification to the return.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date and time of the last modification to the return.
func (r ApiSupplierReturnsApiListSupplierReturnsRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSupplierReturnsApiListSupplierReturnsRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiSupplierReturnsApiListSupplierReturnsRequest) Execute() ([]SupplierReturnsApiListSupplierReturnsItem, *http.Response, error) {
	return r.ApiService.SupplierReturnsApiListSupplierReturnsExecute(r)
}

/*
SupplierReturnsApiListSupplierReturns List Supplier Returns

List Supplier Return Records based on supplier return properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSupplierReturnsApiListSupplierReturnsRequest
*/
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiListSupplierReturns(ctx context.Context) ApiSupplierReturnsApiListSupplierReturnsRequest {
	return ApiSupplierReturnsApiListSupplierReturnsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SupplierReturnsApiListSupplierReturnsItem
func (a *SupplierReturnsAPIAPIService) SupplierReturnsApiListSupplierReturnsExecute(r ApiSupplierReturnsApiListSupplierReturnsRequest) ([]SupplierReturnsApiListSupplierReturnsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SupplierReturnsApiListSupplierReturnsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SupplierReturnsAPIAPIService.SupplierReturnsApiListSupplierReturns")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/supplier-returns"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.supplierReturnNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierReturnNumber", r.supplierReturnNumber, "form", "")
	}
	if r.supplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", r.supplierId, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.supplierAddressId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierAddressId", r.supplierAddressId, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
