/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// SalesOrdersAPIAPIService SalesOrdersAPIAPI service
type SalesOrdersAPIAPIService service

type ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	salesOrdersApiCreateCustomerPurchaseOrderRequest *SalesOrdersApiCreateCustomerPurchaseOrderRequest
}

func (r ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest) SalesOrdersApiCreateCustomerPurchaseOrderRequest(salesOrdersApiCreateCustomerPurchaseOrderRequest SalesOrdersApiCreateCustomerPurchaseOrderRequest) ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest {
	r.salesOrdersApiCreateCustomerPurchaseOrderRequest = &salesOrdersApiCreateCustomerPurchaseOrderRequest
	return r
}

func (r ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest) Execute() (*SalesOrdersApiCreateCustomerPurchaseOrder201Response, *http.Response, error) {
	return r.ApiService.SalesOrdersApiCreateCustomerPurchaseOrderExecute(r)
}

/*
SalesOrdersApiCreateCustomerPurchaseOrder Create Customer Purchase Order

Create a customer purchase order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateCustomerPurchaseOrder(ctx context.Context) ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest {
	return ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SalesOrdersApiCreateCustomerPurchaseOrder201Response
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateCustomerPurchaseOrderExecute(r ApiSalesOrdersApiCreateCustomerPurchaseOrderRequest) (*SalesOrdersApiCreateCustomerPurchaseOrder201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiCreateCustomerPurchaseOrder201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiCreateCustomerPurchaseOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiCreateCustomerPurchaseOrderRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiCreateCustomerPurchaseOrderRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiCreateCustomerPurchaseOrderRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiCreateCustomerPurchaseOrder400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiCreateOrderLineRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	salesOrdersApiCreateOrderLineRequest *SalesOrdersApiCreateOrderLineRequest
}

func (r ApiSalesOrdersApiCreateOrderLineRequest) SalesOrdersApiCreateOrderLineRequest(salesOrdersApiCreateOrderLineRequest SalesOrdersApiCreateOrderLineRequest) ApiSalesOrdersApiCreateOrderLineRequest {
	r.salesOrdersApiCreateOrderLineRequest = &salesOrdersApiCreateOrderLineRequest
	return r
}

func (r ApiSalesOrdersApiCreateOrderLineRequest) Execute() (*SalesOrdersApiCreateOrderLine201Response, *http.Response, error) {
	return r.ApiService.SalesOrdersApiCreateOrderLineExecute(r)
}

/*
SalesOrdersApiCreateOrderLine Create Order Line

Add a new sales order line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @return ApiSalesOrdersApiCreateOrderLineRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateOrderLine(ctx context.Context, id string) ApiSalesOrdersApiCreateOrderLineRequest {
	return ApiSalesOrdersApiCreateOrderLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesOrdersApiCreateOrderLine201Response
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateOrderLineExecute(r ApiSalesOrdersApiCreateOrderLineRequest) (*SalesOrdersApiCreateOrderLine201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiCreateOrderLine201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiCreateOrderLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiCreateOrderLineRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiCreateOrderLineRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiCreateOrderLineRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiCreateOrderLine400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	salesOrdersApiCreateSalesOrderLineApprovedShipToRequest *SalesOrdersApiCreateSalesOrderLineApprovedShipToRequest
}

func (r ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest) SalesOrdersApiCreateSalesOrderLineApprovedShipToRequest(salesOrdersApiCreateSalesOrderLineApprovedShipToRequest SalesOrdersApiCreateSalesOrderLineApprovedShipToRequest) ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest {
	r.salesOrdersApiCreateSalesOrderLineApprovedShipToRequest = &salesOrdersApiCreateSalesOrderLineApprovedShipToRequest
	return r
}

func (r ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest) Execute() (*SalesOrdersApiCreateSalesOrderLineApprovedShipTo201Response, *http.Response, error) {
	return r.ApiService.SalesOrdersApiCreateSalesOrderLineApprovedShipToExecute(r)
}

/*
SalesOrdersApiCreateSalesOrderLineApprovedShipTo Create Sales Order Line Approved Ship To

Create a sales order line's approved Ship To address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateSalesOrderLineApprovedShipTo(ctx context.Context, id string, lineId string) ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest {
	return ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiCreateSalesOrderLineApprovedShipTo201Response
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateSalesOrderLineApprovedShipToExecute(r ApiSalesOrdersApiCreateSalesOrderLineApprovedShipToRequest) (*SalesOrdersApiCreateSalesOrderLineApprovedShipTo201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiCreateSalesOrderLineApprovedShipTo201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiCreateSalesOrderLineApprovedShipTo")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/approved-ship-tos"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiCreateSalesOrderLineApprovedShipToRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiCreateSalesOrderLineApprovedShipToRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiCreateSalesOrderLineApprovedShipToRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiCreateSalesOrderLineApprovedShipTo400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiCreateSalesOrderLinePriceRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	salesOrdersApiCreateSalesOrderLinePriceRequest *SalesOrdersApiCreateSalesOrderLinePriceRequest
}

func (r ApiSalesOrdersApiCreateSalesOrderLinePriceRequest) SalesOrdersApiCreateSalesOrderLinePriceRequest(salesOrdersApiCreateSalesOrderLinePriceRequest SalesOrdersApiCreateSalesOrderLinePriceRequest) ApiSalesOrdersApiCreateSalesOrderLinePriceRequest {
	r.salesOrdersApiCreateSalesOrderLinePriceRequest = &salesOrdersApiCreateSalesOrderLinePriceRequest
	return r
}

func (r ApiSalesOrdersApiCreateSalesOrderLinePriceRequest) Execute() (*SalesOrdersApiCreateSalesOrderLinePrice201Response, *http.Response, error) {
	return r.ApiService.SalesOrdersApiCreateSalesOrderLinePriceExecute(r)
}

/*
SalesOrdersApiCreateSalesOrderLinePrice Create Sales Order Line Price

Add price to a sales order line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order Id.
 @param lineId The order line Id.
 @return ApiSalesOrdersApiCreateSalesOrderLinePriceRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateSalesOrderLinePrice(ctx context.Context, id string, lineId string) ApiSalesOrdersApiCreateSalesOrderLinePriceRequest {
	return ApiSalesOrdersApiCreateSalesOrderLinePriceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiCreateSalesOrderLinePrice201Response
func (a *SalesOrdersAPIAPIService) SalesOrdersApiCreateSalesOrderLinePriceExecute(r ApiSalesOrdersApiCreateSalesOrderLinePriceRequest) (*SalesOrdersApiCreateSalesOrderLinePrice201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiCreateSalesOrderLinePrice201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiCreateSalesOrderLinePrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/prices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiCreateSalesOrderLinePriceRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiCreateSalesOrderLinePriceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiCreateSalesOrderLinePriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiCreateSalesOrderLinePrice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiGetSalesOrderRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
}

func (r ApiSalesOrdersApiGetSalesOrderRequest) Execute() (*SalesOrdersApiGetSalesOrderResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiGetSalesOrderExecute(r)
}

/*
SalesOrdersApiGetSalesOrder Get Sales Order

Retrieve a sales order by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Sales order ID.
 @return ApiSalesOrdersApiGetSalesOrderRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrder(ctx context.Context, id string) ApiSalesOrdersApiGetSalesOrderRequest {
	return ApiSalesOrdersApiGetSalesOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesOrdersApiGetSalesOrderResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrderExecute(r ApiSalesOrdersApiGetSalesOrderRequest) (*SalesOrdersApiGetSalesOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiGetSalesOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiGetSalesOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiGetSalesOrderLineRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
}

func (r ApiSalesOrdersApiGetSalesOrderLineRequest) Execute() (*SalesOrdersApiGetSalesOrderLineResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiGetSalesOrderLineExecute(r)
}

/*
SalesOrdersApiGetSalesOrderLine Get Sales Order Line

Retrieve a sales order line by line ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiGetSalesOrderLineRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrderLine(ctx context.Context, id string, lineId string) ApiSalesOrdersApiGetSalesOrderLineRequest {
	return ApiSalesOrdersApiGetSalesOrderLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiGetSalesOrderLineResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrderLineExecute(r ApiSalesOrdersApiGetSalesOrderLineRequest) (*SalesOrdersApiGetSalesOrderLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiGetSalesOrderLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiGetSalesOrderLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiGetSalesOrderLinePriceRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	priceId string
}

func (r ApiSalesOrdersApiGetSalesOrderLinePriceRequest) Execute() (*SalesOrdersApiGetSalesOrderLinePriceResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiGetSalesOrderLinePriceExecute(r)
}

/*
SalesOrdersApiGetSalesOrderLinePrice Get Sales Order Line Price

Retrieve a sales order line's price by its price ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The line id.
 @param priceId The order line price id.
 @return ApiSalesOrdersApiGetSalesOrderLinePriceRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrderLinePrice(ctx context.Context, id string, lineId string, priceId string) ApiSalesOrdersApiGetSalesOrderLinePriceRequest {
	return ApiSalesOrdersApiGetSalesOrderLinePriceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
		priceId: priceId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiGetSalesOrderLinePriceResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiGetSalesOrderLinePriceExecute(r ApiSalesOrdersApiGetSalesOrderLinePriceRequest) (*SalesOrdersApiGetSalesOrderLinePriceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiGetSalesOrderLinePriceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiGetSalesOrderLinePrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/prices/{priceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"priceId"+"}", url.PathEscape(parameterValueToString(r.priceId, "priceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
}

func (r ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest) Execute() ([]SalesOrdersApiListOrderLinePriceAdjustmentsItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListOrderLinePriceAdjustmentsExecute(r)
}

/*
SalesOrdersApiListOrderLinePriceAdjustments List Order Line Price Adjustments

List Order Line Price Adjustments by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListOrderLinePriceAdjustments(ctx context.Context, id string, lineId string) ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest {
	return ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListOrderLinePriceAdjustmentsItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListOrderLinePriceAdjustmentsExecute(r ApiSalesOrdersApiListOrderLinePriceAdjustmentsRequest) ([]SalesOrdersApiListOrderLinePriceAdjustmentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListOrderLinePriceAdjustmentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListOrderLinePriceAdjustments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/price-adjustments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListOrderPriceAdjustmentsRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
}

func (r ApiSalesOrdersApiListOrderPriceAdjustmentsRequest) Execute() ([]SalesOrdersApiListOrderPriceAdjustmentsItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListOrderPriceAdjustmentsExecute(r)
}

/*
SalesOrdersApiListOrderPriceAdjustments List Order Price Adjustments

List Order Price Adjustments by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @return ApiSalesOrdersApiListOrderPriceAdjustmentsRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListOrderPriceAdjustments(ctx context.Context, id string) ApiSalesOrdersApiListOrderPriceAdjustmentsRequest {
	return ApiSalesOrdersApiListOrderPriceAdjustmentsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListOrderPriceAdjustmentsItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListOrderPriceAdjustmentsExecute(r ApiSalesOrdersApiListOrderPriceAdjustmentsRequest) ([]SalesOrdersApiListOrderPriceAdjustmentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListOrderPriceAdjustmentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListOrderPriceAdjustments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/price-adjustments"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	shipToAddressId *string
	defaultShipFromId *string
	defaultShipFromCode *string
}

// The ID of the ship to customer address record assigned to an order line.
func (r ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest) ShipToAddressId(shipToAddressId string) ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest {
	r.shipToAddressId = &shipToAddressId
	return r
}

// The ID of the default building from which shipments will be sent.
func (r ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest) DefaultShipFromId(defaultShipFromId string) ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest {
	r.defaultShipFromId = &defaultShipFromId
	return r
}

// The building code from which the shipment will be shipped from by default.
func (r ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest) DefaultShipFromCode(defaultShipFromCode string) ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest {
	r.defaultShipFromCode = &defaultShipFromCode
	return r
}

func (r ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest) Execute() ([]SalesOrdersApiListSalesOrderLineApprovedShipTosItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListSalesOrderLineApprovedShipTosExecute(r)
}

/*
SalesOrdersApiListSalesOrderLineApprovedShipTos List Sales Order Line Approved Ship Tos

List the sales order line's approved Ship To addresses by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLineApprovedShipTos(ctx context.Context, id string, lineId string) ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest {
	return ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListSalesOrderLineApprovedShipTosItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLineApprovedShipTosExecute(r ApiSalesOrdersApiListSalesOrderLineApprovedShipTosRequest) ([]SalesOrdersApiListSalesOrderLineApprovedShipTosItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListSalesOrderLineApprovedShipTosItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListSalesOrderLineApprovedShipTos")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/approved-ship-tos"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.shipToAddressId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipToAddressId", r.shipToAddressId, "form", "")
	}
	if r.defaultShipFromId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "defaultShipFromId", r.defaultShipFromId, "form", "")
	}
	if r.defaultShipFromCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "defaultShipFromCode", r.defaultShipFromCode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListSalesOrderLinePricesRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
}

func (r ApiSalesOrdersApiListSalesOrderLinePricesRequest) Execute() ([]SalesOrdersApiListSalesOrderLinePricesItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListSalesOrderLinePricesExecute(r)
}

/*
SalesOrdersApiListSalesOrderLinePrices List Sales Order Line Prices

Get a list of sales order line prices by the line ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiListSalesOrderLinePricesRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLinePrices(ctx context.Context, id string, lineId string) ApiSalesOrdersApiListSalesOrderLinePricesRequest {
	return ApiSalesOrdersApiListSalesOrderLinePricesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListSalesOrderLinePricesItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLinePricesExecute(r ApiSalesOrdersApiListSalesOrderLinePricesRequest) ([]SalesOrdersApiListSalesOrderLinePricesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListSalesOrderLinePricesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListSalesOrderLinePrices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/prices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListSalesOrderLinesRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
}

func (r ApiSalesOrdersApiListSalesOrderLinesRequest) Execute() ([]SalesOrdersApiListSalesOrderLinesItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListSalesOrderLinesExecute(r)
}

/*
SalesOrdersApiListSalesOrderLines List Sales Order Lines

List sales order lines by sales order ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @return ApiSalesOrdersApiListSalesOrderLinesRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLines(ctx context.Context, id string) ApiSalesOrdersApiListSalesOrderLinesRequest {
	return ApiSalesOrdersApiListSalesOrderLinesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListSalesOrderLinesItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrderLinesExecute(r ApiSalesOrdersApiListSalesOrderLinesRequest) ([]SalesOrdersApiListSalesOrderLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListSalesOrderLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListSalesOrderLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiListSalesOrdersRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id *[]string
	customerId *string
	orderNumber *string
	poNumber *string
	poNumberRevisionDateBegin *time.Time
	poNumberRevisionDateEnd *time.Time
	status *[]string
	type_ *[]string
	category *string
	orderDateBegin *time.Time
	orderDateEnd *time.Time
	expirationDateBegin *time.Time
	expirationDateEnd *time.Time
	terms *string
	incoTerms *string
	fob *string
	freightTerms *string
	insideSalesId *string
	outsideSalesId *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedByDateBegin *time.Time
	modifiedByDateEnd *time.Time
}

// A unique identifier for the sales order. This will be automatically generated if omitted from the request.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Id(id []string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.id = &id
	return r
}

// The ID of the customer associated with the sales order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) CustomerId(customerId string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.customerId = &customerId
	return r
}

// The internal order number generated by Plex that corresponds to a given sales order. (Applicable to two-tier ordering only.)
func (r ApiSalesOrdersApiListSalesOrdersRequest) OrderNumber(orderNumber string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.orderNumber = &orderNumber
	return r
}

// The customer&#39;s purchase order number on the sales order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) PoNumber(poNumber string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.poNumber = &poNumber
	return r
}

// The beginning date used to return order records with revisions during a time frame, if applicable.
func (r ApiSalesOrdersApiListSalesOrdersRequest) PoNumberRevisionDateBegin(poNumberRevisionDateBegin time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.poNumberRevisionDateBegin = &poNumberRevisionDateBegin
	return r
}

// The end date used to return order records with revisions within a time frame, if applicable.
func (r ApiSalesOrdersApiListSalesOrdersRequest) PoNumberRevisionDateEnd(poNumberRevisionDateEnd time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.poNumberRevisionDateEnd = &poNumberRevisionDateEnd
	return r
}

// The purchase order status.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Status(status []string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.status = &status
	return r
}

// The purchase order type.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Type_(type_ []string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.type_ = &type_
	return r
}

// The purchase order category.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Category(category string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.category = &category
	return r
}

// The beginning date used to return orders that were placed within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) OrderDateBegin(orderDateBegin time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.orderDateBegin = &orderDateBegin
	return r
}

// The end date used to return orders that were placed within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) OrderDateEnd(orderDateEnd time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.orderDateEnd = &orderDateEnd
	return r
}

// The beginning date used to return purchase orders with an expiration date within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) ExpirationDateBegin(expirationDateBegin time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.expirationDateBegin = &expirationDateBegin
	return r
}

// The end date used to return purchase orders with an expiration date within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) ExpirationDateEnd(expirationDateEnd time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.expirationDateEnd = &expirationDateEnd
	return r
}

// The order&#39;s payment terms.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Terms(terms string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.terms = &terms
	return r
}

// International Commercial (INCO) Terms applied to the sales order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) IncoTerms(incoTerms string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.incoTerms = &incoTerms
	return r
}

// The Freight on Board terms of the order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) Fob(fob string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.fob = &fob
	return r
}

// The freight terms applied to the order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) FreightTerms(freightTerms string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.freightTerms = &freightTerms
	return r
}

// The ID of the inside salesperson associated with the order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) InsideSalesId(insideSalesId string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.insideSalesId = &insideSalesId
	return r
}

// The ID of the outside salesperson associated with the order.
func (r ApiSalesOrdersApiListSalesOrdersRequest) OutsideSalesId(outsideSalesId string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.outsideSalesId = &outsideSalesId
	return r
}

// The ID of the user who created the record.
func (r ApiSalesOrdersApiListSalesOrdersRequest) CreatedById(createdById string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.createdById = &createdById
	return r
}

// The beginning date used to return orders that were created within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The end date used to return orders that were created within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiSalesOrdersApiListSalesOrdersRequest) ModifiedById(modifiedById string) ApiSalesOrdersApiListSalesOrdersRequest {
	r.modifiedById = &modifiedById
	return r
}

// The beginning date used to return orders that were last modified within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) ModifiedByDateBegin(modifiedByDateBegin time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.modifiedByDateBegin = &modifiedByDateBegin
	return r
}

// The end date used to return orders that were last modified within a time frame.
func (r ApiSalesOrdersApiListSalesOrdersRequest) ModifiedByDateEnd(modifiedByDateEnd time.Time) ApiSalesOrdersApiListSalesOrdersRequest {
	r.modifiedByDateEnd = &modifiedByDateEnd
	return r
}

func (r ApiSalesOrdersApiListSalesOrdersRequest) Execute() ([]SalesOrdersApiListSalesOrdersItem, *http.Response, error) {
	return r.ApiService.SalesOrdersApiListSalesOrdersExecute(r)
}

/*
SalesOrdersApiListSalesOrders List Sales Orders

List Sales Orders by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSalesOrdersApiListSalesOrdersRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrders(ctx context.Context) ApiSalesOrdersApiListSalesOrdersRequest {
	return ApiSalesOrdersApiListSalesOrdersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SalesOrdersApiListSalesOrdersItem
func (a *SalesOrdersAPIAPIService) SalesOrdersApiListSalesOrdersExecute(r ApiSalesOrdersApiListSalesOrdersRequest) ([]SalesOrdersApiListSalesOrdersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesOrdersApiListSalesOrdersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiListSalesOrders")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.customerId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerId", r.customerId, "form", "")
	}
	if r.orderNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderNumber", r.orderNumber, "form", "")
	}
	if r.poNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poNumber", r.poNumber, "form", "")
	}
	if r.poNumberRevisionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poNumberRevisionDateBegin", r.poNumberRevisionDateBegin, "form", "")
	}
	if r.poNumberRevisionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poNumberRevisionDateEnd", r.poNumberRevisionDateEnd, "form", "")
	}
	if r.status != nil {
		t := *r.status
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "status", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "status", t, "form", "multi")
		}
	}
	if r.type_ != nil {
		t := *r.type_
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "type", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "type", t, "form", "multi")
		}
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.orderDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDateBegin", r.orderDateBegin, "form", "")
	}
	if r.orderDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "orderDateEnd", r.orderDateEnd, "form", "")
	}
	if r.expirationDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateBegin", r.expirationDateBegin, "form", "")
	}
	if r.expirationDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateEnd", r.expirationDateEnd, "form", "")
	}
	if r.terms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "terms", r.terms, "form", "")
	}
	if r.incoTerms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "incoTerms", r.incoTerms, "form", "")
	}
	if r.fob != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fob", r.fob, "form", "")
	}
	if r.freightTerms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "freightTerms", r.freightTerms, "form", "")
	}
	if r.insideSalesId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "insideSalesId", r.insideSalesId, "form", "")
	}
	if r.outsideSalesId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "outsideSalesId", r.outsideSalesId, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedByDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedByDateBegin", r.modifiedByDateBegin, "form", "")
	}
	if r.modifiedByDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedByDateEnd", r.modifiedByDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	salesOrdersApiUpdateCustomerPurchaseOrderRequest *SalesOrdersApiUpdateCustomerPurchaseOrderRequest
}

func (r ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest) SalesOrdersApiUpdateCustomerPurchaseOrderRequest(salesOrdersApiUpdateCustomerPurchaseOrderRequest SalesOrdersApiUpdateCustomerPurchaseOrderRequest) ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest {
	r.salesOrdersApiUpdateCustomerPurchaseOrderRequest = &salesOrdersApiUpdateCustomerPurchaseOrderRequest
	return r
}

func (r ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest) Execute() (*SalesOrdersApiUpdateCustomerPurchaseOrderResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiUpdateCustomerPurchaseOrderExecute(r)
}

/*
SalesOrdersApiUpdateCustomerPurchaseOrder Update Customer Purchase Order

Update a customer purchase order.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The id of customer purchase order to be updated.
 @return ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateCustomerPurchaseOrder(ctx context.Context, id string) ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest {
	return ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesOrdersApiUpdateCustomerPurchaseOrderResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateCustomerPurchaseOrderExecute(r ApiSalesOrdersApiUpdateCustomerPurchaseOrderRequest) (*SalesOrdersApiUpdateCustomerPurchaseOrderResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiUpdateCustomerPurchaseOrderResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiUpdateCustomerPurchaseOrder")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiUpdateCustomerPurchaseOrderRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiUpdateCustomerPurchaseOrderRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiUpdateCustomerPurchaseOrderRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiUpdateCustomerPurchaseOrder400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiUpdateOrderLineRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	salesOrdersApiUpdateOrderLineRequest *SalesOrdersApiUpdateOrderLineRequest
}

func (r ApiSalesOrdersApiUpdateOrderLineRequest) SalesOrdersApiUpdateOrderLineRequest(salesOrdersApiUpdateOrderLineRequest SalesOrdersApiUpdateOrderLineRequest) ApiSalesOrdersApiUpdateOrderLineRequest {
	r.salesOrdersApiUpdateOrderLineRequest = &salesOrdersApiUpdateOrderLineRequest
	return r
}

func (r ApiSalesOrdersApiUpdateOrderLineRequest) Execute() (*SalesOrdersApiUpdateOrderLineResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiUpdateOrderLineExecute(r)
}

/*
SalesOrdersApiUpdateOrderLine Update Order Line

Update a sales order line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @return ApiSalesOrdersApiUpdateOrderLineRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateOrderLine(ctx context.Context, id string, lineId string) ApiSalesOrdersApiUpdateOrderLineRequest {
	return ApiSalesOrdersApiUpdateOrderLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiUpdateOrderLineResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateOrderLineExecute(r ApiSalesOrdersApiUpdateOrderLineRequest) (*SalesOrdersApiUpdateOrderLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiUpdateOrderLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiUpdateOrderLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/line/{lineId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiUpdateOrderLineRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiUpdateOrderLineRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiUpdateOrderLineRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiUpdateOrderLine400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest struct {
	ctx context.Context
	ApiService *SalesOrdersAPIAPIService
	id string
	lineId string
	priceId string
	salesOrdersApiUpdateSalesOrderLinePriceRequest *SalesOrdersApiUpdateSalesOrderLinePriceRequest
}

func (r ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest) SalesOrdersApiUpdateSalesOrderLinePriceRequest(salesOrdersApiUpdateSalesOrderLinePriceRequest SalesOrdersApiUpdateSalesOrderLinePriceRequest) ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest {
	r.salesOrdersApiUpdateSalesOrderLinePriceRequest = &salesOrdersApiUpdateSalesOrderLinePriceRequest
	return r
}

func (r ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest) Execute() (*SalesOrdersApiUpdateSalesOrderLinePriceResponse, *http.Response, error) {
	return r.ApiService.SalesOrdersApiUpdateSalesOrderLinePriceExecute(r)
}

/*
SalesOrdersApiUpdateSalesOrderLinePrice Update Sales Order Line Price

Update a price on a sales order line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The order id.
 @param lineId The order line id.
 @param priceId The order line price id.
 @return ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest
*/
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateSalesOrderLinePrice(ctx context.Context, id string, lineId string, priceId string) ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest {
	return ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
		priceId: priceId,
	}
}

// Execute executes the request
//  @return SalesOrdersApiUpdateSalesOrderLinePriceResponse
func (a *SalesOrdersAPIAPIService) SalesOrdersApiUpdateSalesOrderLinePriceExecute(r ApiSalesOrdersApiUpdateSalesOrderLinePriceRequest) (*SalesOrdersApiUpdateSalesOrderLinePriceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesOrdersApiUpdateSalesOrderLinePriceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesOrdersAPIAPIService.SalesOrdersApiUpdateSalesOrderLinePrice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/orders/{id}/lines/{lineId}/prices/{priceId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"priceId"+"}", url.PathEscape(parameterValueToString(r.priceId, "priceId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesOrdersApiUpdateSalesOrderLinePriceRequest == nil {
		return localVarReturnValue, nil, reportError("salesOrdersApiUpdateSalesOrderLinePriceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesOrdersApiUpdateSalesOrderLinePriceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesOrdersApiUpdateSalesOrderLinePrice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
