/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// SalesReleasesAPIAPIService SalesReleasesAPIAPI service
type SalesReleasesAPIAPIService service

type ApiSalesReleasesApiCreateReleaseRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	salesReleasesApiCreateReleaseRequest *SalesReleasesApiCreateReleaseRequest
}

func (r ApiSalesReleasesApiCreateReleaseRequest) SalesReleasesApiCreateReleaseRequest(salesReleasesApiCreateReleaseRequest SalesReleasesApiCreateReleaseRequest) ApiSalesReleasesApiCreateReleaseRequest {
	r.salesReleasesApiCreateReleaseRequest = &salesReleasesApiCreateReleaseRequest
	return r
}

func (r ApiSalesReleasesApiCreateReleaseRequest) Execute() (*SalesReleasesApiCreateRelease201Response, *http.Response, error) {
	return r.ApiService.SalesReleasesApiCreateReleaseExecute(r)
}

/*
SalesReleasesApiCreateRelease Create Release

Create a sales release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSalesReleasesApiCreateReleaseRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiCreateRelease(ctx context.Context) ApiSalesReleasesApiCreateReleaseRequest {
	return ApiSalesReleasesApiCreateReleaseRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SalesReleasesApiCreateRelease201Response
func (a *SalesReleasesAPIAPIService) SalesReleasesApiCreateReleaseExecute(r ApiSalesReleasesApiCreateReleaseRequest) (*SalesReleasesApiCreateRelease201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesReleasesApiCreateRelease201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiCreateRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesReleasesApiCreateReleaseRequest == nil {
		return localVarReturnValue, nil, reportError("salesReleasesApiCreateReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesReleasesApiCreateReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesReleasesApiCreateRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesReleasesApiGetReleaseRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	id string
}

func (r ApiSalesReleasesApiGetReleaseRequest) Execute() (*SalesReleasesApiGetReleaseResponse, *http.Response, error) {
	return r.ApiService.SalesReleasesApiGetReleaseExecute(r)
}

/*
SalesReleasesApiGetRelease Get Release

Retrieve a sales release record by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The release ID.
 @return ApiSalesReleasesApiGetReleaseRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiGetRelease(ctx context.Context, id string) ApiSalesReleasesApiGetReleaseRequest {
	return ApiSalesReleasesApiGetReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesReleasesApiGetReleaseResponse
func (a *SalesReleasesAPIAPIService) SalesReleasesApiGetReleaseExecute(r ApiSalesReleasesApiGetReleaseRequest) (*SalesReleasesApiGetReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesReleasesApiGetReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiGetRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesReleasesApiGetReleaseEDIDetailsRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	id string
}

func (r ApiSalesReleasesApiGetReleaseEDIDetailsRequest) Execute() (*SalesReleasesApiGetReleaseEDIDetailsResponse, *http.Response, error) {
	return r.ApiService.SalesReleasesApiGetReleaseEDIDetailsExecute(r)
}

/*
SalesReleasesApiGetReleaseEDIDetails Get Release EDI Details

Retrieve a sales release's EDI details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The release ID.
 @return ApiSalesReleasesApiGetReleaseEDIDetailsRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiGetReleaseEDIDetails(ctx context.Context, id string) ApiSalesReleasesApiGetReleaseEDIDetailsRequest {
	return ApiSalesReleasesApiGetReleaseEDIDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesReleasesApiGetReleaseEDIDetailsResponse
func (a *SalesReleasesAPIAPIService) SalesReleasesApiGetReleaseEDIDetailsExecute(r ApiSalesReleasesApiGetReleaseEDIDetailsRequest) (*SalesReleasesApiGetReleaseEDIDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesReleasesApiGetReleaseEDIDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiGetReleaseEDIDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases/{id}/edi-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesReleasesApiListReleasesRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	id *string
	releaseNumber *string
	orderLineIds *[]string
	type_ *string
	shipToAddressId *string
	shipDateBegin *time.Time
	shipDateEnd *time.Time
	dueDateBegin *time.Time
	dueDateEnd *time.Time
	status *string
	source *string
	scheduleDateBegin *time.Time
	scheduleDateEnd *time.Time
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	partNumber *string
}

// The ID of the sales release.
func (r ApiSalesReleasesApiListReleasesRequest) Id(id string) ApiSalesReleasesApiListReleasesRequest {
	r.id = &id
	return r
}

// The release number, typically dictated by the customer, for a specific sales release.
func (r ApiSalesReleasesApiListReleasesRequest) ReleaseNumber(releaseNumber string) ApiSalesReleasesApiListReleasesRequest {
	r.releaseNumber = &releaseNumber
	return r
}

// The ID of the purchase order line.
func (r ApiSalesReleasesApiListReleasesRequest) OrderLineIds(orderLineIds []string) ApiSalesReleasesApiListReleasesRequest {
	r.orderLineIds = &orderLineIds
	return r
}

// The release type for a specific sales release.
func (r ApiSalesReleasesApiListReleasesRequest) Type_(type_ string) ApiSalesReleasesApiListReleasesRequest {
	r.type_ = &type_
	return r
}

// The ID of the customer address to which the release will ship.
func (r ApiSalesReleasesApiListReleasesRequest) ShipToAddressId(shipToAddressId string) ApiSalesReleasesApiListReleasesRequest {
	r.shipToAddressId = &shipToAddressId
	return r
}

// The date on which a sales release must be shipped to satisfy the release&#39;s due date.
func (r ApiSalesReleasesApiListReleasesRequest) ShipDateBegin(shipDateBegin time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.shipDateBegin = &shipDateBegin
	return r
}

// The date on which a sales release must be shipped to satisfy the release&#39;s due date.
func (r ApiSalesReleasesApiListReleasesRequest) ShipDateEnd(shipDateEnd time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.shipDateEnd = &shipDateEnd
	return r
}

// The date on which a sales release is expected to be fulfilled.
func (r ApiSalesReleasesApiListReleasesRequest) DueDateBegin(dueDateBegin time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.dueDateBegin = &dueDateBegin
	return r
}

// The date on which a sales release is expected to be fulfilled.
func (r ApiSalesReleasesApiListReleasesRequest) DueDateEnd(dueDateEnd time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.dueDateEnd = &dueDateEnd
	return r
}

// The sales release&#39;s current status.
func (r ApiSalesReleasesApiListReleasesRequest) Status(status string) ApiSalesReleasesApiListReleasesRequest {
	r.status = &status
	return r
}

// Identifies the source of the sales release, such as EDI or email.
func (r ApiSalesReleasesApiListReleasesRequest) Source(source string) ApiSalesReleasesApiListReleasesRequest {
	r.source = &source
	return r
}

// The schedule date relates multiple releases, which may span various parts and/or purchase orders, to a customer&#39;s schedule. This is typically populated via EDI.
func (r ApiSalesReleasesApiListReleasesRequest) ScheduleDateBegin(scheduleDateBegin time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.scheduleDateBegin = &scheduleDateBegin
	return r
}

// The schedule date relates multiple releases, which may span various parts and/or purchase orders, to a customer&#39;s schedule. This is typically populated via EDI.
func (r ApiSalesReleasesApiListReleasesRequest) ScheduleDateEnd(scheduleDateEnd time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.scheduleDateEnd = &scheduleDateEnd
	return r
}

// The ID of the Plex user who created the record.
func (r ApiSalesReleasesApiListReleasesRequest) CreatedById(createdById string) ApiSalesReleasesApiListReleasesRequest {
	r.createdById = &createdById
	return r
}

// The date on which the record was created.
func (r ApiSalesReleasesApiListReleasesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The date on which the record was created.
func (r ApiSalesReleasesApiListReleasesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the Plex user who last modified the record.
func (r ApiSalesReleasesApiListReleasesRequest) ModifiedById(modifiedById string) ApiSalesReleasesApiListReleasesRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date on which the record was last modified.
func (r ApiSalesReleasesApiListReleasesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiSalesReleasesApiListReleasesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSalesReleasesApiListReleasesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// The part number for the sales release.
func (r ApiSalesReleasesApiListReleasesRequest) PartNumber(partNumber string) ApiSalesReleasesApiListReleasesRequest {
	r.partNumber = &partNumber
	return r
}

func (r ApiSalesReleasesApiListReleasesRequest) Execute() ([]SalesReleasesApiListReleasesItem, *http.Response, error) {
	return r.ApiService.SalesReleasesApiListReleasesExecute(r)
}

/*
SalesReleasesApiListReleases List Releases

List sales release records based on sales release properties.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSalesReleasesApiListReleasesRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiListReleases(ctx context.Context) ApiSalesReleasesApiListReleasesRequest {
	return ApiSalesReleasesApiListReleasesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SalesReleasesApiListReleasesItem
func (a *SalesReleasesAPIAPIService) SalesReleasesApiListReleasesExecute(r ApiSalesReleasesApiListReleasesRequest) ([]SalesReleasesApiListReleasesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SalesReleasesApiListReleasesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiListReleases")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.releaseNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseNumber", r.releaseNumber, "form", "")
	}
	if r.orderLineIds != nil {
		t := *r.orderLineIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "orderLineIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "orderLineIds", t, "form", "multi")
		}
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.shipToAddressId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipToAddressId", r.shipToAddressId, "form", "")
	}
	if r.shipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateBegin", r.shipDateBegin, "form", "")
	}
	if r.shipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateEnd", r.shipDateEnd, "form", "")
	}
	if r.dueDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateBegin", r.dueDateBegin, "form", "")
	}
	if r.dueDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateEnd", r.dueDateEnd, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.source != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "source", r.source, "form", "")
	}
	if r.scheduleDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduleDateBegin", r.scheduleDateBegin, "form", "")
	}
	if r.scheduleDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduleDateEnd", r.scheduleDateEnd, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.partNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partNumber", r.partNumber, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesReleasesApiUpdateReleaseRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	id string
	salesReleasesApiUpdateReleaseRequest *SalesReleasesApiUpdateReleaseRequest
}

func (r ApiSalesReleasesApiUpdateReleaseRequest) SalesReleasesApiUpdateReleaseRequest(salesReleasesApiUpdateReleaseRequest SalesReleasesApiUpdateReleaseRequest) ApiSalesReleasesApiUpdateReleaseRequest {
	r.salesReleasesApiUpdateReleaseRequest = &salesReleasesApiUpdateReleaseRequest
	return r
}

func (r ApiSalesReleasesApiUpdateReleaseRequest) Execute() (*SalesReleasesApiUpdateReleaseResponse, *http.Response, error) {
	return r.ApiService.SalesReleasesApiUpdateReleaseExecute(r)
}

/*
SalesReleasesApiUpdateRelease Update Release

Update a sales release.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSalesReleasesApiUpdateReleaseRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiUpdateRelease(ctx context.Context, id string) ApiSalesReleasesApiUpdateReleaseRequest {
	return ApiSalesReleasesApiUpdateReleaseRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesReleasesApiUpdateReleaseResponse
func (a *SalesReleasesAPIAPIService) SalesReleasesApiUpdateReleaseExecute(r ApiSalesReleasesApiUpdateReleaseRequest) (*SalesReleasesApiUpdateReleaseResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesReleasesApiUpdateReleaseResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiUpdateRelease")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesReleasesApiUpdateReleaseRequest == nil {
		return localVarReturnValue, nil, reportError("salesReleasesApiUpdateReleaseRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesReleasesApiUpdateReleaseRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesReleasesApiUpdateRelease400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest struct {
	ctx context.Context
	ApiService *SalesReleasesAPIAPIService
	id string
	salesReleasesApiUpdateReleaseEDIDetailsRequest *SalesReleasesApiUpdateReleaseEDIDetailsRequest
}

func (r ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest) SalesReleasesApiUpdateReleaseEDIDetailsRequest(salesReleasesApiUpdateReleaseEDIDetailsRequest SalesReleasesApiUpdateReleaseEDIDetailsRequest) ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest {
	r.salesReleasesApiUpdateReleaseEDIDetailsRequest = &salesReleasesApiUpdateReleaseEDIDetailsRequest
	return r
}

func (r ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest) Execute() (*SalesReleasesApiUpdateReleaseEDIDetailsResponse, *http.Response, error) {
	return r.ApiService.SalesReleasesApiUpdateReleaseEDIDetailsExecute(r)
}

/*
SalesReleasesApiUpdateReleaseEDIDetails Update Release EDI Details

Update a sales release's EDI details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The release ID.
 @return ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest
*/
func (a *SalesReleasesAPIAPIService) SalesReleasesApiUpdateReleaseEDIDetails(ctx context.Context, id string) ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest {
	return ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SalesReleasesApiUpdateReleaseEDIDetailsResponse
func (a *SalesReleasesAPIAPIService) SalesReleasesApiUpdateReleaseEDIDetailsExecute(r ApiSalesReleasesApiUpdateReleaseEDIDetailsRequest) (*SalesReleasesApiUpdateReleaseEDIDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SalesReleasesApiUpdateReleaseEDIDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SalesReleasesAPIAPIService.SalesReleasesApiUpdateReleaseEDIDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/releases/{id}/edi-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.salesReleasesApiUpdateReleaseEDIDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("salesReleasesApiUpdateReleaseEDIDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.salesReleasesApiUpdateReleaseEDIDetailsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SalesReleasesApiUpdateReleaseEDIDetails400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
