/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// BuildingsAPIAPIService BuildingsAPIAPI service
type BuildingsAPIAPIService service

type ApiBuildingsApiGetBuildingRequest struct {
	ctx context.Context
	ApiService *BuildingsAPIAPIService
	id string
}

func (r ApiBuildingsApiGetBuildingRequest) Execute() (*BuildingsApiGetBuildingResponse, *http.Response, error) {
	return r.ApiService.BuildingsApiGetBuildingExecute(r)
}

/*
BuildingsApiGetBuilding Get Building

Retrieve a building by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the building.
 @return ApiBuildingsApiGetBuildingRequest
*/
func (a *BuildingsAPIAPIService) BuildingsApiGetBuilding(ctx context.Context, id string) ApiBuildingsApiGetBuildingRequest {
	return ApiBuildingsApiGetBuildingRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return BuildingsApiGetBuildingResponse
func (a *BuildingsAPIAPIService) BuildingsApiGetBuildingExecute(r ApiBuildingsApiGetBuildingRequest) (*BuildingsApiGetBuildingResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *BuildingsApiGetBuildingResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildingsAPIAPIService.BuildingsApiGetBuilding")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/buildings/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiBuildingsApiListBuildingsRequest struct {
	ctx context.Context
	ApiService *BuildingsAPIAPIService
	id *[]string
	buildingCode *string
	buildingType *string
	name *string
	active *bool
}

// A unique identifier for the building.
func (r ApiBuildingsApiListBuildingsRequest) Id(id []string) ApiBuildingsApiListBuildingsRequest {
	r.id = &id
	return r
}

// The building code.
func (r ApiBuildingsApiListBuildingsRequest) BuildingCode(buildingCode string) ApiBuildingsApiListBuildingsRequest {
	r.buildingCode = &buildingCode
	return r
}

// The building type.
func (r ApiBuildingsApiListBuildingsRequest) BuildingType(buildingType string) ApiBuildingsApiListBuildingsRequest {
	r.buildingType = &buildingType
	return r
}

// The name of the building.
func (r ApiBuildingsApiListBuildingsRequest) Name(name string) ApiBuildingsApiListBuildingsRequest {
	r.name = &name
	return r
}

// The active status of the building.
func (r ApiBuildingsApiListBuildingsRequest) Active(active bool) ApiBuildingsApiListBuildingsRequest {
	r.active = &active
	return r
}

func (r ApiBuildingsApiListBuildingsRequest) Execute() ([]BuildingsApiListBuildingsItem, *http.Response, error) {
	return r.ApiService.BuildingsApiListBuildingsExecute(r)
}

/*
BuildingsApiListBuildings List Buildings

List buildings by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiBuildingsApiListBuildingsRequest
*/
func (a *BuildingsAPIAPIService) BuildingsApiListBuildings(ctx context.Context) ApiBuildingsApiListBuildingsRequest {
	return ApiBuildingsApiListBuildingsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []BuildingsApiListBuildingsItem
func (a *BuildingsAPIAPIService) BuildingsApiListBuildingsExecute(r ApiBuildingsApiListBuildingsRequest) ([]BuildingsApiListBuildingsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []BuildingsApiListBuildingsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "BuildingsAPIAPIService.BuildingsApiListBuildings")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/buildings"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.buildingCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buildingCode", r.buildingCode, "form", "")
	}
	if r.buildingType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buildingType", r.buildingType, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
