/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// JobSchedulingAPIAPIService JobSchedulingAPIAPI service
type JobSchedulingAPIAPIService service

type ApiJobSchedulingApiAddJobRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	jobSchedulingApiAddJobRequest *JobSchedulingApiAddJobRequest
}

func (r ApiJobSchedulingApiAddJobRequest) JobSchedulingApiAddJobRequest(jobSchedulingApiAddJobRequest JobSchedulingApiAddJobRequest) ApiJobSchedulingApiAddJobRequest {
	r.jobSchedulingApiAddJobRequest = &jobSchedulingApiAddJobRequest
	return r
}

func (r ApiJobSchedulingApiAddJobRequest) Execute() (*JobSchedulingApiAddJob201Response, *http.Response, error) {
	return r.ApiService.JobSchedulingApiAddJobExecute(r)
}

/*
JobSchedulingApiAddJob Add Job

Creates new production job. Both the job header and job operations are created, but job operations are not scheduled (not assigned to workcenter, run records not created). Scheduling job operations requires a subsequent API call with the Backwards Schedule endpoint. Job Status and Job Priority configured as the "default" are assigned to the job.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJobSchedulingApiAddJobRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiAddJob(ctx context.Context) ApiJobSchedulingApiAddJobRequest {
	return ApiJobSchedulingApiAddJobRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return JobSchedulingApiAddJob201Response
func (a *JobSchedulingAPIAPIService) JobSchedulingApiAddJobExecute(r ApiJobSchedulingApiAddJobRequest) (*JobSchedulingApiAddJob201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobSchedulingApiAddJob201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiAddJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobSchedulingApiAddJobRequest == nil {
		return localVarReturnValue, nil, reportError("jobSchedulingApiAddJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jobSchedulingApiAddJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiAddJob400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiAddUpdateJobBomRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobSchedulingApiAddUpdateJobBomRequest *JobSchedulingApiAddUpdateJobBomRequest
}

func (r ApiJobSchedulingApiAddUpdateJobBomRequest) JobSchedulingApiAddUpdateJobBomRequest(jobSchedulingApiAddUpdateJobBomRequest JobSchedulingApiAddUpdateJobBomRequest) ApiJobSchedulingApiAddUpdateJobBomRequest {
	r.jobSchedulingApiAddUpdateJobBomRequest = &jobSchedulingApiAddUpdateJobBomRequest
	return r
}

func (r ApiJobSchedulingApiAddUpdateJobBomRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiAddUpdateJobBomExecute(r)
}

/*
JobSchedulingApiAddUpdateJobBom Add Update Job Bom

Add update job bom.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiJobSchedulingApiAddUpdateJobBomRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiAddUpdateJobBom(ctx context.Context, id string) ApiJobSchedulingApiAddUpdateJobBomRequest {
	return ApiJobSchedulingApiAddUpdateJobBomRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiAddUpdateJobBomExecute(r ApiJobSchedulingApiAddUpdateJobBomRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiAddUpdateJobBom")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}/bom-components"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobSchedulingApiAddUpdateJobBomRequest == nil {
		return nil, reportError("jobSchedulingApiAddUpdateJobBomRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jobSchedulingApiAddUpdateJobBomRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiAddUpdateJobBom400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJobSchedulingApiBackwardsScheduleRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobSchedulingApiBackwardsScheduleRequest *JobSchedulingApiBackwardsScheduleRequest
}

func (r ApiJobSchedulingApiBackwardsScheduleRequest) JobSchedulingApiBackwardsScheduleRequest(jobSchedulingApiBackwardsScheduleRequest JobSchedulingApiBackwardsScheduleRequest) ApiJobSchedulingApiBackwardsScheduleRequest {
	r.jobSchedulingApiBackwardsScheduleRequest = &jobSchedulingApiBackwardsScheduleRequest
	return r
}

func (r ApiJobSchedulingApiBackwardsScheduleRequest) Execute() ([]JobSchedulingApiBackwardsScheduleItem, *http.Response, error) {
	return r.ApiService.JobSchedulingApiBackwardsScheduleExecute(r)
}

/*
JobSchedulingApiBackwardsSchedule Backwards Schedule

Schedule job operations or reschedule job operations after quantity or due date on the job have been changed. Job Operation due dates are backwards scheduled based on rates specified in process routing.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiBackwardsScheduleRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiBackwardsSchedule(ctx context.Context, id string) ApiJobSchedulingApiBackwardsScheduleRequest {
	return ApiJobSchedulingApiBackwardsScheduleRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []JobSchedulingApiBackwardsScheduleItem
func (a *JobSchedulingAPIAPIService) JobSchedulingApiBackwardsScheduleExecute(r ApiJobSchedulingApiBackwardsScheduleRequest) ([]JobSchedulingApiBackwardsScheduleItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JobSchedulingApiBackwardsScheduleItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiBackwardsSchedule")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}/backwards-schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobSchedulingApiBackwardsScheduleRequest == nil {
		return localVarReturnValue, nil, reportError("jobSchedulingApiBackwardsScheduleRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jobSchedulingApiBackwardsScheduleRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiBackwardsSchedule400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiCancelJobRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
}

func (r ApiJobSchedulingApiCancelJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiCancelJobExecute(r)
}

/*
JobSchedulingApiCancelJob Cancel Job

Cancel a production job.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiCancelJobRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiCancelJob(ctx context.Context, id string) ApiJobSchedulingApiCancelJobRequest {
	return ApiJobSchedulingApiCancelJobRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiCancelJobExecute(r ApiJobSchedulingApiCancelJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiCancelJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}/cancel"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiCancelJob400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJobSchedulingApiGetJobRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
}

func (r ApiJobSchedulingApiGetJobRequest) Execute() (*JobSchedulingApiGetJobResponse, *http.Response, error) {
	return r.ApiService.JobSchedulingApiGetJobExecute(r)
}

/*
JobSchedulingApiGetJob Get Job

Retrieve job details by its Resource Id.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiGetJobRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJob(ctx context.Context, id string) ApiJobSchedulingApiGetJobRequest {
	return ApiJobSchedulingApiGetJobRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return JobSchedulingApiGetJobResponse
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJobExecute(r ApiJobSchedulingApiGetJobRequest) (*JobSchedulingApiGetJobResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobSchedulingApiGetJobResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiGetJob")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiGetJob400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiGetJobOperationRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobOperationId string
}

func (r ApiJobSchedulingApiGetJobOperationRequest) Execute() (*JobSchedulingApiGetJobOperationResponse, *http.Response, error) {
	return r.ApiService.JobSchedulingApiGetJobOperationExecute(r)
}

/*
JobSchedulingApiGetJobOperation Get Job Operation

Retrieves a job's operation by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param jobOperationId
 @return ApiJobSchedulingApiGetJobOperationRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJobOperation(ctx context.Context, id string, jobOperationId string) ApiJobSchedulingApiGetJobOperationRequest {
	return ApiJobSchedulingApiGetJobOperationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		jobOperationId: jobOperationId,
	}
}

// Execute executes the request
//  @return JobSchedulingApiGetJobOperationResponse
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJobOperationExecute(r ApiJobSchedulingApiGetJobOperationRequest) (*JobSchedulingApiGetJobOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobSchedulingApiGetJobOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiGetJobOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1-beta1/jobs/{id}/operations/{jobOperationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"jobOperationId"+"}", url.PathEscape(parameterValueToString(r.jobOperationId, "jobOperationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiGetJobOperationBatchRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobOperationId string
	batchId string
}

func (r ApiJobSchedulingApiGetJobOperationBatchRequest) Execute() (*JobSchedulingApiGetJobOperationBatchResponse, *http.Response, error) {
	return r.ApiService.JobSchedulingApiGetJobOperationBatchExecute(r)
}

/*
JobSchedulingApiGetJobOperationBatch Get Job Operation Batch

Retrieves a batch for a job operation by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param jobOperationId
 @param batchId
 @return ApiJobSchedulingApiGetJobOperationBatchRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJobOperationBatch(ctx context.Context, id string, jobOperationId string, batchId string) ApiJobSchedulingApiGetJobOperationBatchRequest {
	return ApiJobSchedulingApiGetJobOperationBatchRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		jobOperationId: jobOperationId,
		batchId: batchId,
	}
}

// Execute executes the request
//  @return JobSchedulingApiGetJobOperationBatchResponse
func (a *JobSchedulingAPIAPIService) JobSchedulingApiGetJobOperationBatchExecute(r ApiJobSchedulingApiGetJobOperationBatchRequest) (*JobSchedulingApiGetJobOperationBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *JobSchedulingApiGetJobOperationBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiGetJobOperationBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1-beta1/jobs/{id}/operations/{jobOperationId}/batches/{batchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"jobOperationId"+"}", url.PathEscape(parameterValueToString(r.jobOperationId, "jobOperationId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"batchId"+"}", url.PathEscape(parameterValueToString(r.batchId, "batchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiHoldJobRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
}

func (r ApiJobSchedulingApiHoldJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiHoldJobExecute(r)
}

/*
JobSchedulingApiHoldJob Hold Job

Holds a Production Job.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiHoldJobRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiHoldJob(ctx context.Context, id string) ApiJobSchedulingApiHoldJobRequest {
	return ApiJobSchedulingApiHoldJobRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiHoldJobExecute(r ApiJobSchedulingApiHoldJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiHoldJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1-beta1/jobs/{id}/hold"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiHoldJob400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJobSchedulingApiListJobOperationBatchesRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobOperationId string
	workcenterID *string
	batchStatus *string
}

// A unique identifier of a workcenter.
func (r ApiJobSchedulingApiListJobOperationBatchesRequest) WorkcenterID(workcenterID string) ApiJobSchedulingApiListJobOperationBatchesRequest {
	r.workcenterID = &workcenterID
	return r
}

// The status of a batch.
func (r ApiJobSchedulingApiListJobOperationBatchesRequest) BatchStatus(batchStatus string) ApiJobSchedulingApiListJobOperationBatchesRequest {
	r.batchStatus = &batchStatus
	return r
}

func (r ApiJobSchedulingApiListJobOperationBatchesRequest) Execute() ([]JobSchedulingApiListJobOperationBatchesItem, *http.Response, error) {
	return r.ApiService.JobSchedulingApiListJobOperationBatchesExecute(r)
}

/*
JobSchedulingApiListJobOperationBatches List Job Operation Batches

Retrieves a list of batches for a job operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param jobOperationId
 @return ApiJobSchedulingApiListJobOperationBatchesRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobOperationBatches(ctx context.Context, id string, jobOperationId string) ApiJobSchedulingApiListJobOperationBatchesRequest {
	return ApiJobSchedulingApiListJobOperationBatchesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		jobOperationId: jobOperationId,
	}
}

// Execute executes the request
//  @return []JobSchedulingApiListJobOperationBatchesItem
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobOperationBatchesExecute(r ApiJobSchedulingApiListJobOperationBatchesRequest) ([]JobSchedulingApiListJobOperationBatchesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JobSchedulingApiListJobOperationBatchesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiListJobOperationBatches")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1-beta1/jobs/{id}/operations/{jobOperationId}/batches"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"jobOperationId"+"}", url.PathEscape(parameterValueToString(r.jobOperationId, "jobOperationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.workcenterID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterID", r.workcenterID, "form", "")
	}
	if r.batchStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "batchStatus", r.batchStatus, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiListJobOperationsRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	partOperationType *string
	jobOperationStatus *string
	operationCode *string
	jobOperationId *string
	workcenterId *string
	beginScheduledStartDate *time.Time
	endScheduledStartDate *time.Time
}

// Identifies the part operation type. Max 50 characters.
func (r ApiJobSchedulingApiListJobOperationsRequest) PartOperationType(partOperationType string) ApiJobSchedulingApiListJobOperationsRequest {
	r.partOperationType = &partOperationType
	return r
}

// Status of the job. More than one status can be specified. Setup Table &amp;quot;Job Status&amp;quot; (part.dbo.Job_Status). Maximum 50 characters.
func (r ApiJobSchedulingApiListJobOperationsRequest) JobOperationStatus(jobOperationStatus string) ApiJobSchedulingApiListJobOperationsRequest {
	r.jobOperationStatus = &jobOperationStatus
	return r
}

// Name of the operation.
func (r ApiJobSchedulingApiListJobOperationsRequest) OperationCode(operationCode string) ApiJobSchedulingApiListJobOperationsRequest {
	r.operationCode = &operationCode
	return r
}

// A unique identifier of the job operation.
func (r ApiJobSchedulingApiListJobOperationsRequest) JobOperationId(jobOperationId string) ApiJobSchedulingApiListJobOperationsRequest {
	r.jobOperationId = &jobOperationId
	return r
}

// A unique identifier of the assigned workcenter.
func (r ApiJobSchedulingApiListJobOperationsRequest) WorkcenterId(workcenterId string) ApiJobSchedulingApiListJobOperationsRequest {
	r.workcenterId = &workcenterId
	return r
}

// Start of the date range for the job start date. If ScheduledStartDate range parameters are specified, only job operations with an ScheduledStartDate value that is within the date/time range will be returned.
func (r ApiJobSchedulingApiListJobOperationsRequest) BeginScheduledStartDate(beginScheduledStartDate time.Time) ApiJobSchedulingApiListJobOperationsRequest {
	r.beginScheduledStartDate = &beginScheduledStartDate
	return r
}

// End of the date range for the job start date. If ScheduledStartDate range parameters are specified, only job operations with an ScheduledStartDate value that is within the date/time range will be returned.
func (r ApiJobSchedulingApiListJobOperationsRequest) EndScheduledStartDate(endScheduledStartDate time.Time) ApiJobSchedulingApiListJobOperationsRequest {
	r.endScheduledStartDate = &endScheduledStartDate
	return r
}

func (r ApiJobSchedulingApiListJobOperationsRequest) Execute() ([]JobSchedulingApiListJobOperationsItem, *http.Response, error) {
	return r.ApiService.JobSchedulingApiListJobOperationsExecute(r)
}

/*
JobSchedulingApiListJobOperations List Job Operations

Retrieve job operation details by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiListJobOperationsRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobOperations(ctx context.Context, id string) ApiJobSchedulingApiListJobOperationsRequest {
	return ApiJobSchedulingApiListJobOperationsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []JobSchedulingApiListJobOperationsItem
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobOperationsExecute(r ApiJobSchedulingApiListJobOperationsRequest) ([]JobSchedulingApiListJobOperationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JobSchedulingApiListJobOperationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiListJobOperations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}/operations"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partOperationType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOperationType", r.partOperationType, "form", "")
	}
	if r.jobOperationStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobOperationStatus", r.jobOperationStatus, "form", "")
	}
	if r.operationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationCode", r.operationCode, "form", "")
	}
	if r.jobOperationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobOperationId", r.jobOperationId, "form", "")
	}
	if r.workcenterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterId", r.workcenterId, "form", "")
	}
	if r.beginScheduledStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beginScheduledStartDate", r.beginScheduledStartDate, "form", "")
	}
	if r.endScheduledStartDate != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endScheduledStartDate", r.endScheduledStartDate, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiListJobOperations400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiListJobTypesRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
}

func (r ApiJobSchedulingApiListJobTypesRequest) Execute() ([]JobSchedulingApiListJobTypesItem, *http.Response, error) {
	return r.ApiService.JobSchedulingApiListJobTypesExecute(r)
}

/*
JobSchedulingApiListJobTypes List Job Types

Retrieve list of Job Types.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJobSchedulingApiListJobTypesRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobTypes(ctx context.Context) ApiJobSchedulingApiListJobTypesRequest {
	return ApiJobSchedulingApiListJobTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JobSchedulingApiListJobTypesItem
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobTypesExecute(r ApiJobSchedulingApiListJobTypesRequest) ([]JobSchedulingApiListJobTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JobSchedulingApiListJobTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiListJobTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/job-definitions/types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiListJobsRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	partId *string
	externalJobCode *string
	jobNumber *string
	jobStatuses *[]string
	dueDateBegin *time.Time
	dueDateEnd *time.Time
	buildingId *string
	completedDateBegin *time.Time
	completedDateEnd *time.Time
	beginEarliestStartDateTime *time.Time
	endEarliestStartDateTime *time.Time
	priority *string
}

// A unique identifier of the part.
func (r ApiJobSchedulingApiListJobsRequest) PartId(partId string) ApiJobSchedulingApiListJobsRequest {
	r.partId = &partId
	return r
}

// A code or number assigned to the production job in an external scheduling system.
func (r ApiJobSchedulingApiListJobsRequest) ExternalJobCode(externalJobCode string) ApiJobSchedulingApiListJobsRequest {
	r.externalJobCode = &externalJobCode
	return r
}

// Job number, including prefix and suffix, assigned to a production job.
func (r ApiJobSchedulingApiListJobsRequest) JobNumber(jobNumber string) ApiJobSchedulingApiListJobsRequest {
	r.jobNumber = &jobNumber
	return r
}

// Status of the job. More than one status can be specified. Setup Table &amp;quot;Job Status&amp;quot; (part.dbo.Job_Status).
func (r ApiJobSchedulingApiListJobsRequest) JobStatuses(jobStatuses []string) ApiJobSchedulingApiListJobsRequest {
	r.jobStatuses = &jobStatuses
	return r
}

// Start of the date range for the job due date.
func (r ApiJobSchedulingApiListJobsRequest) DueDateBegin(dueDateBegin time.Time) ApiJobSchedulingApiListJobsRequest {
	r.dueDateBegin = &dueDateBegin
	return r
}

// End of the date range for the job due date.
func (r ApiJobSchedulingApiListJobsRequest) DueDateEnd(dueDateEnd time.Time) ApiJobSchedulingApiListJobsRequest {
	r.dueDateEnd = &dueDateEnd
	return r
}

// A unique identifier of the building in which the job is completed.
func (r ApiJobSchedulingApiListJobsRequest) BuildingId(buildingId string) ApiJobSchedulingApiListJobsRequest {
	r.buildingId = &buildingId
	return r
}

// Start of the date range for the job completed date. If completedDate range parameters are specified, only jobs that have a completed date within the date/time range will be returned.
func (r ApiJobSchedulingApiListJobsRequest) CompletedDateBegin(completedDateBegin time.Time) ApiJobSchedulingApiListJobsRequest {
	r.completedDateBegin = &completedDateBegin
	return r
}

// End of the date range for the job completed date. If completedDate range parameters are specified, only jobs that have a completed date within the date/time range will be returned.
func (r ApiJobSchedulingApiListJobsRequest) CompletedDateEnd(completedDateEnd time.Time) ApiJobSchedulingApiListJobsRequest {
	r.completedDateEnd = &completedDateEnd
	return r
}

// Beginning of the date range for the earliest date the job can be started.
func (r ApiJobSchedulingApiListJobsRequest) BeginEarliestStartDateTime(beginEarliestStartDateTime time.Time) ApiJobSchedulingApiListJobsRequest {
	r.beginEarliestStartDateTime = &beginEarliestStartDateTime
	return r
}

// End of the date range for the earliest date the job can be started.
func (r ApiJobSchedulingApiListJobsRequest) EndEarliestStartDateTime(endEarliestStartDateTime time.Time) ApiJobSchedulingApiListJobsRequest {
	r.endEarliestStartDateTime = &endEarliestStartDateTime
	return r
}

// The priority of the job. Setup Table &amp;quot;Priority (Part)&amp;quot; (part.dbo.Priority). If not provided the default priority will be used.
func (r ApiJobSchedulingApiListJobsRequest) Priority(priority string) ApiJobSchedulingApiListJobsRequest {
	r.priority = &priority
	return r
}

func (r ApiJobSchedulingApiListJobsRequest) Execute() ([]JobSchedulingApiListJobsItem, *http.Response, error) {
	return r.ApiService.JobSchedulingApiListJobsExecute(r)
}

/*
JobSchedulingApiListJobs List Jobs

Retrieve production jobs by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiJobSchedulingApiListJobsRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobs(ctx context.Context) ApiJobSchedulingApiListJobsRequest {
	return ApiJobSchedulingApiListJobsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []JobSchedulingApiListJobsItem
func (a *JobSchedulingAPIAPIService) JobSchedulingApiListJobsExecute(r ApiJobSchedulingApiListJobsRequest) ([]JobSchedulingApiListJobsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []JobSchedulingApiListJobsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiListJobs")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.externalJobCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalJobCode", r.externalJobCode, "form", "")
	}
	if r.jobNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobNumber", r.jobNumber, "form", "")
	}
	if r.jobStatuses != nil {
		t := *r.jobStatuses
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "jobStatuses", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "jobStatuses", t, "form", "multi")
		}
	}
	if r.dueDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateBegin", r.dueDateBegin, "form", "")
	}
	if r.dueDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateEnd", r.dueDateEnd, "form", "")
	}
	if r.buildingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buildingId", r.buildingId, "form", "")
	}
	if r.completedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "completedDateBegin", r.completedDateBegin, "form", "")
	}
	if r.completedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "completedDateEnd", r.completedDateEnd, "form", "")
	}
	if r.beginEarliestStartDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beginEarliestStartDateTime", r.beginEarliestStartDateTime, "form", "")
	}
	if r.endEarliestStartDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endEarliestStartDateTime", r.endEarliestStartDateTime, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiListJobs400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiJobSchedulingApiReleaseJobHoldRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
}

func (r ApiJobSchedulingApiReleaseJobHoldRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiReleaseJobHoldExecute(r)
}

/*
JobSchedulingApiReleaseJobHold Release Job Hold

Releases a job on hold.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiReleaseJobHoldRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiReleaseJobHold(ctx context.Context, id string) ApiJobSchedulingApiReleaseJobHoldRequest {
	return ApiJobSchedulingApiReleaseJobHoldRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiReleaseJobHoldExecute(r ApiJobSchedulingApiReleaseJobHoldRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiReleaseJobHold")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1-beta1/jobs/{id}/release-hold"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiReleaseJobHold400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJobSchedulingApiScheduleJobOperationsRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobSchedulingApiScheduleJobOperationsRequest *JobSchedulingApiScheduleJobOperationsRequest
}

func (r ApiJobSchedulingApiScheduleJobOperationsRequest) JobSchedulingApiScheduleJobOperationsRequest(jobSchedulingApiScheduleJobOperationsRequest JobSchedulingApiScheduleJobOperationsRequest) ApiJobSchedulingApiScheduleJobOperationsRequest {
	r.jobSchedulingApiScheduleJobOperationsRequest = &jobSchedulingApiScheduleJobOperationsRequest
	return r
}

func (r ApiJobSchedulingApiScheduleJobOperationsRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiScheduleJobOperationsExecute(r)
}

/*
JobSchedulingApiScheduleJobOperations Schedule Job Operations

This end point is used to add and update the job operations schedule details in Plex systems when job ops are already scheduled in client's system. This end point does not support updating schedule information for batch and preprocess operations. If backwards schedule end point is used for scheduling, then this end point should not be used.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier of the production job.
 @return ApiJobSchedulingApiScheduleJobOperationsRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiScheduleJobOperations(ctx context.Context, id string) ApiJobSchedulingApiScheduleJobOperationsRequest {
	return ApiJobSchedulingApiScheduleJobOperationsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiScheduleJobOperationsExecute(r ApiJobSchedulingApiScheduleJobOperationsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiScheduleJobOperations")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}/operations-schedule"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobSchedulingApiScheduleJobOperationsRequest == nil {
		return nil, reportError("jobSchedulingApiScheduleJobOperationsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jobSchedulingApiScheduleJobOperationsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiScheduleJobOperations400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiJobSchedulingApiUpdateJobRequest struct {
	ctx context.Context
	ApiService *JobSchedulingAPIAPIService
	id string
	jobSchedulingApiUpdateJobRequest *JobSchedulingApiUpdateJobRequest
}

func (r ApiJobSchedulingApiUpdateJobRequest) JobSchedulingApiUpdateJobRequest(jobSchedulingApiUpdateJobRequest JobSchedulingApiUpdateJobRequest) ApiJobSchedulingApiUpdateJobRequest {
	r.jobSchedulingApiUpdateJobRequest = &jobSchedulingApiUpdateJobRequest
	return r
}

func (r ApiJobSchedulingApiUpdateJobRequest) Execute() (*http.Response, error) {
	return r.ApiService.JobSchedulingApiUpdateJobExecute(r)
}

/*
JobSchedulingApiUpdateJob Update Job

Update details of a production job. If the job due date or quantity was changed, requires that job operations are also updated with a subsequent API call to the Backwards Schedule endpoint.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiJobSchedulingApiUpdateJobRequest
*/
func (a *JobSchedulingAPIAPIService) JobSchedulingApiUpdateJob(ctx context.Context, id string) ApiJobSchedulingApiUpdateJobRequest {
	return ApiJobSchedulingApiUpdateJobRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *JobSchedulingAPIAPIService) JobSchedulingApiUpdateJobExecute(r ApiJobSchedulingApiUpdateJobRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "JobSchedulingAPIAPIService.JobSchedulingApiUpdateJob")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/scheduling/v1/jobs/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.jobSchedulingApiUpdateJobRequest == nil {
		return nil, reportError("jobSchedulingApiUpdateJobRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.jobSchedulingApiUpdateJobRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v JobSchedulingApiUpdateJob400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}
