/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// ActivityManagerAPIAPIService ActivityManagerAPIAPI service
type ActivityManagerAPIAPIService service

type ApiActivityManagerApiCreateActivityRequest struct {
	ctx context.Context
	ApiService *ActivityManagerAPIAPIService
	activityManagerApiCreateActivityRequest *ActivityManagerApiCreateActivityRequest
}

func (r ApiActivityManagerApiCreateActivityRequest) ActivityManagerApiCreateActivityRequest(activityManagerApiCreateActivityRequest ActivityManagerApiCreateActivityRequest) ApiActivityManagerApiCreateActivityRequest {
	r.activityManagerApiCreateActivityRequest = &activityManagerApiCreateActivityRequest
	return r
}

func (r ApiActivityManagerApiCreateActivityRequest) Execute() (*ActivityManagerApiCreateActivity201Response, *http.Response, error) {
	return r.ApiService.ActivityManagerApiCreateActivityExecute(r)
}

/*
ActivityManagerApiCreateActivity Create Activity

Add an activity.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiActivityManagerApiCreateActivityRequest
*/
func (a *ActivityManagerAPIAPIService) ActivityManagerApiCreateActivity(ctx context.Context) ApiActivityManagerApiCreateActivityRequest {
	return ApiActivityManagerApiCreateActivityRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ActivityManagerApiCreateActivity201Response
func (a *ActivityManagerAPIAPIService) ActivityManagerApiCreateActivityExecute(r ApiActivityManagerApiCreateActivityRequest) (*ActivityManagerApiCreateActivity201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActivityManagerApiCreateActivity201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivityManagerAPIAPIService.ActivityManagerApiCreateActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/management/v1/activity-manager"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.activityManagerApiCreateActivityRequest == nil {
		return localVarReturnValue, nil, reportError("activityManagerApiCreateActivityRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.activityManagerApiCreateActivityRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ActivityManagerApiCreateActivity400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiActivityManagerApiGetActivityRequest struct {
	ctx context.Context
	ApiService *ActivityManagerAPIAPIService
	id string
}

func (r ApiActivityManagerApiGetActivityRequest) Execute() (*ActivityManagerApiGetActivityResponse, *http.Response, error) {
	return r.ApiService.ActivityManagerApiGetActivityExecute(r)
}

/*
ActivityManagerApiGetActivity Get Activity

Retrieves an activity by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Activity ID.
 @return ApiActivityManagerApiGetActivityRequest
*/
func (a *ActivityManagerAPIAPIService) ActivityManagerApiGetActivity(ctx context.Context, id string) ApiActivityManagerApiGetActivityRequest {
	return ApiActivityManagerApiGetActivityRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ActivityManagerApiGetActivityResponse
func (a *ActivityManagerAPIAPIService) ActivityManagerApiGetActivityExecute(r ApiActivityManagerApiGetActivityRequest) (*ActivityManagerApiGetActivityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActivityManagerApiGetActivityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivityManagerAPIAPIService.ActivityManagerApiGetActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/management/v1/activity-manager/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiActivityManagerApiListActivitiesRequest struct {
	ctx context.Context
	ApiService *ActivityManagerAPIAPIService
	tenantId *string
	activityIds *[]string
	activityName *string
	activityType *string
	activityStatus *string
	priority *int32
	dueDateStartDateTime *time.Time
	dueDateEndDateTime *time.Time
	customerCode *string
	supplierCode *string
	location *string
	private *bool
	assignedTo *string
	assignedToDepartment *string
	involvedUsers *[]string
	statusType *int32
	progressType *int32
	parentActivity *string
	plannedStartDateTime *time.Time
	plannedFinishDateTime *time.Time
}

// The Tenant ID.
func (r ApiActivityManagerApiListActivitiesRequest) TenantId(tenantId string) ApiActivityManagerApiListActivitiesRequest {
	r.tenantId = &tenantId
	return r
}

// The ID of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) ActivityIds(activityIds []string) ApiActivityManagerApiListActivitiesRequest {
	r.activityIds = &activityIds
	return r
}

// The name of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) ActivityName(activityName string) ApiActivityManagerApiListActivitiesRequest {
	r.activityName = &activityName
	return r
}

// The activity type.
func (r ApiActivityManagerApiListActivitiesRequest) ActivityType(activityType string) ApiActivityManagerApiListActivitiesRequest {
	r.activityType = &activityType
	return r
}

// The status information of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) ActivityStatus(activityStatus string) ApiActivityManagerApiListActivitiesRequest {
	r.activityStatus = &activityStatus
	return r
}

// The priority information about the activity.
func (r ApiActivityManagerApiListActivitiesRequest) Priority(priority int32) ApiActivityManagerApiListActivitiesRequest {
	r.priority = &priority
	return r
}

// The due date of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) DueDateStartDateTime(dueDateStartDateTime time.Time) ApiActivityManagerApiListActivitiesRequest {
	r.dueDateStartDateTime = &dueDateStartDateTime
	return r
}

// The due date of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) DueDateEndDateTime(dueDateEndDateTime time.Time) ApiActivityManagerApiListActivitiesRequest {
	r.dueDateEndDateTime = &dueDateEndDateTime
	return r
}

// The customer code of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) CustomerCode(customerCode string) ApiActivityManagerApiListActivitiesRequest {
	r.customerCode = &customerCode
	return r
}

// The supplier code of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) SupplierCode(supplierCode string) ApiActivityManagerApiListActivitiesRequest {
	r.supplierCode = &supplierCode
	return r
}

// The location of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) Location(location string) ApiActivityManagerApiListActivitiesRequest {
	r.location = &location
	return r
}

// Indicates whether the activity is private or not.
func (r ApiActivityManagerApiListActivitiesRequest) Private(private bool) ApiActivityManagerApiListActivitiesRequest {
	r.private = &private
	return r
}

// The User ID assigned to the activity.
func (r ApiActivityManagerApiListActivitiesRequest) AssignedTo(assignedTo string) ApiActivityManagerApiListActivitiesRequest {
	r.assignedTo = &assignedTo
	return r
}

// The department code to which the activity is assigned.
func (r ApiActivityManagerApiListActivitiesRequest) AssignedToDepartment(assignedToDepartment string) ApiActivityManagerApiListActivitiesRequest {
	r.assignedToDepartment = &assignedToDepartment
	return r
}

// The user involved in the activity.
func (r ApiActivityManagerApiListActivitiesRequest) InvolvedUsers(involvedUsers []string) ApiActivityManagerApiListActivitiesRequest {
	r.involvedUsers = &involvedUsers
	return r
}

// The status type of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) StatusType(statusType int32) ApiActivityManagerApiListActivitiesRequest {
	r.statusType = &statusType
	return r
}

// The progress type of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) ProgressType(progressType int32) ApiActivityManagerApiListActivitiesRequest {
	r.progressType = &progressType
	return r
}

// The parent ID of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) ParentActivity(parentActivity string) ApiActivityManagerApiListActivitiesRequest {
	r.parentActivity = &parentActivity
	return r
}

// The planned start date of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) PlannedStartDateTime(plannedStartDateTime time.Time) ApiActivityManagerApiListActivitiesRequest {
	r.plannedStartDateTime = &plannedStartDateTime
	return r
}

// The planned finish date of the activity.
func (r ApiActivityManagerApiListActivitiesRequest) PlannedFinishDateTime(plannedFinishDateTime time.Time) ApiActivityManagerApiListActivitiesRequest {
	r.plannedFinishDateTime = &plannedFinishDateTime
	return r
}

func (r ApiActivityManagerApiListActivitiesRequest) Execute() ([]ActivityManagerApiListActivitiesItem, *http.Response, error) {
	return r.ApiService.ActivityManagerApiListActivitiesExecute(r)
}

/*
ActivityManagerApiListActivities List Activities

Retrieve a list of activities.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiActivityManagerApiListActivitiesRequest
*/
func (a *ActivityManagerAPIAPIService) ActivityManagerApiListActivities(ctx context.Context) ApiActivityManagerApiListActivitiesRequest {
	return ApiActivityManagerApiListActivitiesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ActivityManagerApiListActivitiesItem
func (a *ActivityManagerAPIAPIService) ActivityManagerApiListActivitiesExecute(r ApiActivityManagerApiListActivitiesRequest) ([]ActivityManagerApiListActivitiesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ActivityManagerApiListActivitiesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivityManagerAPIAPIService.ActivityManagerApiListActivities")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/management/v1/activity-manager"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.tenantId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tenantId", r.tenantId, "form", "")
	}
	if r.activityIds != nil {
		t := *r.activityIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "activityIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "activityIds", t, "form", "multi")
		}
	}
	if r.activityName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activityName", r.activityName, "form", "")
	}
	if r.activityType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activityType", r.activityType, "form", "")
	}
	if r.activityStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "activityStatus", r.activityStatus, "form", "")
	}
	if r.priority != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "priority", r.priority, "form", "")
	}
	if r.dueDateStartDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateStartDateTime", r.dueDateStartDateTime, "form", "")
	}
	if r.dueDateEndDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dueDateEndDateTime", r.dueDateEndDateTime, "form", "")
	}
	if r.customerCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerCode", r.customerCode, "form", "")
	}
	if r.supplierCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierCode", r.supplierCode, "form", "")
	}
	if r.location != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "location", r.location, "form", "")
	}
	if r.private != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "private", r.private, "form", "")
	}
	if r.assignedTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedTo", r.assignedTo, "form", "")
	}
	if r.assignedToDepartment != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedToDepartment", r.assignedToDepartment, "form", "")
	}
	if r.involvedUsers != nil {
		t := *r.involvedUsers
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "involvedUsers", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "involvedUsers", t, "form", "multi")
		}
	}
	if r.statusType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "statusType", r.statusType, "form", "")
	}
	if r.progressType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "progressType", r.progressType, "form", "")
	}
	if r.parentActivity != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentActivity", r.parentActivity, "form", "")
	}
	if r.plannedStartDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plannedStartDateTime", r.plannedStartDateTime, "form", "")
	}
	if r.plannedFinishDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plannedFinishDateTime", r.plannedFinishDateTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiActivityManagerApiUpdateActivityRequest struct {
	ctx context.Context
	ApiService *ActivityManagerAPIAPIService
	id string
	activityManagerApiUpdateActivityRequest *ActivityManagerApiUpdateActivityRequest
}

func (r ApiActivityManagerApiUpdateActivityRequest) ActivityManagerApiUpdateActivityRequest(activityManagerApiUpdateActivityRequest ActivityManagerApiUpdateActivityRequest) ApiActivityManagerApiUpdateActivityRequest {
	r.activityManagerApiUpdateActivityRequest = &activityManagerApiUpdateActivityRequest
	return r
}

func (r ApiActivityManagerApiUpdateActivityRequest) Execute() (*ActivityManagerApiUpdateActivityResponse, *http.Response, error) {
	return r.ApiService.ActivityManagerApiUpdateActivityExecute(r)
}

/*
ActivityManagerApiUpdateActivity Update Activity

NOTE:
When you update an activity and provide a value for a field, any existing values are cleared and replaced with the new one.
When you update an activity and do not provide a value for a field, any previously stored values for that field are retained.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Activity ID.
 @return ApiActivityManagerApiUpdateActivityRequest
*/
func (a *ActivityManagerAPIAPIService) ActivityManagerApiUpdateActivity(ctx context.Context, id string) ApiActivityManagerApiUpdateActivityRequest {
	return ApiActivityManagerApiUpdateActivityRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ActivityManagerApiUpdateActivityResponse
func (a *ActivityManagerAPIAPIService) ActivityManagerApiUpdateActivityExecute(r ApiActivityManagerApiUpdateActivityRequest) (*ActivityManagerApiUpdateActivityResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ActivityManagerApiUpdateActivityResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ActivityManagerAPIAPIService.ActivityManagerApiUpdateActivity")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/management/v1/activity-manager/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.activityManagerApiUpdateActivityRequest == nil {
		return localVarReturnValue, nil, reportError("activityManagerApiUpdateActivityRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.activityManagerApiUpdateActivityRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ActivityManagerApiUpdateActivity400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
