/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// InventoryOperationsManagementAPIAPIService InventoryOperationsManagementAPIAPI service
type InventoryOperationsManagementAPIAPIService service

type ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	inventoryOperationsManagementApiAdjustSupplyItemsRequest *InventoryOperationsManagementApiAdjustSupplyItemsRequest
}

func (r ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest) InventoryOperationsManagementApiAdjustSupplyItemsRequest(inventoryOperationsManagementApiAdjustSupplyItemsRequest InventoryOperationsManagementApiAdjustSupplyItemsRequest) ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest {
	r.inventoryOperationsManagementApiAdjustSupplyItemsRequest = &inventoryOperationsManagementApiAdjustSupplyItemsRequest
	return r
}

func (r ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest) Execute() (*http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiAdjustSupplyItemsExecute(r)
}

/*
InventoryOperationsManagementApiAdjustSupplyItems Adjust Supply Items

Apply adjustments to a set of supply items.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiAdjustSupplyItems(ctx context.Context) ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest {
	return ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiAdjustSupplyItemsExecute(r ApiInventoryOperationsManagementApiAdjustSupplyItemsRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiAdjustSupplyItems")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1-beta1/inventory-control/adjust-supply-items"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.inventoryOperationsManagementApiAdjustSupplyItemsRequest == nil {
		return nil, reportError("inventoryOperationsManagementApiAdjustSupplyItemsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.inventoryOperationsManagementApiAdjustSupplyItemsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiAdjustSupplyItems400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	inventoryOperationsManagementApiCreateInventoryReceiptRequest *InventoryOperationsManagementApiCreateInventoryReceiptRequest
}

func (r ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest) InventoryOperationsManagementApiCreateInventoryReceiptRequest(inventoryOperationsManagementApiCreateInventoryReceiptRequest InventoryOperationsManagementApiCreateInventoryReceiptRequest) ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest {
	r.inventoryOperationsManagementApiCreateInventoryReceiptRequest = &inventoryOperationsManagementApiCreateInventoryReceiptRequest
	return r
}

func (r ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest) Execute() (*InventoryOperationsManagementApiCreateInventoryReceipt201Response, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiCreateInventoryReceiptExecute(r)
}

/*
InventoryOperationsManagementApiCreateInventoryReceipt Create Inventory Receipt

Create a new Inventory Receipt.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryReceipt(ctx context.Context) ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest {
	return ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiCreateInventoryReceipt201Response
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryReceiptExecute(r ApiInventoryOperationsManagementApiCreateInventoryReceiptRequest) (*InventoryOperationsManagementApiCreateInventoryReceipt201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiCreateInventoryReceipt201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiCreateInventoryReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.inventoryOperationsManagementApiCreateInventoryReceiptRequest == nil {
		return localVarReturnValue, nil, reportError("inventoryOperationsManagementApiCreateInventoryReceiptRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.inventoryOperationsManagementApiCreateInventoryReceiptRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiCreateInventoryReceipt400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	receiptId string
	inventoryOperationsManagementApiCreateInventoryReceiptLotRequest *InventoryOperationsManagementApiCreateInventoryReceiptLotRequest
}

func (r ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest) InventoryOperationsManagementApiCreateInventoryReceiptLotRequest(inventoryOperationsManagementApiCreateInventoryReceiptLotRequest InventoryOperationsManagementApiCreateInventoryReceiptLotRequest) ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest {
	r.inventoryOperationsManagementApiCreateInventoryReceiptLotRequest = &inventoryOperationsManagementApiCreateInventoryReceiptLotRequest
	return r
}

func (r ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest) Execute() (*InventoryOperationsManagementApiCreateInventoryReceiptLot201Response, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiCreateInventoryReceiptLotExecute(r)
}

/*
InventoryOperationsManagementApiCreateInventoryReceiptLot Create Inventory Receipt Lot

Creates a new lot for an inventory receipt.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptId The inventory receipt ID.
 @return ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryReceiptLot(ctx context.Context, receiptId string) ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest {
	return ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest{
		ApiService: a,
		ctx: ctx,
		receiptId: receiptId,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiCreateInventoryReceiptLot201Response
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryReceiptLotExecute(r ApiInventoryOperationsManagementApiCreateInventoryReceiptLotRequest) (*InventoryOperationsManagementApiCreateInventoryReceiptLot201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiCreateInventoryReceiptLot201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiCreateInventoryReceiptLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts/{receiptId}/lots"
	localVarPath = strings.Replace(localVarPath, "{"+"receiptId"+"}", url.PathEscape(parameterValueToString(r.receiptId, "receiptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.inventoryOperationsManagementApiCreateInventoryReceiptLotRequest == nil {
		return localVarReturnValue, nil, reportError("inventoryOperationsManagementApiCreateInventoryReceiptLotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.inventoryOperationsManagementApiCreateInventoryReceiptLotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiCreateInventoryReceiptLot400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InventoryOperationsManagementApiCreateInventoryReceiptLot404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	inventoryOperationsManagementApiCreateInventoryShipmentRequest *InventoryOperationsManagementApiCreateInventoryShipmentRequest
}

func (r ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest) InventoryOperationsManagementApiCreateInventoryShipmentRequest(inventoryOperationsManagementApiCreateInventoryShipmentRequest InventoryOperationsManagementApiCreateInventoryShipmentRequest) ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest {
	r.inventoryOperationsManagementApiCreateInventoryShipmentRequest = &inventoryOperationsManagementApiCreateInventoryShipmentRequest
	return r
}

func (r ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest) Execute() (*InventoryOperationsManagementApiCreateInventoryShipment201Response, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiCreateInventoryShipmentExecute(r)
}

/*
InventoryOperationsManagementApiCreateInventoryShipment Create Inventory Shipment

Create a new inventory shipment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryShipment(ctx context.Context) ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest {
	return ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiCreateInventoryShipment201Response
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiCreateInventoryShipmentExecute(r ApiInventoryOperationsManagementApiCreateInventoryShipmentRequest) (*InventoryOperationsManagementApiCreateInventoryShipment201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiCreateInventoryShipment201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiCreateInventoryShipment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-shipping/shipments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.inventoryOperationsManagementApiCreateInventoryShipmentRequest == nil {
		return localVarReturnValue, nil, reportError("inventoryOperationsManagementApiCreateInventoryShipmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.inventoryOperationsManagementApiCreateInventoryShipmentRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiCreateInventoryShipment400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetContainerRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	serialNo string
}

func (r ApiInventoryOperationsManagementApiGetContainerRequest) Execute() (*InventoryOperationsManagementApiGetContainerResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetContainerExecute(r)
}

/*
InventoryOperationsManagementApiGetContainer Get Container

Gets an active container by serialNo.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param serialNo Serial Number to search for.
 @return ApiInventoryOperationsManagementApiGetContainerRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetContainer(ctx context.Context, serialNo string) ApiInventoryOperationsManagementApiGetContainerRequest {
	return ApiInventoryOperationsManagementApiGetContainerRequest{
		ApiService: a,
		ctx: ctx,
		serialNo: serialNo,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetContainerResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetContainerExecute(r ApiInventoryOperationsManagementApiGetContainerRequest) (*InventoryOperationsManagementApiGetContainerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetContainerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetContainer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-tracking/containers/{serialNo}"
	localVarPath = strings.Replace(localVarPath, "{"+"serialNo"+"}", url.PathEscape(parameterValueToString(r.serialNo, "serialNo")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetInventoryReceiptRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	id string
}

func (r ApiInventoryOperationsManagementApiGetInventoryReceiptRequest) Execute() (*InventoryOperationsManagementApiGetInventoryReceiptResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetInventoryReceiptExecute(r)
}

/*
InventoryOperationsManagementApiGetInventoryReceipt Get Inventory Receipt

Retrieve an Inventory Receipt by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The inventory receipt ID.
 @return ApiInventoryOperationsManagementApiGetInventoryReceiptRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryReceipt(ctx context.Context, id string) ApiInventoryOperationsManagementApiGetInventoryReceiptRequest {
	return ApiInventoryOperationsManagementApiGetInventoryReceiptRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetInventoryReceiptResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryReceiptExecute(r ApiInventoryOperationsManagementApiGetInventoryReceiptRequest) (*InventoryOperationsManagementApiGetInventoryReceiptResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetInventoryReceiptResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetInventoryReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	receiptId string
	lotId string
}

func (r ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest) Execute() (*InventoryOperationsManagementApiGetInventoryReceiptLotResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetInventoryReceiptLotExecute(r)
}

/*
InventoryOperationsManagementApiGetInventoryReceiptLot Get Inventory Receipt Lot

Retrieves an inventory receipt lot by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptId The inventory receipt ID.
 @param lotId The lot ID.
 @return ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryReceiptLot(ctx context.Context, receiptId string, lotId string) ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest {
	return ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest{
		ApiService: a,
		ctx: ctx,
		receiptId: receiptId,
		lotId: lotId,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetInventoryReceiptLotResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryReceiptLotExecute(r ApiInventoryOperationsManagementApiGetInventoryReceiptLotRequest) (*InventoryOperationsManagementApiGetInventoryReceiptLotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetInventoryReceiptLotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetInventoryReceiptLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts/{receiptId}/lots/{lotId}"
	localVarPath = strings.Replace(localVarPath, "{"+"receiptId"+"}", url.PathEscape(parameterValueToString(r.receiptId, "receiptId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lotId"+"}", url.PathEscape(parameterValueToString(r.lotId, "lotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiGetInventoryReceiptLot400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InventoryOperationsManagementApiGetInventoryReceiptLot404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetInventoryShipmentRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	id string
}

func (r ApiInventoryOperationsManagementApiGetInventoryShipmentRequest) Execute() (*InventoryOperationsManagementApiGetInventoryShipmentResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetInventoryShipmentExecute(r)
}

/*
InventoryOperationsManagementApiGetInventoryShipment Get Inventory Shipment

Retrieve inventory shipment by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id UUID V4 format XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX. The Inventory Shipment Resource ID.
 @return ApiInventoryOperationsManagementApiGetInventoryShipmentRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryShipment(ctx context.Context, id string) ApiInventoryOperationsManagementApiGetInventoryShipmentRequest {
	return ApiInventoryOperationsManagementApiGetInventoryShipmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetInventoryShipmentResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetInventoryShipmentExecute(r ApiInventoryOperationsManagementApiGetInventoryShipmentRequest) (*InventoryOperationsManagementApiGetInventoryShipmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetInventoryShipmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetInventoryShipment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-shipping/shipments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetLotRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	lotId string
}

func (r ApiInventoryOperationsManagementApiGetLotRequest) Execute() (*InventoryOperationsManagementApiGetLotResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetLotExecute(r)
}

/*
InventoryOperationsManagementApiGetLot Get Lot

Retrieve information of a specific lot by its Lot ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param lotId The UUID assigned to a lot.
 @return ApiInventoryOperationsManagementApiGetLotRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetLot(ctx context.Context, lotId string) ApiInventoryOperationsManagementApiGetLotRequest {
	return ApiInventoryOperationsManagementApiGetLotRequest{
		ApiService: a,
		ctx: ctx,
		lotId: lotId,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetLotResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetLotExecute(r ApiInventoryOperationsManagementApiGetLotRequest) (*InventoryOperationsManagementApiGetLotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetLotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-tracking/lots/{lotId}"
	localVarPath = strings.Replace(localVarPath, "{"+"lotId"+"}", url.PathEscape(parameterValueToString(r.lotId, "lotId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetPartRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	partId string
}

func (r ApiInventoryOperationsManagementApiGetPartRequest) Execute() (*InventoryOperationsManagementApiGetPartResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetPartExecute(r)
}

/*
InventoryOperationsManagementApiGetPart Get Part

Retrieve information of a specific part by its UUID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param partId The UUID assigned to a part.
 @return ApiInventoryOperationsManagementApiGetPartRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetPart(ctx context.Context, partId string) ApiInventoryOperationsManagementApiGetPartRequest {
	return ApiInventoryOperationsManagementApiGetPartRequest{
		ApiService: a,
		ctx: ctx,
		partId: partId,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetPartResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetPartExecute(r ApiInventoryOperationsManagementApiGetPartRequest) (*InventoryOperationsManagementApiGetPartResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetPartResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetPart")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-definitions/parts/{partId}"
	localVarPath = strings.Replace(localVarPath, "{"+"partId"+"}", url.PathEscape(parameterValueToString(r.partId, "partId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiGetSupplyItemRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	id string
}

func (r ApiInventoryOperationsManagementApiGetSupplyItemRequest) Execute() (*InventoryOperationsManagementApiGetSupplyItemResponse, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiGetSupplyItemExecute(r)
}

/*
InventoryOperationsManagementApiGetSupplyItem Get Supply Item

Retrieve a Supply Item by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id Supply Item Resource ID.
 @return ApiInventoryOperationsManagementApiGetSupplyItemRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetSupplyItem(ctx context.Context, id string) ApiInventoryOperationsManagementApiGetSupplyItemRequest {
	return ApiInventoryOperationsManagementApiGetSupplyItemRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return InventoryOperationsManagementApiGetSupplyItemResponse
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiGetSupplyItemExecute(r ApiInventoryOperationsManagementApiGetSupplyItemRequest) (*InventoryOperationsManagementApiGetSupplyItemResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *InventoryOperationsManagementApiGetSupplyItemResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiGetSupplyItem")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-definitions/supply-items/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	beginDate *time.Time
	endDate *time.Time
	serialNo *string
	partId *string
	partOperationId *string
	adjustmentCode *string
	locationId *string
}

// The date and time from when container adjustment transactions are to be retrieved.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) BeginDate(beginDate time.Time) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.beginDate = &beginDate
	return r
}

// The date and time until when container adjustment transactions are to be retrieved.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) EndDate(endDate time.Time) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.endDate = &endDate
	return r
}

// 25 characters max. The serial number of the container that was adjusted.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) SerialNo(serialNo string) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.serialNo = &serialNo
	return r
}

// The container&#39;s Part ID.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) PartId(partId string) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.partId = &partId
	return r
}

// The container&#39;s Part Operation ID.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) PartOperationId(partOperationId string) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.partOperationId = &partOperationId
	return r
}

// 50 characters max. Setup table &amp;quot;Adjustment Reason&amp;quot; (part.dbo.adjustment_reason). The Adjustment Reason setup table lists the acceptable reasons for inventory changes.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) AdjustmentCode(adjustmentCode string) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.adjustmentCode = &adjustmentCode
	return r
}

// The location ID of the container that was adjusted.
func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) LocationId(locationId string) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	r.locationId = &locationId
	return r
}

func (r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) Execute() ([]InventoryOperationsManagementApiListContainerAdjustmentsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListContainerAdjustmentsExecute(r)
}

/*
InventoryOperationsManagementApiListContainerAdjustments List Container Adjustments

List manual container inventory adjustment entries. This API returns results similar to the Inventory Adjustments application. See Knowledge Center MES API documentation for more details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainerAdjustments(ctx context.Context) ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest {
	return ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListContainerAdjustmentsItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainerAdjustmentsExecute(r ApiInventoryOperationsManagementApiListContainerAdjustmentsRequest) ([]InventoryOperationsManagementApiListContainerAdjustmentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListContainerAdjustmentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListContainerAdjustments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-history/container-adjustments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.beginDate == nil {
		return localVarReturnValue, nil, reportError("beginDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	if r.serialNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serialNo", r.serialNo, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "beginDate", r.beginDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.partOperationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOperationId", r.partOperationId, "form", "")
	}
	if r.adjustmentCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "adjustmentCode", r.adjustmentCode, "form", "")
	}
	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListContainerLocationMovesRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	beginDate *time.Time
	endDate *time.Time
	serialNo *string
	partId *string
	partOperationId *string
	partType *string
	partGroup *string
	partSource *string
	locationId *string
	movedFromLocationId *string
}

// The date and time from when container change transactions are to be retrieved.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) BeginDate(beginDate time.Time) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.beginDate = &beginDate
	return r
}

// The date and time until when container change transactions are to be retrieved.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) EndDate(endDate time.Time) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.endDate = &endDate
	return r
}

// 25 characters max. The serial number of the container that was changed.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) SerialNo(serialNo string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.serialNo = &serialNo
	return r
}

// The container&#39;s Part ID.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) PartId(partId string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.partId = &partId
	return r
}

// The container&#39;s Part Operation ID.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) PartOperationId(partOperationId string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.partOperationId = &partOperationId
	return r
}

// 50 characters max. Setup table &amp;quot;Part Type&amp;quot; (part.dbo.Part_Type). Subclassification for the part. Examples include flange, fastener, gears, crown wheels, clutch hubs, body panels, gear shafts.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) PartType(partType string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.partType = &partType
	return r
}

// 50 characters max. Setup table &amp;quot;Part Group&amp;quot; (part.dbo.Part_Group). Subclassification for the part.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) PartGroup(partGroup string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.partGroup = &partGroup
	return r
}

// 50 characters max. Setup table &amp;quot;Part Source&amp;quot; (part.dbo.Part_Source). Categorize where the parts are from, purchased or made in house. The field is not tied to purchasing for lookups or searches.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) PartSource(partSource string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.partSource = &partSource
	return r
}

// The location ID of the container that was changed.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) LocationId(locationId string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.locationId = &locationId
	return r
}

// The prior location ID of the container before it was changed.
func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) MovedFromLocationId(movedFromLocationId string) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	r.movedFromLocationId = &movedFromLocationId
	return r
}

func (r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) Execute() ([]InventoryOperationsManagementApiListContainerLocationMovesItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListContainerLocationMovesExecute(r)
}

/*
InventoryOperationsManagementApiListContainerLocationMoves List Container Location Moves

List of container location moves entries.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListContainerLocationMovesRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainerLocationMoves(ctx context.Context) ApiInventoryOperationsManagementApiListContainerLocationMovesRequest {
	return ApiInventoryOperationsManagementApiListContainerLocationMovesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListContainerLocationMovesItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainerLocationMovesExecute(r ApiInventoryOperationsManagementApiListContainerLocationMovesRequest) ([]InventoryOperationsManagementApiListContainerLocationMovesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListContainerLocationMovesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListContainerLocationMoves")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-history/container-location-moves"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.beginDate == nil {
		return localVarReturnValue, nil, reportError("beginDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	if r.serialNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serialNo", r.serialNo, "form", "")
	}
	parameterAddToHeaderOrQuery(localVarQueryParams, "beginDate", r.beginDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.partOperationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOperationId", r.partOperationId, "form", "")
	}
	if r.partType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partType", r.partType, "form", "")
	}
	if r.partGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partGroup", r.partGroup, "form", "")
	}
	if r.partSource != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partSource", r.partSource, "form", "")
	}
	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.movedFromLocationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "movedFromLocationId", r.movedFromLocationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListContainersRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	partId *string
	locationId *string
	masterUnitId *string
	lotId *string
	eun *string
	inventoryType *[]string
}

// The ID of the part.
func (r ApiInventoryOperationsManagementApiListContainersRequest) PartId(partId string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.partId = &partId
	return r
}

// The ID associated with the inventory location.
func (r ApiInventoryOperationsManagementApiListContainersRequest) LocationId(locationId string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.locationId = &locationId
	return r
}

// The ID of the master unit associated with the container.
func (r ApiInventoryOperationsManagementApiListContainersRequest) MasterUnitId(masterUnitId string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.masterUnitId = &masterUnitId
	return r
}

// The lot ID associated with the container.
func (r ApiInventoryOperationsManagementApiListContainersRequest) LotId(lotId string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.lotId = &lotId
	return r
}

// The EUN associated with the container.
func (r ApiInventoryOperationsManagementApiListContainersRequest) Eun(eun string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.eun = &eun
	return r
}

// The list of inventory types.
func (r ApiInventoryOperationsManagementApiListContainersRequest) InventoryType(inventoryType []string) ApiInventoryOperationsManagementApiListContainersRequest {
	r.inventoryType = &inventoryType
	return r
}

func (r ApiInventoryOperationsManagementApiListContainersRequest) Execute() ([]InventoryOperationsManagementApiListContainersItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListContainersExecute(r)
}

/*
InventoryOperationsManagementApiListContainers List Containers

Gets active containers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListContainersRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainers(ctx context.Context) ApiInventoryOperationsManagementApiListContainersRequest {
	return ApiInventoryOperationsManagementApiListContainersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListContainersItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListContainersExecute(r ApiInventoryOperationsManagementApiListContainersRequest) ([]InventoryOperationsManagementApiListContainersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListContainersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListContainers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-tracking/containers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.masterUnitId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "masterUnitId", r.masterUnitId, "form", "")
	}
	if r.lotId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lotId", r.lotId, "form", "")
	}
	if r.eun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eun", r.eun, "form", "")
	}
	if r.inventoryType != nil {
		t := *r.inventoryType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "inventoryType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "inventoryType", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	receiptId string
	lotNumber *string
	partId *string
	supplierLotNumber *string
	beginManufacturedDateTime *time.Time
	endManufacturedDateTime *time.Time
}

// Search by Lot Number.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) LotNumber(lotNumber string) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	r.lotNumber = &lotNumber
	return r
}

// Search by Part ID.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) PartId(partId string) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	r.partId = &partId
	return r
}

// Search by supplier lot number.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) SupplierLotNumber(supplierLotNumber string) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	r.supplierLotNumber = &supplierLotNumber
	return r
}

// Search by Manufactured Date begin date.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) BeginManufacturedDateTime(beginManufacturedDateTime time.Time) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	r.beginManufacturedDateTime = &beginManufacturedDateTime
	return r
}

// Search by Manufactured Date end date.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) EndManufacturedDateTime(endManufacturedDateTime time.Time) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	r.endManufacturedDateTime = &endManufacturedDateTime
	return r
}

func (r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) Execute() ([]InventoryOperationsManagementApiListInventoryReceiptLotsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListInventoryReceiptLotsExecute(r)
}

/*
InventoryOperationsManagementApiListInventoryReceiptLots List Inventory Receipt Lots

Lists lots associated with an inventory receipt.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param receiptId The inventory receipt ID.
 @return ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryReceiptLots(ctx context.Context, receiptId string) ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest {
	return ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest{
		ApiService: a,
		ctx: ctx,
		receiptId: receiptId,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListInventoryReceiptLotsItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryReceiptLotsExecute(r ApiInventoryOperationsManagementApiListInventoryReceiptLotsRequest) ([]InventoryOperationsManagementApiListInventoryReceiptLotsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListInventoryReceiptLotsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListInventoryReceiptLots")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts/{receiptId}/lots"
	localVarPath = strings.Replace(localVarPath, "{"+"receiptId"+"}", url.PathEscape(parameterValueToString(r.receiptId, "receiptId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.lotNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "lotNumber", r.lotNumber, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.supplierLotNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierLotNumber", r.supplierLotNumber, "form", "")
	}
	if r.beginManufacturedDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "beginManufacturedDateTime", r.beginManufacturedDateTime, "form", "")
	}
	if r.endManufacturedDateTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "endManufacturedDateTime", r.endManufacturedDateTime, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiListInventoryReceiptLots400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v InventoryOperationsManagementApiListInventoryReceiptLots404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListInventoryReceiptsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	externalReceiptCode *string
	partId *string
}

// The external receipt code.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptsRequest) ExternalReceiptCode(externalReceiptCode string) ApiInventoryOperationsManagementApiListInventoryReceiptsRequest {
	r.externalReceiptCode = &externalReceiptCode
	return r
}

// The part ID.
func (r ApiInventoryOperationsManagementApiListInventoryReceiptsRequest) PartId(partId string) ApiInventoryOperationsManagementApiListInventoryReceiptsRequest {
	r.partId = &partId
	return r
}

func (r ApiInventoryOperationsManagementApiListInventoryReceiptsRequest) Execute() ([]InventoryOperationsManagementApiListInventoryReceiptsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListInventoryReceiptsExecute(r)
}

/*
InventoryOperationsManagementApiListInventoryReceipts List Inventory Receipts

List Inventory Receipts by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListInventoryReceiptsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryReceipts(ctx context.Context) ApiInventoryOperationsManagementApiListInventoryReceiptsRequest {
	return ApiInventoryOperationsManagementApiListInventoryReceiptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListInventoryReceiptsItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryReceiptsExecute(r ApiInventoryOperationsManagementApiListInventoryReceiptsRequest) ([]InventoryOperationsManagementApiListInventoryReceiptsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListInventoryReceiptsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListInventoryReceipts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-receiving/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.externalReceiptCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalReceiptCode", r.externalReceiptCode, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListInventoryShipmentsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	externalShipmentCode *string
	shipmentStatus *string
}

// 50 character max. The external inventory shipment code. This code is not provided by Plex and is distinct from the shipment ID.
func (r ApiInventoryOperationsManagementApiListInventoryShipmentsRequest) ExternalShipmentCode(externalShipmentCode string) ApiInventoryOperationsManagementApiListInventoryShipmentsRequest {
	r.externalShipmentCode = &externalShipmentCode
	return r
}

// The inventory shipment status. Valid statuses include &amp;quot;Unstaged&amp;quot;, &amp;quot;Staged&amp;quot;, and &amp;quot;Shipped&amp;quot;.
func (r ApiInventoryOperationsManagementApiListInventoryShipmentsRequest) ShipmentStatus(shipmentStatus string) ApiInventoryOperationsManagementApiListInventoryShipmentsRequest {
	r.shipmentStatus = &shipmentStatus
	return r
}

func (r ApiInventoryOperationsManagementApiListInventoryShipmentsRequest) Execute() ([]InventoryOperationsManagementApiListInventoryShipmentsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListInventoryShipmentsExecute(r)
}

/*
InventoryOperationsManagementApiListInventoryShipments List Inventory Shipments

List inventory shipments and filter by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListInventoryShipmentsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryShipments(ctx context.Context) ApiInventoryOperationsManagementApiListInventoryShipmentsRequest {
	return ApiInventoryOperationsManagementApiListInventoryShipmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListInventoryShipmentsItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListInventoryShipmentsExecute(r ApiInventoryOperationsManagementApiListInventoryShipmentsRequest) ([]InventoryOperationsManagementApiListInventoryShipmentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListInventoryShipmentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListInventoryShipments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-shipping/shipments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.externalShipmentCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalShipmentCode", r.externalShipmentCode, "form", "")
	}
	if r.shipmentStatus != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipmentStatus", r.shipmentStatus, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v InventoryOperationsManagementApiListInventoryShipments400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListLocationsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	locationId *string
	locationCode *string
	locationTypeFlag *string
	tankSilo *bool
}

// The Location ID.
func (r ApiInventoryOperationsManagementApiListLocationsRequest) LocationId(locationId string) ApiInventoryOperationsManagementApiListLocationsRequest {
	r.locationId = &locationId
	return r
}

// The Location Code.
func (r ApiInventoryOperationsManagementApiListLocationsRequest) LocationCode(locationCode string) ApiInventoryOperationsManagementApiListLocationsRequest {
	r.locationCode = &locationCode
	return r
}

// The Location Type Flag.
func (r ApiInventoryOperationsManagementApiListLocationsRequest) LocationTypeFlag(locationTypeFlag string) ApiInventoryOperationsManagementApiListLocationsRequest {
	r.locationTypeFlag = &locationTypeFlag
	return r
}

// Boolean indicating whether the results should be filtered to only return tank/silo results.
func (r ApiInventoryOperationsManagementApiListLocationsRequest) TankSilo(tankSilo bool) ApiInventoryOperationsManagementApiListLocationsRequest {
	r.tankSilo = &tankSilo
	return r
}

func (r ApiInventoryOperationsManagementApiListLocationsRequest) Execute() ([]InventoryOperationsManagementApiListLocationsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListLocationsExecute(r)
}

/*
InventoryOperationsManagementApiListLocations List Locations

List locations by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiInventoryOperationsManagementApiListLocationsRequest
*/
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListLocations(ctx context.Context) ApiInventoryOperationsManagementApiListLocationsRequest {
	return ApiInventoryOperationsManagementApiListLocationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []InventoryOperationsManagementApiListLocationsItem
func (a *InventoryOperationsManagementAPIAPIService) InventoryOperationsManagementApiListLocationsExecute(r ApiInventoryOperationsManagementApiListLocationsRequest) ([]InventoryOperationsManagementApiListLocationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []InventoryOperationsManagementApiListLocationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "InventoryOperationsManagementAPIAPIService.InventoryOperationsManagementApiListLocations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/inventory/v1/inventory-definitions/locations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.locationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationCode", r.locationCode, "form", "")
	}
	if r.locationTypeFlag != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationTypeFlag", r.locationTypeFlag, "form", "")
	}
	if r.tankSilo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tankSilo", r.tankSilo, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiInventoryOperationsManagementApiListLotsRequest struct {
	ctx context.Context
	ApiService *InventoryOperationsManagementAPIAPIService
	partId *string
	partNumber *string
	partRevision *string
	lotNumber *string
	supplierID *string
	beginManufacturedDateTime *time.Time
	endManufacturedDateTime *time.Time
	beginBestByDateTime *time.Time
	endBestByDateTime *time.Time
	beginSellByDateTime *time.Time
	endSellByDateTime *time.Time
	beginUseByDateTime *time.Time
	endUseByDateTime *time.Time
}

// The part ID.
func (r ApiInventoryOperationsManagementApiListLotsRequest) PartId(partId string) ApiInventoryOperationsManagementApiListLotsRequest {
	r.partId = &partId
	return r
}

// 100 characters max. A short code or number to call the part.
func (r ApiInventoryOperationsManagementApiListLotsRequest) PartNumber(partNumber string) ApiInventoryOperationsManagementApiListLotsRequest {
	r.partNumber = &partNumber
	return r
}

// 8 characters max. The container&#39;s Part Revision.
func (r ApiInventoryOperationsManagementApiListLotsRequest) PartRevision(partRevision string) ApiInventoryOperationsManagementApiListLotsRequest {
	r.partRevision = &partRevision
	return r
}

// 25 characters max. A short code or number to call the lot.
func (r ApiInventoryOperationsManagementApiListLotsRequest) LotNumber(lotNumber string) ApiInventoryOperationsManagementApiListLotsRequest {
	r.lotNumber = &lotNumber
	return r
}

// The supplier ID.
func (r ApiInventoryOperationsManagementApiListLotsRequest) SupplierID(supplierID string) ApiInventoryOperationsManagementApiListLotsRequest {
	r.supplierID = &supplierID
	return r
}

// The date and time from when lots were manufactured are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) BeginManufacturedDateTime(beginManufacturedDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.beginManufacturedDateTime = &beginManufacturedDateTime
	return r
}

// The date and time up to when lots were manufactured are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) EndManufacturedDateTime(endManufacturedDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.endManufacturedDateTime = &endManufacturedDateTime
	return r
}

// The date and time up to when lots are best by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) BeginBestByDateTime(beginBestByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.beginBestByDateTime = &beginBestByDateTime
	return r
}

// The date and time up to when lots are best by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) EndBestByDateTime(endBestByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.endBestByDateTime = &endBestByDateTime
	return r
}

// The date and time from when lots can be sold by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) BeginSellByDateTime(beginSellByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.beginSellByDateTime = &beginSellByDateTime
	return r
}

// The date and time up to when lots can be sold by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) EndSellByDateTime(endSellByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.endSellByDateTime = &endSellByDateTime
	return r
}

// The date and time from when lots can be used by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) BeginUseByDateTime(beginUseByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.beginUseByDateTime = &beginUseByDateTime
	return r
}

// The date and time up to when lots can be used by are to be retrieved.
func (r ApiInventoryOperationsManagementApiListLotsRequest) EndUseByDateTime(endUseByDateTime time.Time) ApiInventoryOperationsManagementApiListLotsRequest {
	r.endUseByDateTime = &endUseByDateTime
	return r
}

func (r ApiInventoryOperationsManagementApiListLotsRequest) Execute() ([]InventoryOperationsManagementApiListLotsItem, *http.Response, error) {
	return r.ApiService.InventoryOperationsManagementApiListLotsExecute(r)
}

/*
InventoryOperationsManagementApiListLots List Lots

Gets usage dates and other information about the lots.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
[...]
