/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// PlexAPMAPIAPIService PlexAPMAPIAPI service
type PlexAPMAPIAPIService service

type ApiPlexApmApiGetAssetListRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	enabled *string
	assetNames *string
	assetCodes *string
	assetSerialNumbers *string
	descriptions *string
	gatewayIds *string
	gatewayNames *string
	fiixSiteNames *string
	fiixAssetNames *string
	plexMaintenanceEquipmentIds *string
	assetBridgeAttributeName *string
	bridgeAttributeValues *string
	assetAttributeName *string
	assetAttributeValues *string
}

// True/False and it accepts either one. In case you want to fetch all assets keep this parameter blank.
func (r ApiPlexApmApiGetAssetListRequest) Enabled(enabled string) ApiPlexApmApiGetAssetListRequest {
	r.enabled = &enabled
	return r
}

// Comma separated list of Asset names for which Asset records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetNames(assetNames string) ApiPlexApmApiGetAssetListRequest {
	r.assetNames = &assetNames
	return r
}

// Comma separated list of Asset codes for which status records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetAssetListRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of Asset Serial Numbers for which assets records are required. Complete match is required. Invalid Asset Serial Numbers will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetSerialNumbers(assetSerialNumbers string) ApiPlexApmApiGetAssetListRequest {
	r.assetSerialNumbers = &assetSerialNumbers
	return r
}

// Comma separated list of Descriptions for which Asset records are required. Complete match is required.
func (r ApiPlexApmApiGetAssetListRequest) Descriptions(descriptions string) ApiPlexApmApiGetAssetListRequest {
	r.descriptions = &descriptions
	return r
}

// Comma separated list of Gateway Ids for which Asset records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) GatewayIds(gatewayIds string) ApiPlexApmApiGetAssetListRequest {
	r.gatewayIds = &gatewayIds
	return r
}

// Comma separated list of Gateway Names for which Asset records are required. Complete match is required. Invalid Gateway Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) GatewayNames(gatewayNames string) ApiPlexApmApiGetAssetListRequest {
	r.gatewayNames = &gatewayNames
	return r
}

// Comma separated list of Fiix Site Names for which Asset records are required. Complete match is required. Invalid Fiix Site Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) FiixSiteNames(fiixSiteNames string) ApiPlexApmApiGetAssetListRequest {
	r.fiixSiteNames = &fiixSiteNames
	return r
}

// Comma separated list of Fiix Asset Names for which Asset records are required. Complete match is required. Invalid Fiix Asset Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) FiixAssetNames(fiixAssetNames string) ApiPlexApmApiGetAssetListRequest {
	r.fiixAssetNames = &fiixAssetNames
	return r
}

// Comma separated list of Plex Maintenance EquipmentIds for which Asset records are required. Complete match is required. Invalid Plex Maintenance EquipmentIds will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) PlexMaintenanceEquipmentIds(plexMaintenanceEquipmentIds string) ApiPlexApmApiGetAssetListRequest {
	r.plexMaintenanceEquipmentIds = &plexMaintenanceEquipmentIds
	return r
}

// Comma separated list of Asset Bridge Attribute Name for which Asset records are required. Complete match is required. Invalid Asset Bridge Attribute Name will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetBridgeAttributeName(assetBridgeAttributeName string) ApiPlexApmApiGetAssetListRequest {
	r.assetBridgeAttributeName = &assetBridgeAttributeName
	return r
}

// Comma separated list of Bridge Attribute Values for which Asset records are required. Complete match is required. Invalid Bridge Attribute Values will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) BridgeAttributeValues(bridgeAttributeValues string) ApiPlexApmApiGetAssetListRequest {
	r.bridgeAttributeValues = &bridgeAttributeValues
	return r
}

// Comma separated list of Asset Attribute Name for which Asset records are required. Complete match is required. Invalid Asset Attribute Name will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetAttributeName(assetAttributeName string) ApiPlexApmApiGetAssetListRequest {
	r.assetAttributeName = &assetAttributeName
	return r
}

// Comma separated list of Asset Attribute Values for which Asset records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetListRequest) AssetAttributeValues(assetAttributeValues string) ApiPlexApmApiGetAssetListRequest {
	r.assetAttributeValues = &assetAttributeValues
	return r
}

func (r ApiPlexApmApiGetAssetListRequest) Execute() ([]PlexApmApiGetAssetListItem, *http.Response, error) {
	return r.ApiService.PlexApmApiGetAssetListExecute(r)
}

/*
PlexApmApiGetAssetList Get Asset List

Returns list of assets(equipments) configured in Plex APM.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetAssetListRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetList(ctx context.Context) ApiPlexApmApiGetAssetListRequest {
	return ApiPlexApmApiGetAssetListRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PlexApmApiGetAssetListItem
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetListExecute(r ApiPlexApmApiGetAssetListRequest) ([]PlexApmApiGetAssetListItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlexApmApiGetAssetListItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetAssetList")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/assets"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.enabled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "enabled", r.enabled, "form", "")
	}
	if r.assetNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetNames", r.assetNames, "form", "")
	}
	if r.assetCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	}
	if r.assetSerialNumbers != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetSerialNumbers", r.assetSerialNumbers, "form", "")
	}
	if r.descriptions != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "descriptions", r.descriptions, "form", "")
	}
	if r.gatewayIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gatewayIds", r.gatewayIds, "form", "")
	}
	if r.gatewayNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gatewayNames", r.gatewayNames, "form", "")
	}
	if r.fiixSiteNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fiixSiteNames", r.fiixSiteNames, "form", "")
	}
	if r.fiixAssetNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "fiixAssetNames", r.fiixAssetNames, "form", "")
	}
	if r.plexMaintenanceEquipmentIds != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "plexMaintenanceEquipmentIds", r.plexMaintenanceEquipmentIds, "form", "")
	}
	if r.assetBridgeAttributeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetBridgeAttributeName", r.assetBridgeAttributeName, "form", "")
	}
	if r.bridgeAttributeValues != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bridgeAttributeValues", r.bridgeAttributeValues, "form", "")
	}
	if r.assetAttributeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetAttributeName", r.assetAttributeName, "form", "")
	}
	if r.assetAttributeValues != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetAttributeValues", r.assetAttributeValues, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetAssetList400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetAssetList500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetAssetNumericalDataRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	startDate *time.Time
	endDate *time.Time
	assetCodes *string
	tagNames *string
	daysOfTheWeek *string
	periodStartTime *string
	periodEndTime *string
	quality *string
	sortOrder *string
	limit *int32
}

// Start datetime for the query. Valid format: YYYY-MM-DDThh:mm:ss.fffffffZ
func (r ApiPlexApmApiGetAssetNumericalDataRequest) StartDate(startDate time.Time) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.startDate = &startDate
	return r
}

// End datetime for the query. Valid format: YYYY-MM-DDThh:mm:ss.fffffffZ
func (r ApiPlexApmApiGetAssetNumericalDataRequest) EndDate(endDate time.Time) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.endDate = &endDate
	return r
}

// Comma separated list of Asset codes for which status records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetNumericalDataRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of tag names for which status records are required. Complete match is required. Invalid tag names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetNumericalDataRequest) TagNames(tagNames string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of Days of the week to include in the result. Valid values: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday
func (r ApiPlexApmApiGetAssetNumericalDataRequest) DaysOfTheWeek(daysOfTheWeek string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.daysOfTheWeek = &daysOfTheWeek
	return r
}

// Start period of the results to be returned in HH:mm:ss format. Should be used along with periodEndTime. Example- &#39;08:00:00&#39;
func (r ApiPlexApmApiGetAssetNumericalDataRequest) PeriodStartTime(periodStartTime string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.periodStartTime = &periodStartTime
	return r
}

// End period of the results to be returned in HH:mm:ss format. Should be used along with periodStartTime. Example- &#39;16:00:00&#39;
func (r ApiPlexApmApiGetAssetNumericalDataRequest) PeriodEndTime(periodEndTime string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.periodEndTime = &periodEndTime
	return r
}

// Comma separated list of Event quality for which status records are required. Valid values are Good/Bad
func (r ApiPlexApmApiGetAssetNumericalDataRequest) Quality(quality string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.quality = &quality
	return r
}

// Sort order of status records by timestamp. Valid values: asc/desc. Default: desc
func (r ApiPlexApmApiGetAssetNumericalDataRequest) SortOrder(sortOrder string) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.sortOrder = &sortOrder
	return r
}

// Top N records to return. Do not pass or pass 0 to return maximum allowed records (100,000)
func (r ApiPlexApmApiGetAssetNumericalDataRequest) Limit(limit int32) ApiPlexApmApiGetAssetNumericalDataRequest {
	r.limit = &limit
	return r
}

func (r ApiPlexApmApiGetAssetNumericalDataRequest) Execute() ([]PlexApmApiGetAssetNumericalDataItem, *http.Response, error) {
	return r.ApiService.PlexApmApiGetAssetNumericalDataExecute(r)
}

/*
PlexApmApiGetAssetNumericalData Get Asset Numerical Data

Returns the numerical data for an asset based on the query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetAssetNumericalDataRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetNumericalData(ctx context.Context) ApiPlexApmApiGetAssetNumericalDataRequest {
	return ApiPlexApmApiGetAssetNumericalDataRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PlexApmApiGetAssetNumericalDataItem
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetNumericalDataExecute(r ApiPlexApmApiGetAssetNumericalDataRequest) ([]PlexApmApiGetAssetNumericalDataItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlexApmApiGetAssetNumericalDataItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetAssetNumericalData")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/asset-data-points"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	if r.assetCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	}
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.daysOfTheWeek != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "daysOfTheWeek", r.daysOfTheWeek, "form", "")
	}
	if r.periodStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodStartTime", r.periodStartTime, "form", "")
	}
	if r.periodEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodEndTime", r.periodEndTime, "form", "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quality", r.quality, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_sortOrder", r.sortOrder, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetAssetNumericalData400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetAssetNumericalData500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetAssetStatusesRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	startDate *time.Time
	endDate *time.Time
	assetCodes *string
	tagNames *string
	daysOfTheWeek *string
	periodStartTime *string
	periodEndTime *string
	eventTypes *string
	eventStates *string
	quality *string
	sortOrder *string
	limit *int32
}

// Start datetime for the query. Valid format: YYYY-MM-DDThh:mm:ss.fffffffZ
func (r ApiPlexApmApiGetAssetStatusesRequest) StartDate(startDate time.Time) ApiPlexApmApiGetAssetStatusesRequest {
	r.startDate = &startDate
	return r
}

// End datetime for the query. Valid format: YYYY-MM-DDThh:mm:ss.fffffffZ
func (r ApiPlexApmApiGetAssetStatusesRequest) EndDate(endDate time.Time) ApiPlexApmApiGetAssetStatusesRequest {
	r.endDate = &endDate
	return r
}

// Comma separated list of Asset codes for which status records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetStatusesRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetAssetStatusesRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of tag names for which status records are required. Complete match is required. Invalid tag names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetAssetStatusesRequest) TagNames(tagNames string) ApiPlexApmApiGetAssetStatusesRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of Days of the week to include in the result. Valid values: Monday, Tuesday, Wednesday, Thursday, Friday, Saturday, Sunday
func (r ApiPlexApmApiGetAssetStatusesRequest) DaysOfTheWeek(daysOfTheWeek string) ApiPlexApmApiGetAssetStatusesRequest {
	r.daysOfTheWeek = &daysOfTheWeek
	return r
}

// Start period of the results to be returned in HH:mm:ss format. Should be used along with periodEndTime. Example- &#39;08:00:00&#39;
func (r ApiPlexApmApiGetAssetStatusesRequest) PeriodStartTime(periodStartTime string) ApiPlexApmApiGetAssetStatusesRequest {
	r.periodStartTime = &periodStartTime
	return r
}

// End period of the results to be returned in HH:mm:ss format. Should be used along with periodStartTime. Example- &#39;16:00:00&#39;
func (r ApiPlexApmApiGetAssetStatusesRequest) PeriodEndTime(periodEndTime string) ApiPlexApmApiGetAssetStatusesRequest {
	r.periodEndTime = &periodEndTime
	return r
}

// Comma separated list of Event Types for which status records are required. Passing &amp;quot;Problem or Abnormal&amp;quot; will return &amp;quot;High Problem/Abnormal&amp;quot; and &amp;quot;Low Problem/Abnormal&amp;quot; as well. Valid values are Problem, Abnormal, Action Required, Maintenance, InCycle, Idle, Off, Other
func (r ApiPlexApmApiGetAssetStatusesRequest) EventTypes(eventTypes string) ApiPlexApmApiGetAssetStatusesRequest {
	r.eventTypes = &eventTypes
	return r
}

// Comma separated list of Event States for which status records are required. Valid values are True/ False. Example- &#39;True,False&#39;
func (r ApiPlexApmApiGetAssetStatusesRequest) EventStates(eventStates string) ApiPlexApmApiGetAssetStatusesRequest {
	r.eventStates = &eventStates
	return r
}

// Comma separated list of Event quality for which status records are required. Valid values are Good/Bad
func (r ApiPlexApmApiGetAssetStatusesRequest) Quality(quality string) ApiPlexApmApiGetAssetStatusesRequest {
	r.quality = &quality
	return r
}

// Sort order of status records by timestamp. Valid values: asc/desc. Default: desc
func (r ApiPlexApmApiGetAssetStatusesRequest) SortOrder(sortOrder string) ApiPlexApmApiGetAssetStatusesRequest {
	r.sortOrder = &sortOrder
	return r
}

// Top N records to return. Do not pass or pass 0 to return maximum allowed records (100,000)
func (r ApiPlexApmApiGetAssetStatusesRequest) Limit(limit int32) ApiPlexApmApiGetAssetStatusesRequest {
	r.limit = &limit
	return r
}

func (r ApiPlexApmApiGetAssetStatusesRequest) Execute() ([]PlexApmApiGetAssetStatusesItem, *http.Response, error) {
	return r.ApiService.PlexApmApiGetAssetStatusesExecute(r)
}

/*
PlexApmApiGetAssetStatuses Get Asset Statuses

Returns the asset statuses based on the query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetAssetStatusesRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetStatuses(ctx context.Context) ApiPlexApmApiGetAssetStatusesRequest {
	return ApiPlexApmApiGetAssetStatusesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PlexApmApiGetAssetStatusesItem
func (a *PlexAPMAPIAPIService) PlexApmApiGetAssetStatusesExecute(r ApiPlexApmApiGetAssetStatusesRequest) ([]PlexApmApiGetAssetStatusesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlexApmApiGetAssetStatusesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetAssetStatuses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/asset-statuses"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startDate == nil {
		return localVarReturnValue, nil, reportError("startDate is required and must be specified")
	}
	if r.endDate == nil {
		return localVarReturnValue, nil, reportError("endDate is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startDate", r.startDate, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDate", r.endDate, "form", "")
	if r.assetCodes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	}
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.daysOfTheWeek != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "daysOfTheWeek", r.daysOfTheWeek, "form", "")
	}
	if r.periodStartTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodStartTime", r.periodStartTime, "form", "")
	}
	if r.periodEndTime != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodEndTime", r.periodEndTime, "form", "")
	}
	if r.eventTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventTypes", r.eventTypes, "form", "")
	}
	if r.eventStates != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventStates", r.eventStates, "form", "")
	}
	if r.quality != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quality", r.quality, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_sortOrder", r.sortOrder, "form", "")
	}
	if r.limit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "_limit", r.limit, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetAssetStatuses400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetAssetStatuses500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetElapsedTimeByAssetsRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	startDateTime *time.Time
	endDateTime *time.Time
	assetCodes *string
	tagNames *string
	eventTypes *string
}

// Start date-time for the query. The valid date-time in UTC format is: YYYY-MM-DDThh:mm:ss.fffffffZ. Future date-time is not allowed.
func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) StartDateTime(startDateTime time.Time) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	r.startDateTime = &startDateTime
	return r
}

// End date-time for the query. The valid date-time in UTC format is: YYYY-MM-DDThh:mm:ss.fffffffZ. Future date-time is not allowed.
func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) EndDateTime(endDateTime time.Time) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	r.endDateTime = &endDateTime
	return r
}

// Comma separated list of asset codes for which event elapsed time records are required. Complete match is required. Asset codes are case-sensitive. An error response will be given when provided asset codes are invalid.
func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of tag names for which event elapsed time records are required. Complete match is required. Tag names are case-sensitive. An error response will be given when provided tag names are invalid.
func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) TagNames(tagNames string) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of event Types for which event elapsed time records are required. Valid values are Problem, Abnormal, Action Required, Maintenance, InCycle, Idle, Off and Other.
func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) EventTypes(eventTypes string) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	r.eventTypes = &eventTypes
	return r
}

func (r ApiPlexApmApiGetElapsedTimeByAssetsRequest) Execute() (*PlexApmApiGetElapsedTimeByAssetsResponse, *http.Response, error) {
	return r.ApiService.PlexApmApiGetElapsedTimeByAssetsExecute(r)
}

/*
PlexApmApiGetElapsedTimeByAssets Get Elapsed Time By Assets

Returns event elapsed time grouped by assets based on asset code and tag name parameters within the provided time range. Optionally, event types can be provided to further filter the response. Maximum data points fetched has a limit of 100000 data points for the given time range.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetElapsedTimeByAssetsRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetElapsedTimeByAssets(ctx context.Context) ApiPlexApmApiGetElapsedTimeByAssetsRequest {
	return ApiPlexApmApiGetElapsedTimeByAssetsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PlexApmApiGetElapsedTimeByAssetsResponse
func (a *PlexAPMAPIAPIService) PlexApmApiGetElapsedTimeByAssetsExecute(r ApiPlexApmApiGetElapsedTimeByAssetsRequest) (*PlexApmApiGetElapsedTimeByAssetsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PlexApmApiGetElapsedTimeByAssetsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetElapsedTimeByAssets")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/event/asset/elapsed-time"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startDateTime == nil {
		return localVarReturnValue, nil, reportError("startDateTime is required and must be specified")
	}
	if r.endDateTime == nil {
		return localVarReturnValue, nil, reportError("endDateTime is required and must be specified")
	}
	if r.assetCodes == nil {
		return localVarReturnValue, nil, reportError("assetCodes is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startDateTime", r.startDateTime, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDateTime", r.endDateTime, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.eventTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventTypes", r.eventTypes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetElapsedTimeByAssets400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetElapsedTimeByAssets500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetElapsedTimeByTagsRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	startDateTime *time.Time
	endDateTime *time.Time
	assetCodes *string
	tagNames *string
	eventTypes *string
}

// Start date-time for the query. The valid date-time in UTC format is: YYYY-MM-DDThh:mm:ss.fffffffZ. Future date-time is not allowed.
func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) StartDateTime(startDateTime time.Time) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	r.startDateTime = &startDateTime
	return r
}

// End date-time for the query. The valid date-time in UTC format is: YYYY-MM-DDThh:mm:ss.fffffffZ. Future date-time is not allowed.
func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) EndDateTime(endDateTime time.Time) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	r.endDateTime = &endDateTime
	return r
}

// Comma separated list of asset codes for which event elapsed time records are required. Complete match is required. Asset codes are case-sensitive. An error response will be given when provided asset codes are invalid.
func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of tag names for which event elapsed time records are required. Complete match is required. Tag names are case-sensitive. An error response will be given when provided tag names are invalid.
func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) TagNames(tagNames string) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of event Types for which event elapsed time records are required. Valid values are Problem, Abnormal, Action Required, Maintenance, InCycle, Idle, Off and Other.
func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) EventTypes(eventTypes string) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	r.eventTypes = &eventTypes
	return r
}

func (r ApiPlexApmApiGetElapsedTimeByTagsRequest) Execute() (*PlexApmApiGetElapsedTimeByTagsResponse, *http.Response, error) {
	return r.ApiService.PlexApmApiGetElapsedTimeByTagsExecute(r)
}

/*
PlexApmApiGetElapsedTimeByTags Get Elapsed Time By Tags

Returns event elapsed time grouped by tags based on asset code and tag name parameters within the provided time range. Optionally, event types can be provided to further filter the response. Maximum data points fetched has a limit of 100000 data points for the given time range.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetElapsedTimeByTagsRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetElapsedTimeByTags(ctx context.Context) ApiPlexApmApiGetElapsedTimeByTagsRequest {
	return ApiPlexApmApiGetElapsedTimeByTagsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PlexApmApiGetElapsedTimeByTagsResponse
func (a *PlexAPMAPIAPIService) PlexApmApiGetElapsedTimeByTagsExecute(r ApiPlexApmApiGetElapsedTimeByTagsRequest) (*PlexApmApiGetElapsedTimeByTagsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PlexApmApiGetElapsedTimeByTagsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetElapsedTimeByTags")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/event/tag/elapsed-time"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.startDateTime == nil {
		return localVarReturnValue, nil, reportError("startDateTime is required and must be specified")
	}
	if r.endDateTime == nil {
		return localVarReturnValue, nil, reportError("endDateTime is required and must be specified")
	}
	if r.assetCodes == nil {
		return localVarReturnValue, nil, reportError("assetCodes is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "startDateTime", r.startDateTime, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "endDateTime", r.endDateTime, "form", "")
	parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.eventTypes != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "eventTypes", r.eventTypes, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetElapsedTimeByTags400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetElapsedTimeByTags500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetLatestTagValueRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	assetCodes *string
	assetNames *string
	gatewayNames *string
	tagNames *string
	tagAlias *string
	streamNames *string
	dataTypeNames *string
}

// Comma separated list of Asset codes for which status records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetLatestTagValueRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of Asset names for which Asset records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) AssetNames(assetNames string) ApiPlexApmApiGetLatestTagValueRequest {
	r.assetNames = &assetNames
	return r
}

// Comma separated list of Gateway Names for which Asset records are required. Complete match is required. Invalid Gateway Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) GatewayNames(gatewayNames string) ApiPlexApmApiGetLatestTagValueRequest {
	r.gatewayNames = &gatewayNames
	return r
}

// Comma separated list of tag names for which status records are required. Complete match is required. Invalid tag names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) TagNames(tagNames string) ApiPlexApmApiGetLatestTagValueRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of tag alias for which latest tag records are required. Complete match is required. Invalid tag alias will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) TagAlias(tagAlias string) ApiPlexApmApiGetLatestTagValueRequest {
	r.tagAlias = &tagAlias
	return r
}

// Comma separated list of Stream Names for which latest tag records are required. Complete match is required. Invalid Stream Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) StreamNames(streamNames string) ApiPlexApmApiGetLatestTagValueRequest {
	r.streamNames = &streamNames
	return r
}

// Comma separated list of DataType Names for which latest tag records are required. Complete match is required. Invalid DataType Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetLatestTagValueRequest) DataTypeNames(dataTypeNames string) ApiPlexApmApiGetLatestTagValueRequest {
	r.dataTypeNames = &dataTypeNames
	return r
}

func (r ApiPlexApmApiGetLatestTagValueRequest) Execute() ([]PlexApmApiGetLatestTagValueItem, *http.Response, error) {
	return r.ApiService.PlexApmApiGetLatestTagValueExecute(r)
}

/*
PlexApmApiGetLatestTagValue Get Latest Tag Value

Returns the latest values of tag data for an asset/equipment based on the query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPlexApmApiGetLatestTagValueRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetLatestTagValue(ctx context.Context) ApiPlexApmApiGetLatestTagValueRequest {
	return ApiPlexApmApiGetLatestTagValueRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PlexApmApiGetLatestTagValueItem
func (a *PlexAPMAPIAPIService) PlexApmApiGetLatestTagValueExecute(r ApiPlexApmApiGetLatestTagValueRequest) ([]PlexApmApiGetLatestTagValueItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlexApmApiGetLatestTagValueItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetLatestTagValue")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/tags/values/latest"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.assetCodes == nil {
		return localVarReturnValue, nil, reportError("assetCodes is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	if r.assetNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetNames", r.assetNames, "form", "")
	}
	if r.gatewayNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gatewayNames", r.gatewayNames, "form", "")
	}
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.tagAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagAlias", r.tagAlias, "form", "")
	}
	if r.streamNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "streamNames", r.streamNames, "form", "")
	}
	if r.dataTypeNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataTypeNames", r.dataTypeNames, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetLatestTagValue400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetLatestTagValue500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest struct {
	ctx context.Context
	ApiService *PlexAPMAPIAPIService
	specificTime time.Time
	assetCodes *string
	assetNames *string
	gatewayNames *string
	tagNames *string
	tagAlias *string
	streamNames *string
	dataTypeNames *string
}

// Comma separated list of Asset codes for which status records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) AssetCodes(assetCodes string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.assetCodes = &assetCodes
	return r
}

// Comma separated list of Asset names for which Asset records are required. Complete match is required. Invalid asset codes will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) AssetNames(assetNames string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.assetNames = &assetNames
	return r
}

// Comma separated list of Gateway Names for which Asset records are required. Complete match is required. Invalid Gateway Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) GatewayNames(gatewayNames string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.gatewayNames = &gatewayNames
	return r
}

// Comma separated list of tag names for which status records are required. Complete match is required. Invalid tag names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) TagNames(tagNames string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.tagNames = &tagNames
	return r
}

// Comma separated list of tag alias for which latest tag records are required. Complete match is required. Invalid tag alias will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) TagAlias(tagAlias string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.tagAlias = &tagAlias
	return r
}

// Comma separated list of Stream Names for which latest tag records are required. Complete match is required. Invalid Stream Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) StreamNames(streamNames string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.streamNames = &streamNames
	return r
}

// Comma separated list of DataType Names for which latest tag records are required. Complete match is required. Invalid DataType Names will be ignored and no records will be returned for them.
func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) DataTypeNames(dataTypeNames string) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	r.dataTypeNames = &dataTypeNames
	return r
}

func (r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) Execute() ([]PlexApmApiGetTagValueAtSpecifiedTimeItem, *http.Response, error) {
	return r.ApiService.PlexApmApiGetTagValueAtSpecifiedTimeExecute(r)
}

/*
PlexApmApiGetTagValueAtSpecifiedTime Get Tag Value At Specified Time

Returns latest values of tag data for an asset/equipment at a specified time based on query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param specificTime Valid format: YYYY-MM-DDThh:mm:ssZ
 @return ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest
*/
func (a *PlexAPMAPIAPIService) PlexApmApiGetTagValueAtSpecifiedTime(ctx context.Context, specificTime time.Time) ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest {
	return ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest{
		ApiService: a,
		ctx: ctx,
		specificTime: specificTime,
	}
}

// Execute executes the request
//  @return []PlexApmApiGetTagValueAtSpecifiedTimeItem
func (a *PlexAPMAPIAPIService) PlexApmApiGetTagValueAtSpecifiedTimeExecute(r ApiPlexApmApiGetTagValueAtSpecifiedTimeRequest) ([]PlexApmApiGetTagValueAtSpecifiedTimeItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PlexApmApiGetTagValueAtSpecifiedTimeItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PlexAPMAPIAPIService.PlexApmApiGetTagValueAtSpecifiedTime")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/cm/exhaust/v1/tags/values/{specificTime}"
	localVarPath = strings.Replace(localVarPath, "{"+"specificTime"+"}", url.PathEscape(parameterValueToString(r.specificTime, "specificTime")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.assetCodes == nil {
		return localVarReturnValue, nil, reportError("assetCodes is required and must be specified")
	}

	parameterAddToHeaderOrQuery(localVarQueryParams, "assetCodes", r.assetCodes, "form", "")
	if r.assetNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assetNames", r.assetNames, "form", "")
	}
	if r.gatewayNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "gatewayNames", r.gatewayNames, "form", "")
	}
	if r.tagNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagNames", r.tagNames, "form", "")
	}
	if r.tagAlias != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "tagAlias", r.tagAlias, "form", "")
	}
	if r.streamNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "streamNames", r.streamNames, "form", "")
	}
	if r.dataTypeNames != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dataTypeNames", r.dataTypeNames, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PlexApmApiGetTagValueAtSpecifiedTime400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 500 {
			var v PlexApmApiGetTagValueAtSpecifiedTime500Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
