/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// AccountsPayableInvoicesAPIAPIService AccountsPayableInvoicesAPIAPI service
type AccountsPayableInvoicesAPIAPIService service

type ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	accountsPayableInvoicesApiCreateAPInvoiceRequest *AccountsPayableInvoicesApiCreateAPInvoiceRequest
}

func (r ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest) AccountsPayableInvoicesApiCreateAPInvoiceRequest(accountsPayableInvoicesApiCreateAPInvoiceRequest AccountsPayableInvoicesApiCreateAPInvoiceRequest) ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest {
	r.accountsPayableInvoicesApiCreateAPInvoiceRequest = &accountsPayableInvoicesApiCreateAPInvoiceRequest
	return r
}

func (r ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest) Execute() (*AccountsPayableInvoicesApiCreateAPInvoice201Response, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiCreateAPInvoiceExecute(r)
}

/*
AccountsPayableInvoicesApiCreateAPInvoice Create AP Invoice

Add an AP invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiCreateAPInvoice(ctx context.Context) ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest {
	return ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return AccountsPayableInvoicesApiCreateAPInvoice201Response
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiCreateAPInvoiceExecute(r ApiAccountsPayableInvoicesApiCreateAPInvoiceRequest) (*AccountsPayableInvoicesApiCreateAPInvoice201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayableInvoicesApiCreateAPInvoice201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiCreateAPInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsPayableInvoicesApiCreateAPInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsPayableInvoicesApiCreateAPInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsPayableInvoicesApiCreateAPInvoiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsPayableInvoicesApiCreateAPInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayableInvoicesApiGetAPInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	id string
}

func (r ApiAccountsPayableInvoicesApiGetAPInvoiceRequest) Execute() (*AccountsPayableInvoicesApiGetAPInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiGetAPInvoiceExecute(r)
}

/*
AccountsPayableInvoicesApiGetAPInvoice Get AP Invoice

Retrieves an AP invoice by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Accounts Payable invoice ID.
 @return ApiAccountsPayableInvoicesApiGetAPInvoiceRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiGetAPInvoice(ctx context.Context, id string) ApiAccountsPayableInvoicesApiGetAPInvoiceRequest {
	return ApiAccountsPayableInvoicesApiGetAPInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsPayableInvoicesApiGetAPInvoiceResponse
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiGetAPInvoiceExecute(r ApiAccountsPayableInvoicesApiGetAPInvoiceRequest) (*AccountsPayableInvoicesApiGetAPInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayableInvoicesApiGetAPInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiGetAPInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	id string
	accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest *AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest
}

func (r ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest) AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest(accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest) ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest {
	r.accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest = &accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest
	return r
}

func (r ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest) Execute() (*AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceExecute(r)
}

/*
AccountsPayableInvoicesApiLinkReceiptsWithAPInvoice Link Receipts With AP Invoice

Disclaimer: The Accounts Payable Invoices API only links the following supported receipt types with AP invoices: receiving and consignment usage. This API does not link settlement receipts with AP invoices. The APIs are designed to maintain optimal performance with a limit of 300 receipts per invoice per call. To avoid timeout errors, you can call this endpoint in batches of 300 receipts each to link more receipts to an invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiLinkReceiptsWithAPInvoice(ctx context.Context, id string) ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest {
	return ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceResponse
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceExecute(r ApiAccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest) (*AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayableInvoicesApiLinkReceiptsWithAPInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiLinkReceiptsWithAPInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices/{id}/linkreceipts"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsPayableInvoicesApiLinkReceiptsWithAPInvoiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsPayableInvoicesApiLinkReceiptsWithAPInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayableInvoicesApiListAPInvoicesRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	id *[]string
	invoiceNumber *string
	periodDisplayBegin *string
	periodDisplayEnd *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	booked *bool
	supplierCode *string
	poNumber *string
	shipperNo *string
	status *string
	externalReferenceCode *string
	paid *bool
}

// The AP invoice ID.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) Id(id []string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.id = &id
	return r
}

// The AP invoice number.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) InvoiceNumber(invoiceNumber string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.invoiceNumber = &invoiceNumber
	return r
}

// The beginning period used to return AP invoice records.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The end period used to return AP invoice records.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

// The beginning date used to return AP transaction records during a period.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date used to return AP transaction records during a period.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

// The beginning date used to return AP invoices created within a time frame.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The end date used to return AP invoices created within a time frame.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The beginning date used to return AP invoices modified within a time frame.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The end date used to return AP invoices modified within a time frame.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// Specify that the AP invoice is booked.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) Booked(booked bool) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.booked = &booked
	return r
}

// The AP invoice supplier code.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) SupplierCode(supplierCode string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.supplierCode = &supplierCode
	return r
}

// The AP invoice purchase order number.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) PoNumber(poNumber string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.poNumber = &poNumber
	return r
}

// The AP invoice shipper number.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) ShipperNo(shipperNo string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.shipperNo = &shipperNo
	return r
}

// The AP invoice status.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) Status(status string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.status = &status
	return r
}

// The AP invoice external reference code.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) ExternalReferenceCode(externalReferenceCode string) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.externalReferenceCode = &externalReferenceCode
	return r
}

// Specify that the AP invoice is paid.
func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) Paid(paid bool) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	r.paid = &paid
	return r
}

func (r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) Execute() ([]AccountsPayableInvoicesApiListAPInvoicesItem, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiListAPInvoicesExecute(r)
}

/*
AccountsPayableInvoicesApiListAPInvoices List AP Invoices

Disclaimer: The APIs are designed to maintain optimal performance with a limit of 1,000 invoices per call (depending on the number of distribution lines per invoice). To avoid timeout errors, you can apply relevant filters to retrieve a more specific response.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsPayableInvoicesApiListAPInvoicesRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiListAPInvoices(ctx context.Context) ApiAccountsPayableInvoicesApiListAPInvoicesRequest {
	return ApiAccountsPayableInvoicesApiListAPInvoicesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AccountsPayableInvoicesApiListAPInvoicesItem
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiListAPInvoicesExecute(r ApiAccountsPayableInvoicesApiListAPInvoicesRequest) ([]AccountsPayableInvoicesApiListAPInvoicesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AccountsPayableInvoicesApiListAPInvoicesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiListAPInvoices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.invoiceNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "invoiceNumber", r.invoiceNumber, "form", "")
	}
	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.booked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "booked", r.booked, "form", "")
	}
	if r.supplierCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierCode", r.supplierCode, "form", "")
	}
	if r.poNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poNumber", r.poNumber, "form", "")
	}
	if r.shipperNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipperNo", r.shipperNo, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.externalReferenceCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "externalReferenceCode", r.externalReferenceCode, "form", "")
	}
	if r.paid != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paid", r.paid, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	id string
	accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest *AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest
}

func (r ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest) AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest(accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest) ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest {
	r.accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest = &accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest
	return r
}

func (r ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest) Execute() (*AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceExecute(r)
}

/*
AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoice Unlink Receipts From AP Invoice

Disclaimer: The APIs are designed to maintain optimal performance with a limit of 300 receipts per invoice per call. To avoid timeout errors, you can call this endpoint in batches of 300 receipts each to unlink more receipts from an invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoice(ctx context.Context, id string) ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest {
	return ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceResponse
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceExecute(r ApiAccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest) (*AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices/{id}/unlinkreceipts"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsPayableInvoicesApiUnlinkReceiptsFromAPInvoiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsPayableInvoicesApiUnlinkReceiptsFromAPInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest struct {
	ctx context.Context
	ApiService *AccountsPayableInvoicesAPIAPIService
	id string
	accountsPayableInvoicesApiUpdateAPInvoiceRequest *AccountsPayableInvoicesApiUpdateAPInvoiceRequest
}

func (r ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest) AccountsPayableInvoicesApiUpdateAPInvoiceRequest(accountsPayableInvoicesApiUpdateAPInvoiceRequest AccountsPayableInvoicesApiUpdateAPInvoiceRequest) ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest {
	r.accountsPayableInvoicesApiUpdateAPInvoiceRequest = &accountsPayableInvoicesApiUpdateAPInvoiceRequest
	return r
}

func (r ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest) Execute() (*AccountsPayableInvoicesApiUpdateAPInvoiceResponse, *http.Response, error) {
	return r.ApiService.AccountsPayableInvoicesApiUpdateAPInvoiceExecute(r)
}

/*
AccountsPayableInvoicesApiUpdateAPInvoice Update AP Invoice

Update an AP invoice.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest
*/
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiUpdateAPInvoice(ctx context.Context, id string) ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest {
	return ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsPayableInvoicesApiUpdateAPInvoiceResponse
func (a *AccountsPayableInvoicesAPIAPIService) AccountsPayableInvoicesApiUpdateAPInvoiceExecute(r ApiAccountsPayableInvoicesApiUpdateAPInvoiceRequest) (*AccountsPayableInvoicesApiUpdateAPInvoiceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayableInvoicesApiUpdateAPInvoiceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayableInvoicesAPIAPIService.AccountsPayableInvoicesApiUpdateAPInvoice")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-invoices/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.accountsPayableInvoicesApiUpdateAPInvoiceRequest == nil {
		return localVarReturnValue, nil, reportError("accountsPayableInvoicesApiUpdateAPInvoiceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.accountsPayableInvoicesApiUpdateAPInvoiceRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v AccountsPayableInvoicesApiUpdateAPInvoice400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
