/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
)


// PriceAdjustmentsAPIAPIService PriceAdjustmentsAPIAPI service
type PriceAdjustmentsAPIAPIService service

type ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest struct {
	ctx context.Context
	ApiService *PriceAdjustmentsAPIAPIService
	priceAdjustmentsApiCreatePriceAdjustmentRequest *PriceAdjustmentsApiCreatePriceAdjustmentRequest
}

func (r ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest) PriceAdjustmentsApiCreatePriceAdjustmentRequest(priceAdjustmentsApiCreatePriceAdjustmentRequest PriceAdjustmentsApiCreatePriceAdjustmentRequest) ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest {
	r.priceAdjustmentsApiCreatePriceAdjustmentRequest = &priceAdjustmentsApiCreatePriceAdjustmentRequest
	return r
}

func (r ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest) Execute() (*PriceAdjustmentsApiCreatePriceAdjustment201Response, *http.Response, error) {
	return r.ApiService.PriceAdjustmentsApiCreatePriceAdjustmentExecute(r)
}

/*
PriceAdjustmentsApiCreatePriceAdjustment Create Price Adjustment

Create a price adjustment.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest
*/
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiCreatePriceAdjustment(ctx context.Context) ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest {
	return ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return PriceAdjustmentsApiCreatePriceAdjustment201Response
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiCreatePriceAdjustmentExecute(r ApiPriceAdjustmentsApiCreatePriceAdjustmentRequest) (*PriceAdjustmentsApiCreatePriceAdjustment201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PriceAdjustmentsApiCreatePriceAdjustment201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PriceAdjustmentsAPIAPIService.PriceAdjustmentsApiCreatePriceAdjustment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/price-adjustments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.priceAdjustmentsApiCreatePriceAdjustmentRequest == nil {
		return localVarReturnValue, nil, reportError("priceAdjustmentsApiCreatePriceAdjustmentRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.priceAdjustmentsApiCreatePriceAdjustmentRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v PriceAdjustmentsApiCreatePriceAdjustment400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPriceAdjustmentsApiGetPriceAdjustmentRequest struct {
	ctx context.Context
	ApiService *PriceAdjustmentsAPIAPIService
	id string
}

func (r ApiPriceAdjustmentsApiGetPriceAdjustmentRequest) Execute() (*PriceAdjustmentsApiGetPriceAdjustmentResponse, *http.Response, error) {
	return r.ApiService.PriceAdjustmentsApiGetPriceAdjustmentExecute(r)
}

/*
PriceAdjustmentsApiGetPriceAdjustment Get Price Adjustment

Retrieve a price adjustment by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiPriceAdjustmentsApiGetPriceAdjustmentRequest
*/
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiGetPriceAdjustment(ctx context.Context, id string) ApiPriceAdjustmentsApiGetPriceAdjustmentRequest {
	return ApiPriceAdjustmentsApiGetPriceAdjustmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return PriceAdjustmentsApiGetPriceAdjustmentResponse
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiGetPriceAdjustmentExecute(r ApiPriceAdjustmentsApiGetPriceAdjustmentRequest) (*PriceAdjustmentsApiGetPriceAdjustmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *PriceAdjustmentsApiGetPriceAdjustmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PriceAdjustmentsAPIAPIService.PriceAdjustmentsApiGetPriceAdjustment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/price-adjustments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiPriceAdjustmentsApiListPriceAdjustmentsRequest struct {
	ctx context.Context
	ApiService *PriceAdjustmentsAPIAPIService
	id *string
	type_ *string
	accountNo *string
	partId *string
	active *bool
	effectiveDateBegin *time.Time
	effectiveDateEnd *time.Time
	expirationDateBegin *time.Time
	expirationDateEnd *time.Time
	customerType *string
	partProductType *string
	grade *string
	partType *string
	region *string
	partGroup *string
	partProductGroup *string
}

// The ID of the price adjustment.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Id(id string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.id = &id
	return r
}

// The price adjustment type assigned to the price adjustment.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Type_(type_ string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.type_ = &type_
	return r
}

// The GL account number associated with the price adjustment record.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) AccountNo(accountNo string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.accountNo = &accountNo
	return r
}

// The ID of the internal part number to which the price adjustment record applies.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) PartId(partId string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.partId = &partId
	return r
}

// Identifies if the price adjustment record is active, regardless of effective and expiration dates.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Active(active bool) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.active = &active
	return r
}

// The beginning date used to return price adjustments with an effective date within a time frame.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) EffectiveDateBegin(effectiveDateBegin time.Time) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.effectiveDateBegin = &effectiveDateBegin
	return r
}

// The end date used to return price adjustments with an effective date within a time frame.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) EffectiveDateEnd(effectiveDateEnd time.Time) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.effectiveDateEnd = &effectiveDateEnd
	return r
}

// The beginning date used to return price adjustments with an expiration date within a time frame.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) ExpirationDateBegin(expirationDateBegin time.Time) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.expirationDateBegin = &expirationDateBegin
	return r
}

// The end date used to return price adjustments with an expiration date within a time frame.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) ExpirationDateEnd(expirationDateEnd time.Time) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.expirationDateEnd = &expirationDateEnd
	return r
}

// The customer type to which the price adjustment record applies.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) CustomerType(customerType string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.customerType = &customerType
	return r
}

// The price adjustment record pertains to internal part numbers of a specific part product type.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) PartProductType(partProductType string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.partProductType = &partProductType
	return r
}

// The material grade assigned to a price adjustment.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Grade(grade string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.grade = &grade
	return r
}

// The price adjustment record pertains to part numbers of a specific part type.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) PartType(partType string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.partType = &partType
	return r
}

// The region associated with the price adjustment.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Region(region string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.region = &region
	return r
}

// The price adjustment record pertains to part numbers of a specific part group.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) PartGroup(partGroup string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.partGroup = &partGroup
	return r
}

// The price adjustment record pertains to part numbers of a specific part product group.
func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) PartProductGroup(partProductGroup string) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	r.partProductGroup = &partProductGroup
	return r
}

func (r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) Execute() ([]PriceAdjustmentsApiListPriceAdjustmentsItem, *http.Response, error) {
	return r.ApiService.PriceAdjustmentsApiListPriceAdjustmentsExecute(r)
}

/*
PriceAdjustmentsApiListPriceAdjustments List Price Adjustments

List price adjustments by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiPriceAdjustmentsApiListPriceAdjustmentsRequest
*/
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiListPriceAdjustments(ctx context.Context) ApiPriceAdjustmentsApiListPriceAdjustmentsRequest {
	return ApiPriceAdjustmentsApiListPriceAdjustmentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []PriceAdjustmentsApiListPriceAdjustmentsItem
func (a *PriceAdjustmentsAPIAPIService) PriceAdjustmentsApiListPriceAdjustmentsExecute(r ApiPriceAdjustmentsApiListPriceAdjustmentsRequest) ([]PriceAdjustmentsApiListPriceAdjustmentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []PriceAdjustmentsApiListPriceAdjustmentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "PriceAdjustmentsAPIAPIService.PriceAdjustmentsApiListPriceAdjustments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/sales/v1/price-adjustments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.accountNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "accountNo", r.accountNo, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.effectiveDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateBegin", r.effectiveDateBegin, "form", "")
	}
	if r.effectiveDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateEnd", r.effectiveDateEnd, "form", "")
	}
	if r.expirationDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateBegin", r.expirationDateBegin, "form", "")
	}
	if r.expirationDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateEnd", r.expirationDateEnd, "form", "")
	}
	if r.customerType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customerType", r.customerType, "form", "")
	}
	if r.partProductType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partProductType", r.partProductType, "form", "")
	}
	if r.grade != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "grade", r.grade, "form", "")
	}
	if r.partType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partType", r.partType, "form", "")
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.partGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partGroup", r.partGroup, "form", "")
	}
	if r.partProductGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partProductGroup", r.partProductGroup, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
