/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// EquipmentAPIAPIService EquipmentAPIAPI service
type EquipmentAPIAPIService service

type ApiEquipmentApiCreateEquipmentAttributeRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	equipmentApiCreateEquipmentAttributeRequest *EquipmentApiCreateEquipmentAttributeRequest
}

func (r ApiEquipmentApiCreateEquipmentAttributeRequest) EquipmentApiCreateEquipmentAttributeRequest(equipmentApiCreateEquipmentAttributeRequest EquipmentApiCreateEquipmentAttributeRequest) ApiEquipmentApiCreateEquipmentAttributeRequest {
	r.equipmentApiCreateEquipmentAttributeRequest = &equipmentApiCreateEquipmentAttributeRequest
	return r
}

func (r ApiEquipmentApiCreateEquipmentAttributeRequest) Execute() (*EquipmentApiCreateEquipmentAttribute201Response, *http.Response, error) {
	return r.ApiService.EquipmentApiCreateEquipmentAttributeExecute(r)
}

/*
EquipmentApiCreateEquipmentAttribute Create Equipment Attribute

Creates a new Equipment Attribute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEquipmentApiCreateEquipmentAttributeRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiCreateEquipmentAttribute(ctx context.Context) ApiEquipmentApiCreateEquipmentAttributeRequest {
	return ApiEquipmentApiCreateEquipmentAttributeRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return EquipmentApiCreateEquipmentAttribute201Response
func (a *EquipmentAPIAPIService) EquipmentApiCreateEquipmentAttributeExecute(r ApiEquipmentApiCreateEquipmentAttributeRequest) (*EquipmentApiCreateEquipmentAttribute201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EquipmentApiCreateEquipmentAttribute201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiCreateEquipmentAttribute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-attributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.equipmentApiCreateEquipmentAttributeRequest == nil {
		return localVarReturnValue, nil, reportError("equipmentApiCreateEquipmentAttributeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.equipmentApiCreateEquipmentAttributeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EquipmentApiCreateEquipmentAttribute400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiGetEquipmentRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	id string
}

func (r ApiEquipmentApiGetEquipmentRequest) Execute() (*EquipmentApiGetEquipmentResponse, *http.Response, error) {
	return r.ApiService.EquipmentApiGetEquipmentExecute(r)
}

/*
EquipmentApiGetEquipment Get Equipment

Get equipment by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEquipmentApiGetEquipmentRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipment(ctx context.Context, id string) ApiEquipmentApiGetEquipmentRequest {
	return ApiEquipmentApiGetEquipmentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EquipmentApiGetEquipmentResponse
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipmentExecute(r ApiEquipmentApiGetEquipmentRequest) (*EquipmentApiGetEquipmentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EquipmentApiGetEquipmentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiGetEquipment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiGetEquipmentAttributesRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	id string
}

func (r ApiEquipmentApiGetEquipmentAttributesRequest) Execute() (*EquipmentApiGetEquipmentAttributesResponse, *http.Response, error) {
	return r.ApiService.EquipmentApiGetEquipmentAttributesExecute(r)
}

/*
EquipmentApiGetEquipmentAttributes Get Equipment Attributes

Get equipment attribute by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEquipmentApiGetEquipmentAttributesRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipmentAttributes(ctx context.Context, id string) ApiEquipmentApiGetEquipmentAttributesRequest {
	return ApiEquipmentApiGetEquipmentAttributesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EquipmentApiGetEquipmentAttributesResponse
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipmentAttributesExecute(r ApiEquipmentApiGetEquipmentAttributesRequest) (*EquipmentApiGetEquipmentAttributesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EquipmentApiGetEquipmentAttributesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiGetEquipmentAttributes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-attributes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiGetEquipmentTypesRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	id string
}

func (r ApiEquipmentApiGetEquipmentTypesRequest) Execute() (*EquipmentApiGetEquipmentTypesResponse, *http.Response, error) {
	return r.ApiService.EquipmentApiGetEquipmentTypesExecute(r)
}

/*
EquipmentApiGetEquipmentTypes Get Equipment Types

Get equipment type by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEquipmentApiGetEquipmentTypesRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipmentTypes(ctx context.Context, id string) ApiEquipmentApiGetEquipmentTypesRequest {
	return ApiEquipmentApiGetEquipmentTypesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EquipmentApiGetEquipmentTypesResponse
func (a *EquipmentAPIAPIService) EquipmentApiGetEquipmentTypesExecute(r ApiEquipmentApiGetEquipmentTypesRequest) (*EquipmentApiGetEquipmentTypesResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EquipmentApiGetEquipmentTypesResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiGetEquipmentTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-types/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiListEquipmentRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	equipmentId *string
	equipmentTypeId *string
	buildingId *string
	locationId *string
	workcenterId *string
	partId *string
	partType *string
	status *string
	serialNo *string
	active *bool
}

// The Equipment ID.
func (r ApiEquipmentApiListEquipmentRequest) EquipmentId(equipmentId string) ApiEquipmentApiListEquipmentRequest {
	r.equipmentId = &equipmentId
	return r
}

// The ID of the Equipment Type.
func (r ApiEquipmentApiListEquipmentRequest) EquipmentTypeId(equipmentTypeId string) ApiEquipmentApiListEquipmentRequest {
	r.equipmentTypeId = &equipmentTypeId
	return r
}

// The ID of the Equipment Building.
func (r ApiEquipmentApiListEquipmentRequest) BuildingId(buildingId string) ApiEquipmentApiListEquipmentRequest {
	r.buildingId = &buildingId
	return r
}

// The ID of the Equipment Location.
func (r ApiEquipmentApiListEquipmentRequest) LocationId(locationId string) ApiEquipmentApiListEquipmentRequest {
	r.locationId = &locationId
	return r
}

// The ID of the Equipment Workcenter.
func (r ApiEquipmentApiListEquipmentRequest) WorkcenterId(workcenterId string) ApiEquipmentApiListEquipmentRequest {
	r.workcenterId = &workcenterId
	return r
}

// The ID of the associated Part.
func (r ApiEquipmentApiListEquipmentRequest) PartId(partId string) ApiEquipmentApiListEquipmentRequest {
	r.partId = &partId
	return r
}

// The associated Part Type.
func (r ApiEquipmentApiListEquipmentRequest) PartType(partType string) ApiEquipmentApiListEquipmentRequest {
	r.partType = &partType
	return r
}

// The associated Equipment Status.
func (r ApiEquipmentApiListEquipmentRequest) Status(status string) ApiEquipmentApiListEquipmentRequest {
	r.status = &status
	return r
}

// The Equipment Serial Number.
func (r ApiEquipmentApiListEquipmentRequest) SerialNo(serialNo string) ApiEquipmentApiListEquipmentRequest {
	r.serialNo = &serialNo
	return r
}

// The Equipment Active flag.
func (r ApiEquipmentApiListEquipmentRequest) Active(active bool) ApiEquipmentApiListEquipmentRequest {
	r.active = &active
	return r
}

func (r ApiEquipmentApiListEquipmentRequest) Execute() ([]EquipmentApiListEquipmentItem, *http.Response, error) {
	return r.ApiService.EquipmentApiListEquipmentExecute(r)
}

/*
EquipmentApiListEquipment List Equipment

List equipment by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEquipmentApiListEquipmentRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiListEquipment(ctx context.Context) ApiEquipmentApiListEquipmentRequest {
	return ApiEquipmentApiListEquipmentRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EquipmentApiListEquipmentItem
func (a *EquipmentAPIAPIService) EquipmentApiListEquipmentExecute(r ApiEquipmentApiListEquipmentRequest) ([]EquipmentApiListEquipmentItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EquipmentApiListEquipmentItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiListEquipment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.equipmentId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "equipmentId", r.equipmentId, "form", "")
	}
	if r.equipmentTypeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "equipmentTypeId", r.equipmentTypeId, "form", "")
	}
	if r.buildingId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "buildingId", r.buildingId, "form", "")
	}
	if r.locationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "locationId", r.locationId, "form", "")
	}
	if r.workcenterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterId", r.workcenterId, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.partType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partType", r.partType, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.serialNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "serialNo", r.serialNo, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiListEquipmentAttributesRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	attributeName *string
	unit *string
	typeAttribute *bool
	groupAttribute *bool
	categoryAttribute *bool
	useValues *bool
	smartAttribute *bool
	active *bool
}

// The name of an Equipment Attribute.
func (r ApiEquipmentApiListEquipmentAttributesRequest) AttributeName(attributeName string) ApiEquipmentApiListEquipmentAttributesRequest {
	r.attributeName = &attributeName
	return r
}

// The unit associated with the Equipment Attribute.
func (r ApiEquipmentApiListEquipmentAttributesRequest) Unit(unit string) ApiEquipmentApiListEquipmentAttributesRequest {
	r.unit = &unit
	return r
}

// If true, only the list of Type Equipment Attributes will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) TypeAttribute(typeAttribute bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.typeAttribute = &typeAttribute
	return r
}

// If true, only the list of Group Equipment Attributes will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) GroupAttribute(groupAttribute bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.groupAttribute = &groupAttribute
	return r
}

// If true, only the list of Category Equipment Attributes will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) CategoryAttribute(categoryAttribute bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.categoryAttribute = &categoryAttribute
	return r
}

// If true, only the list of Equipment Attributes where values are being use will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) UseValues(useValues bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.useValues = &useValues
	return r
}

// If true, only the list of Smart Equipment Attributes will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) SmartAttribute(smartAttribute bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.smartAttribute = &smartAttribute
	return r
}

// If true, only the list of Active Equipment Attributes will be returned.
func (r ApiEquipmentApiListEquipmentAttributesRequest) Active(active bool) ApiEquipmentApiListEquipmentAttributesRequest {
	r.active = &active
	return r
}

func (r ApiEquipmentApiListEquipmentAttributesRequest) Execute() ([]EquipmentApiListEquipmentAttributesItem, *http.Response, error) {
	return r.ApiService.EquipmentApiListEquipmentAttributesExecute(r)
}

/*
EquipmentApiListEquipmentAttributes List Equipment Attributes

List equipment attributes by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEquipmentApiListEquipmentAttributesRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiListEquipmentAttributes(ctx context.Context) ApiEquipmentApiListEquipmentAttributesRequest {
	return ApiEquipmentApiListEquipmentAttributesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EquipmentApiListEquipmentAttributesItem
func (a *EquipmentAPIAPIService) EquipmentApiListEquipmentAttributesExecute(r ApiEquipmentApiListEquipmentAttributesRequest) ([]EquipmentApiListEquipmentAttributesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EquipmentApiListEquipmentAttributesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiListEquipmentAttributes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-attributes"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.attributeName != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributeName", r.attributeName, "form", "")
	}
	if r.unit != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "unit", r.unit, "form", "")
	}
	if r.typeAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "typeAttribute", r.typeAttribute, "form", "")
	}
	if r.groupAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "groupAttribute", r.groupAttribute, "form", "")
	}
	if r.categoryAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "categoryAttribute", r.categoryAttribute, "form", "")
	}
	if r.useValues != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "useValues", r.useValues, "form", "")
	}
	if r.smartAttribute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "smartAttribute", r.smartAttribute, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiListEquipmentTypesRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	equipmentType *string
}

// The name of an Equipment Type.
func (r ApiEquipmentApiListEquipmentTypesRequest) EquipmentType(equipmentType string) ApiEquipmentApiListEquipmentTypesRequest {
	r.equipmentType = &equipmentType
	return r
}

func (r ApiEquipmentApiListEquipmentTypesRequest) Execute() ([]EquipmentApiListEquipmentTypesItem, *http.Response, error) {
	return r.ApiService.EquipmentApiListEquipmentTypesExecute(r)
}

/*
EquipmentApiListEquipmentTypes List Equipment Types

List equipment Types by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiEquipmentApiListEquipmentTypesRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiListEquipmentTypes(ctx context.Context) ApiEquipmentApiListEquipmentTypesRequest {
	return ApiEquipmentApiListEquipmentTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []EquipmentApiListEquipmentTypesItem
func (a *EquipmentAPIAPIService) EquipmentApiListEquipmentTypesExecute(r ApiEquipmentApiListEquipmentTypesRequest) ([]EquipmentApiListEquipmentTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []EquipmentApiListEquipmentTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiListEquipmentTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.equipmentType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "equipmentType", r.equipmentType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiEquipmentApiUpdateEquipmentAttributeRequest struct {
	ctx context.Context
	ApiService *EquipmentAPIAPIService
	id string
	equipmentApiUpdateEquipmentAttributeRequest *EquipmentApiUpdateEquipmentAttributeRequest
}

func (r ApiEquipmentApiUpdateEquipmentAttributeRequest) EquipmentApiUpdateEquipmentAttributeRequest(equipmentApiUpdateEquipmentAttributeRequest EquipmentApiUpdateEquipmentAttributeRequest) ApiEquipmentApiUpdateEquipmentAttributeRequest {
	r.equipmentApiUpdateEquipmentAttributeRequest = &equipmentApiUpdateEquipmentAttributeRequest
	return r
}

func (r ApiEquipmentApiUpdateEquipmentAttributeRequest) Execute() (*EquipmentApiUpdateEquipmentAttributeResponse, *http.Response, error) {
	return r.ApiService.EquipmentApiUpdateEquipmentAttributeExecute(r)
}

/*
EquipmentApiUpdateEquipmentAttribute Update Equipment Attribute

Updates an Equipment Attribute.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiEquipmentApiUpdateEquipmentAttributeRequest
*/
func (a *EquipmentAPIAPIService) EquipmentApiUpdateEquipmentAttribute(ctx context.Context, id string) ApiEquipmentApiUpdateEquipmentAttributeRequest {
	return ApiEquipmentApiUpdateEquipmentAttributeRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return EquipmentApiUpdateEquipmentAttributeResponse
func (a *EquipmentAPIAPIService) EquipmentApiUpdateEquipmentAttributeExecute(r ApiEquipmentApiUpdateEquipmentAttributeRequest) (*EquipmentApiUpdateEquipmentAttributeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *EquipmentApiUpdateEquipmentAttributeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "EquipmentAPIAPIService.EquipmentApiUpdateEquipmentAttribute")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/maintenance/v1/equipment-attributes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.equipmentApiUpdateEquipmentAttributeRequest == nil {
		return localVarReturnValue, nil, reportError("equipmentApiUpdateEquipmentAttributeRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.equipmentApiUpdateEquipmentAttributeRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v EquipmentApiUpdateEquipmentAttribute400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
