/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// ApprovedSuppliersAPIAPIService ApprovedSuppliersAPIAPI service
type ApprovedSuppliersAPIAPIService service

type ApiApprovedSuppliersApiGetApprovedSupplierRequest struct {
	ctx context.Context
	ApiService *ApprovedSuppliersAPIAPIService
	id string
}

func (r ApiApprovedSuppliersApiGetApprovedSupplierRequest) Execute() (*ApprovedSuppliersApiGetApprovedSupplierResponse, *http.Response, error) {
	return r.ApiService.ApprovedSuppliersApiGetApprovedSupplierExecute(r)
}

/*
ApprovedSuppliersApiGetApprovedSupplier Get Approved Supplier

Retrieve an Approved Supplier by Resource ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiApprovedSuppliersApiGetApprovedSupplierRequest
*/
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetApprovedSupplier(ctx context.Context, id string) ApiApprovedSuppliersApiGetApprovedSupplierRequest {
	return ApiApprovedSuppliersApiGetApprovedSupplierRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ApprovedSuppliersApiGetApprovedSupplierResponse
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetApprovedSupplierExecute(r ApiApprovedSuppliersApiGetApprovedSupplierRequest) (*ApprovedSuppliersApiGetApprovedSupplierResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApprovedSuppliersApiGetApprovedSupplierResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApprovedSuppliersAPIAPIService.ApprovedSuppliersApiGetApprovedSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/approved-suppliers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApprovedSuppliersApiGetEDIDetailsRequest struct {
	ctx context.Context
	ApiService *ApprovedSuppliersAPIAPIService
	id string
}

func (r ApiApprovedSuppliersApiGetEDIDetailsRequest) Execute() (*ApprovedSuppliersApiGetEDIDetailsResponse, *http.Response, error) {
	return r.ApiService.ApprovedSuppliersApiGetEDIDetailsExecute(r)
}

/*
ApprovedSuppliersApiGetEDIDetails Get EDI Details

Gets EDI information related to the approved supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The resource ID of the approved supplier.
 @return ApiApprovedSuppliersApiGetEDIDetailsRequest
*/
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetEDIDetails(ctx context.Context, id string) ApiApprovedSuppliersApiGetEDIDetailsRequest {
	return ApiApprovedSuppliersApiGetEDIDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ApprovedSuppliersApiGetEDIDetailsResponse
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetEDIDetailsExecute(r ApiApprovedSuppliersApiGetEDIDetailsRequest) (*ApprovedSuppliersApiGetEDIDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApprovedSuppliersApiGetEDIDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApprovedSuppliersAPIAPIService.ApprovedSuppliersApiGetEDIDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/approved-suppliers/{id}/edi-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApprovedSuppliersApiGetMRPDetailsRequest struct {
	ctx context.Context
	ApiService *ApprovedSuppliersAPIAPIService
	id string
}

func (r ApiApprovedSuppliersApiGetMRPDetailsRequest) Execute() (*ApprovedSuppliersApiGetMRPDetailsResponse, *http.Response, error) {
	return r.ApiService.ApprovedSuppliersApiGetMRPDetailsExecute(r)
}

/*
ApprovedSuppliersApiGetMRPDetails Get MRP Details

Gets MRP information related to the approved supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The resource ID of the approved supplier.
 @return ApiApprovedSuppliersApiGetMRPDetailsRequest
*/
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetMRPDetails(ctx context.Context, id string) ApiApprovedSuppliersApiGetMRPDetailsRequest {
	return ApiApprovedSuppliersApiGetMRPDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ApprovedSuppliersApiGetMRPDetailsResponse
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiGetMRPDetailsExecute(r ApiApprovedSuppliersApiGetMRPDetailsRequest) (*ApprovedSuppliersApiGetMRPDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ApprovedSuppliersApiGetMRPDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApprovedSuppliersAPIAPIService.ApprovedSuppliersApiGetMRPDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/approved-suppliers/{id}/mrp-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApprovedSuppliersApiListApprovedSuppliersRequest struct {
	ctx context.Context
	ApiService *ApprovedSuppliersAPIAPIService
	id *[]string
	partId *string
	operationCode *string
	supplierId *string
}

// A list of approved supplier IDs.
func (r ApiApprovedSuppliersApiListApprovedSuppliersRequest) Id(id []string) ApiApprovedSuppliersApiListApprovedSuppliersRequest {
	r.id = &id
	return r
}

// The part ID.
func (r ApiApprovedSuppliersApiListApprovedSuppliersRequest) PartId(partId string) ApiApprovedSuppliersApiListApprovedSuppliersRequest {
	r.partId = &partId
	return r
}

// Application: Operation List
func (r ApiApprovedSuppliersApiListApprovedSuppliersRequest) OperationCode(operationCode string) ApiApprovedSuppliersApiListApprovedSuppliersRequest {
	r.operationCode = &operationCode
	return r
}

// The supplier ID.
func (r ApiApprovedSuppliersApiListApprovedSuppliersRequest) SupplierId(supplierId string) ApiApprovedSuppliersApiListApprovedSuppliersRequest {
	r.supplierId = &supplierId
	return r
}

func (r ApiApprovedSuppliersApiListApprovedSuppliersRequest) Execute() ([]ApprovedSuppliersApiListApprovedSuppliersItem, *http.Response, error) {
	return r.ApiService.ApprovedSuppliersApiListApprovedSuppliersExecute(r)
}

/*
ApprovedSuppliersApiListApprovedSuppliers List Approved Suppliers

List Approved Suppliers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiApprovedSuppliersApiListApprovedSuppliersRequest
*/
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiListApprovedSuppliers(ctx context.Context) ApiApprovedSuppliersApiListApprovedSuppliersRequest {
	return ApiApprovedSuppliersApiListApprovedSuppliersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ApprovedSuppliersApiListApprovedSuppliersItem
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiListApprovedSuppliersExecute(r ApiApprovedSuppliersApiListApprovedSuppliersRequest) ([]ApprovedSuppliersApiListApprovedSuppliersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApprovedSuppliersApiListApprovedSuppliersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApprovedSuppliersAPIAPIService.ApprovedSuppliersApiListApprovedSuppliers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/approved-suppliers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.operationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationCode", r.operationCode, "form", "")
	}
	if r.supplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", r.supplierId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiApprovedSuppliersApiListPricesRequest struct {
	ctx context.Context
	ApiService *ApprovedSuppliersAPIAPIService
	id string
	active *bool
	effectiveDateBegin *time.Time
	effectiveDateEnd *time.Time
	expirationDateBegin *time.Time
	expirationDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

func (r ApiApprovedSuppliersApiListPricesRequest) Active(active bool) ApiApprovedSuppliersApiListPricesRequest {
	r.active = &active
	return r
}

// The date on which the price is effective.
func (r ApiApprovedSuppliersApiListPricesRequest) EffectiveDateBegin(effectiveDateBegin time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.effectiveDateBegin = &effectiveDateBegin
	return r
}

// The date on which the price is effective.
func (r ApiApprovedSuppliersApiListPricesRequest) EffectiveDateEnd(effectiveDateEnd time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.effectiveDateEnd = &effectiveDateEnd
	return r
}

// The date on which the price expires.
func (r ApiApprovedSuppliersApiListPricesRequest) ExpirationDateBegin(expirationDateBegin time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.expirationDateBegin = &expirationDateBegin
	return r
}

// The date on which the price expires.
func (r ApiApprovedSuppliersApiListPricesRequest) ExpirationDateEnd(expirationDateEnd time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.expirationDateEnd = &expirationDateEnd
	return r
}

// The ID of the last person to modify the record.
func (r ApiApprovedSuppliersApiListPricesRequest) ModifiedById(modifiedById string) ApiApprovedSuppliersApiListPricesRequest {
	r.modifiedById = &modifiedById
	return r
}

// The date on which the record was last modified.
func (r ApiApprovedSuppliersApiListPricesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The date on which the record was last modified.
func (r ApiApprovedSuppliersApiListPricesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiApprovedSuppliersApiListPricesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiApprovedSuppliersApiListPricesRequest) Execute() ([]ApprovedSuppliersApiListPricesItem, *http.Response, error) {
	return r.ApiService.ApprovedSuppliersApiListPricesExecute(r)
}

/*
ApprovedSuppliersApiListPrices List Prices

List Prices by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiApprovedSuppliersApiListPricesRequest
*/
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiListPrices(ctx context.Context, id string) ApiApprovedSuppliersApiListPricesRequest {
	return ApiApprovedSuppliersApiListPricesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []ApprovedSuppliersApiListPricesItem
func (a *ApprovedSuppliersAPIAPIService) ApprovedSuppliersApiListPricesExecute(r ApiApprovedSuppliersApiListPricesRequest) ([]ApprovedSuppliersApiListPricesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ApprovedSuppliersApiListPricesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ApprovedSuppliersAPIAPIService.ApprovedSuppliersApiListPrices")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/approved-suppliers/{id}/prices"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.effectiveDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateBegin", r.effectiveDateBegin, "form", "")
	}
	if r.effectiveDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "effectiveDateEnd", r.effectiveDateEnd, "form", "")
	}
	if r.expirationDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateBegin", r.expirationDateBegin, "form", "")
	}
	if r.expirationDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "expirationDateEnd", r.expirationDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
