/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// CustomersAPIAPIService CustomersAPIAPI service
type CustomersAPIAPIService service

type ApiCustomersApiCreateCustomerRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customersApiCreateCustomerRequest *CustomersApiCreateCustomerRequest
}

func (r ApiCustomersApiCreateCustomerRequest) CustomersApiCreateCustomerRequest(customersApiCreateCustomerRequest CustomersApiCreateCustomerRequest) ApiCustomersApiCreateCustomerRequest {
	r.customersApiCreateCustomerRequest = &customersApiCreateCustomerRequest
	return r
}

func (r ApiCustomersApiCreateCustomerRequest) Execute() (*CustomersApiCreateCustomer201Response, *http.Response, error) {
	return r.ApiService.CustomersApiCreateCustomerExecute(r)
}

/*
CustomersApiCreateCustomer Create Customer

Create a new customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomersApiCreateCustomerRequest
*/
func (a *CustomersAPIAPIService) CustomersApiCreateCustomer(ctx context.Context) ApiCustomersApiCreateCustomerRequest {
	return ApiCustomersApiCreateCustomerRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CustomersApiCreateCustomer201Response
func (a *CustomersAPIAPIService) CustomersApiCreateCustomerExecute(r ApiCustomersApiCreateCustomerRequest) (*CustomersApiCreateCustomer201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiCreateCustomer201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiCreateCustomer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiCreateCustomerRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiCreateCustomerRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiCreateCustomerRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiCreateCustomer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiCreateCustomerAddressRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	customersApiCreateCustomerAddressRequest *CustomersApiCreateCustomerAddressRequest
}

func (r ApiCustomersApiCreateCustomerAddressRequest) CustomersApiCreateCustomerAddressRequest(customersApiCreateCustomerAddressRequest CustomersApiCreateCustomerAddressRequest) ApiCustomersApiCreateCustomerAddressRequest {
	r.customersApiCreateCustomerAddressRequest = &customersApiCreateCustomerAddressRequest
	return r
}

func (r ApiCustomersApiCreateCustomerAddressRequest) Execute() (*CustomersApiCreateCustomerAddress201Response, *http.Response, error) {
	return r.ApiService.CustomersApiCreateCustomerAddressExecute(r)
}

/*
CustomersApiCreateCustomerAddress Create Customer Address

Create a new customer address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @return ApiCustomersApiCreateCustomerAddressRequest
*/
func (a *CustomersAPIAPIService) CustomersApiCreateCustomerAddress(ctx context.Context, customerId string) ApiCustomersApiCreateCustomerAddressRequest {
	return ApiCustomersApiCreateCustomerAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
	}
}

// Execute executes the request
//  @return CustomersApiCreateCustomerAddress201Response
func (a *CustomersAPIAPIService) CustomersApiCreateCustomerAddressExecute(r ApiCustomersApiCreateCustomerAddressRequest) (*CustomersApiCreateCustomerAddress201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiCreateCustomerAddress201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiCreateCustomerAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiCreateCustomerAddressRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiCreateCustomerAddressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiCreateCustomerAddressRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiCreateCustomerAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiDeactivateCustomerRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id string
}

func (r ApiCustomersApiDeactivateCustomerRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomersApiDeactivateCustomerExecute(r)
}

/*
CustomersApiDeactivateCustomer Deactivate Customer

Deactivates a customer by changing it's Customer Status to Deleted.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The customer ID.
 @return ApiCustomersApiDeactivateCustomerRequest
*/
func (a *CustomersAPIAPIService) CustomersApiDeactivateCustomer(ctx context.Context, id string) ApiCustomersApiDeactivateCustomerRequest {
	return ApiCustomersApiDeactivateCustomerRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *CustomersAPIAPIService) CustomersApiDeactivateCustomerExecute(r ApiCustomersApiDeactivateCustomerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiDeactivateCustomer")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiDeactivateCustomer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomersApiDeleteCustomerAddressRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	addressId string
}

func (r ApiCustomersApiDeleteCustomerAddressRequest) Execute() (*CustomersApiDeleteCustomerAddressResponse, *http.Response, error) {
	return r.ApiService.CustomersApiDeleteCustomerAddressExecute(r)
}

/*
CustomersApiDeleteCustomerAddress Delete Customer Address

Deletes a customer address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @param addressId The customer address ID.
 @return ApiCustomersApiDeleteCustomerAddressRequest
*/
func (a *CustomersAPIAPIService) CustomersApiDeleteCustomerAddress(ctx context.Context, customerId string, addressId string) ApiCustomersApiDeleteCustomerAddressRequest {
	return ApiCustomersApiDeleteCustomerAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return CustomersApiDeleteCustomerAddressResponse
func (a *CustomersAPIAPIService) CustomersApiDeleteCustomerAddressExecute(r ApiCustomersApiDeleteCustomerAddressRequest) (*CustomersApiDeleteCustomerAddressResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiDeleteCustomerAddressResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiDeleteCustomerAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiDeleteCustomerAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiGetCustomerRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id string
}

func (r ApiCustomersApiGetCustomerRequest) Execute() (*CustomersApiGetCustomerResponse, *http.Response, error) {
	return r.ApiService.CustomersApiGetCustomerExecute(r)
}

/*
CustomersApiGetCustomer Get Customer

Retrieve a customer by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The customer ID.
 @return ApiCustomersApiGetCustomerRequest
*/
func (a *CustomersAPIAPIService) CustomersApiGetCustomer(ctx context.Context, id string) ApiCustomersApiGetCustomerRequest {
	return ApiCustomersApiGetCustomerRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomersApiGetCustomerResponse
func (a *CustomersAPIAPIService) CustomersApiGetCustomerExecute(r ApiCustomersApiGetCustomerRequest) (*CustomersApiGetCustomerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiGetCustomerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiGetCustomer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiGetCustomerAddressRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	addressId string
}

func (r ApiCustomersApiGetCustomerAddressRequest) Execute() (*CustomersApiGetCustomerAddressResponse, *http.Response, error) {
	return r.ApiService.CustomersApiGetCustomerAddressExecute(r)
}

/*
CustomersApiGetCustomerAddress Get Customer Address

Retrieve a customer address by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @param addressId The customer address ID.
 @return ApiCustomersApiGetCustomerAddressRequest
*/
func (a *CustomersAPIAPIService) CustomersApiGetCustomerAddress(ctx context.Context, customerId string, addressId string) ApiCustomersApiGetCustomerAddressRequest {
	return ApiCustomersApiGetCustomerAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return CustomersApiGetCustomerAddressResponse
func (a *CustomersAPIAPIService) CustomersApiGetCustomerAddressExecute(r ApiCustomersApiGetCustomerAddressRequest) (*CustomersApiGetCustomerAddressResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiGetCustomerAddressResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiGetCustomerAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiGetCustomerAddressesEDIDetailsRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	addressId string
}

func (r ApiCustomersApiGetCustomerAddressesEDIDetailsRequest) Execute() (*CustomersApiGetCustomerAddressesEDIDetailsResponse, *http.Response, error) {
	return r.ApiService.CustomersApiGetCustomerAddressesEDIDetailsExecute(r)
}

/*
CustomersApiGetCustomerAddressesEDIDetails Get Customer Addresses EDI Details

Get customer address EDI details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @param addressId The customer address ID.
 @return ApiCustomersApiGetCustomerAddressesEDIDetailsRequest
*/
func (a *CustomersAPIAPIService) CustomersApiGetCustomerAddressesEDIDetails(ctx context.Context, customerId string, addressId string) ApiCustomersApiGetCustomerAddressesEDIDetailsRequest {
	return ApiCustomersApiGetCustomerAddressesEDIDetailsRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return CustomersApiGetCustomerAddressesEDIDetailsResponse
func (a *CustomersAPIAPIService) CustomersApiGetCustomerAddressesEDIDetailsExecute(r ApiCustomersApiGetCustomerAddressesEDIDetailsRequest) (*CustomersApiGetCustomerAddressesEDIDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiGetCustomerAddressesEDIDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiGetCustomerAddressesEDIDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses/{addressId}/edi-details"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiGetCustomerFinancialsRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id string
}

func (r ApiCustomersApiGetCustomerFinancialsRequest) Execute() (*CustomersApiGetCustomerFinancialsResponse, *http.Response, error) {
	return r.ApiService.CustomersApiGetCustomerFinancialsExecute(r)
}

/*
CustomersApiGetCustomerFinancials Get Customer Financials

Retrieve customer financial information by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The customer ID.
 @return ApiCustomersApiGetCustomerFinancialsRequest
*/
func (a *CustomersAPIAPIService) CustomersApiGetCustomerFinancials(ctx context.Context, id string) ApiCustomersApiGetCustomerFinancialsRequest {
	return ApiCustomersApiGetCustomerFinancialsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomersApiGetCustomerFinancialsResponse
func (a *CustomersAPIAPIService) CustomersApiGetCustomerFinancialsExecute(r ApiCustomersApiGetCustomerFinancialsRequest) (*CustomersApiGetCustomerFinancialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiGetCustomerFinancialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiGetCustomerFinancials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{id}/financials"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiListCustomerAddressesRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	id *[]string
	code *string
	quoteTo *bool
	shipTo *bool
	billTo *bool
	remitTo *bool
	thirdPartyShipTo *bool
	pool *bool
	oldCustomerNo *string
	active *bool
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A List of CustomerAddress Resource Ids.
func (r ApiCustomersApiListCustomerAddressesRequest) Id(id []string) ApiCustomersApiListCustomerAddressesRequest {
	r.id = &id
	return r
}

func (r ApiCustomersApiListCustomerAddressesRequest) Code(code string) ApiCustomersApiListCustomerAddressesRequest {
	r.code = &code
	return r
}

// If true, this address may be used for customer quotes.
func (r ApiCustomersApiListCustomerAddressesRequest) QuoteTo(quoteTo bool) ApiCustomersApiListCustomerAddressesRequest {
	r.quoteTo = &quoteTo
	return r
}

// If true, this address may be used for customer shipping.
func (r ApiCustomersApiListCustomerAddressesRequest) ShipTo(shipTo bool) ApiCustomersApiListCustomerAddressesRequest {
	r.shipTo = &shipTo
	return r
}

// If true, this address may be used for customer invoices.
func (r ApiCustomersApiListCustomerAddressesRequest) BillTo(billTo bool) ApiCustomersApiListCustomerAddressesRequest {
	r.billTo = &billTo
	return r
}

// If true, this address may be used for remittance.
func (r ApiCustomersApiListCustomerAddressesRequest) RemitTo(remitTo bool) ApiCustomersApiListCustomerAddressesRequest {
	r.remitTo = &remitTo
	return r
}

// If true, this is a valid third-party shipping address.
func (r ApiCustomersApiListCustomerAddressesRequest) ThirdPartyShipTo(thirdPartyShipTo bool) ApiCustomersApiListCustomerAddressesRequest {
	r.thirdPartyShipTo = &thirdPartyShipTo
	return r
}

// If true, this is a valid pool address. A pool is a location used to organize shipments and routes the shippers to the Ship To location.
func (r ApiCustomersApiListCustomerAddressesRequest) Pool(pool bool) ApiCustomersApiListCustomerAddressesRequest {
	r.pool = &pool
	return r
}

func (r ApiCustomersApiListCustomerAddressesRequest) OldCustomerNo(oldCustomerNo string) ApiCustomersApiListCustomerAddressesRequest {
	r.oldCustomerNo = &oldCustomerNo
	return r
}

func (r ApiCustomersApiListCustomerAddressesRequest) Active(active bool) ApiCustomersApiListCustomerAddressesRequest {
	r.active = &active
	return r
}

// The beginning date and time to use for records that were last modified within a time frame.
func (r ApiCustomersApiListCustomerAddressesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiCustomersApiListCustomerAddressesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The ending date and time to use for records that were last modified within a time frame.
func (r ApiCustomersApiListCustomerAddressesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiCustomersApiListCustomerAddressesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiCustomersApiListCustomerAddressesRequest) Execute() ([]CustomersApiListCustomerAddressesItem, *http.Response, error) {
	return r.ApiService.CustomersApiListCustomerAddressesExecute(r)
}

/*
CustomersApiListCustomerAddresses List Customer Addresses

Get customer addresses by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @return ApiCustomersApiListCustomerAddressesRequest
*/
func (a *CustomersAPIAPIService) CustomersApiListCustomerAddresses(ctx context.Context, customerId string) ApiCustomersApiListCustomerAddressesRequest {
	return ApiCustomersApiListCustomerAddressesRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
	}
}

// Execute executes the request
//  @return []CustomersApiListCustomerAddressesItem
func (a *CustomersAPIAPIService) CustomersApiListCustomerAddressesExecute(r ApiCustomersApiListCustomerAddressesRequest) ([]CustomersApiListCustomerAddressesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomersApiListCustomerAddressesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiListCustomerAddresses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.quoteTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "quoteTo", r.quoteTo, "form", "")
	}
	if r.shipTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipTo", r.shipTo, "form", "")
	}
	if r.billTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "billTo", r.billTo, "form", "")
	}
	if r.remitTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "remitTo", r.remitTo, "form", "")
	}
	if r.thirdPartyShipTo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "thirdPartyShipTo", r.thirdPartyShipTo, "form", "")
	}
	if r.pool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool", r.pool, "form", "")
	}
	if r.oldCustomerNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldCustomerNo", r.oldCustomerNo, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiListCustomersRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id *[]string
	code *string
	name *string
	status *string
	type_ *string
	otherCustomerCode *string
	rating *string
	industries *[]string
	region *string
	category *string
	class *string
	catalog *string
	assignedToId *string
	assignedTo2Id *string
	assignedTo3Id *string
	assignedToGroup *string
	contactResourceID *string
	trackingNoOnWeighScaleRequired *bool
	estimatedAnnualSales *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of customer IDs.
func (r ApiCustomersApiListCustomersRequest) Id(id []string) ApiCustomersApiListCustomersRequest {
	r.id = &id
	return r
}

func (r ApiCustomersApiListCustomersRequest) Code(code string) ApiCustomersApiListCustomersRequest {
	r.code = &code
	return r
}

func (r ApiCustomersApiListCustomersRequest) Name(name string) ApiCustomersApiListCustomersRequest {
	r.name = &name
	return r
}

// Setup Table: Customer Status
func (r ApiCustomersApiListCustomersRequest) Status(status string) ApiCustomersApiListCustomersRequest {
	r.status = &status
	return r
}

// Setup Table: Customer Type
func (r ApiCustomersApiListCustomersRequest) Type_(type_ string) ApiCustomersApiListCustomersRequest {
	r.type_ = &type_
	return r
}

func (r ApiCustomersApiListCustomersRequest) OtherCustomerCode(otherCustomerCode string) ApiCustomersApiListCustomersRequest {
	r.otherCustomerCode = &otherCustomerCode
	return r
}

// Setup Table: Customer Rating
func (r ApiCustomersApiListCustomersRequest) Rating(rating string) ApiCustomersApiListCustomersRequest {
	r.rating = &rating
	return r
}

// Setup Table: Industries
func (r ApiCustomersApiListCustomersRequest) Industries(industries []string) ApiCustomersApiListCustomersRequest {
	r.industries = &industries
	return r
}

// Screen: Region List
func (r ApiCustomersApiListCustomersRequest) Region(region string) ApiCustomersApiListCustomersRequest {
	r.region = &region
	return r
}

// Setup Table: Customer Category
func (r ApiCustomersApiListCustomersRequest) Category(category string) ApiCustomersApiListCustomersRequest {
	r.category = &category
	return r
}

// Setup Table: Customer Class
func (r ApiCustomersApiListCustomersRequest) Class(class string) ApiCustomersApiListCustomersRequest {
	r.class = &class
	return r
}

// Screen: Catalogs
func (r ApiCustomersApiListCustomersRequest) Catalog(catalog string) ApiCustomersApiListCustomersRequest {
	r.catalog = &catalog
	return r
}

// The sales person assigned to this customer, by IAM Account ID.
func (r ApiCustomersApiListCustomersRequest) AssignedToId(assignedToId string) ApiCustomersApiListCustomersRequest {
	r.assignedToId = &assignedToId
	return r
}

// The sales person assigned to this customer, by IAM Account ID.
func (r ApiCustomersApiListCustomersRequest) AssignedTo2Id(assignedTo2Id string) ApiCustomersApiListCustomersRequest {
	r.assignedTo2Id = &assignedTo2Id
	return r
}

// The sales person assigned to this customer, by IAM Account ID.
func (r ApiCustomersApiListCustomersRequest) AssignedTo3Id(assignedTo3Id string) ApiCustomersApiListCustomersRequest {
	r.assignedTo3Id = &assignedTo3Id
	return r
}

func (r ApiCustomersApiListCustomersRequest) AssignedToGroup(assignedToGroup string) ApiCustomersApiListCustomersRequest {
	r.assignedToGroup = &assignedToGroup
	return r
}

// The  Contact_Id of the sales person assigned to this Customer.
func (r ApiCustomersApiListCustomersRequest) ContactResourceID(contactResourceID string) ApiCustomersApiListCustomersRequest {
	r.contactResourceID = &contactResourceID
	return r
}

func (r ApiCustomersApiListCustomersRequest) TrackingNoOnWeighScaleRequired(trackingNoOnWeighScaleRequired bool) ApiCustomersApiListCustomersRequest {
	r.trackingNoOnWeighScaleRequired = &trackingNoOnWeighScaleRequired
	return r
}

func (r ApiCustomersApiListCustomersRequest) EstimatedAnnualSales(estimatedAnnualSales string) ApiCustomersApiListCustomersRequest {
	r.estimatedAnnualSales = &estimatedAnnualSales
	return r
}

// The beginning date on which the record was last modified.
func (r ApiCustomersApiListCustomersRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiCustomersApiListCustomersRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The ending date on which the record was last modified.
func (r ApiCustomersApiListCustomersRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiCustomersApiListCustomersRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiCustomersApiListCustomersRequest) Execute() ([]CustomersApiListCustomersItem, *http.Response, error) {
	return r.ApiService.CustomersApiListCustomersExecute(r)
}

/*
CustomersApiListCustomers List Customers

List customers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomersApiListCustomersRequest
*/
func (a *CustomersAPIAPIService) CustomersApiListCustomers(ctx context.Context) ApiCustomersApiListCustomersRequest {
	return ApiCustomersApiListCustomersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomersApiListCustomersItem
func (a *CustomersAPIAPIService) CustomersApiListCustomersExecute(r ApiCustomersApiListCustomersRequest) ([]CustomersApiListCustomersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomersApiListCustomersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiListCustomers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.otherCustomerCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "otherCustomerCode", r.otherCustomerCode, "form", "")
	}
	if r.rating != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "rating", r.rating, "form", "")
	}
	if r.industries != nil {
		t := *r.industries
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "industries", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "industries", t, "form", "multi")
		}
	}
	if r.region != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "region", r.region, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.class != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "class", r.class, "form", "")
	}
	if r.catalog != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "catalog", r.catalog, "form", "")
	}
	if r.assignedToId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedToId", r.assignedToId, "form", "")
	}
	if r.assignedTo2Id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedTo2Id", r.assignedTo2Id, "form", "")
	}
	if r.assignedTo3Id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedTo3Id", r.assignedTo3Id, "form", "")
	}
	if r.assignedToGroup != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "assignedToGroup", r.assignedToGroup, "form", "")
	}
	if r.contactResourceID != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "contactResourceID", r.contactResourceID, "form", "")
	}
	if r.trackingNoOnWeighScaleRequired != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackingNoOnWeighScaleRequired", r.trackingNoOnWeighScaleRequired, "form", "")
	}
	if r.estimatedAnnualSales != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "estimatedAnnualSales", r.estimatedAnnualSales, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiSyncCustomersRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customersApiSyncCustomersRequest *CustomersApiSyncCustomersRequest
}

func (r ApiCustomersApiSyncCustomersRequest) CustomersApiSyncCustomersRequest(customersApiSyncCustomersRequest CustomersApiSyncCustomersRequest) ApiCustomersApiSyncCustomersRequest {
	r.customersApiSyncCustomersRequest = &customersApiSyncCustomersRequest
	return r
}

func (r ApiCustomersApiSyncCustomersRequest) Execute() (*http.Response, error) {
	return r.ApiService.CustomersApiSyncCustomersExecute(r)
}

/*
CustomersApiSyncCustomers Sync Customers

Sync a set of customers from another system. This operation creates customers that do not exist in Plex and updates existing customers. This information includes customers addresses and customer financials.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomersApiSyncCustomersRequest
*/
func (a *CustomersAPIAPIService) CustomersApiSyncCustomers(ctx context.Context) ApiCustomersApiSyncCustomersRequest {
	return ApiCustomersApiSyncCustomersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *CustomersAPIAPIService) CustomersApiSyncCustomersExecute(r ApiCustomersApiSyncCustomersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiSyncCustomers")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiSyncCustomersRequest == nil {
		return nil, reportError("customersApiSyncCustomersRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiSyncCustomersRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiSyncCustomers400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiCustomersApiUpdateCustomerRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id string
	customersApiUpdateCustomerRequest *CustomersApiUpdateCustomerRequest
}

func (r ApiCustomersApiUpdateCustomerRequest) CustomersApiUpdateCustomerRequest(customersApiUpdateCustomerRequest CustomersApiUpdateCustomerRequest) ApiCustomersApiUpdateCustomerRequest {
	r.customersApiUpdateCustomerRequest = &customersApiUpdateCustomerRequest
	return r
}

func (r ApiCustomersApiUpdateCustomerRequest) Execute() (*CustomersApiUpdateCustomerResponse, *http.Response, error) {
	return r.ApiService.CustomersApiUpdateCustomerExecute(r)
}

/*
CustomersApiUpdateCustomer Update Customer

Update a customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The customer ID.
 @return ApiCustomersApiUpdateCustomerRequest
*/
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomer(ctx context.Context, id string) ApiCustomersApiUpdateCustomerRequest {
	return ApiCustomersApiUpdateCustomerRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomersApiUpdateCustomerResponse
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerExecute(r ApiCustomersApiUpdateCustomerRequest) (*CustomersApiUpdateCustomerResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiUpdateCustomerResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiUpdateCustomer")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiUpdateCustomerRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiUpdateCustomerRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiUpdateCustomerRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiUpdateCustomer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiUpdateCustomerAddressRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	addressId string
	customersApiUpdateCustomerAddressRequest *CustomersApiUpdateCustomerAddressRequest
}

func (r ApiCustomersApiUpdateCustomerAddressRequest) CustomersApiUpdateCustomerAddressRequest(customersApiUpdateCustomerAddressRequest CustomersApiUpdateCustomerAddressRequest) ApiCustomersApiUpdateCustomerAddressRequest {
	r.customersApiUpdateCustomerAddressRequest = &customersApiUpdateCustomerAddressRequest
	return r
}

func (r ApiCustomersApiUpdateCustomerAddressRequest) Execute() (*CustomersApiUpdateCustomerAddressResponse, *http.Response, error) {
	return r.ApiService.CustomersApiUpdateCustomerAddressExecute(r)
}

/*
CustomersApiUpdateCustomerAddress Update Customer Address

Update a customer address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @param addressId The customer address ID.
 @return ApiCustomersApiUpdateCustomerAddressRequest
*/
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerAddress(ctx context.Context, customerId string, addressId string) ApiCustomersApiUpdateCustomerAddressRequest {
	return ApiCustomersApiUpdateCustomerAddressRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return CustomersApiUpdateCustomerAddressResponse
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerAddressExecute(r ApiCustomersApiUpdateCustomerAddressRequest) (*CustomersApiUpdateCustomerAddressResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiUpdateCustomerAddressResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiUpdateCustomerAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiUpdateCustomerAddressRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiUpdateCustomerAddressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiUpdateCustomerAddressRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiUpdateCustomerAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	customerId string
	addressId string
	customersApiUpdateCustomerAddressEDIDetailsRequest *CustomersApiUpdateCustomerAddressEDIDetailsRequest
}

func (r ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest) CustomersApiUpdateCustomerAddressEDIDetailsRequest(customersApiUpdateCustomerAddressEDIDetailsRequest CustomersApiUpdateCustomerAddressEDIDetailsRequest) ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest {
	r.customersApiUpdateCustomerAddressEDIDetailsRequest = &customersApiUpdateCustomerAddressEDIDetailsRequest
	return r
}

func (r ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest) Execute() (*CustomersApiUpdateCustomerAddressEDIDetailsResponse, *http.Response, error) {
	return r.ApiService.CustomersApiUpdateCustomerAddressEDIDetailsExecute(r)
}

/*
CustomersApiUpdateCustomerAddressEDIDetails Update Customer Address EDI Details

Update a Customer Address EDI Details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param customerId The customer ID.
 @param addressId The customer address ID.
 @return ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest
*/
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerAddressEDIDetails(ctx context.Context, customerId string, addressId string) ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest {
	return ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest{
		ApiService: a,
		ctx: ctx,
		customerId: customerId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return CustomersApiUpdateCustomerAddressEDIDetailsResponse
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerAddressEDIDetailsExecute(r ApiCustomersApiUpdateCustomerAddressEDIDetailsRequest) (*CustomersApiUpdateCustomerAddressEDIDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiUpdateCustomerAddressEDIDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiUpdateCustomerAddressEDIDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{customerId}/addresses/{addressId}/edi-details"
	localVarPath = strings.Replace(localVarPath, "{"+"customerId"+"}", url.PathEscape(parameterValueToString(r.customerId, "customerId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiUpdateCustomerAddressEDIDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiUpdateCustomerAddressEDIDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiUpdateCustomerAddressEDIDetailsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiUpdateCustomerAddressEDIDetails400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomersApiUpdateCustomerFinancialsRequest struct {
	ctx context.Context
	ApiService *CustomersAPIAPIService
	id string
	customersApiUpdateCustomerFinancialsRequest *CustomersApiUpdateCustomerFinancialsRequest
}

func (r ApiCustomersApiUpdateCustomerFinancialsRequest) CustomersApiUpdateCustomerFinancialsRequest(customersApiUpdateCustomerFinancialsRequest CustomersApiUpdateCustomerFinancialsRequest) ApiCustomersApiUpdateCustomerFinancialsRequest {
	r.customersApiUpdateCustomerFinancialsRequest = &customersApiUpdateCustomerFinancialsRequest
	return r
}

func (r ApiCustomersApiUpdateCustomerFinancialsRequest) Execute() (*CustomersApiUpdateCustomerFinancialsResponse, *http.Response, error) {
	return r.ApiService.CustomersApiUpdateCustomerFinancialsExecute(r)
}

/*
CustomersApiUpdateCustomerFinancials Update Customer Financials

Update the financial information for a customer.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The customer ID.
 @return ApiCustomersApiUpdateCustomerFinancialsRequest
*/
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerFinancials(ctx context.Context, id string) ApiCustomersApiUpdateCustomerFinancialsRequest {
	return ApiCustomersApiUpdateCustomerFinancialsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomersApiUpdateCustomerFinancialsResponse
func (a *CustomersAPIAPIService) CustomersApiUpdateCustomerFinancialsExecute(r ApiCustomersApiUpdateCustomerFinancialsRequest) (*CustomersApiUpdateCustomerFinancialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomersApiUpdateCustomerFinancialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomersAPIAPIService.CustomersApiUpdateCustomerFinancials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/customers/{id}/financials"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customersApiUpdateCustomerFinancialsRequest == nil {
		return localVarReturnValue, nil, reportError("customersApiUpdateCustomerFinancialsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customersApiUpdateCustomerFinancialsRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomersApiUpdateCustomerFinancials400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
