/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// CustomerTrucksAPIAPIService CustomerTrucksAPIAPI service
type CustomerTrucksAPIAPIService service

type ApiCustomerTrucksApiCreateCustomerTruckRequest struct {
	ctx context.Context
	ApiService *CustomerTrucksAPIAPIService
	customerTrucksApiCreateCustomerTruckRequest *CustomerTrucksApiCreateCustomerTruckRequest
}

func (r ApiCustomerTrucksApiCreateCustomerTruckRequest) CustomerTrucksApiCreateCustomerTruckRequest(customerTrucksApiCreateCustomerTruckRequest CustomerTrucksApiCreateCustomerTruckRequest) ApiCustomerTrucksApiCreateCustomerTruckRequest {
	r.customerTrucksApiCreateCustomerTruckRequest = &customerTrucksApiCreateCustomerTruckRequest
	return r
}

func (r ApiCustomerTrucksApiCreateCustomerTruckRequest) Execute() (*CustomerTrucksApiCreateCustomerTruck201Response, *http.Response, error) {
	return r.ApiService.CustomerTrucksApiCreateCustomerTruckExecute(r)
}

/*
CustomerTrucksApiCreateCustomerTruck Create Customer Truck

Create a truck.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerTrucksApiCreateCustomerTruckRequest
*/
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiCreateCustomerTruck(ctx context.Context) ApiCustomerTrucksApiCreateCustomerTruckRequest {
	return ApiCustomerTrucksApiCreateCustomerTruckRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return CustomerTrucksApiCreateCustomerTruck201Response
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiCreateCustomerTruckExecute(r ApiCustomerTrucksApiCreateCustomerTruckRequest) (*CustomerTrucksApiCreateCustomerTruck201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerTrucksApiCreateCustomerTruck201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerTrucksAPIAPIService.CustomerTrucksApiCreateCustomerTruck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-trucks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerTrucksApiCreateCustomerTruckRequest == nil {
		return localVarReturnValue, nil, reportError("customerTrucksApiCreateCustomerTruckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerTrucksApiCreateCustomerTruckRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerTrucksApiCreateCustomerTruck400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerTrucksApiGetCustomerTruckRequest struct {
	ctx context.Context
	ApiService *CustomerTrucksAPIAPIService
	id string
}

func (r ApiCustomerTrucksApiGetCustomerTruckRequest) Execute() (*CustomerTrucksApiGetCustomerTruckResponse, *http.Response, error) {
	return r.ApiService.CustomerTrucksApiGetCustomerTruckExecute(r)
}

/*
CustomerTrucksApiGetCustomerTruck Get Customer Truck

Retrieve a customer truck by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The unique identifier for the truck record.
 @return ApiCustomerTrucksApiGetCustomerTruckRequest
*/
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiGetCustomerTruck(ctx context.Context, id string) ApiCustomerTrucksApiGetCustomerTruckRequest {
	return ApiCustomerTrucksApiGetCustomerTruckRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerTrucksApiGetCustomerTruckResponse
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiGetCustomerTruckExecute(r ApiCustomerTrucksApiGetCustomerTruckRequest) (*CustomerTrucksApiGetCustomerTruckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerTrucksApiGetCustomerTruckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerTrucksAPIAPIService.CustomerTrucksApiGetCustomerTruck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-trucks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerTrucksApiListCustomerTrucksRequest struct {
	ctx context.Context
	ApiService *CustomerTrucksAPIAPIService
	id *[]string
	shipDateBegin *time.Time
	shipDateEnd *time.Time
	shippedById *string
	carrierId *string
	freightTerms *string
	trackingNumber *string
	trailerNumber *string
	truckCalled *bool
	truckArrivalTimeBegin *time.Time
	truckArrivalTimeEnd *time.Time
	bOLNumber *string
	pool *bool
	poolCustomerAddressId *string
	trailerCarrierId *string
	brokeredCarrierId *string
	scheduledShipDateBegin *time.Time
	scheduledShipDateEnd *time.Time
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
	milkRun *string
	type_ *string
	status *string
	truckNumber *string
	transMode *string
	shipFromId *string
	iNCOTerms *string
	customsBrokerSupplierId *string
	subBuilding *string
	dropshipSupplierCode *string
	truckRoute *string
	truckArrivalTimeOfDayBegin *string
	truckArrivalTimeOfDayEnd *string
	truckArrivalPlexTimeOfDayBegin *time.Time
	truckArrivalPlexTimeOfDayEnd *time.Time
}

// A unique identifier for the truck. This will be automatically generated if omitted from the request.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) Id(id []string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.id = &id
	return r
}

// The beginning date used to return truck records with a Ship Date within a specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ShipDateBegin(shipDateBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.shipDateBegin = &shipDateBegin
	return r
}

// The end date used to return truck records with a Ship Date within a specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ShipDateEnd(shipDateEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.shipDateEnd = &shipDateEnd
	return r
}

// The ID of the user who shipped the truck.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ShippedById(shippedById string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.shippedById = &shippedById
	return r
}

// The ID of the carrier associated with the truck. (A carrier is a supplier with a supplier type of &amp;quot;Carrier&amp;quot;.)
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) CarrierId(carrierId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.carrierId = &carrierId
	return r
}

// Terms of the freight payment; for example, COD, Collect, or Prepaid.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) FreightTerms(freightTerms string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.freightTerms = &freightTerms
	return r
}

// The tracking number, often provided by a carrier, related to a specific shipment.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TrackingNumber(trackingNumber string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.trackingNumber = &trackingNumber
	return r
}

// The trailer number associated with the physical trailer that a specific shipment was shipped on.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TrailerNumber(trailerNumber string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.trailerNumber = &trailerNumber
	return r
}

// Indicates if the carrier has been contacted.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckCalled(truckCalled bool) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckCalled = &truckCalled
	return r
}

// The beginning time used to return truck records with an arrival time within the specified time frame (arrival time can be planned or actual, depending on implementation).
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalTimeBegin(truckArrivalTimeBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalTimeBegin = &truckArrivalTimeBegin
	return r
}

// The ending time used to return truck records with an arrival time within the specified time frame (arrival time can be planned or actual, depending on implementation).
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalTimeEnd(truckArrivalTimeEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalTimeEnd = &truckArrivalTimeEnd
	return r
}

// The bill of lading number.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) BOLNumber(bOLNumber string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.bOLNumber = &bOLNumber
	return r
}

// Indicates that the truck is part of a pool shipment. A pool is a central warehouse that redistributes shippers from one truck to another before shipping to customer locations.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) Pool(pool bool) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.pool = &pool
	return r
}

// The customer address ID of the pool location associated with the truck.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) PoolCustomerAddressId(poolCustomerAddressId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.poolCustomerAddressId = &poolCustomerAddressId
	return r
}

// The ID of the supplier with a &amp;quot;Carrier&amp;quot; type used as the trailer carrier.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TrailerCarrierId(trailerCarrierId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.trailerCarrierId = &trailerCarrierId
	return r
}

// The ID of the supplier with a &amp;quot;Carrier&amp;quot; type used as the brokered carrier.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) BrokeredCarrierId(brokeredCarrierId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.brokeredCarrierId = &brokeredCarrierId
	return r
}

// The beginning date used to return truck records with a scheduled ship date within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ScheduledShipDateBegin(scheduledShipDateBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.scheduledShipDateBegin = &scheduledShipDateBegin
	return r
}

// The ending date used to return truck records with a scheduled ship date within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ScheduledShipDateEnd(scheduledShipDateEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.scheduledShipDateEnd = &scheduledShipDateEnd
	return r
}

// The ID of the user who created the record.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) CreatedById(createdById string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.createdById = &createdById
	return r
}

// The beginning date used to return truck records that were created within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) CreatedDateBegin(createdDateBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The ending date used to return truck records that were created within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) CreatedDateEnd(createdDateEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ModifiedById(modifiedById string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.modifiedById = &modifiedById
	return r
}

// The beginning date used to return truck records that were last modified within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

// The ending date used to return truck records that were last modified within the specified time frame.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

// The name of a route with multiple stops that happens on a recurring basis.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) MilkRun(milkRun string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.milkRun = &milkRun
	return r
}

// The truck type.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) Type_(type_ string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.type_ = &type_
	return r
}

// The truck status.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) Status(status string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.status = &status
	return r
}

// A Plex-generated unique number representing the truck shipment.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckNumber(truckNumber string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckNumber = &truckNumber
	return r
}

// The transportation mode associated with the truck.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TransMode(transMode string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.transMode = &transMode
	return r
}

// The ID of the customer address from which the truck was shipped.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) ShipFromId(shipFromId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.shipFromId = &shipFromId
	return r
}

// International Commercial (INCO) terms applied to the sales order.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) INCOTerms(iNCOTerms string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.iNCOTerms = &iNCOTerms
	return r
}

// The ID of the supplier with a &amp;quot;Customs Broker&amp;quot; type.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) CustomsBrokerSupplierId(customsBrokerSupplierId string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.customsBrokerSupplierId = &customsBrokerSupplierId
	return r
}

// The sub-building code indicating the location in the building where the truck will be loaded.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) SubBuilding(subBuilding string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.subBuilding = &subBuilding
	return r
}

// The dropship supplier code associated with the truck.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) DropshipSupplierCode(dropshipSupplierCode string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.dropshipSupplierCode = &dropshipSupplierCode
	return r
}

// The route for the truck.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckRoute(truckRoute string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckRoute = &truckRoute
	return r
}

// The time at which the truck arrived.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalTimeOfDayBegin(truckArrivalTimeOfDayBegin string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalTimeOfDayBegin = &truckArrivalTimeOfDayBegin
	return r
}

// The time at which the truck arrived.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalTimeOfDayEnd(truckArrivalTimeOfDayEnd string) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalTimeOfDayEnd = &truckArrivalTimeOfDayEnd
	return r
}

// The time at which the truck arrived.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalPlexTimeOfDayBegin(truckArrivalPlexTimeOfDayBegin time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalPlexTimeOfDayBegin = &truckArrivalPlexTimeOfDayBegin
	return r
}

// The time at which the truck arrived.
func (r ApiCustomerTrucksApiListCustomerTrucksRequest) TruckArrivalPlexTimeOfDayEnd(truckArrivalPlexTimeOfDayEnd time.Time) ApiCustomerTrucksApiListCustomerTrucksRequest {
	r.truckArrivalPlexTimeOfDayEnd = &truckArrivalPlexTimeOfDayEnd
	return r
}

func (r ApiCustomerTrucksApiListCustomerTrucksRequest) Execute() ([]CustomerTrucksApiListCustomerTrucksItem, *http.Response, error) {
	return r.ApiService.CustomerTrucksApiListCustomerTrucksExecute(r)
}

/*
CustomerTrucksApiListCustomerTrucks List Customer Trucks

List customer trucks by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiCustomerTrucksApiListCustomerTrucksRequest
*/
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiListCustomerTrucks(ctx context.Context) ApiCustomerTrucksApiListCustomerTrucksRequest {
	return ApiCustomerTrucksApiListCustomerTrucksRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []CustomerTrucksApiListCustomerTrucksItem
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiListCustomerTrucksExecute(r ApiCustomerTrucksApiListCustomerTrucksRequest) ([]CustomerTrucksApiListCustomerTrucksItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []CustomerTrucksApiListCustomerTrucksItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerTrucksAPIAPIService.CustomerTrucksApiListCustomerTrucks")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1/customer-trucks"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.shipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateBegin", r.shipDateBegin, "form", "")
	}
	if r.shipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipDateEnd", r.shipDateEnd, "form", "")
	}
	if r.shippedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shippedById", r.shippedById, "form", "")
	}
	if r.carrierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "carrierId", r.carrierId, "form", "")
	}
	if r.freightTerms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "freightTerms", r.freightTerms, "form", "")
	}
	if r.trackingNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trackingNumber", r.trackingNumber, "form", "")
	}
	if r.trailerNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trailerNumber", r.trailerNumber, "form", "")
	}
	if r.truckCalled != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckCalled", r.truckCalled, "form", "")
	}
	if r.truckArrivalTimeBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeBegin", r.truckArrivalTimeBegin, "form", "")
	}
	if r.truckArrivalTimeEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeEnd", r.truckArrivalTimeEnd, "form", "")
	}
	if r.bOLNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "bOLNumber", r.bOLNumber, "form", "")
	}
	if r.pool != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pool", r.pool, "form", "")
	}
	if r.poolCustomerAddressId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "poolCustomerAddressId", r.poolCustomerAddressId, "form", "")
	}
	if r.trailerCarrierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "trailerCarrierId", r.trailerCarrierId, "form", "")
	}
	if r.brokeredCarrierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "brokeredCarrierId", r.brokeredCarrierId, "form", "")
	}
	if r.scheduledShipDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledShipDateBegin", r.scheduledShipDateBegin, "form", "")
	}
	if r.scheduledShipDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "scheduledShipDateEnd", r.scheduledShipDateEnd, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	if r.milkRun != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "milkRun", r.milkRun, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.truckNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckNumber", r.truckNumber, "form", "")
	}
	if r.transMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transMode", r.transMode, "form", "")
	}
	if r.shipFromId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shipFromId", r.shipFromId, "form", "")
	}
	if r.iNCOTerms != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "iNCOTerms", r.iNCOTerms, "form", "")
	}
	if r.customsBrokerSupplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "customsBrokerSupplierId", r.customsBrokerSupplierId, "form", "")
	}
	if r.subBuilding != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subBuilding", r.subBuilding, "form", "")
	}
	if r.dropshipSupplierCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "dropshipSupplierCode", r.dropshipSupplierCode, "form", "")
	}
	if r.truckRoute != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckRoute", r.truckRoute, "form", "")
	}
	if r.truckArrivalTimeOfDayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeOfDayBegin", r.truckArrivalTimeOfDayBegin, "form", "")
	}
	if r.truckArrivalTimeOfDayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalTimeOfDayEnd", r.truckArrivalTimeOfDayEnd, "form", "")
	}
	if r.truckArrivalPlexTimeOfDayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalPlexTimeOfDayBegin", r.truckArrivalPlexTimeOfDayBegin, "form", "")
	}
	if r.truckArrivalPlexTimeOfDayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "truckArrivalPlexTimeOfDayEnd", r.truckArrivalPlexTimeOfDayEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerTrucksApiShipTruckRequest struct {
	ctx context.Context
	ApiService *CustomerTrucksAPIAPIService
	id string
}

func (r ApiCustomerTrucksApiShipTruckRequest) Execute() (*CustomerTrucksApiShipTruckResponse, *http.Response, error) {
	return r.ApiService.CustomerTrucksApiShipTruckExecute(r)
}

/*
CustomerTrucksApiShipTruck Ship Truck

Ship a truck based on the specified resource identifier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The resource identifier for the truck to be shipped.
 @return ApiCustomerTrucksApiShipTruckRequest
*/
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiShipTruck(ctx context.Context, id string) ApiCustomerTrucksApiShipTruckRequest {
	return ApiCustomerTrucksApiShipTruckRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerTrucksApiShipTruckResponse
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiShipTruckExecute(r ApiCustomerTrucksApiShipTruckRequest) (*CustomerTrucksApiShipTruckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerTrucksApiShipTruckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerTrucksAPIAPIService.CustomerTrucksApiShipTruck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-trucks/{id}/ship"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerTrucksApiShipTruck400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiCustomerTrucksApiUpdateCustomerTruckRequest struct {
	ctx context.Context
	ApiService *CustomerTrucksAPIAPIService
	id string
	customerTrucksApiUpdateCustomerTruckRequest *CustomerTrucksApiUpdateCustomerTruckRequest
}

func (r ApiCustomerTrucksApiUpdateCustomerTruckRequest) CustomerTrucksApiUpdateCustomerTruckRequest(customerTrucksApiUpdateCustomerTruckRequest CustomerTrucksApiUpdateCustomerTruckRequest) ApiCustomerTrucksApiUpdateCustomerTruckRequest {
	r.customerTrucksApiUpdateCustomerTruckRequest = &customerTrucksApiUpdateCustomerTruckRequest
	return r
}

func (r ApiCustomerTrucksApiUpdateCustomerTruckRequest) Execute() (*CustomerTrucksApiUpdateCustomerTruckResponse, *http.Response, error) {
	return r.ApiService.CustomerTrucksApiUpdateCustomerTruckExecute(r)
}

/*
CustomerTrucksApiUpdateCustomerTruck Update Customer Truck

Update a truck.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The resource identifier of truck to be updated.
 @return ApiCustomerTrucksApiUpdateCustomerTruckRequest
*/
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiUpdateCustomerTruck(ctx context.Context, id string) ApiCustomerTrucksApiUpdateCustomerTruckRequest {
	return ApiCustomerTrucksApiUpdateCustomerTruckRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return CustomerTrucksApiUpdateCustomerTruckResponse
func (a *CustomerTrucksAPIAPIService) CustomerTrucksApiUpdateCustomerTruckExecute(r ApiCustomerTrucksApiUpdateCustomerTruckRequest) (*CustomerTrucksApiUpdateCustomerTruckResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *CustomerTrucksApiUpdateCustomerTruckResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "CustomerTrucksAPIAPIService.CustomerTrucksApiUpdateCustomerTruck")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/shipping/v1-beta1/customer-trucks/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.customerTrucksApiUpdateCustomerTruckRequest == nil {
		return localVarReturnValue, nil, reportError("customerTrucksApiUpdateCustomerTruckRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.customerTrucksApiUpdateCustomerTruckRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v CustomerTrucksApiUpdateCustomerTruck400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
