/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ToleranceTypesAPIAPIService ToleranceTypesAPIAPI service
type ToleranceTypesAPIAPIService service

type ApiToleranceTypesApiListToleranceTypesRequest struct {
	ctx context.Context
	ApiService *ToleranceTypesAPIAPIService
	toleranceType *[]string
	attributeData *bool
	referenceOnly *bool
}

// A list of tolerance types.
func (r ApiToleranceTypesApiListToleranceTypesRequest) ToleranceType(toleranceType []string) ApiToleranceTypesApiListToleranceTypesRequest {
	r.toleranceType = &toleranceType
	return r
}

// The designation of whether the tolerance type is attribute data or not.
func (r ApiToleranceTypesApiListToleranceTypesRequest) AttributeData(attributeData bool) ApiToleranceTypesApiListToleranceTypesRequest {
	r.attributeData = &attributeData
	return r
}

// The designation of whether the tolerance type is attribute data or not.
func (r ApiToleranceTypesApiListToleranceTypesRequest) ReferenceOnly(referenceOnly bool) ApiToleranceTypesApiListToleranceTypesRequest {
	r.referenceOnly = &referenceOnly
	return r
}

func (r ApiToleranceTypesApiListToleranceTypesRequest) Execute() ([]ToleranceTypesApiListToleranceTypesItem, *http.Response, error) {
	return r.ApiService.ToleranceTypesApiListToleranceTypesExecute(r)
}

/*
ToleranceTypesApiListToleranceTypes List Tolerance Types

Retrieve a list of Tolerance Types.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiToleranceTypesApiListToleranceTypesRequest
*/
func (a *ToleranceTypesAPIAPIService) ToleranceTypesApiListToleranceTypes(ctx context.Context) ApiToleranceTypesApiListToleranceTypesRequest {
	return ApiToleranceTypesApiListToleranceTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ToleranceTypesApiListToleranceTypesItem
func (a *ToleranceTypesAPIAPIService) ToleranceTypesApiListToleranceTypesExecute(r ApiToleranceTypesApiListToleranceTypesRequest) ([]ToleranceTypesApiListToleranceTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ToleranceTypesApiListToleranceTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ToleranceTypesAPIAPIService.ToleranceTypesApiListToleranceTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/tolerance-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.toleranceType != nil {
		t := *r.toleranceType
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "toleranceType", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "toleranceType", t, "form", "multi")
		}
	}
	if r.attributeData != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "attributeData", r.attributeData, "form", "")
	}
	if r.referenceOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "referenceOnly", r.referenceOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
