/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// AccountsReceivableDepositsAPIAPIService AccountsReceivableDepositsAPIAPI service
type AccountsReceivableDepositsAPIAPIService service

type ApiAccountsReceivableDepositsApiGetARDepositRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableDepositsAPIAPIService
	id string
}

func (r ApiAccountsReceivableDepositsApiGetARDepositRequest) Execute() (*AccountsReceivableDepositsApiGetARDepositResponse, *http.Response, error) {
	return r.ApiService.AccountsReceivableDepositsApiGetARDepositExecute(r)
}

/*
AccountsReceivableDepositsApiGetARDeposit Get AR Deposit

Retrieve an AR Deposit by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Accounts Receivable Deposit's resource id.
 @return ApiAccountsReceivableDepositsApiGetARDepositRequest
*/
func (a *AccountsReceivableDepositsAPIAPIService) AccountsReceivableDepositsApiGetARDeposit(ctx context.Context, id string) ApiAccountsReceivableDepositsApiGetARDepositRequest {
	return ApiAccountsReceivableDepositsApiGetARDepositRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsReceivableDepositsApiGetARDepositResponse
func (a *AccountsReceivableDepositsAPIAPIService) AccountsReceivableDepositsApiGetARDepositExecute(r ApiAccountsReceivableDepositsApiGetARDepositRequest) (*AccountsReceivableDepositsApiGetARDepositResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsReceivableDepositsApiGetARDepositResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableDepositsAPIAPIService.AccountsReceivableDepositsApiGetARDeposit")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-deposits/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsReceivableDepositsApiListARDepositsRequest struct {
	ctx context.Context
	ApiService *AccountsReceivableDepositsAPIAPIService
	id *[]string
	depositNumber *string
	periodDisplayBegin *string
	periodDisplayEnd *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	booked *bool
}

// The ID of the AR Deposit.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) Id(id []string) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.id = &id
	return r
}

// The AR deposit number.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) DepositNumber(depositNumber string) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.depositNumber = &depositNumber
	return r
}

// The start date used to return AR deposit records during a period.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The end date used to return AR deposit records during a period.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

// The beginning date used to return AR deposit transaction records during a period.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The ending date used to return AR deposit transaction records during a period.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

// The beginning date used to return AR deposits created within a time frame.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) CreatedDateBegin(createdDateBegin time.Time) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The ending date used to return AR deposits created within a time frame.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) CreatedDateEnd(createdDateEnd time.Time) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// Specify AR deposit is booked.
func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) Booked(booked bool) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	r.booked = &booked
	return r
}

func (r ApiAccountsReceivableDepositsApiListARDepositsRequest) Execute() ([]AccountsReceivableDepositsApiListARDepositsItem, *http.Response, error) {
	return r.ApiService.AccountsReceivableDepositsApiListARDepositsExecute(r)
}

/*
AccountsReceivableDepositsApiListARDeposits List AR Deposits

List AR Deposits based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsReceivableDepositsApiListARDepositsRequest
*/
func (a *AccountsReceivableDepositsAPIAPIService) AccountsReceivableDepositsApiListARDeposits(ctx context.Context) ApiAccountsReceivableDepositsApiListARDepositsRequest {
	return ApiAccountsReceivableDepositsApiListARDepositsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AccountsReceivableDepositsApiListARDepositsItem
func (a *AccountsReceivableDepositsAPIAPIService) AccountsReceivableDepositsApiListARDepositsExecute(r ApiAccountsReceivableDepositsApiListARDepositsRequest) ([]AccountsReceivableDepositsApiListARDepositsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AccountsReceivableDepositsApiListARDepositsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsReceivableDepositsAPIAPIService.AccountsReceivableDepositsApiListARDeposits")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ar-deposits"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.depositNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "depositNumber", r.depositNumber, "form", "")
	}
	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.booked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "booked", r.booked, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
