/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// SuppliersAPIAPIService SuppliersAPIAPI service
type SuppliersAPIAPIService service

type ApiSuppliersApiCreateSupplierRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	suppliersApiCreateSupplierRequest *SuppliersApiCreateSupplierRequest
}

func (r ApiSuppliersApiCreateSupplierRequest) SuppliersApiCreateSupplierRequest(suppliersApiCreateSupplierRequest SuppliersApiCreateSupplierRequest) ApiSuppliersApiCreateSupplierRequest {
	r.suppliersApiCreateSupplierRequest = &suppliersApiCreateSupplierRequest
	return r
}

func (r ApiSuppliersApiCreateSupplierRequest) Execute() (*SuppliersApiCreateSupplier201Response, *http.Response, error) {
	return r.ApiService.SuppliersApiCreateSupplierExecute(r)
}

/*
SuppliersApiCreateSupplier Create Supplier

Create a new supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSuppliersApiCreateSupplierRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiCreateSupplier(ctx context.Context) ApiSuppliersApiCreateSupplierRequest {
	return ApiSuppliersApiCreateSupplierRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return SuppliersApiCreateSupplier201Response
func (a *SuppliersAPIAPIService) SuppliersApiCreateSupplierExecute(r ApiSuppliersApiCreateSupplierRequest) (*SuppliersApiCreateSupplier201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiCreateSupplier201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiCreateSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiCreateSupplierRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiCreateSupplierRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiCreateSupplierRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiCreateSupplier400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiCreateSupplierAddressRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	supplierId string
	suppliersApiCreateSupplierAddressRequest *SuppliersApiCreateSupplierAddressRequest
}

func (r ApiSuppliersApiCreateSupplierAddressRequest) SuppliersApiCreateSupplierAddressRequest(suppliersApiCreateSupplierAddressRequest SuppliersApiCreateSupplierAddressRequest) ApiSuppliersApiCreateSupplierAddressRequest {
	r.suppliersApiCreateSupplierAddressRequest = &suppliersApiCreateSupplierAddressRequest
	return r
}

func (r ApiSuppliersApiCreateSupplierAddressRequest) Execute() (*SuppliersApiCreateSupplierAddress201Response, *http.Response, error) {
	return r.ApiService.SuppliersApiCreateSupplierAddressExecute(r)
}

/*
SuppliersApiCreateSupplierAddress Create Supplier Address

Create an address for a supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param supplierId
 @return ApiSuppliersApiCreateSupplierAddressRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiCreateSupplierAddress(ctx context.Context, supplierId string) ApiSuppliersApiCreateSupplierAddressRequest {
	return ApiSuppliersApiCreateSupplierAddressRequest{
		ApiService: a,
		ctx: ctx,
		supplierId: supplierId,
	}
}

// Execute executes the request
//  @return SuppliersApiCreateSupplierAddress201Response
func (a *SuppliersAPIAPIService) SuppliersApiCreateSupplierAddressExecute(r ApiSuppliersApiCreateSupplierAddressRequest) (*SuppliersApiCreateSupplierAddress201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiCreateSupplierAddress201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiCreateSupplierAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{supplierId}/addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"supplierId"+"}", url.PathEscape(parameterValueToString(r.supplierId, "supplierId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiCreateSupplierAddressRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiCreateSupplierAddressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiCreateSupplierAddressRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiCreateSupplierAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiDeactivateSupplierRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
	suppliersApiDeactivateSupplierRequest *SuppliersApiDeactivateSupplierRequest
}

func (r ApiSuppliersApiDeactivateSupplierRequest) SuppliersApiDeactivateSupplierRequest(suppliersApiDeactivateSupplierRequest SuppliersApiDeactivateSupplierRequest) ApiSuppliersApiDeactivateSupplierRequest {
	r.suppliersApiDeactivateSupplierRequest = &suppliersApiDeactivateSupplierRequest
	return r
}

func (r ApiSuppliersApiDeactivateSupplierRequest) Execute() (*http.Response, error) {
	return r.ApiService.SuppliersApiDeactivateSupplierExecute(r)
}

/*
SuppliersApiDeactivateSupplier Deactivate Supplier

Deactivate a supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiDeactivateSupplierRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiDeactivateSupplier(ctx context.Context, id string) ApiSuppliersApiDeactivateSupplierRequest {
	return ApiSuppliersApiDeactivateSupplierRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *SuppliersAPIAPIService) SuppliersApiDeactivateSupplierExecute(r ApiSuppliersApiDeactivateSupplierRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiDeactivateSupplier")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiDeactivateSupplierRequest == nil {
		return nil, reportError("suppliersApiDeactivateSupplierRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiDeactivateSupplierRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiDeactivateSupplier400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSuppliersApiDeleteSupplierAddressRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	supplierId string
	addressId string
}

func (r ApiSuppliersApiDeleteSupplierAddressRequest) Execute() (*http.Response, error) {
	return r.ApiService.SuppliersApiDeleteSupplierAddressExecute(r)
}

/*
SuppliersApiDeleteSupplierAddress Delete Supplier Address

Delete a supplier address.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param supplierId
 @param addressId
 @return ApiSuppliersApiDeleteSupplierAddressRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiDeleteSupplierAddress(ctx context.Context, supplierId string, addressId string) ApiSuppliersApiDeleteSupplierAddressRequest {
	return ApiSuppliersApiDeleteSupplierAddressRequest{
		ApiService: a,
		ctx: ctx,
		supplierId: supplierId,
		addressId: addressId,
	}
}

// Execute executes the request
func (a *SuppliersAPIAPIService) SuppliersApiDeleteSupplierAddressExecute(r ApiSuppliersApiDeleteSupplierAddressRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodDelete
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiDeleteSupplierAddress")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{supplierId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"supplierId"+"}", url.PathEscape(parameterValueToString(r.supplierId, "supplierId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiDeleteSupplierAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSuppliersApiGetSupplierRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
}

func (r ApiSuppliersApiGetSupplierRequest) Execute() (*SuppliersApiGetSupplierResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiGetSupplierExecute(r)
}

/*
SuppliersApiGetSupplier Get Supplier

Retrieve a supplier by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiGetSupplierRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplier(ctx context.Context, id string) ApiSuppliersApiGetSupplierRequest {
	return ApiSuppliersApiGetSupplierRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiGetSupplierResponse
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierExecute(r ApiSuppliersApiGetSupplierRequest) (*SuppliersApiGetSupplierResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiGetSupplierResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiGetSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiGetSupplierAddressRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	supplierId string
	addressId string
}

func (r ApiSuppliersApiGetSupplierAddressRequest) Execute() (*SuppliersApiGetSupplierAddressResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiGetSupplierAddressExecute(r)
}

/*
SuppliersApiGetSupplierAddress Get Supplier Address

Retrieve an address for a supplier by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param supplierId
 @param addressId
 @return ApiSuppliersApiGetSupplierAddressRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierAddress(ctx context.Context, supplierId string, addressId string) ApiSuppliersApiGetSupplierAddressRequest {
	return ApiSuppliersApiGetSupplierAddressRequest{
		ApiService: a,
		ctx: ctx,
		supplierId: supplierId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return SuppliersApiGetSupplierAddressResponse
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierAddressExecute(r ApiSuppliersApiGetSupplierAddressRequest) (*SuppliersApiGetSupplierAddressResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiGetSupplierAddressResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiGetSupplierAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{supplierId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"supplierId"+"}", url.PathEscape(parameterValueToString(r.supplierId, "supplierId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiGetSupplierFinancialsRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
}

func (r ApiSuppliersApiGetSupplierFinancialsRequest) Execute() (*SuppliersApiGetSupplierFinancialsResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiGetSupplierFinancialsExecute(r)
}

/*
SuppliersApiGetSupplierFinancials Get Supplier Financials

Retrieve a supplier's financial information by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiGetSupplierFinancialsRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierFinancials(ctx context.Context, id string) ApiSuppliersApiGetSupplierFinancialsRequest {
	return ApiSuppliersApiGetSupplierFinancialsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiGetSupplierFinancialsResponse
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierFinancialsExecute(r ApiSuppliersApiGetSupplierFinancialsRequest) (*SuppliersApiGetSupplierFinancialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiGetSupplierFinancialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiGetSupplierFinancials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}/financials"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiGetSupplierPurchasingDefaultsRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
}

func (r ApiSuppliersApiGetSupplierPurchasingDefaultsRequest) Execute() (*SuppliersApiGetSupplierPurchasingDefaultsResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiGetSupplierPurchasingDefaultsExecute(r)
}

/*
SuppliersApiGetSupplierPurchasingDefaults Get Supplier Purchasing Defaults

Retrieve a supplier's default purchasing information by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiGetSupplierPurchasingDefaultsRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierPurchasingDefaults(ctx context.Context, id string) ApiSuppliersApiGetSupplierPurchasingDefaultsRequest {
	return ApiSuppliersApiGetSupplierPurchasingDefaultsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiGetSupplierPurchasingDefaultsResponse
func (a *SuppliersAPIAPIService) SuppliersApiGetSupplierPurchasingDefaultsExecute(r ApiSuppliersApiGetSupplierPurchasingDefaultsRequest) (*SuppliersApiGetSupplierPurchasingDefaultsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiGetSupplierPurchasingDefaultsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiGetSupplierPurchasingDefaults")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}/purchasing-defaults"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiListSupplierAddressesRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	supplierId string
	id *[]string
	code *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of supplier address IDs.
func (r ApiSuppliersApiListSupplierAddressesRequest) Id(id []string) ApiSuppliersApiListSupplierAddressesRequest {
	r.id = &id
	return r
}

// This must be unique in the context of a supplier.
func (r ApiSuppliersApiListSupplierAddressesRequest) Code(code string) ApiSuppliersApiListSupplierAddressesRequest {
	r.code = &code
	return r
}

// IAM Account ID
func (r ApiSuppliersApiListSupplierAddressesRequest) CreatedById(createdById string) ApiSuppliersApiListSupplierAddressesRequest {
	r.createdById = &createdById
	return r
}

func (r ApiSuppliersApiListSupplierAddressesRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSuppliersApiListSupplierAddressesRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

func (r ApiSuppliersApiListSupplierAddressesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSuppliersApiListSupplierAddressesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// IAM Account ID
func (r ApiSuppliersApiListSupplierAddressesRequest) ModifiedById(modifiedById string) ApiSuppliersApiListSupplierAddressesRequest {
	r.modifiedById = &modifiedById
	return r
}

func (r ApiSuppliersApiListSupplierAddressesRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSuppliersApiListSupplierAddressesRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

func (r ApiSuppliersApiListSupplierAddressesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSuppliersApiListSupplierAddressesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiSuppliersApiListSupplierAddressesRequest) Execute() ([]SuppliersApiListSupplierAddressesItem, *http.Response, error) {
	return r.ApiService.SuppliersApiListSupplierAddressesExecute(r)
}

/*
SuppliersApiListSupplierAddresses List Supplier Addresses

List supplier addresses by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param supplierId
 @return ApiSuppliersApiListSupplierAddressesRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiListSupplierAddresses(ctx context.Context, supplierId string) ApiSuppliersApiListSupplierAddressesRequest {
	return ApiSuppliersApiListSupplierAddressesRequest{
		ApiService: a,
		ctx: ctx,
		supplierId: supplierId,
	}
}

// Execute executes the request
//  @return []SuppliersApiListSupplierAddressesItem
func (a *SuppliersAPIAPIService) SuppliersApiListSupplierAddressesExecute(r ApiSuppliersApiListSupplierAddressesRequest) ([]SuppliersApiListSupplierAddressesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SuppliersApiListSupplierAddressesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiListSupplierAddresses")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{supplierId}/addresses"
	localVarPath = strings.Replace(localVarPath, "{"+"supplierId"+"}", url.PathEscape(parameterValueToString(r.supplierId, "supplierId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiListSuppliersRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id *[]string
	code *string
	oldCode *string
	name *string
	language *string
	category *string
	status *string
	type_ *string
	parentSupplierId *string
	createdById *string
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateBegin *time.Time
	modifiedDateEnd *time.Time
}

// A list of supplier IDs.
func (r ApiSuppliersApiListSuppliersRequest) Id(id []string) ApiSuppliersApiListSuppliersRequest {
	r.id = &id
	return r
}

// The Supplier Code used in Plex to identify the supplier. This must be unique in the context of a tenant.
func (r ApiSuppliersApiListSuppliersRequest) Code(code string) ApiSuppliersApiListSuppliersRequest {
	r.code = &code
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) OldCode(oldCode string) ApiSuppliersApiListSuppliersRequest {
	r.oldCode = &oldCode
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) Name(name string) ApiSuppliersApiListSuppliersRequest {
	r.name = &name
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) Language(language string) ApiSuppliersApiListSuppliersRequest {
	r.language = &language
	return r
}

// Setup Table: Supplier_Category
func (r ApiSuppliersApiListSuppliersRequest) Category(category string) ApiSuppliersApiListSuppliersRequest {
	r.category = &category
	return r
}

// Setup Table: Supplier_Status
func (r ApiSuppliersApiListSuppliersRequest) Status(status string) ApiSuppliersApiListSuppliersRequest {
	r.status = &status
	return r
}

// Setup Table: Supplier_Type
func (r ApiSuppliersApiListSuppliersRequest) Type_(type_ string) ApiSuppliersApiListSuppliersRequest {
	r.type_ = &type_
	return r
}

// The ID of a parent supplier.
func (r ApiSuppliersApiListSuppliersRequest) ParentSupplierId(parentSupplierId string) ApiSuppliersApiListSuppliersRequest {
	r.parentSupplierId = &parentSupplierId
	return r
}

// IAM Account ID
func (r ApiSuppliersApiListSuppliersRequest) CreatedById(createdById string) ApiSuppliersApiListSuppliersRequest {
	r.createdById = &createdById
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) CreatedDateBegin(createdDateBegin time.Time) ApiSuppliersApiListSuppliersRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) CreatedDateEnd(createdDateEnd time.Time) ApiSuppliersApiListSuppliersRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// IAM Account ID
func (r ApiSuppliersApiListSuppliersRequest) ModifiedById(modifiedById string) ApiSuppliersApiListSuppliersRequest {
	r.modifiedById = &modifiedById
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) ModifiedDateBegin(modifiedDateBegin time.Time) ApiSuppliersApiListSuppliersRequest {
	r.modifiedDateBegin = &modifiedDateBegin
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiSuppliersApiListSuppliersRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiSuppliersApiListSuppliersRequest) Execute() ([]SuppliersApiListSuppliersItem, *http.Response, error) {
	return r.ApiService.SuppliersApiListSuppliersExecute(r)
}

/*
SuppliersApiListSuppliers List Suppliers

List suppliers by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSuppliersApiListSuppliersRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiListSuppliers(ctx context.Context) ApiSuppliersApiListSuppliersRequest {
	return ApiSuppliersApiListSuppliersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []SuppliersApiListSuppliersItem
func (a *SuppliersAPIAPIService) SuppliersApiListSuppliersExecute(r ApiSuppliersApiListSuppliersRequest) ([]SuppliersApiListSuppliersItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []SuppliersApiListSuppliersItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiListSuppliers")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.oldCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "oldCode", r.oldCode, "form", "")
	}
	if r.name != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "name", r.name, "form", "")
	}
	if r.language != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "language", r.language, "form", "")
	}
	if r.category != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "category", r.category, "form", "")
	}
	if r.status != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "status", r.status, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.parentSupplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "parentSupplierId", r.parentSupplierId, "form", "")
	}
	if r.createdById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdById", r.createdById, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateBegin", r.modifiedDateBegin, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiSyncSuppliersRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	suppliersApiSyncSuppliersRequest *SuppliersApiSyncSuppliersRequest
}

func (r ApiSuppliersApiSyncSuppliersRequest) SuppliersApiSyncSuppliersRequest(suppliersApiSyncSuppliersRequest SuppliersApiSyncSuppliersRequest) ApiSuppliersApiSyncSuppliersRequest {
	r.suppliersApiSyncSuppliersRequest = &suppliersApiSyncSuppliersRequest
	return r
}

func (r ApiSuppliersApiSyncSuppliersRequest) Execute() (*http.Response, error) {
	return r.ApiService.SuppliersApiSyncSuppliersExecute(r)
}

/*
SuppliersApiSyncSuppliers Sync Suppliers

Sync a set of suppliers from another system. This operation creates suppliers that do not exist in Plex and updates existing suppliers.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiSuppliersApiSyncSuppliersRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiSyncSuppliers(ctx context.Context) ApiSuppliersApiSyncSuppliersRequest {
	return ApiSuppliersApiSyncSuppliersRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
func (a *SuppliersAPIAPIService) SuppliersApiSyncSuppliersExecute(r ApiSuppliersApiSyncSuppliersRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiSyncSuppliers")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/sync"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiSyncSuppliersRequest == nil {
		return nil, reportError("suppliersApiSyncSuppliersRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiSyncSuppliersRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiSyncSuppliers400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiSuppliersApiUpdateSupplierRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
	suppliersApiUpdateSupplierRequest *SuppliersApiUpdateSupplierRequest
}

func (r ApiSuppliersApiUpdateSupplierRequest) SuppliersApiUpdateSupplierRequest(suppliersApiUpdateSupplierRequest SuppliersApiUpdateSupplierRequest) ApiSuppliersApiUpdateSupplierRequest {
	r.suppliersApiUpdateSupplierRequest = &suppliersApiUpdateSupplierRequest
	return r
}

func (r ApiSuppliersApiUpdateSupplierRequest) Execute() (*SuppliersApiUpdateSupplierResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiUpdateSupplierExecute(r)
}

/*
SuppliersApiUpdateSupplier Update Supplier

Update a supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiUpdateSupplierRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplier(ctx context.Context, id string) ApiSuppliersApiUpdateSupplierRequest {
	return ApiSuppliersApiUpdateSupplierRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiUpdateSupplierResponse
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierExecute(r ApiSuppliersApiUpdateSupplierRequest) (*SuppliersApiUpdateSupplierResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiUpdateSupplierResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiUpdateSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiUpdateSupplierRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiUpdateSupplierRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiUpdateSupplierRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiUpdateSupplier400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiUpdateSupplierAddressRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	supplierId string
	addressId string
	suppliersApiUpdateSupplierAddressRequest *SuppliersApiUpdateSupplierAddressRequest
}

func (r ApiSuppliersApiUpdateSupplierAddressRequest) SuppliersApiUpdateSupplierAddressRequest(suppliersApiUpdateSupplierAddressRequest SuppliersApiUpdateSupplierAddressRequest) ApiSuppliersApiUpdateSupplierAddressRequest {
	r.suppliersApiUpdateSupplierAddressRequest = &suppliersApiUpdateSupplierAddressRequest
	return r
}

func (r ApiSuppliersApiUpdateSupplierAddressRequest) Execute() (*SuppliersApiUpdateSupplierAddressResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiUpdateSupplierAddressExecute(r)
}

/*
SuppliersApiUpdateSupplierAddress Update Supplier Address

Update an address for a supplier.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param supplierId
 @param addressId
 @return ApiSuppliersApiUpdateSupplierAddressRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierAddress(ctx context.Context, supplierId string, addressId string) ApiSuppliersApiUpdateSupplierAddressRequest {
	return ApiSuppliersApiUpdateSupplierAddressRequest{
		ApiService: a,
		ctx: ctx,
		supplierId: supplierId,
		addressId: addressId,
	}
}

// Execute executes the request
//  @return SuppliersApiUpdateSupplierAddressResponse
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierAddressExecute(r ApiSuppliersApiUpdateSupplierAddressRequest) (*SuppliersApiUpdateSupplierAddressResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiUpdateSupplierAddressResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiUpdateSupplierAddress")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{supplierId}/addresses/{addressId}"
	localVarPath = strings.Replace(localVarPath, "{"+"supplierId"+"}", url.PathEscape(parameterValueToString(r.supplierId, "supplierId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"addressId"+"}", url.PathEscape(parameterValueToString(r.addressId, "addressId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiUpdateSupplierAddressRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiUpdateSupplierAddressRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiUpdateSupplierAddressRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiUpdateSupplierAddress400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiUpdateSupplierFinancialsRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
	suppliersApiUpdateSupplierFinancialsRequest *SuppliersApiUpdateSupplierFinancialsRequest
}

func (r ApiSuppliersApiUpdateSupplierFinancialsRequest) SuppliersApiUpdateSupplierFinancialsRequest(suppliersApiUpdateSupplierFinancialsRequest SuppliersApiUpdateSupplierFinancialsRequest) ApiSuppliersApiUpdateSupplierFinancialsRequest {
	r.suppliersApiUpdateSupplierFinancialsRequest = &suppliersApiUpdateSupplierFinancialsRequest
	return r
}

func (r ApiSuppliersApiUpdateSupplierFinancialsRequest) Execute() (*SuppliersApiUpdateSupplierFinancialsResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiUpdateSupplierFinancialsExecute(r)
}

/*
SuppliersApiUpdateSupplierFinancials Update Supplier Financials

Update a supplier's financial information.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiUpdateSupplierFinancialsRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierFinancials(ctx context.Context, id string) ApiSuppliersApiUpdateSupplierFinancialsRequest {
	return ApiSuppliersApiUpdateSupplierFinancialsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiUpdateSupplierFinancialsResponse
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierFinancialsExecute(r ApiSuppliersApiUpdateSupplierFinancialsRequest) (*SuppliersApiUpdateSupplierFinancialsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiUpdateSupplierFinancialsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiUpdateSupplierFinancials")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v2/suppliers/{id}/financials"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiUpdateSupplierFinancialsRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiUpdateSupplierFinancialsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiUpdateSupplierFinancialsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiUpdateSupplierFinancials400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest struct {
	ctx context.Context
	ApiService *SuppliersAPIAPIService
	id string
	suppliersApiUpdateSupplierPurchasingDefaultsRequest *SuppliersApiUpdateSupplierPurchasingDefaultsRequest
}

func (r ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest) SuppliersApiUpdateSupplierPurchasingDefaultsRequest(suppliersApiUpdateSupplierPurchasingDefaultsRequest SuppliersApiUpdateSupplierPurchasingDefaultsRequest) ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest {
	r.suppliersApiUpdateSupplierPurchasingDefaultsRequest = &suppliersApiUpdateSupplierPurchasingDefaultsRequest
	return r
}

func (r ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest) Execute() (*SuppliersApiUpdateSupplierPurchasingDefaultsResponse, *http.Response, error) {
	return r.ApiService.SuppliersApiUpdateSupplierPurchasingDefaultsExecute(r)
}

/*
SuppliersApiUpdateSupplierPurchasingDefaults Update Supplier Purchasing Defaults

Update a supplier's default purchasing information.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest
*/
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierPurchasingDefaults(ctx context.Context, id string) ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest {
	return ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return SuppliersApiUpdateSupplierPurchasingDefaultsResponse
func (a *SuppliersAPIAPIService) SuppliersApiUpdateSupplierPurchasingDefaultsExecute(r ApiSuppliersApiUpdateSupplierPurchasingDefaultsRequest) (*SuppliersApiUpdateSupplierPurchasingDefaultsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *SuppliersApiUpdateSupplierPurchasingDefaultsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "SuppliersAPIAPIService.SuppliersApiUpdateSupplierPurchasingDefaults")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/suppliers/{id}/purchasing-defaults"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.suppliersApiUpdateSupplierPurchasingDefaultsRequest == nil {
		return localVarReturnValue, nil, reportError("suppliersApiUpdateSupplierPurchasingDefaultsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.suppliersApiUpdateSupplierPurchasingDefaultsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v SuppliersApiUpdateSupplierPurchasingDefaults400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
