/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"time"
)


// TimeClockEntriesAPIAPIService TimeClockEntriesAPIAPI service
type TimeClockEntriesAPIAPIService service

type ApiTimeClockEntriesApiListTimeClockEntriesRequest struct {
	ctx context.Context
	ApiService *TimeClockEntriesAPIAPIService
	employeeId *string
	payDateStart *time.Time
	payDateEnd *time.Time
	type_ *string
	shift *string
	approved *bool
	createdBy *string
	createdDateStart *time.Time
	createdDateEnd *time.Time
	modifiedById *string
	modifiedDateStart *time.Time
	modifiedDateEnd *time.Time
}

// A unique identifier for the Employee. This will be automatically generated if omitted from the request.
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) EmployeeId(employeeId string) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.employeeId = &employeeId
	return r
}

// Pay Date Start
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) PayDateStart(payDateStart time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.payDateStart = &payDateStart
	return r
}

// Pay Date End
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) PayDateEnd(payDateEnd time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.payDateEnd = &payDateEnd
	return r
}

// Clock in type. Setup Table: Clockin_Attribute_Type
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) Type_(type_ string) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.type_ = &type_
	return r
}

// Setup Table: Shift
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) Shift(shift string) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.shift = &shift
	return r
}

func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) Approved(approved bool) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.approved = &approved
	return r
}

// The ID of the user who created the record.
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) CreatedBy(createdBy string) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.createdBy = &createdBy
	return r
}

// Created Date Start
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) CreatedDateStart(createdDateStart time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.createdDateStart = &createdDateStart
	return r
}

// Created Date End
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) CreatedDateEnd(createdDateEnd time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// The ID of the user who last modified the record.
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) ModifiedById(modifiedById string) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.modifiedById = &modifiedById
	return r
}

// Modified Date Start
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) ModifiedDateStart(modifiedDateStart time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.modifiedDateStart = &modifiedDateStart
	return r
}

// Modified Date End
func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) ModifiedDateEnd(modifiedDateEnd time.Time) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	r.modifiedDateEnd = &modifiedDateEnd
	return r
}

func (r ApiTimeClockEntriesApiListTimeClockEntriesRequest) Execute() ([]TimeClockEntriesApiListTimeClockEntriesItem, *http.Response, error) {
	return r.ApiService.TimeClockEntriesApiListTimeClockEntriesExecute(r)
}

/*
TimeClockEntriesApiListTimeClockEntries List Time Clock Entries

List Time Clock Entries.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTimeClockEntriesApiListTimeClockEntriesRequest
*/
func (a *TimeClockEntriesAPIAPIService) TimeClockEntriesApiListTimeClockEntries(ctx context.Context) ApiTimeClockEntriesApiListTimeClockEntriesRequest {
	return ApiTimeClockEntriesApiListTimeClockEntriesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []TimeClockEntriesApiListTimeClockEntriesItem
func (a *TimeClockEntriesAPIAPIService) TimeClockEntriesApiListTimeClockEntriesExecute(r ApiTimeClockEntriesApiListTimeClockEntriesRequest) ([]TimeClockEntriesApiListTimeClockEntriesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []TimeClockEntriesApiListTimeClockEntriesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TimeClockEntriesAPIAPIService.TimeClockEntriesApiListTimeClockEntries")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/hcm/v1/time-clock-entries"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.employeeId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "employeeId", r.employeeId, "form", "")
	}
	if r.payDateStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payDateStart", r.payDateStart, "form", "")
	}
	if r.payDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "payDateEnd", r.payDateEnd, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.shift != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "shift", r.shift, "form", "")
	}
	if r.approved != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "approved", r.approved, "form", "")
	}
	if r.createdBy != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdBy", r.createdBy, "form", "")
	}
	if r.createdDateStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateStart", r.createdDateStart, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.modifiedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedById", r.modifiedById, "form", "")
	}
	if r.modifiedDateStart != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateStart", r.modifiedDateStart, "form", "")
	}
	if r.modifiedDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "modifiedDateEnd", r.modifiedDateEnd, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
