/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// ReceiptsAPIAPIService ReceiptsAPIAPI service
type ReceiptsAPIAPIService service

type ApiReceiptsApiGetReceiptRequest struct {
	ctx context.Context
	ApiService *ReceiptsAPIAPIService
	id string
}

func (r ApiReceiptsApiGetReceiptRequest) Execute() (*ReceiptsApiGetReceiptResponse, *http.Response, error) {
	return r.ApiService.ReceiptsApiGetReceiptExecute(r)
}

/*
ReceiptsApiGetReceipt Get Receipt

Retrieve a receipt by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiReceiptsApiGetReceiptRequest
*/
func (a *ReceiptsAPIAPIService) ReceiptsApiGetReceipt(ctx context.Context, id string) ApiReceiptsApiGetReceiptRequest {
	return ApiReceiptsApiGetReceiptRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ReceiptsApiGetReceiptResponse
func (a *ReceiptsAPIAPIService) ReceiptsApiGetReceiptExecute(r ApiReceiptsApiGetReceiptRequest) (*ReceiptsApiGetReceiptResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ReceiptsApiGetReceiptResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReceiptsAPIAPIService.ReceiptsApiGetReceipt")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/receipts/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiReceiptsApiListReceiptsRequest struct {
	ctx context.Context
	ApiService *ReceiptsAPIAPIService
	id *[]string
	pOLineItemId *string
	supplierId *string
	pOId *string
	partId *string
	itemId *string
	operationCode *string
	releaseId *string
	supplierShipperNumber *string
	receiveDateBegin *time.Time
	receiveDateEnd *time.Time
	receivedById *string
}

// A list of receipt IDs.
func (r ApiReceiptsApiListReceiptsRequest) Id(id []string) ApiReceiptsApiListReceiptsRequest {
	r.id = &id
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) POLineItemId(pOLineItemId string) ApiReceiptsApiListReceiptsRequest {
	r.pOLineItemId = &pOLineItemId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) SupplierId(supplierId string) ApiReceiptsApiListReceiptsRequest {
	r.supplierId = &supplierId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) POId(pOId string) ApiReceiptsApiListReceiptsRequest {
	r.pOId = &pOId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) PartId(partId string) ApiReceiptsApiListReceiptsRequest {
	r.partId = &partId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) ItemId(itemId string) ApiReceiptsApiListReceiptsRequest {
	r.itemId = &itemId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) OperationCode(operationCode string) ApiReceiptsApiListReceiptsRequest {
	r.operationCode = &operationCode
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) ReleaseId(releaseId string) ApiReceiptsApiListReceiptsRequest {
	r.releaseId = &releaseId
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) SupplierShipperNumber(supplierShipperNumber string) ApiReceiptsApiListReceiptsRequest {
	r.supplierShipperNumber = &supplierShipperNumber
	return r
}

// The date on which the receipt was received.
func (r ApiReceiptsApiListReceiptsRequest) ReceiveDateBegin(receiveDateBegin time.Time) ApiReceiptsApiListReceiptsRequest {
	r.receiveDateBegin = &receiveDateBegin
	return r
}

// The date on which the receipt was received.
func (r ApiReceiptsApiListReceiptsRequest) ReceiveDateEnd(receiveDateEnd time.Time) ApiReceiptsApiListReceiptsRequest {
	r.receiveDateEnd = &receiveDateEnd
	return r
}

// The IAM Account ID of the user who received the receipt.
func (r ApiReceiptsApiListReceiptsRequest) ReceivedById(receivedById string) ApiReceiptsApiListReceiptsRequest {
	r.receivedById = &receivedById
	return r
}

func (r ApiReceiptsApiListReceiptsRequest) Execute() ([]ReceiptsApiListReceiptsItem, *http.Response, error) {
	return r.ApiService.ReceiptsApiListReceiptsExecute(r)
}

/*
ReceiptsApiListReceipts List Receipts

List receipts by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiReceiptsApiListReceiptsRequest
*/
func (a *ReceiptsAPIAPIService) ReceiptsApiListReceipts(ctx context.Context) ApiReceiptsApiListReceiptsRequest {
	return ApiReceiptsApiListReceiptsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ReceiptsApiListReceiptsItem
func (a *ReceiptsAPIAPIService) ReceiptsApiListReceiptsExecute(r ApiReceiptsApiListReceiptsRequest) ([]ReceiptsApiListReceiptsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ReceiptsApiListReceiptsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ReceiptsAPIAPIService.ReceiptsApiListReceipts")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/purchasing/v1/receipts"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.pOLineItemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pOLineItemId", r.pOLineItemId, "form", "")
	}
	if r.supplierId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierId", r.supplierId, "form", "")
	}
	if r.pOId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "pOId", r.pOId, "form", "")
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.itemId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "itemId", r.itemId, "form", "")
	}
	if r.operationCode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationCode", r.operationCode, "form", "")
	}
	if r.releaseId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "releaseId", r.releaseId, "form", "")
	}
	if r.supplierShipperNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "supplierShipperNumber", r.supplierShipperNumber, "form", "")
	}
	if r.receiveDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receiveDateBegin", r.receiveDateBegin, "form", "")
	}
	if r.receiveDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receiveDateEnd", r.receiveDateEnd, "form", "")
	}
	if r.receivedById != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "receivedById", r.receivedById, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
