/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ProcessControlRecipeFamilyAPIAPIService ProcessControlRecipeFamilyAPIAPI service
type ProcessControlRecipeFamilyAPIAPIService service

type ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest struct {
	ctx context.Context
	ApiService *ProcessControlRecipeFamilyAPIAPIService
	processControlRecipeFamilyId string
	id string
}

func (r ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest) Execute() (*ProcessControlRecipeFamilyApiGetProcessControlRecipeResponse, *http.Response, error) {
	return r.ApiService.ProcessControlRecipeFamilyApiGetProcessControlRecipeExecute(r)
}

/*
ProcessControlRecipeFamilyApiGetProcessControlRecipe Get Process Control Recipe

Retrieve a process control recipe by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param processControlRecipeFamilyId A unique identifier for the process control recipe family.
 @param id A unique identifier for the process control recipe.
 @return ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest
*/
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiGetProcessControlRecipe(ctx context.Context, processControlRecipeFamilyId string, id string) ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest {
	return ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest{
		ApiService: a,
		ctx: ctx,
		processControlRecipeFamilyId: processControlRecipeFamilyId,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessControlRecipeFamilyApiGetProcessControlRecipeResponse
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiGetProcessControlRecipeExecute(r ApiProcessControlRecipeFamilyApiGetProcessControlRecipeRequest) (*ProcessControlRecipeFamilyApiGetProcessControlRecipeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessControlRecipeFamilyApiGetProcessControlRecipeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlRecipeFamilyAPIAPIService.ProcessControlRecipeFamilyApiGetProcessControlRecipe")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-recipe-families/{processControlRecipeFamilyId}/process-control-recipes/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"processControlRecipeFamilyId"+"}", url.PathEscape(parameterValueToString(r.processControlRecipeFamilyId, "processControlRecipeFamilyId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest struct {
	ctx context.Context
	ApiService *ProcessControlRecipeFamilyAPIAPIService
	id string
}

func (r ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest) Execute() (*ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyResponse, *http.Response, error) {
	return r.ApiService.ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyExecute(r)
}

/*
ProcessControlRecipeFamilyApiGetProcessControlRecipeFamily Get Process Control Recipe Family

Retrieve a process control recipe family by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id A unique identifier for the process control recipe family.
 @return ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest
*/
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiGetProcessControlRecipeFamily(ctx context.Context, id string) ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest {
	return ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyResponse
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyExecute(r ApiProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyRequest) (*ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessControlRecipeFamilyApiGetProcessControlRecipeFamilyResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlRecipeFamilyAPIAPIService.ProcessControlRecipeFamilyApiGetProcessControlRecipeFamily")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-recipe-families/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest struct {
	ctx context.Context
	ApiService *ProcessControlRecipeFamilyAPIAPIService
	ids *[]string
	partIds *[]string
	code *[]string
	operationId *string
}

// A list of IDs representing the Process Control Recipe Family.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) Ids(ids []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest {
	r.ids = &ids
	return r
}

// A list of IDs representing the Part.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) PartIds(partIds []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest {
	r.partIds = &partIds
	return r
}

// A list of Process Control Recipe Family Codes.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) Code(code []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest {
	r.code = &code
	return r
}

// The Operation ID associated with the Process Control Recipe.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) OperationId(operationId string) ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest {
	r.operationId = &operationId
	return r
}

func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) Execute() ([]ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesItem, *http.Response, error) {
	return r.ApiService.ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesExecute(r)
}

/*
ProcessControlRecipeFamilyApiListProcessControlRecipeFamilies List Process Control Recipe Families

Retrieve a list of process control recipe families.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest
*/
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiListProcessControlRecipeFamilies(ctx context.Context) ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest {
	return ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesItem
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesExecute(r ApiProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesRequest) ([]ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessControlRecipeFamilyApiListProcessControlRecipeFamiliesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlRecipeFamilyAPIAPIService.ProcessControlRecipeFamilyApiListProcessControlRecipeFamilies")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-recipe-families"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.partIds != nil {
		t := *r.partIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "partIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "partIds", t, "form", "multi")
		}
	}
	if r.code != nil {
		t := *r.code
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "code", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "code", t, "form", "multi")
		}
	}
	if r.operationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationId", r.operationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest struct {
	ctx context.Context
	ApiService *ProcessControlRecipeFamilyAPIAPIService
	processControlRecipeFamilyId string
	ids *[]string
	code *[]string
	workcenterIds *[]string
}

// A list of IDs representing the Process Control Recipe.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest) Ids(ids []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest {
	r.ids = &ids
	return r
}

// A list of Process Control Recipe Codes.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest) Code(code []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest {
	r.code = &code
	return r
}

// A list of IDs representing the Process Control Recipe.
func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest) WorkcenterIds(workcenterIds []string) ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest {
	r.workcenterIds = &workcenterIds
	return r
}

func (r ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest) Execute() ([]ProcessControlRecipeFamilyApiListProcessControlRecipesItem, *http.Response, error) {
	return r.ApiService.ProcessControlRecipeFamilyApiListProcessControlRecipesExecute(r)
}

/*
ProcessControlRecipeFamilyApiListProcessControlRecipes List Process Control Recipes

Retrieve a list of process control recipes.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param processControlRecipeFamilyId A unique identifier for the process control recipe family.
 @return ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest
*/
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiListProcessControlRecipes(ctx context.Context, processControlRecipeFamilyId string) ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest {
	return ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest{
		ApiService: a,
		ctx: ctx,
		processControlRecipeFamilyId: processControlRecipeFamilyId,
	}
}

// Execute executes the request
//  @return []ProcessControlRecipeFamilyApiListProcessControlRecipesItem
func (a *ProcessControlRecipeFamilyAPIAPIService) ProcessControlRecipeFamilyApiListProcessControlRecipesExecute(r ApiProcessControlRecipeFamilyApiListProcessControlRecipesRequest) ([]ProcessControlRecipeFamilyApiListProcessControlRecipesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessControlRecipeFamilyApiListProcessControlRecipesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlRecipeFamilyAPIAPIService.ProcessControlRecipeFamilyApiListProcessControlRecipes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-recipe-families/{processControlRecipeFamilyId}/process-control-recipes"
	localVarPath = strings.Replace(localVarPath, "{"+"processControlRecipeFamilyId"+"}", url.PathEscape(parameterValueToString(r.processControlRecipeFamilyId, "processControlRecipeFamilyId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.code != nil {
		t := *r.code
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "code", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "code", t, "form", "multi")
		}
	}
	if r.workcenterIds != nil {
		t := *r.workcenterIds
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterIds", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterIds", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
