/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
)


// ProcessRoutingsAPIAPIService ProcessRoutingsAPIAPI service
type ProcessRoutingsAPIAPIService service

type ApiProcessRoutingsApiCreatePartOperationRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	processRoutingsApiCreatePartOperationRequest *ProcessRoutingsApiCreatePartOperationRequest
}

func (r ApiProcessRoutingsApiCreatePartOperationRequest) ProcessRoutingsApiCreatePartOperationRequest(processRoutingsApiCreatePartOperationRequest ProcessRoutingsApiCreatePartOperationRequest) ApiProcessRoutingsApiCreatePartOperationRequest {
	r.processRoutingsApiCreatePartOperationRequest = &processRoutingsApiCreatePartOperationRequest
	return r
}

func (r ApiProcessRoutingsApiCreatePartOperationRequest) Execute() (*ProcessRoutingsApiCreatePartOperation201Response, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiCreatePartOperationExecute(r)
}

/*
ProcessRoutingsApiCreatePartOperation Create Part Operation

Create a new part operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessRoutingsApiCreatePartOperationRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiCreatePartOperation(ctx context.Context) ApiProcessRoutingsApiCreatePartOperationRequest {
	return ApiProcessRoutingsApiCreatePartOperationRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiCreatePartOperation201Response
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiCreatePartOperationExecute(r ApiProcessRoutingsApiCreatePartOperationRequest) (*ProcessRoutingsApiCreatePartOperation201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiCreatePartOperation201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiCreatePartOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiCreatePartOperationRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiCreatePartOperationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiCreatePartOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiCreatePartOperation400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiDeactivatePartOperationRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiDeactivatePartOperationRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProcessRoutingsApiDeactivatePartOperationExecute(r)
}

/*
ProcessRoutingsApiDeactivatePartOperation Deactivate Part Operation

Deactivate a part operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiDeactivatePartOperationRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiDeactivatePartOperation(ctx context.Context, id string) ApiProcessRoutingsApiDeactivatePartOperationRequest {
	return ApiProcessRoutingsApiDeactivatePartOperationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiDeactivatePartOperationExecute(r ApiProcessRoutingsApiDeactivatePartOperationRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiDeactivatePartOperation")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/deactivate"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiDeactivatePartOperation400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetNoteRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetNoteRequest) Execute() (*ProcessRoutingsApiGetNoteResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetNoteExecute(r)
}

/*
ProcessRoutingsApiGetNote Get Note

Get a part operation note.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetNoteRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetNote(ctx context.Context, id string) ApiProcessRoutingsApiGetNoteRequest {
	return ApiProcessRoutingsApiGetNoteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetNoteResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetNoteExecute(r ApiProcessRoutingsApiGetNoteRequest) (*ProcessRoutingsApiGetNoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetNoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetNote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/notes"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetOperationRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetOperationRequest) Execute() (*ProcessRoutingsApiGetOperationResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetOperationExecute(r)
}

/*
ProcessRoutingsApiGetOperation Get Operation

Retrieve an operation by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The operation ID.
 @return ApiProcessRoutingsApiGetOperationRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetOperation(ctx context.Context, id string) ApiProcessRoutingsApiGetOperationRequest {
	return ApiProcessRoutingsApiGetOperationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetOperationResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetOperationExecute(r ApiProcessRoutingsApiGetOperationRequest) (*ProcessRoutingsApiGetOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/operations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetPartOperationRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetPartOperationRequest) Execute() (*ProcessRoutingsApiGetPartOperationResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetPartOperationExecute(r)
}

/*
ProcessRoutingsApiGetPartOperation Get Part Operation

Retrieve a part operation by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetPartOperationRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetPartOperation(ctx context.Context, id string) ApiProcessRoutingsApiGetPartOperationRequest {
	return ApiProcessRoutingsApiGetPartOperationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetPartOperationResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetPartOperationExecute(r ApiProcessRoutingsApiGetPartOperationRequest) (*ProcessRoutingsApiGetPartOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetPartOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetPartOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetPartOperationDescriptionRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetPartOperationDescriptionRequest) Execute() (*ProcessRoutingsApiGetPartOperationDescriptionResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetPartOperationDescriptionExecute(r)
}

/*
ProcessRoutingsApiGetPartOperationDescription Get Part Operation Description

Get a part operation description.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetPartOperationDescriptionRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetPartOperationDescription(ctx context.Context, id string) ApiProcessRoutingsApiGetPartOperationDescriptionRequest {
	return ApiProcessRoutingsApiGetPartOperationDescriptionRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetPartOperationDescriptionResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetPartOperationDescriptionExecute(r ApiProcessRoutingsApiGetPartOperationDescriptionRequest) (*ProcessRoutingsApiGetPartOperationDescriptionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetPartOperationDescriptionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetPartOperationDescription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/description"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetProductionDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetProductionDetailsRequest) Execute() (*ProcessRoutingsApiGetProductionDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetProductionDetailsExecute(r)
}

/*
ProcessRoutingsApiGetProductionDetails Get Production Details

Get part operation production details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetProductionDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetProductionDetails(ctx context.Context, id string) ApiProcessRoutingsApiGetProductionDetailsRequest {
	return ApiProcessRoutingsApiGetProductionDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetProductionDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetProductionDetailsExecute(r ApiProcessRoutingsApiGetProductionDetailsRequest) (*ProcessRoutingsApiGetProductionDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetProductionDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetProductionDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/production-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetSchedulingDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetSchedulingDetailsRequest) Execute() (*ProcessRoutingsApiGetSchedulingDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetSchedulingDetailsExecute(r)
}

/*
ProcessRoutingsApiGetSchedulingDetails Get Scheduling Details

Retrieve part operation scheduling details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetSchedulingDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetSchedulingDetails(ctx context.Context, id string) ApiProcessRoutingsApiGetSchedulingDetailsRequest {
	return ApiProcessRoutingsApiGetSchedulingDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetSchedulingDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetSchedulingDetailsExecute(r ApiProcessRoutingsApiGetSchedulingDetailsRequest) (*ProcessRoutingsApiGetSchedulingDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetSchedulingDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetSchedulingDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/scheduling-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiGetStorageDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
}

func (r ApiProcessRoutingsApiGetStorageDetailsRequest) Execute() (*ProcessRoutingsApiGetStorageDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiGetStorageDetailsExecute(r)
}

/*
ProcessRoutingsApiGetStorageDetails Get Storage Details

Retrieve storage details for a part operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiGetStorageDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetStorageDetails(ctx context.Context, id string) ApiProcessRoutingsApiGetStorageDetailsRequest {
	return ApiProcessRoutingsApiGetStorageDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiGetStorageDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiGetStorageDetailsExecute(r ApiProcessRoutingsApiGetStorageDetailsRequest) (*ProcessRoutingsApiGetStorageDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiGetStorageDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiGetStorageDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/storage-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiListOperationsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id *string
	code *string
	type_ *string
	inventoryType *string
}

func (r ApiProcessRoutingsApiListOperationsRequest) Id(id string) ApiProcessRoutingsApiListOperationsRequest {
	r.id = &id
	return r
}

func (r ApiProcessRoutingsApiListOperationsRequest) Code(code string) ApiProcessRoutingsApiListOperationsRequest {
	r.code = &code
	return r
}

func (r ApiProcessRoutingsApiListOperationsRequest) Type_(type_ string) ApiProcessRoutingsApiListOperationsRequest {
	r.type_ = &type_
	return r
}

func (r ApiProcessRoutingsApiListOperationsRequest) InventoryType(inventoryType string) ApiProcessRoutingsApiListOperationsRequest {
	r.inventoryType = &inventoryType
	return r
}

func (r ApiProcessRoutingsApiListOperationsRequest) Execute() ([]ProcessRoutingsApiListOperationsItem, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiListOperationsExecute(r)
}

/*
ProcessRoutingsApiListOperations List Operations

List operations by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessRoutingsApiListOperationsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiListOperations(ctx context.Context) ApiProcessRoutingsApiListOperationsRequest {
	return ApiProcessRoutingsApiListOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessRoutingsApiListOperationsItem
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiListOperationsExecute(r ApiProcessRoutingsApiListOperationsRequest) ([]ProcessRoutingsApiListOperationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessRoutingsApiListOperationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiListOperations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/operations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "id", r.id, "form", "")
	}
	if r.code != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "code", r.code, "form", "")
	}
	if r.type_ != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "type", r.type_, "form", "")
	}
	if r.inventoryType != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inventoryType", r.inventoryType, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiListPartOperationsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	partId *string
	operationId *string
	active *bool
	subOperation *bool
	operationNumber *int32
}

// A unique identifier to a part.
func (r ApiProcessRoutingsApiListPartOperationsRequest) PartId(partId string) ApiProcessRoutingsApiListPartOperationsRequest {
	r.partId = &partId
	return r
}

// A unique identifier to an operation.
func (r ApiProcessRoutingsApiListPartOperationsRequest) OperationId(operationId string) ApiProcessRoutingsApiListPartOperationsRequest {
	r.operationId = &operationId
	return r
}

// If the routing is activated for use in production.
func (r ApiProcessRoutingsApiListPartOperationsRequest) Active(active bool) ApiProcessRoutingsApiListPartOperationsRequest {
	r.active = &active
	return r
}

// Refers to if the operation is encapsulated within another operation.
func (r ApiProcessRoutingsApiListPartOperationsRequest) SubOperation(subOperation bool) ApiProcessRoutingsApiListPartOperationsRequest {
	r.subOperation = &subOperation
	return r
}

// The order this operation is executed in, usually added in increments of 10 to leave room for inserting additional operations.
func (r ApiProcessRoutingsApiListPartOperationsRequest) OperationNumber(operationNumber int32) ApiProcessRoutingsApiListPartOperationsRequest {
	r.operationNumber = &operationNumber
	return r
}

func (r ApiProcessRoutingsApiListPartOperationsRequest) Execute() ([]ProcessRoutingsApiListPartOperationsItem, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiListPartOperationsExecute(r)
}

/*
ProcessRoutingsApiListPartOperations List Part Operations

List part operations by query parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessRoutingsApiListPartOperationsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiListPartOperations(ctx context.Context) ApiProcessRoutingsApiListPartOperationsRequest {
	return ApiProcessRoutingsApiListPartOperationsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessRoutingsApiListPartOperationsItem
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiListPartOperationsExecute(r ApiProcessRoutingsApiListPartOperationsRequest) ([]ProcessRoutingsApiListPartOperationsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessRoutingsApiListPartOperationsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiListPartOperations")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.operationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationId", r.operationId, "form", "")
	}
	if r.active != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "active", r.active, "form", "")
	}
	if r.subOperation != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "subOperation", r.subOperation, "form", "")
	}
	if r.operationNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "operationNumber", r.operationNumber, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdateNoteRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdateNoteRequest *ProcessRoutingsApiUpdateNoteRequest
}

func (r ApiProcessRoutingsApiUpdateNoteRequest) ProcessRoutingsApiUpdateNoteRequest(processRoutingsApiUpdateNoteRequest ProcessRoutingsApiUpdateNoteRequest) ApiProcessRoutingsApiUpdateNoteRequest {
	r.processRoutingsApiUpdateNoteRequest = &processRoutingsApiUpdateNoteRequest
	return r
}

func (r ApiProcessRoutingsApiUpdateNoteRequest) Execute() (*ProcessRoutingsApiUpdateNoteResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdateNoteExecute(r)
}

/*
ProcessRoutingsApiUpdateNote Update Note

Update a part operation note.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdateNoteRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateNote(ctx context.Context, id string) ApiProcessRoutingsApiUpdateNoteRequest {
	return ApiProcessRoutingsApiUpdateNoteRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdateNoteResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateNoteExecute(r ApiProcessRoutingsApiUpdateNoteRequest) (*ProcessRoutingsApiUpdateNoteResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdateNoteResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdateNote")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/notes"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdateNoteRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdateNoteRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdateNoteRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdateNote400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdatePartOperationRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdatePartOperationRequest *ProcessRoutingsApiUpdatePartOperationRequest
}

func (r ApiProcessRoutingsApiUpdatePartOperationRequest) ProcessRoutingsApiUpdatePartOperationRequest(processRoutingsApiUpdatePartOperationRequest ProcessRoutingsApiUpdatePartOperationRequest) ApiProcessRoutingsApiUpdatePartOperationRequest {
	r.processRoutingsApiUpdatePartOperationRequest = &processRoutingsApiUpdatePartOperationRequest
	return r
}

func (r ApiProcessRoutingsApiUpdatePartOperationRequest) Execute() (*ProcessRoutingsApiUpdatePartOperationResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdatePartOperationExecute(r)
}

/*
ProcessRoutingsApiUpdatePartOperation Update Part Operation

Update a part operation.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdatePartOperationRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdatePartOperation(ctx context.Context, id string) ApiProcessRoutingsApiUpdatePartOperationRequest {
	return ApiProcessRoutingsApiUpdatePartOperationRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdatePartOperationResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdatePartOperationExecute(r ApiProcessRoutingsApiUpdatePartOperationRequest) (*ProcessRoutingsApiUpdatePartOperationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdatePartOperationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdatePartOperation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdatePartOperationRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdatePartOperationRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdatePartOperationRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdatePartOperation400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdatePartOperationDescriptionRequest *ProcessRoutingsApiUpdatePartOperationDescriptionRequest
}

func (r ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest) ProcessRoutingsApiUpdatePartOperationDescriptionRequest(processRoutingsApiUpdatePartOperationDescriptionRequest ProcessRoutingsApiUpdatePartOperationDescriptionRequest) ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest {
	r.processRoutingsApiUpdatePartOperationDescriptionRequest = &processRoutingsApiUpdatePartOperationDescriptionRequest
	return r
}

func (r ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest) Execute() (*ProcessRoutingsApiUpdatePartOperationDescriptionResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdatePartOperationDescriptionExecute(r)
}

/*
ProcessRoutingsApiUpdatePartOperationDescription Update Part Operation Description

Update a part operation description.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdatePartOperationDescription(ctx context.Context, id string) ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest {
	return ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdatePartOperationDescriptionResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdatePartOperationDescriptionExecute(r ApiProcessRoutingsApiUpdatePartOperationDescriptionRequest) (*ProcessRoutingsApiUpdatePartOperationDescriptionResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdatePartOperationDescriptionResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdatePartOperationDescription")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/description"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdatePartOperationDescriptionRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdatePartOperationDescriptionRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdatePartOperationDescriptionRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdatePartOperationDescription400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdateProductionDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdateProductionDetailsRequest *ProcessRoutingsApiUpdateProductionDetailsRequest
}

func (r ApiProcessRoutingsApiUpdateProductionDetailsRequest) ProcessRoutingsApiUpdateProductionDetailsRequest(processRoutingsApiUpdateProductionDetailsRequest ProcessRoutingsApiUpdateProductionDetailsRequest) ApiProcessRoutingsApiUpdateProductionDetailsRequest {
	r.processRoutingsApiUpdateProductionDetailsRequest = &processRoutingsApiUpdateProductionDetailsRequest
	return r
}

func (r ApiProcessRoutingsApiUpdateProductionDetailsRequest) Execute() (*ProcessRoutingsApiUpdateProductionDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdateProductionDetailsExecute(r)
}

/*
ProcessRoutingsApiUpdateProductionDetails Update Production Details

Update part operation production details.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdateProductionDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateProductionDetails(ctx context.Context, id string) ApiProcessRoutingsApiUpdateProductionDetailsRequest {
	return ApiProcessRoutingsApiUpdateProductionDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdateProductionDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateProductionDetailsExecute(r ApiProcessRoutingsApiUpdateProductionDetailsRequest) (*ProcessRoutingsApiUpdateProductionDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdateProductionDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdateProductionDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/production-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdateProductionDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdateProductionDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdateProductionDetailsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdateProductionDetails400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdateSchedulingDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdateSchedulingDetailsRequest *ProcessRoutingsApiUpdateSchedulingDetailsRequest
}

func (r ApiProcessRoutingsApiUpdateSchedulingDetailsRequest) ProcessRoutingsApiUpdateSchedulingDetailsRequest(processRoutingsApiUpdateSchedulingDetailsRequest ProcessRoutingsApiUpdateSchedulingDetailsRequest) ApiProcessRoutingsApiUpdateSchedulingDetailsRequest {
	r.processRoutingsApiUpdateSchedulingDetailsRequest = &processRoutingsApiUpdateSchedulingDetailsRequest
	return r
}

func (r ApiProcessRoutingsApiUpdateSchedulingDetailsRequest) Execute() (*ProcessRoutingsApiUpdateSchedulingDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdateSchedulingDetailsExecute(r)
}

/*
ProcessRoutingsApiUpdateSchedulingDetails Update Scheduling Details

Update part operation scheduling info.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdateSchedulingDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateSchedulingDetails(ctx context.Context, id string) ApiProcessRoutingsApiUpdateSchedulingDetailsRequest {
	return ApiProcessRoutingsApiUpdateSchedulingDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdateSchedulingDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateSchedulingDetailsExecute(r ApiProcessRoutingsApiUpdateSchedulingDetailsRequest) (*ProcessRoutingsApiUpdateSchedulingDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdateSchedulingDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdateSchedulingDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/scheduling-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdateSchedulingDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdateSchedulingDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdateSchedulingDetailsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdateSchedulingDetails400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProcessRoutingsApiUpdateStorageDetailsRequest struct {
	ctx context.Context
	ApiService *ProcessRoutingsAPIAPIService
	id string
	processRoutingsApiUpdateStorageDetailsRequest *ProcessRoutingsApiUpdateStorageDetailsRequest
}

func (r ApiProcessRoutingsApiUpdateStorageDetailsRequest) ProcessRoutingsApiUpdateStorageDetailsRequest(processRoutingsApiUpdateStorageDetailsRequest ProcessRoutingsApiUpdateStorageDetailsRequest) ApiProcessRoutingsApiUpdateStorageDetailsRequest {
	r.processRoutingsApiUpdateStorageDetailsRequest = &processRoutingsApiUpdateStorageDetailsRequest
	return r
}

func (r ApiProcessRoutingsApiUpdateStorageDetailsRequest) Execute() (*ProcessRoutingsApiUpdateStorageDetailsResponse, *http.Response, error) {
	return r.ApiService.ProcessRoutingsApiUpdateStorageDetailsExecute(r)
}

/*
ProcessRoutingsApiUpdateStorageDetails Update Storage Details

Update part operation storage info.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiProcessRoutingsApiUpdateStorageDetailsRequest
*/
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateStorageDetails(ctx context.Context, id string) ApiProcessRoutingsApiUpdateStorageDetailsRequest {
	return ApiProcessRoutingsApiUpdateStorageDetailsRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProcessRoutingsApiUpdateStorageDetailsResponse
func (a *ProcessRoutingsAPIAPIService) ProcessRoutingsApiUpdateStorageDetailsExecute(r ApiProcessRoutingsApiUpdateStorageDetailsRequest) (*ProcessRoutingsApiUpdateStorageDetailsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPut
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProcessRoutingsApiUpdateStorageDetailsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessRoutingsAPIAPIService.ProcessRoutingsApiUpdateStorageDetails")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/mdm/v1/part-operations/{id}/storage-details"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.processRoutingsApiUpdateStorageDetailsRequest == nil {
		return localVarReturnValue, nil, reportError("processRoutingsApiUpdateStorageDetailsRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.processRoutingsApiUpdateStorageDetailsRequest
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProcessRoutingsApiUpdateStorageDetails400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
