/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
)


// ControlPlansAPIAPIService ControlPlansAPIAPI service
type ControlPlansAPIAPIService service

type ApiControlPlansApiGetControlPlanRequest struct {
	ctx context.Context
	ApiService *ControlPlansAPIAPIService
	id string
}

func (r ApiControlPlansApiGetControlPlanRequest) Execute() (*ControlPlansApiGetControlPlanResponse, *http.Response, error) {
	return r.ApiService.ControlPlansApiGetControlPlanExecute(r)
}

/*
ControlPlansApiGetControlPlan Get Control Plan

Retrieve a control plan.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiControlPlansApiGetControlPlanRequest
*/
func (a *ControlPlansAPIAPIService) ControlPlansApiGetControlPlan(ctx context.Context, id string) ApiControlPlansApiGetControlPlanRequest {
	return ApiControlPlansApiGetControlPlanRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ControlPlansApiGetControlPlanResponse
func (a *ControlPlansAPIAPIService) ControlPlansApiGetControlPlanExecute(r ApiControlPlansApiGetControlPlanRequest) (*ControlPlansApiGetControlPlanResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControlPlansApiGetControlPlanResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ControlPlansAPIAPIService.ControlPlansApiGetControlPlan")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/control-plans/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiControlPlansApiGetControlPlanLineRequest struct {
	ctx context.Context
	ApiService *ControlPlansAPIAPIService
	id string
	lineId string
}

func (r ApiControlPlansApiGetControlPlanLineRequest) Execute() (*ControlPlansApiGetControlPlanLineResponse, *http.Response, error) {
	return r.ApiService.ControlPlansApiGetControlPlanLineExecute(r)
}

/*
ControlPlansApiGetControlPlanLine Get Control Plan Line

Retrieve a control plan line.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @param lineId
 @return ApiControlPlansApiGetControlPlanLineRequest
*/
func (a *ControlPlansAPIAPIService) ControlPlansApiGetControlPlanLine(ctx context.Context, id string, lineId string) ApiControlPlansApiGetControlPlanLineRequest {
	return ApiControlPlansApiGetControlPlanLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
		lineId: lineId,
	}
}

// Execute executes the request
//  @return ControlPlansApiGetControlPlanLineResponse
func (a *ControlPlansAPIAPIService) ControlPlansApiGetControlPlanLineExecute(r ApiControlPlansApiGetControlPlanLineRequest) (*ControlPlansApiGetControlPlanLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ControlPlansApiGetControlPlanLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ControlPlansAPIAPIService.ControlPlansApiGetControlPlanLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/control-plans/{id}/control-plan-lines/{lineId}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"lineId"+"}", url.PathEscape(parameterValueToString(r.lineId, "lineId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiControlPlansApiListControlPlanLinesRequest struct {
	ctx context.Context
	ApiService *ControlPlansAPIAPIService
	id string
	ids *[]string
	jobOpId *string
	specificToWorkcenterId *string
	partOperationId *string
	inspectionMode *string
}

// A list of IDs representing the Control Plan Line.
func (r ApiControlPlansApiListControlPlanLinesRequest) Ids(ids []string) ApiControlPlansApiListControlPlanLinesRequest {
	r.ids = &ids
	return r
}

// ID representing the job op on the deviation.
func (r ApiControlPlansApiListControlPlanLinesRequest) JobOpId(jobOpId string) ApiControlPlansApiListControlPlanLinesRequest {
	r.jobOpId = &jobOpId
	return r
}

// ID representing the workcenter.
func (r ApiControlPlansApiListControlPlanLinesRequest) SpecificToWorkcenterId(specificToWorkcenterId string) ApiControlPlansApiListControlPlanLinesRequest {
	r.specificToWorkcenterId = &specificToWorkcenterId
	return r
}

// ID representing the part operation.
func (r ApiControlPlansApiListControlPlanLinesRequest) PartOperationId(partOperationId string) ApiControlPlansApiListControlPlanLinesRequest {
	r.partOperationId = &partOperationId
	return r
}

// The inspection mode.
func (r ApiControlPlansApiListControlPlanLinesRequest) InspectionMode(inspectionMode string) ApiControlPlansApiListControlPlanLinesRequest {
	r.inspectionMode = &inspectionMode
	return r
}

func (r ApiControlPlansApiListControlPlanLinesRequest) Execute() ([]ControlPlansApiListControlPlanLinesItem, *http.Response, error) {
	return r.ApiService.ControlPlansApiListControlPlanLinesExecute(r)
}

/*
ControlPlansApiListControlPlanLines List Control Plan Lines

Retrieve a list of control plan lines.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id
 @return ApiControlPlansApiListControlPlanLinesRequest
*/
func (a *ControlPlansAPIAPIService) ControlPlansApiListControlPlanLines(ctx context.Context, id string) ApiControlPlansApiListControlPlanLinesRequest {
	return ApiControlPlansApiListControlPlanLinesRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return []ControlPlansApiListControlPlanLinesItem
func (a *ControlPlansAPIAPIService) ControlPlansApiListControlPlanLinesExecute(r ApiControlPlansApiListControlPlanLinesRequest) ([]ControlPlansApiListControlPlanLinesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControlPlansApiListControlPlanLinesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ControlPlansAPIAPIService.ControlPlansApiListControlPlanLines")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/control-plans/{id}/control-plan-lines"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.jobOpId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobOpId", r.jobOpId, "form", "")
	}
	if r.specificToWorkcenterId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "specificToWorkcenterId", r.specificToWorkcenterId, "form", "")
	}
	if r.partOperationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOperationId", r.partOperationId, "form", "")
	}
	if r.inspectionMode != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "inspectionMode", r.inspectionMode, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiControlPlansApiListControlPlansRequest struct {
	ctx context.Context
	ApiService *ControlPlansAPIAPIService
	ids *[]string
	controlPlanNo *float64
	controlPlanTypes *[]string
	partId *string
	primary *bool
}

// A list of IDs representing the Control Plan.
func (r ApiControlPlansApiListControlPlansRequest) Ids(ids []string) ApiControlPlansApiListControlPlansRequest {
	r.ids = &ids
	return r
}

// The Control Plan No.
func (r ApiControlPlansApiListControlPlansRequest) ControlPlanNo(controlPlanNo float64) ApiControlPlansApiListControlPlansRequest {
	r.controlPlanNo = &controlPlanNo
	return r
}

// A list of Control Plan types.
func (r ApiControlPlansApiListControlPlansRequest) ControlPlanTypes(controlPlanTypes []string) ApiControlPlansApiListControlPlansRequest {
	r.controlPlanTypes = &controlPlanTypes
	return r
}

// ID representing the Control Plan part number.
func (r ApiControlPlansApiListControlPlansRequest) PartId(partId string) ApiControlPlansApiListControlPlansRequest {
	r.partId = &partId
	return r
}

// The primary flag.
func (r ApiControlPlansApiListControlPlansRequest) Primary(primary bool) ApiControlPlansApiListControlPlansRequest {
	r.primary = &primary
	return r
}

func (r ApiControlPlansApiListControlPlansRequest) Execute() ([]ControlPlansApiListControlPlansItem, *http.Response, error) {
	return r.ApiService.ControlPlansApiListControlPlansExecute(r)
}

/*
ControlPlansApiListControlPlans List Control Plans

Retrieve a list of active control plans.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiControlPlansApiListControlPlansRequest
*/
func (a *ControlPlansAPIAPIService) ControlPlansApiListControlPlans(ctx context.Context) ApiControlPlansApiListControlPlansRequest {
	return ApiControlPlansApiListControlPlansRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ControlPlansApiListControlPlansItem
func (a *ControlPlansAPIAPIService) ControlPlansApiListControlPlansExecute(r ApiControlPlansApiListControlPlansRequest) ([]ControlPlansApiListControlPlansItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ControlPlansApiListControlPlansItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ControlPlansAPIAPIService.ControlPlansApiListControlPlans")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/control-plans"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.ids != nil {
		t := *r.ids
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "ids", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "ids", t, "form", "multi")
		}
	}
	if r.controlPlanNo != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanNo", r.controlPlanNo, "form", "")
	}
	if r.controlPlanTypes != nil {
		t := *r.controlPlanTypes
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanTypes", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "controlPlanTypes", t, "form", "multi")
		}
	}
	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.primary != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "primary", r.primary, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
