/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"time"
	"reflect"
)


// AccountsPayablePaymentsAPIAPIService AccountsPayablePaymentsAPIAPI service
type AccountsPayablePaymentsAPIAPIService service

type ApiAccountsPayablePaymentsApiGetAPPaymentRequest struct {
	ctx context.Context
	ApiService *AccountsPayablePaymentsAPIAPIService
	id string
}

func (r ApiAccountsPayablePaymentsApiGetAPPaymentRequest) Execute() (*AccountsPayablePaymentsApiGetAPPaymentResponse, *http.Response, error) {
	return r.ApiService.AccountsPayablePaymentsApiGetAPPaymentExecute(r)
}

/*
AccountsPayablePaymentsApiGetAPPayment Get AP Payment

Retrieves an AP Payment by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The Accounts Payable Payment resource id.
 @return ApiAccountsPayablePaymentsApiGetAPPaymentRequest
*/
func (a *AccountsPayablePaymentsAPIAPIService) AccountsPayablePaymentsApiGetAPPayment(ctx context.Context, id string) ApiAccountsPayablePaymentsApiGetAPPaymentRequest {
	return ApiAccountsPayablePaymentsApiGetAPPaymentRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return AccountsPayablePaymentsApiGetAPPaymentResponse
func (a *AccountsPayablePaymentsAPIAPIService) AccountsPayablePaymentsApiGetAPPaymentExecute(r ApiAccountsPayablePaymentsApiGetAPPaymentRequest) (*AccountsPayablePaymentsApiGetAPPaymentResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *AccountsPayablePaymentsApiGetAPPaymentResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayablePaymentsAPIAPIService.AccountsPayablePaymentsApiGetAPPayment")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-payments/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiAccountsPayablePaymentsApiListAPPaymentsRequest struct {
	ctx context.Context
	ApiService *AccountsPayablePaymentsAPIAPIService
	id *[]string
	paymentNumber *string
	periodDisplayBegin *string
	periodDisplayEnd *string
	transactionDateBegin *time.Time
	transactionDateEnd *time.Time
	createdDateBegin *time.Time
	createdDateEnd *time.Time
	booked *bool
}

// The ID of the AP Payment.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) Id(id []string) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.id = &id
	return r
}

// The AP payment number.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) PaymentNumber(paymentNumber string) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.paymentNumber = &paymentNumber
	return r
}

// The starting period used to return AP payment records.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The ending period used to return AP payment records.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

// The start date used to return AP payment transaction records during a period.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) TransactionDateBegin(transactionDateBegin time.Time) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.transactionDateBegin = &transactionDateBegin
	return r
}

// The end date used to return AP payment transaction records during a period.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) TransactionDateEnd(transactionDateEnd time.Time) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.transactionDateEnd = &transactionDateEnd
	return r
}

// The beginning date used to return AP payments created within a time frame.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) CreatedDateBegin(createdDateBegin time.Time) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.createdDateBegin = &createdDateBegin
	return r
}

// The ending date used to return AP payments created within a time frame.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) CreatedDateEnd(createdDateEnd time.Time) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.createdDateEnd = &createdDateEnd
	return r
}

// Specify AP payment is booked.
func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) Booked(booked bool) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	r.booked = &booked
	return r
}

func (r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) Execute() ([]AccountsPayablePaymentsApiListAPPaymentsItem, *http.Response, error) {
	return r.ApiService.AccountsPayablePaymentsApiListAPPaymentsExecute(r)
}

/*
AccountsPayablePaymentsApiListAPPayments List AP Payments

List AP payments based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiAccountsPayablePaymentsApiListAPPaymentsRequest
*/
func (a *AccountsPayablePaymentsAPIAPIService) AccountsPayablePaymentsApiListAPPayments(ctx context.Context) ApiAccountsPayablePaymentsApiListAPPaymentsRequest {
	return ApiAccountsPayablePaymentsApiListAPPaymentsRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []AccountsPayablePaymentsApiListAPPaymentsItem
func (a *AccountsPayablePaymentsAPIAPIService) AccountsPayablePaymentsApiListAPPaymentsExecute(r ApiAccountsPayablePaymentsApiListAPPaymentsRequest) ([]AccountsPayablePaymentsApiListAPPaymentsItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []AccountsPayablePaymentsApiListAPPaymentsItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "AccountsPayablePaymentsAPIAPIService.AccountsPayablePaymentsApiListAPPayments")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/ap-payments"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.id != nil {
		t := *r.id
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "id", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "id", t, "form", "multi")
		}
	}
	if r.paymentNumber != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "paymentNumber", r.paymentNumber, "form", "")
	}
	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	if r.transactionDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateBegin", r.transactionDateBegin, "form", "")
	}
	if r.transactionDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "transactionDateEnd", r.transactionDateEnd, "form", "")
	}
	if r.createdDateBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateBegin", r.createdDateBegin, "form", "")
	}
	if r.createdDateEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "createdDateEnd", r.createdDateEnd, "form", "")
	}
	if r.booked != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "booked", r.booked, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
