/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"strings"
	"reflect"
	"time"
)


// ProductionOperationsManagementAPIAPIService ProductionOperationsManagementAPIAPI service
type ProductionOperationsManagementAPIAPIService service

type ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	locationId string
	productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest *ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest
}

func (r ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest) ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest(productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest) ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest {
	r.productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest = &productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest
	return r
}

func (r ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest) Execute() (*ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace204Response, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceExecute(r)
}

/*
ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace Activate Tank Events Location Ignore For Lot Trace

Activate Ignore For Lot Trace flag on selected tank log record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param locationId The unique identifier of the location.
 @return ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace(ctx context.Context, locationId string) ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest {
	return ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest{
		ApiService: a,
		ctx: ctx,
		locationId: locationId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace204Response
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceExecute(r ApiProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest) (*ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace204Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace204Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/tank-management/locations/{locationId}/tank-events/ignore-for-lot-trace"
	localVarPath = strings.Replace(localVarPath, "{"+"locationId"+"}", url.PathEscape(parameterValueToString(r.locationId, "locationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTraceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProductionOperationsManagementApiActivateTankEventsLocationIgnoreForLotTrace404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest *ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest
}

func (r ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest) ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest(productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest) ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest {
	r.productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest = &productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest
	return r
}

func (r ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest) Execute() (*ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace204Response, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceExecute(r)
}

/*
ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace Activate Tank Events Workcenter Ignore For Lot Trace

Activate Ignore For Lot Trace flag on selected tank log record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId The unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest {
	return ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace204Response
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceExecute(r ApiProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest) (*ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace204Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace204Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/tank-management/workcenters/{workcenterId}/tank-events/ignore-for-lot-trace"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTraceRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProductionOperationsManagementApiActivateTankEventsWorkcenterIgnoreForLotTrace404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiAddSourceInventoryRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	productionOperationsManagementApiAddSourceInventoryRequest *ProductionOperationsManagementApiAddSourceInventoryRequest
}

func (r ApiProductionOperationsManagementApiAddSourceInventoryRequest) ProductionOperationsManagementApiAddSourceInventoryRequest(productionOperationsManagementApiAddSourceInventoryRequest ProductionOperationsManagementApiAddSourceInventoryRequest) ApiProductionOperationsManagementApiAddSourceInventoryRequest {
	r.productionOperationsManagementApiAddSourceInventoryRequest = &productionOperationsManagementApiAddSourceInventoryRequest
	return r
}

func (r ApiProductionOperationsManagementApiAddSourceInventoryRequest) Execute() ([]ProductionOperationsManagementApiAddSourceInventoryItem, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiAddSourceInventoryExecute(r)
}

/*
ProductionOperationsManagementApiAddSourceInventory Add Source Inventory

Loads a container to a workcenters loaded source inventory.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId
 @return ApiProductionOperationsManagementApiAddSourceInventoryRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiAddSourceInventory(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiAddSourceInventoryRequest {
	return ApiProductionOperationsManagementApiAddSourceInventoryRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return []ProductionOperationsManagementApiAddSourceInventoryItem
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiAddSourceInventoryExecute(r ApiProductionOperationsManagementApiAddSourceInventoryRequest) ([]ProductionOperationsManagementApiAddSourceInventoryItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProductionOperationsManagementApiAddSourceInventoryItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiAddSourceInventory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/loaded-source-inventory"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiAddSourceInventoryRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiAddSourceInventoryRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiAddSourceInventoryRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiAssignLotRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	productionOperationsManagementApiAssignLotRequest *ProductionOperationsManagementApiAssignLotRequest
}

func (r ApiProductionOperationsManagementApiAssignLotRequest) ProductionOperationsManagementApiAssignLotRequest(productionOperationsManagementApiAssignLotRequest ProductionOperationsManagementApiAssignLotRequest) ApiProductionOperationsManagementApiAssignLotRequest {
	r.productionOperationsManagementApiAssignLotRequest = &productionOperationsManagementApiAssignLotRequest
	return r
}

func (r ApiProductionOperationsManagementApiAssignLotRequest) Execute() (*ProductionOperationsManagementApiAssignLotResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiAssignLotExecute(r)
}

/*
ProductionOperationsManagementApiAssignLot Assign Lot

Assigns a lot for a workcenter setup.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiAssignLotRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiAssignLot(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiAssignLotRequest {
	return ApiProductionOperationsManagementApiAssignLotRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiAssignLotResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiAssignLotExecute(r ApiProductionOperationsManagementApiAssignLotRequest) (*ProductionOperationsManagementApiAssignLotResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiAssignLotResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiAssignLot")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/assign-lot"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiAssignLotRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiAssignLotRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiAssignLotRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiAssignLot400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	productionOperationsManagementApiClearLotFromSetupContainerRequest *ProductionOperationsManagementApiClearLotFromSetupContainerRequest
}

func (r ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest) ProductionOperationsManagementApiClearLotFromSetupContainerRequest(productionOperationsManagementApiClearLotFromSetupContainerRequest ProductionOperationsManagementApiClearLotFromSetupContainerRequest) ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest {
	r.productionOperationsManagementApiClearLotFromSetupContainerRequest = &productionOperationsManagementApiClearLotFromSetupContainerRequest
	return r
}

func (r ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest) Execute() (*http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiClearLotFromSetupContainerExecute(r)
}

/*
ProductionOperationsManagementApiClearLotFromSetupContainer Clear Lot From Setup Container

Clear lot from setup container.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClearLotFromSetupContainer(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest {
	return ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClearLotFromSetupContainerExecute(r ApiProductionOperationsManagementApiClearLotFromSetupContainerRequest) (*http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiClearLotFromSetupContainer")
	if err != nil {
		return nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/clear-lot"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiClearLotFromSetupContainerRequest == nil {
		return nil, reportError("productionOperationsManagementApiClearLotFromSetupContainerRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiClearLotFromSetupContainerRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiClearLotFromSetupContainer400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarHTTPResponse, newErr
		}
		return localVarHTTPResponse, newErr
	}

	return localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiClockInOperatorRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	productionOperationsManagementApiClockInOperatorRequest *ProductionOperationsManagementApiClockInOperatorRequest
}

func (r ApiProductionOperationsManagementApiClockInOperatorRequest) ProductionOperationsManagementApiClockInOperatorRequest(productionOperationsManagementApiClockInOperatorRequest ProductionOperationsManagementApiClockInOperatorRequest) ApiProductionOperationsManagementApiClockInOperatorRequest {
	r.productionOperationsManagementApiClockInOperatorRequest = &productionOperationsManagementApiClockInOperatorRequest
	return r
}

func (r ApiProductionOperationsManagementApiClockInOperatorRequest) Execute() (*ProductionOperationsManagementApiClockInOperatorResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiClockInOperatorExecute(r)
}

/*
ProductionOperationsManagementApiClockInOperator Clock In Operator

Clocks in an operator to a workcenter by workcenter ID and account ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiClockInOperatorRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClockInOperator(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiClockInOperatorRequest {
	return ApiProductionOperationsManagementApiClockInOperatorRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiClockInOperatorResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClockInOperatorExecute(r ApiProductionOperationsManagementApiClockInOperatorRequest) (*ProductionOperationsManagementApiClockInOperatorResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiClockInOperatorResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiClockInOperator")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/operators/clockin"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiClockInOperatorRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiClockInOperatorRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiClockInOperatorRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiClockOutOperatorsRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	accountIDs *[]string
}

// A list of unique identifiers of IAM accounts to be clocked out of the workcenter. If not provided all operators will be clocked out.
func (r ApiProductionOperationsManagementApiClockOutOperatorsRequest) AccountIDs(accountIDs []string) ApiProductionOperationsManagementApiClockOutOperatorsRequest {
	r.accountIDs = &accountIDs
	return r
}

func (r ApiProductionOperationsManagementApiClockOutOperatorsRequest) Execute() (*ProductionOperationsManagementApiClockOutOperatorsResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiClockOutOperatorsExecute(r)
}

/*
ProductionOperationsManagementApiClockOutOperators Clock Out Operators

Clocks out operators from a workcenter by workcenter ID and account IDs. If no account IDs are provided then all operators are clocked out from the workcenter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiClockOutOperatorsRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClockOutOperators(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiClockOutOperatorsRequest {
	return ApiProductionOperationsManagementApiClockOutOperatorsRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiClockOutOperatorsResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiClockOutOperatorsExecute(r ApiProductionOperationsManagementApiClockOutOperatorsRequest) (*ProductionOperationsManagementApiClockOutOperatorsResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiClockOutOperatorsResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiClockOutOperators")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/operators/clockout"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.accountIDs != nil {
		t := *r.accountIDs
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "accountIDs", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "accountIDs", t, "form", "multi")
		}
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiCreateApprovedSupplierRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	productionOperationsManagementApiCreateApprovedSupplierRequest *ProductionOperationsManagementApiCreateApprovedSupplierRequest
}

func (r ApiProductionOperationsManagementApiCreateApprovedSupplierRequest) ProductionOperationsManagementApiCreateApprovedSupplierRequest(productionOperationsManagementApiCreateApprovedSupplierRequest ProductionOperationsManagementApiCreateApprovedSupplierRequest) ApiProductionOperationsManagementApiCreateApprovedSupplierRequest {
	r.productionOperationsManagementApiCreateApprovedSupplierRequest = &productionOperationsManagementApiCreateApprovedSupplierRequest
	return r
}

func (r ApiProductionOperationsManagementApiCreateApprovedSupplierRequest) Execute() (*ProductionOperationsManagementApiCreateApprovedSupplier201Response, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiCreateApprovedSupplierExecute(r)
}

/*
ProductionOperationsManagementApiCreateApprovedSupplier Create Approved Supplier

Create a new approved supplier record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProductionOperationsManagementApiCreateApprovedSupplierRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateApprovedSupplier(ctx context.Context) ApiProductionOperationsManagementApiCreateApprovedSupplierRequest {
	return ApiProductionOperationsManagementApiCreateApprovedSupplierRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiCreateApprovedSupplier201Response
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateApprovedSupplierExecute(r ApiProductionOperationsManagementApiCreateApprovedSupplierRequest) (*ProductionOperationsManagementApiCreateApprovedSupplier201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiCreateApprovedSupplier201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiCreateApprovedSupplier")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/approved-suppliers"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiCreateApprovedSupplierRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiCreateApprovedSupplierRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiCreateApprovedSupplierRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	productionOperationsManagementApiCreateApprovedWorkcenterRequest *ProductionOperationsManagementApiCreateApprovedWorkcenterRequest
}

func (r ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest) ProductionOperationsManagementApiCreateApprovedWorkcenterRequest(productionOperationsManagementApiCreateApprovedWorkcenterRequest ProductionOperationsManagementApiCreateApprovedWorkcenterRequest) ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest {
	r.productionOperationsManagementApiCreateApprovedWorkcenterRequest = &productionOperationsManagementApiCreateApprovedWorkcenterRequest
	return r
}

func (r ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest) Execute() (*ProductionOperationsManagementApiCreateApprovedWorkcenter201Response, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiCreateApprovedWorkcenterExecute(r)
}

/*
ProductionOperationsManagementApiCreateApprovedWorkcenter Create Approved Workcenter

Create a new approved workcenter. Does not follow Rate Display Setting. The standardProductionRate is overwritten to Operation.Standard_Rate / Part_Operation.Repetitions when Standard Rate Form Display is on and the Standard Rate is > 0.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateApprovedWorkcenter(ctx context.Context) ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest {
	return ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiCreateApprovedWorkcenter201Response
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateApprovedWorkcenterExecute(r ApiProductionOperationsManagementApiCreateApprovedWorkcenterRequest) (*ProductionOperationsManagementApiCreateApprovedWorkcenter201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiCreateApprovedWorkcenter201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiCreateApprovedWorkcenter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/approved-workcenters"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiCreateApprovedWorkcenterRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiCreateApprovedWorkcenterRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiCreateApprovedWorkcenterRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiCreateApprovedWorkcenter400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiCreateSanitizationEventRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	locationId string
	productionOperationsManagementApiCreateSanitizationEventRequest *ProductionOperationsManagementApiCreateSanitizationEventRequest
}

func (r ApiProductionOperationsManagementApiCreateSanitizationEventRequest) ProductionOperationsManagementApiCreateSanitizationEventRequest(productionOperationsManagementApiCreateSanitizationEventRequest ProductionOperationsManagementApiCreateSanitizationEventRequest) ApiProductionOperationsManagementApiCreateSanitizationEventRequest {
	r.productionOperationsManagementApiCreateSanitizationEventRequest = &productionOperationsManagementApiCreateSanitizationEventRequest
	return r
}

func (r ApiProductionOperationsManagementApiCreateSanitizationEventRequest) Execute() (*ProductionOperationsManagementApiCreateSanitizationEvent201Response, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiCreateSanitizationEventExecute(r)
}

/*
ProductionOperationsManagementApiCreateSanitizationEvent Create Sanitization Event

Create a tank/silo sanitization event record.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param locationId The unique identifier of location.
 @return ApiProductionOperationsManagementApiCreateSanitizationEventRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateSanitizationEvent(ctx context.Context, locationId string) ApiProductionOperationsManagementApiCreateSanitizationEventRequest {
	return ApiProductionOperationsManagementApiCreateSanitizationEventRequest{
		ApiService: a,
		ctx: ctx,
		locationId: locationId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiCreateSanitizationEvent201Response
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiCreateSanitizationEventExecute(r ApiProductionOperationsManagementApiCreateSanitizationEventRequest) (*ProductionOperationsManagementApiCreateSanitizationEvent201Response, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodPost
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiCreateSanitizationEvent201Response
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiCreateSanitizationEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/tank-management/locations/{locationId}/sanitize"
	localVarPath = strings.Replace(localVarPath, "{"+"locationId"+"}", url.PathEscape(parameterValueToString(r.locationId, "locationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}
	if r.productionOperationsManagementApiCreateSanitizationEventRequest == nil {
		return localVarReturnValue, nil, reportError("productionOperationsManagementApiCreateSanitizationEventRequest is required and must be specified")
	}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{"application/json"}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	// body params
	localVarPostBody = r.productionOperationsManagementApiCreateSanitizationEventRequest
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 400 {
			var v ProductionOperationsManagementApiCreateSanitizationEvent400Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
			return localVarReturnValue, localVarHTTPResponse, newErr
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetBatchRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	batchId string
}

func (r ApiProductionOperationsManagementApiGetBatchRequest) Execute() (*ProductionOperationsManagementApiGetBatchResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetBatchExecute(r)
}

/*
ProductionOperationsManagementApiGetBatch Get Batch

Retrieves a batch by workcenter ID and batch ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @param batchId A unique identifier of the batch.
 @return ApiProductionOperationsManagementApiGetBatchRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetBatch(ctx context.Context, workcenterId string, batchId string) ApiProductionOperationsManagementApiGetBatchRequest {
	return ApiProductionOperationsManagementApiGetBatchRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
		batchId: batchId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetBatchResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetBatchExecute(r ApiProductionOperationsManagementApiGetBatchRequest) (*ProductionOperationsManagementApiGetBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/batches/{batchId}"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)
	localVarPath = strings.Replace(localVarPath, "{"+"batchId"+"}", url.PathEscape(parameterValueToString(r.batchId, "batchId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetCostSubTypeRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	costSubTypeId string
}

func (r ApiProductionOperationsManagementApiGetCostSubTypeRequest) Execute() (*ProductionOperationsManagementApiGetCostSubTypeResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetCostSubTypeExecute(r)
}

/*
ProductionOperationsManagementApiGetCostSubType Get Cost Sub Type

Retrieves a cost sub type by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param costSubTypeId
 @return ApiProductionOperationsManagementApiGetCostSubTypeRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetCostSubType(ctx context.Context, costSubTypeId string) ApiProductionOperationsManagementApiGetCostSubTypeRequest {
	return ApiProductionOperationsManagementApiGetCostSubTypeRequest{
		ApiService: a,
		ctx: ctx,
		costSubTypeId: costSubTypeId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetCostSubTypeResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetCostSubTypeExecute(r ApiProductionOperationsManagementApiGetCostSubTypeRequest) (*ProductionOperationsManagementApiGetCostSubTypeResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetCostSubTypeResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetCostSubType")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/cost-sub-types/{costSubTypeId}"
	localVarPath = strings.Replace(localVarPath, "{"+"costSubTypeId"+"}", url.PathEscape(parameterValueToString(r.costSubTypeId, "costSubTypeId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	partId *string
	partOperationId *string
}

// A unique identifier for a part.
func (r ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest) PartId(partId string) ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest {
	r.partId = &partId
	return r
}

// A unique identifier for a part operation.
func (r ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest) PartOperationId(partOperationId string) ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest {
	r.partOperationId = &partOperationId
	return r
}

func (r ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest) Execute() ([]ProductionOperationsManagementApiGetLoadedSourceInventoryItem, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetLoadedSourceInventoryExecute(r)
}

/*
ProductionOperationsManagementApiGetLoadedSourceInventory Get Loaded Source Inventory

Gets all source inventory currently loaded to a workcenter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId
 @return ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetLoadedSourceInventory(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest {
	return ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return []ProductionOperationsManagementApiGetLoadedSourceInventoryItem
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetLoadedSourceInventoryExecute(r ApiProductionOperationsManagementApiGetLoadedSourceInventoryRequest) ([]ProductionOperationsManagementApiGetLoadedSourceInventoryItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProductionOperationsManagementApiGetLoadedSourceInventoryItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetLoadedSourceInventory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/loaded-source-inventory"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.partOperationId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partOperationId", r.partOperationId, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetLocationRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	locationId string
}

func (r ApiProductionOperationsManagementApiGetLocationRequest) Execute() (*ProductionOperationsManagementApiGetLocationResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetLocationExecute(r)
}

/*
ProductionOperationsManagementApiGetLocation Get Location

Retrieves a production location by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param locationId
 @return ApiProductionOperationsManagementApiGetLocationRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetLocation(ctx context.Context, locationId string) ApiProductionOperationsManagementApiGetLocationRequest {
	return ApiProductionOperationsManagementApiGetLocationRequest{
		ApiService: a,
		ctx: ctx,
		locationId: locationId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetLocationResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetLocationExecute(r ApiProductionOperationsManagementApiGetLocationRequest) (*ProductionOperationsManagementApiGetLocationResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetLocationResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetLocation")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/locations/{locationId}"
	localVarPath = strings.Replace(localVarPath, "{"+"locationId"+"}", url.PathEscape(parameterValueToString(r.locationId, "locationId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetNextBatchRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
	partId *string
	jobId *string
	sortOrder *string
}

// A unique identifier for the part.
func (r ApiProductionOperationsManagementApiGetNextBatchRequest) PartId(partId string) ApiProductionOperationsManagementApiGetNextBatchRequest {
	r.partId = &partId
	return r
}

// A unique identifier for the job.
func (r ApiProductionOperationsManagementApiGetNextBatchRequest) JobId(jobId string) ApiProductionOperationsManagementApiGetNextBatchRequest {
	r.jobId = &jobId
	return r
}

// The sort order method used to determine how to order scheduled jobs. If omitted from the request, the default value is SortOrder unless the &amp;quot;Run Record SortOrder Use&amp;quot; setting is enabled, in which case the default is StartDate. Sort order values are: SortOrder, StartDate, CompletionDate, ToolAssemblyNo, Job.
func (r ApiProductionOperationsManagementApiGetNextBatchRequest) SortOrder(sortOrder string) ApiProductionOperationsManagementApiGetNextBatchRequest {
	r.sortOrder = &sortOrder
	return r
}

func (r ApiProductionOperationsManagementApiGetNextBatchRequest) Execute() (*ProductionOperationsManagementApiGetNextBatchResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetNextBatchExecute(r)
}

/*
ProductionOperationsManagementApiGetNextBatch Get Next Batch

Retrieves the next scheduled batch at a workcenter based on Job Dispatch logic.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiGetNextBatchRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetNextBatch(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiGetNextBatchRequest {
	return ApiProductionOperationsManagementApiGetNextBatchRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetNextBatchResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetNextBatchExecute(r ApiProductionOperationsManagementApiGetNextBatchRequest) (*ProductionOperationsManagementApiGetNextBatchResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetNextBatchResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetNextBatch")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/next-batch"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.partId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "partId", r.partId, "form", "")
	}
	if r.jobId != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "jobId", r.jobId, "form", "")
	}
	if r.sortOrder != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "sortOrder", r.sortOrder, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetProductionLineRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	id string
}

func (r ApiProductionOperationsManagementApiGetProductionLineRequest) Execute() (*ProductionOperationsManagementApiGetProductionLineResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetProductionLineExecute(r)
}

/*
ProductionOperationsManagementApiGetProductionLine Get Production Line

Retrieves the production line by the ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The production line ID.
 @return ApiProductionOperationsManagementApiGetProductionLineRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetProductionLine(ctx context.Context, id string) ApiProductionOperationsManagementApiGetProductionLineRequest {
	return ApiProductionOperationsManagementApiGetProductionLineRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetProductionLineResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetProductionLineExecute(r ApiProductionOperationsManagementApiGetProductionLineRequest) (*ProductionOperationsManagementApiGetProductionLineResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetProductionLineResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetProductionLine")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/production-lines/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
}

func (r ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest) Execute() ([]ProductionOperationsManagementApiGetRequiredSourceInventoryItem, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetRequiredSourceInventoryExecute(r)
}

/*
ProductionOperationsManagementApiGetRequiredSourceInventory Get Required Source Inventory

Gets all source inventory required to run production at a workcenter.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId
 @return ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetRequiredSourceInventory(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest {
	return ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return []ProductionOperationsManagementApiGetRequiredSourceInventoryItem
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetRequiredSourceInventoryExecute(r ApiProductionOperationsManagementApiGetRequiredSourceInventoryRequest) ([]ProductionOperationsManagementApiGetRequiredSourceInventoryItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProductionOperationsManagementApiGetRequiredSourceInventoryItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetRequiredSourceInventory")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}/required-source-inventory"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetWorkcenterRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	id string
}

func (r ApiProductionOperationsManagementApiGetWorkcenterRequest) Execute() (*ProductionOperationsManagementApiGetWorkcenterResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetWorkcenterExecute(r)
}

/*
ProductionOperationsManagementApiGetWorkcenter Get Workcenter

Retrieve information of a specific workcenter by its UUID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param id The UUID assigned to the workcenter.
 @return ApiProductionOperationsManagementApiGetWorkcenterRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenter(ctx context.Context, id string) ApiProductionOperationsManagementApiGetWorkcenterRequest {
	return ApiProductionOperationsManagementApiGetWorkcenterRequest{
		ApiService: a,
		ctx: ctx,
		id: id,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetWorkcenterResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenterExecute(r ApiProductionOperationsManagementApiGetWorkcenterRequest) (*ProductionOperationsManagementApiGetWorkcenterResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetWorkcenterResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetWorkcenter")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/workcenters/{id}"
	localVarPath = strings.Replace(localVarPath, "{"+"id"+"}", url.PathEscape(parameterValueToString(r.id, "id")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		if localVarHTTPResponse.StatusCode == 404 {
			var v ProductionOperationsManagementApiGetWorkcenter404Response
			err = a.client.decode(&v, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
			if err != nil {
				newErr.error = err.Error()
				return localVarReturnValue, localVarHTTPResponse, newErr
			}
					newErr.error = formatErrorMessage(localVarHTTPResponse.Status, &v)
					newErr.model = v
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetWorkcenterEventRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterEventId string
}

func (r ApiProductionOperationsManagementApiGetWorkcenterEventRequest) Execute() (*ProductionOperationsManagementApiGetWorkcenterEventResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetWorkcenterEventExecute(r)
}

/*
ProductionOperationsManagementApiGetWorkcenterEvent Get Workcenter Event

Retrieves a workcenter event by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterEventId A unique identifier of a workcenter event
 @return ApiProductionOperationsManagementApiGetWorkcenterEventRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenterEvent(ctx context.Context, workcenterEventId string) ApiProductionOperationsManagementApiGetWorkcenterEventRequest {
	return ApiProductionOperationsManagementApiGetWorkcenterEventRequest{
		ApiService: a,
		ctx: ctx,
		workcenterEventId: workcenterEventId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetWorkcenterEventResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenterEventExecute(r ApiProductionOperationsManagementApiGetWorkcenterEventRequest) (*ProductionOperationsManagementApiGetWorkcenterEventResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetWorkcenterEventResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetWorkcenterEvent")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/production-definitions/workcenter-events/{workcenterEventId}"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterEventId"+"}", url.PathEscape(parameterValueToString(r.workcenterEventId, "workcenterEventId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetWorkcenterSetupRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterId string
}

func (r ApiProductionOperationsManagementApiGetWorkcenterSetupRequest) Execute() (*ProductionOperationsManagementApiGetWorkcenterSetupResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetWorkcenterSetupExecute(r)
}

/*
ProductionOperationsManagementApiGetWorkcenterSetup Get Workcenter Setup

Retrieves a workcenters current status, setup, and operators by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterId A unique identifier of the workcenter.
 @return ApiProductionOperationsManagementApiGetWorkcenterSetupRequest
*/
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenterSetup(ctx context.Context, workcenterId string) ApiProductionOperationsManagementApiGetWorkcenterSetupRequest {
	return ApiProductionOperationsManagementApiGetWorkcenterSetupRequest{
		ApiService: a,
		ctx: ctx,
		workcenterId: workcenterId,
	}
}

// Execute executes the request
//  @return ProductionOperationsManagementApiGetWorkcenterSetupResponse
func (a *ProductionOperationsManagementAPIAPIService) ProductionOperationsManagementApiGetWorkcenterSetupExecute(r ApiProductionOperationsManagementApiGetWorkcenterSetupRequest) (*ProductionOperationsManagementApiGetWorkcenterSetupResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *ProductionOperationsManagementApiGetWorkcenterSetupResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProductionOperationsManagementAPIAPIService.ProductionOperationsManagementApiGetWorkcenterSetup")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/production/v1/control/workcenters/{workcenterId}"
	localVarPath = strings.Replace(localVarPath, "{"+"workcenterId"+"}", url.PathEscape(parameterValueToString(r.workcenterId, "workcenterId")), -1)

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}

type ApiProductionOperationsManagementApiGetWorkcenterStatusRequest struct {
	ctx context.Context
	ApiService *ProductionOperationsManagementAPIAPIService
	workcenterStatusId string
}

func (r ApiProductionOperationsManagementApiGetWorkcenterStatusRequest) Execute() (*ProductionOperationsManagementApiGetWorkcenterStatusResponse, *http.Response, error) {
	return r.ApiService.ProductionOperationsManagementApiGetWorkcenterStatusExecute(r)
}

/*
ProductionOperationsManagementApiGetWorkcenterStatus Get Workcenter Status

Retrieves a workcenter status by ID.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @param workcenterStatusId A unique identifier of a workcenter status.
[...]
