/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package plex

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
)


// TrialBalancesAPIAPIService TrialBalancesAPIAPI service
type TrialBalancesAPIAPIService service

type ApiTrialBalancesApiGetTrialBalanceRequest struct {
	ctx context.Context
	ApiService *TrialBalancesAPIAPIService
	periodDisplayBegin *string
	periodDisplayEnd *string
	excludePeriod13 *bool
	periodAdjustmentEntries *bool
}

// The starting period used to return trial balance records.
func (r ApiTrialBalancesApiGetTrialBalanceRequest) PeriodDisplayBegin(periodDisplayBegin string) ApiTrialBalancesApiGetTrialBalanceRequest {
	r.periodDisplayBegin = &periodDisplayBegin
	return r
}

// The ending period used to return trial balance records.
func (r ApiTrialBalancesApiGetTrialBalanceRequest) PeriodDisplayEnd(periodDisplayEnd string) ApiTrialBalancesApiGetTrialBalanceRequest {
	r.periodDisplayEnd = &periodDisplayEnd
	return r
}

// Specify if 13th period records are excluded from the trial balance report.
func (r ApiTrialBalancesApiGetTrialBalanceRequest) ExcludePeriod13(excludePeriod13 bool) ApiTrialBalancesApiGetTrialBalanceRequest {
	r.excludePeriod13 = &excludePeriod13
	return r
}

// Specify if period adjustment records are included in the trial balance report.
func (r ApiTrialBalancesApiGetTrialBalanceRequest) PeriodAdjustmentEntries(periodAdjustmentEntries bool) ApiTrialBalancesApiGetTrialBalanceRequest {
	r.periodAdjustmentEntries = &periodAdjustmentEntries
	return r
}

func (r ApiTrialBalancesApiGetTrialBalanceRequest) Execute() (*TrialBalancesApiGetTrialBalanceResponse, *http.Response, error) {
	return r.ApiService.TrialBalancesApiGetTrialBalanceExecute(r)
}

/*
TrialBalancesApiGetTrialBalance Get Trial Balance

Generate the Trial Balance Report based on specified parameters.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiTrialBalancesApiGetTrialBalanceRequest
*/
func (a *TrialBalancesAPIAPIService) TrialBalancesApiGetTrialBalance(ctx context.Context) ApiTrialBalancesApiGetTrialBalanceRequest {
	return ApiTrialBalancesApiGetTrialBalanceRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return TrialBalancesApiGetTrialBalanceResponse
func (a *TrialBalancesAPIAPIService) TrialBalancesApiGetTrialBalanceExecute(r ApiTrialBalancesApiGetTrialBalanceRequest) (*TrialBalancesApiGetTrialBalanceResponse, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  *TrialBalancesApiGetTrialBalanceResponse
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "TrialBalancesAPIAPIService.TrialBalancesApiGetTrialBalance")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/accounting/v1/trial-balance"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.periodDisplayBegin != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayBegin", r.periodDisplayBegin, "form", "")
	}
	if r.periodDisplayEnd != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodDisplayEnd", r.periodDisplayEnd, "form", "")
	}
	if r.excludePeriod13 != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "excludePeriod13", r.excludePeriod13, "form", "")
	}
	if r.periodAdjustmentEntries != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "periodAdjustmentEntries", r.periodAdjustmentEntries, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
