/*
Plex Developer API

Auto-generated OpenAPI spec from developers.plex.com

API version: v1
*/

// Code generated by OpenAPI Generator (https://openapi-generator.tech); DO NOT EDIT.

package openapi

import (
	"bytes"
	"context"
	"io"
	"net/http"
	"net/url"
	"reflect"
)


// ProcessControlRecipeFamilyTypesAPIAPIService ProcessControlRecipeFamilyTypesAPIAPI service
type ProcessControlRecipeFamilyTypesAPIAPIService service

type ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest struct {
	ctx context.Context
	ApiService *ProcessControlRecipeFamilyTypesAPIAPIService
	name *[]string
	workcenterOnly *bool
}

// The list of process control recipe family type names.
func (r ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest) Name(name []string) ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest {
	r.name = &name
	return r
}

// The designation to signify the type is workcenter only.
func (r ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest) WorkcenterOnly(workcenterOnly bool) ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest {
	r.workcenterOnly = &workcenterOnly
	return r
}

func (r ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest) Execute() ([]ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesItem, *http.Response, error) {
	return r.ApiService.ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesExecute(r)
}

/*
ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypes List Process Control Recipe Family Types

Retrieve a list of process control recipe family types.

 @param ctx context.Context - for authentication, logging, cancellation, deadlines, tracing, etc. Passed from http.Request or context.Background().
 @return ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest
*/
func (a *ProcessControlRecipeFamilyTypesAPIAPIService) ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypes(ctx context.Context) ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest {
	return ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest{
		ApiService: a,
		ctx: ctx,
	}
}

// Execute executes the request
//  @return []ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesItem
func (a *ProcessControlRecipeFamilyTypesAPIAPIService) ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesExecute(r ApiProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesRequest) ([]ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesItem, *http.Response, error) {
	var (
		localVarHTTPMethod   = http.MethodGet
		localVarPostBody     interface{}
		formFiles            []formFile
		localVarReturnValue  []ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypesItem
	)

	localBasePath, err := a.client.cfg.ServerURLWithContext(r.ctx, "ProcessControlRecipeFamilyTypesAPIAPIService.ProcessControlRecipeFamilyTypesApiListProcessControlRecipeFamilyTypes")
	if err != nil {
		return localVarReturnValue, nil, &GenericOpenAPIError{error: err.Error()}
	}

	localVarPath := localBasePath + "/quality/v1/process-control-recipe-family-types"

	localVarHeaderParams := make(map[string]string)
	localVarQueryParams := url.Values{}
	localVarFormParams := url.Values{}

	if r.name != nil {
		t := *r.name
		if reflect.TypeOf(t).Kind() == reflect.Slice {
			s := reflect.ValueOf(t)
			for i := 0; i < s.Len(); i++ {
				parameterAddToHeaderOrQuery(localVarQueryParams, "name", s.Index(i).Interface(), "form", "multi")
			}
		} else {
			parameterAddToHeaderOrQuery(localVarQueryParams, "name", t, "form", "multi")
		}
	}
	if r.workcenterOnly != nil {
		parameterAddToHeaderOrQuery(localVarQueryParams, "workcenterOnly", r.workcenterOnly, "form", "")
	}
	// to determine the Content-Type header
	localVarHTTPContentTypes := []string{}

	// set Content-Type header
	localVarHTTPContentType := selectHeaderContentType(localVarHTTPContentTypes)
	if localVarHTTPContentType != "" {
		localVarHeaderParams["Content-Type"] = localVarHTTPContentType
	}

	// to determine the Accept header
	localVarHTTPHeaderAccepts := []string{"application/json"}

	// set Accept header
	localVarHTTPHeaderAccept := selectHeaderAccept(localVarHTTPHeaderAccepts)
	if localVarHTTPHeaderAccept != "" {
		localVarHeaderParams["Accept"] = localVarHTTPHeaderAccept
	}
	if r.ctx != nil {
		// API Key Authentication
		if auth, ok := r.ctx.Value(ContextAPIKeys).(map[string]APIKey); ok {
			if apiKey, ok := auth["apiKey"]; ok {
				var key string
				if apiKey.Prefix != "" {
					key = apiKey.Prefix + " " + apiKey.Key
				} else {
					key = apiKey.Key
				}
				localVarHeaderParams["X-Plex-Connect-Api-Key"] = key
			}
		}
	}
	req, err := a.client.prepareRequest(r.ctx, localVarPath, localVarHTTPMethod, localVarPostBody, localVarHeaderParams, localVarQueryParams, localVarFormParams, formFiles)
	if err != nil {
		return localVarReturnValue, nil, err
	}

	localVarHTTPResponse, err := a.client.callAPI(req)
	if err != nil || localVarHTTPResponse == nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	localVarBody, err := io.ReadAll(localVarHTTPResponse.Body)
	localVarHTTPResponse.Body.Close()
	localVarHTTPResponse.Body = io.NopCloser(bytes.NewBuffer(localVarBody))
	if err != nil {
		return localVarReturnValue, localVarHTTPResponse, err
	}

	if localVarHTTPResponse.StatusCode >= 300 {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: localVarHTTPResponse.Status,
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	err = a.client.decode(&localVarReturnValue, localVarBody, localVarHTTPResponse.Header.Get("Content-Type"))
	if err != nil {
		newErr := &GenericOpenAPIError{
			body:  localVarBody,
			error: err.Error(),
		}
		return localVarReturnValue, localVarHTTPResponse, newErr
	}

	return localVarReturnValue, localVarHTTPResponse, nil
}
