openapi: 3.0.3
info:
  description: Auto-generated OpenAPI spec from developers.plex.com
  title: Plex Developer API
  version: v1
servers:
- url: https://connect.plex.com
- url: https://connect.test.plex.com
security:
- apiKey: []
tags:
- description: "The Accounts Payable Invoices API is used to retrieve Accounts Payable\
    \ invoices, Accounts Payable invoice lines, and Accounts Payable invoice tax data."
  name: Accounts Payable Invoices API
- description: "The Accounts Payable Payments API is used to retrieve Accounts Payable\
    \ Payments, Accounts Payable Payment Lines and Accounts Payable Payment Checks\
    \ data."
  name: Accounts Payable Payments API
- description: The Account Receivable Deposits API is used to retrieve Account Receivable
    Deposits and Account Receivable Deposit Lines data.
  name: Accounts Receivable Deposits API
- description: "The Accounts Receivable Invoices API is used to retrieve Accounts\
    \ Receivable invoices, Accounts Receivable invoice lines, and Accounts Receivable\
    \ invoice tax data."
  name: Accounts Receivable Invoices API
- description: The Activity Manager API is used to manage activity data.
  name: Activity Manager API
- description: The Approved Suppliers API is used to retrieve approved suppliers and
    pricing information.
  name: Approved Suppliers API
- description: The BOM API is used to manage BOM Data.
  name: BOM API
- description: The Building API is used to manage building data.
  name: Buildings API
- description: The Chart of Accounts API is used to manage the chart of accounts master
    data.
  name: Chart of Accounts API
- description: The Checksheets API is used to manage checksheet data.
  name: Checksheet API
- description: The Checksheet Types API is used to manage checksheet type data.
  name: Checksheet Type API
- description: The Contacts API is used to manage contact master data.
  name: Contacts API
- description: The Control Plan Types API is used to manage control plan type data.
  name: Control Plan Types API
- description: The Control Plans API is used to manage control plan data.
  name: Control Plans API
- description: "The custom fields API to query standard objects, field definitions,\
    \ field types"
  name: Custom Fields API
- description: "The custom objects API to query custom objects, custom object field\
    \ definitions, and data records of custom objects."
  name: Custom Objects API
- description: The Customer Parts API is used to manage customer part master data.
  name: Customer Parts API
- description: The Customer Shippers API is used to manage customer shipper data.
  name: Customer Shippers API
- description: The Customer Trucks API is used to manage customer truck data.
  name: Customer Trucks API
- description: "The Customers API is used to manage customer master data, including\
    \ financial information and addresses."
  name: Customers API
- description: The Deviation Status API is used to manage deviation status data.
  name: Deviation Status API
- description: The Deviations API is used to manage deviation data.
  name: Deviations API
- description: The Document Control System (DCS) API is used retrieve documents and
    list attachments.
  name: Document Control System API
- description: The Dynamic Multi Out Sets API is used to manage dynamic multi out
    set data.
  name: Dynamic Multi Out Sets API
- description: The Dynamic Multi Out Templates API is used to manage dynamic multi
    out template data.
  name: Dynamic Multi Out Templates API
- description: The EDI API is used to manage EDI data.
  name: EDI API
- description: "The Employees API is used to manage employee and user master data.\
    \ Note: Any endpoints that alter data cannot be used if your PCN has been fully\
    \ migrated to IAM.  The Get and List endpoints are still accessible."
  name: Employees API
- description: The Equipment API is used to manage equipment data.
  name: Equipment API
- description: The Fiscal Period Statuses API is used to retrieve Fiscal Period Status
    data.
  name: Fiscal Period Statuses API
- description: The General Ledger Transactions API is used to retrieve General Ledger
    Transactions data.
  name: General Ledger Transactions API
- description: The Identity Mappings API is used to retrieve a list of IDs for a specified
    standard object by searching against keys or retrieves a list of identity keys
    and their values that uniquely identify a standard object record.
  name: Id Conversion API
- description: The Inspection Modes API is used to manage inspection modes data.
  name: Inspection Modes API
- description: |-
    Manage and monitor inventory of purchased components, WIP, and Finished Goods.
    Disclaimer: This API contains a mixture of stable and beta endpoints. Some endpoints have been recently added as a part of a limited beta release for our community to test and review documentation. Beta endpoints have limited support duration and may be subject to change. We're very interested in your feedback, which you can provide here: Plex-API-Beta@Plex.com.
  name: Inventory Operations Management API
- description: The Inventory Tracking API is used to manage Inventory Data.
  name: Inventory Tracking API
- description: Manage and schedule production jobs.
  name: Job Scheduling API
- description: The Journal Entries API is used to retrieve journal entries and journal
    entry lines.
  name: Journal Entries API
- description: The Just In Sequence API is used to manage sequenced shipping data.
  name: Just In Sequence API
- description: The Key Measurables API is used to manage key measurable (metric) data
    displayed on the Business Function Dashboard in Plex.
  name: Key Measurables API
- description: The Kit Recommendations API is used to manage BOM recommendations for
    Material Kitting.
  name: Kit Recommendations API
- description: The Operating Parameters API is used to manage operating parameters
    data. The Operating Parameters module must be enabled.
  name: Operating Parameters API
- description: The Part Specifications API is used to manage part specifications data.
  name: Part Specifications API
- description: The Parts API is used to manage part master data.
  name: Parts API
- description: The 'Plex APM API' is used to fetch equipment(assets) and parameters(tags)
    data from Plex APM(IIoT).
  name: Plex APM API
- description: |-
    Tag Data Endpoint
    You can use this to query the data points(numerical tags data) and events(boolean and string tags data) from Plex APM. In order to query the data, currently, only $filter, $select and $top query parameters are supported.
    How to use the API:

    Parameter $filter query is required.
    Parameter $filter query must always have StartDateTime and EndDateTime.
    For $filter query, allowed logical operators are: eq/and/in/startswith/endswith.
    All query parameters are case-sensitive.
    All query paramters should be provided in complete length with eq or in logical operators. A partial match won't be returned in the response.
    Startswith, Endswith operator currently support only AssetCode, AssetName, TagName and TagAlias for partial text search or wildcard search. The response will always have StartDateTime and EndDateTime query parameters returned with null value hence this can be ignored. The actual timestamp of the record is indicated by ReceivedISOTimestamp in the response.
    For $filter query, start date cannot be before 2019-01-01T00:00:00Z.
    Parameter $top query is optional with max limit of 50000.
    Parameter $orderBy is not supported.
    Parameter $filter date range defined by StartDateTime and EndDateTime must not exceed 31 days.

    Query Options
    Following are sample OData parameters queries (Query options overview - OData | Microsoft Docs)
    $select: For retrieving specific columns in the response, you should provide $select parameter. Following are the acceptable values for select query:

    AssetCode
    AssetName
    TagName
    TagAlias
    DataType
    StreamType
    Value
    MeasuringUnit
    Quality
    ReceivedISOTimestamp
    Severity
    EventReason
    Source
    GatewayName
    GatewayId
    StartDateTime
    EndDateTime

    $top: For limiting response to a specific record count, you should provide $top parameter. If user does not provide $top parameter, response will be served with a default limit of 50000. $top accepts a non-negative integer value.
    $filter: For fetching the tag data, you must provide $filter parameter. Allowed logical operators for filter query are - eq, and, in, startswith, endswith. Following list describes allowed $filter query parameters, along with their acceptable values/format:

    StartDateTime: Start datetime for the filter query is mandatory.Valid format: YYYY-MM-DDThh:mm:ssZ.
    EndDateTime: End datetime for the filter query is mandatory.Valid format: YYYY-MM-DDThh:mm:ssZ.
    AssetCode: Single or comma-separated list of asset codes using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete asset code for matching using eq or in. For partial text search, use startswith or endswith.
    AssetName: Single or comma-separated list of asset names using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete asset name for matching using eq or in. For partial text search, use startswith or endswith.
    TagName: Single or comma-separated list of tag names using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete tag name for matching using eq or in. For partial text search, use startswith or endswith.
    TagAlias: Single or comma-separated list of tag alias using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete tag alias for matching using eq or in.For partial text search, use startswith or endswith.
    DataType: Single or comma-separated list of data types using eq or in or startswith or endswith respectively, for which response is retrieved.This parameter is case-sensitive and requires the complete data type for matching. Following are the allowed values for data type: Numerical, Boolean, String.
    StreamType: Single or comma-separated list of stream types using eq or in or startswith or endswith respectively, for which response is retrieved. Stream type values are case-sensitive and requires the complete stream type for matching. Following are the allowed values for stream type:

    Boolean: Problem, Abnormal, Action Required, Maintenance, In-Cycle, Idle, Off, Other and any user-defined Boolean stream types.
    Numerical: Threshold, Discreet, Continuous.
    String: Part Number, Batch Number, Job Number, Operation Code, Operation Number, Other, Lot Number, Process Code, Tool Number` and any user-defined string stream types.


    MeasuringUnit: Single or comma-separated list of unit abbreviation using eq or in respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete unit abbreviation for matching.
    Source: Single or comma-separated list of sources using eq or in or startswith or endswith respectively. A source in Plex APM could be a gateway name, 'Complex Event Processor' for threshold events, or a system-defined source for user actions. This parameter is case-sensitive and requires the complete source name for matching.
    GatewayName: Single or comma-separated list of gateway name using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete gateway name for matching.
    GatewayId: Single or comma-separated list of gateway ID using eq or in or startswith or endswith respectively, for which response is retrieved. This parameter is case-sensitive and requires the complete gateway ID for matching.

    Following are examples of filter, select, and top query that combine logical operator and query parameters.

    $filter=startdatetime eq 2021-07-12T00:00:00Z and enddatetime eq 2021-07-12T07:01:55Z
    $filter=startdatetime eq 2021-07-12T00:00:00Z and enddatetime eq 2021-07-12T07:01:55Z and source in ('GatewayName1', 'GatewayName2') and assetcode eq 'AssetCode1' and assetname in ('AssetName1')
    $filter=startdatetime eq 2021-07-12T00:00:00Z and enddatetime eq 2021-07-12T07:01:55Z and assetcode in ('AssetCode1', 'AssetCode2') and tagName in ('TagName1', 'TagName2')&amp;$select=TagName, AssetCode, AssetName, GatewayName, Value,ReceivedISOTimestamp&amp;$top=10
    $filter=startdatetime eq 2021-07-12T00:00:00Z and enddatetime eq 2021-07-12T07:01:55Z and startswith(tagname,'Ex') and endswith(tagname,'Bool')
    $filter=startdatetime eq 2021-07-12T00:00:00Z and enddatetime eq 2021-07-12T07:01:55Z and startswith(tagalias,'Ex') and endswith(tagalias,'Bool') and assetname eq 'Broach-06' and MeasuringUnit eq 'kA'
  name: Plex APM OData API
- description: The Price Adjustments API is used to manage price adjustment data.
  name: Price Adjustments API
- description: The Process Control Plans API is used to manage process control recipe
    control plans data.
  name: Process Control Plans API
- description: The Process Control Recipe Family API is used to manage process control
    recipe family data.
  name: Process Control Recipe Family API
- description: The Process Control Recipe Family Types API is used to manage process
    control recipe family types data.
  name: Process Control Recipe Family Types API
- description: The Process Routings API is used to manage part operations.
  name: Process Routings API
- description: The Process Specifications API is used to manage process specification
    data.
  name: Process Specifications API
- description: |-
    Manage and monitor shop floor activities.
    Disclaimer: This API contains a mixture of stable and beta endpoints. Some endpoints have been recently added as a part of a limited beta release for our community to test and review documentation. Beta endpoints have limited support duration and may be subject to change. We're very interested in your feedback, which you can provide here: Plex-API-Beta@Plex.com.
  name: Production Operations Management API
- description: The Purchase Order Releases API is used to retrieve and modify purchase
    order releases.
  name: Purchase Order Releases API
- description: |-
    Use the Purchase Order Releases Batch API to send a large number of release Create, Update, or Cancel requests to Plex for processing. Send a POST request to a batch endpoint and Plex will process the requests. Use a GET request to track the status of the batch request as it is processing.
    Instructions:

    Create a batch by submitting a POST request to one of the batch endpoints:

    POST purchasing/v1/release-batch/cancel
    POST purchasing/v1/release-batch/update
    POST purchasing/v1/release-batch/create
    POST purchasing/v1/release-batch/delete
    POST purchasing/v2-beta1/release-batch/delete


    Format the request to use the appropriate Resource IDs and data.
    For Create Releases, provide a unique identifier for the release or it will be  automatically generated.
    Save the Batch Request ID that is returned in the response. Use this ID to check the status of the batch process.
    Use the Batch Request ID in a GET request to purchasing/v1/release-batch/{id} at regular intervals to view the status of releases that have been processed and to view any failure information.
    When the batch is complete, persist any errors that the customer encountered.

    At this time, the following functions of Plex are not supported by this API:

    Revision Tracking
    Email and EDI Notifications
    Multi-Entity Releases
    JIT / RAN
    Creation of Release Jobs

    Additional Technical Limitations:

    Request Body Size Maximum: 10MB
    GET Release Batch Endpoint

    Batch progress data will only persist in Plex for a short period of time.
    Successful request data will remain for 1 day.
    Failed request data will remain for 3 days.
    NOTE: The actual purchase order release data being created/modified will persist indefinitely as usual.
  name: Purchase Order Releases Batch API
- description: "The Purchase Orders API is used to retrieve purchase order information,\
    \ including line items. This API exposes endpoints to retrieve purchase orders\
    \ and their sub-resources in the context of Purchasing. Use a GET request to retrieve\
    \ the information about purchase orders, line items related to purchase orders,\
    \ purchase order types, and statuses."
  name: Purchase Orders API
- description: The Receipts API is used to retrieve receipts.
  name: Receipts API
- description: The Sales Orders API is used to manage sales order data.
  name: Sales Orders API
- description: The Sales Releases API is used to manage sales release data.
  name: Sales Releases API
- description: The Sample Plans API is used to manage sample plan data.
  name: Sample Plans API
- description: The Shipping Inventory API is used to manage shipping inventory data.
  name: Shipping Inventory API
- description: The Specification Types API is used to manage specification type data.
  name: Specification Types API
- description: "The Supplier Returns API is used to retrieve supplier returns, including\
    \ line items."
  name: Supplier Returns API
- description: "The Suppliers API is used to manage supplier master data, including\
    \ financial information, addresses, and purchasing information."
  name: Suppliers API
- description: The Supply Item Suppliers API is used to retrieve supply item suppliers
    and pricing information.
  name: Supply Item Suppliers API
- description: The Supply Items API is used to manage supply item master data.
  name: Supply Items API
- description: The Tenant Directory API is used to retrieve tenant information for
    use with other Plex APIs.
  name: Tenant Directory API
- description: The Time Clock Entries API is used to retrieve time clock entries.
  name: Time Clock Entries API
- description: The Tolerance Types API is used to manage tolerance types data.
  name: Tolerance Types API
- description: The Transfer Orders API is used to manage transfer order data.
  name: Transfer Orders API
- description: The Trial Balances API is used to retrieve Trial Balance data.
  name: Trial Balances API
- description: The User Accounts API is used to manage user account master data.
  name: User Accounts API
paths:
  /accounting/v1/ap-invoices:
    get:
      description: "Disclaimer: The APIs are designed to maintain optimal performance\
        \ with a limit of 1,000 invoices per call (depending on the number of distribution\
        \ lines per invoice). To avoid timeout errors, you can apply relevant filters\
        \ to retrieve a more specific response."
      operationId: accounts_payable_invoices_api_List_AP_Invoices
      parameters:
      - description: The AP invoice ID.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The AP invoice number.
        explode: true
        in: query
        name: invoiceNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The beginning period used to return AP invoice records.
        explode: true
        in: query
        name: periodDisplayBegin
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The end period used to return AP invoice records.
        explode: true
        in: query
        name: periodDisplayEnd
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The beginning date used to return AP transaction records during
          a period.
        explode: true
        in: query
        name: transactionDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AP transaction records during a period.
        explode: true
        in: query
        name: transactionDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The beginning date used to return AP invoices created within
          a time frame.
        explode: true
        in: query
        name: createdDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AP invoices created within a time
          frame.
        explode: true
        in: query
        name: createdDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The beginning date used to return AP invoices modified within
          a time frame.
        explode: true
        in: query
        name: modifiedDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AP invoices modified within a time
          frame.
        explode: true
        in: query
        name: modifiedDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: Specify that the AP invoice is booked.
        explode: true
        in: query
        name: booked
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The AP invoice supplier code.
        explode: true
        in: query
        name: supplierCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AP invoice purchase order number.
        explode: true
        in: query
        name: poNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AP invoice shipper number.
        explode: true
        in: query
        name: shipperNo
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AP invoice status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AP invoice external reference code.
        explode: true
        in: query
        name: externalReferenceCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: Specify that the AP invoice is paid.
        explode: true
        in: query
        name: paid
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/accounts_payable_invoices_api_List_AP_Invoices_item"
                title: accounts_payable_invoices_api_List_AP_Invoices_response
                type: array
          description: Query executed successfully.
      summary: List AP Invoices
      tags:
      - Accounts Payable Invoices API
    post:
      description: Add an AP invoice.
      operationId: accounts_payable_invoices_api_Create_AP_Invoice
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_payable_invoices_api_Create_AP_Invoice_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Create_AP_Invoice_201_response"
          description: The record was created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Create_AP_Invoice_400_response"
          description: Validation error.
      summary: Create AP Invoice
      tags:
      - Accounts Payable Invoices API
  /accounting/v1/ap-invoices/{id}:
    get:
      description: Retrieves an AP invoice by ID.
      operationId: accounts_payable_invoices_api_Get_AP_Invoice
      parameters:
      - description: The Accounts Payable invoice ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Get_AP_Invoice_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
      summary: Get AP Invoice
      tags:
      - Accounts Payable Invoices API
    put:
      description: Update an AP invoice.
      operationId: accounts_payable_invoices_api_Update_AP_Invoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_payable_invoices_api_Update_AP_Invoice_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Update_AP_Invoice_response"
          description: Query executed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Update_AP_Invoice_400_response"
          description: Validation error.
        "404":
          description: Resource not found.
      summary: Update AP Invoice
      tags:
      - Accounts Payable Invoices API
  /accounting/v1/ap-invoices/{id}/linkreceipts:
    post:
      description: "Disclaimer: The Accounts Payable Invoices API only links the following\
        \ supported receipt types with AP invoices: receiving and consignment usage.\
        \ This API does not link settlement receipts with AP invoices. The APIs are\
        \ designed to maintain optimal performance with a limit of 300 receipts per\
        \ invoice per call. To avoid timeout errors, you can call this endpoint in\
        \ batches of 300 receipts each to link more receipts to an invoice."
      operationId: accounts_payable_invoices_api_Link_Receipts_With_AP_Invoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_payable_invoices_api_Link_Receipts_With_AP_Invoice_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Link_Receipts_With_AP_Invoice_response"
          description: Query executed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Link_Receipts_With_AP_Invoice_400_response"
          description: Validation error.
        "404":
          description: Resource not found.
      summary: Link Receipts With AP Invoice
      tags:
      - Accounts Payable Invoices API
  /accounting/v1/ap-invoices/{id}/unlinkreceipts:
    post:
      description: "Disclaimer: The APIs are designed to maintain optimal performance\
        \ with a limit of 300 receipts per invoice per call. To avoid timeout errors,\
        \ you can call this endpoint in batches of 300 receipts each to unlink more\
        \ receipts from an invoice."
      operationId: accounts_payable_invoices_api_Unlink_Receipts_From_AP_Invoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_payable_invoices_api_Unlink_Receipts_From_AP_Invoice_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Unlink_Receipts_From_AP_Invoice_response"
          description: Query executed successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_invoices_api_Unlink_Receipts_From_AP_Invoice_400_response"
          description: Validation error.
        "404":
          description: Resource not found.
      summary: Unlink Receipts From AP Invoice
      tags:
      - Accounts Payable Invoices API
  /accounting/v1/ap-payments/{id}:
    get:
      description: Retrieves an AP Payment by ID.
      operationId: accounts_payable_payments_api_Get_AP_Payment
      parameters:
      - description: The Accounts Payable Payment resource id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_payable_payments_api_Get_AP_Payment_response"
          description: The query executed successfully.
        "404":
          description: The resource does not exist.
      summary: Get AP Payment
      tags:
      - Accounts Payable Payments API
  /accounting/v1/ap-payments:
    get:
      description: List AP payments based on specified parameters.
      operationId: accounts_payable_payments_api_List_AP_Payments
      parameters:
      - description: The ID of the AP Payment.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The AP payment number.
        explode: true
        in: query
        name: paymentNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The starting period used to return AP payment records.
        explode: true
        in: query
        name: periodDisplayBegin
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The ending period used to return AP payment records.
        explode: true
        in: query
        name: periodDisplayEnd
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The start date used to return AP payment transaction records
          during a period.
        explode: true
        in: query
        name: transactionDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:41Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AP payment transaction records during
          a period.
        explode: true
        in: query
        name: transactionDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:41Z
          format: date-time
          type: string
        style: form
      - description: The beginning date used to return AP payments created within
          a time frame.
        explode: true
        in: query
        name: createdDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:41Z
          format: date-time
          type: string
        style: form
      - description: The ending date used to return AP payments created within a time
          frame.
        explode: true
        in: query
        name: createdDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:41Z
          format: date-time
          type: string
        style: form
      - description: Specify AP payment is booked.
        explode: true
        in: query
        name: booked
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/accounts_payable_payments_api_List_AP_Payments_item"
                title: accounts_payable_payments_api_List_AP_Payments_response
                type: array
          description: The query executed successfully.
      summary: List AP Payments
      tags:
      - Accounts Payable Payments API
  /accounting/v1/ar-deposits/{id}:
    get:
      description: Retrieve an AR Deposit by ID.
      operationId: accounts_receivable_deposits_api_Get_AR_Deposit
      parameters:
      - description: The Accounts Receivable Deposit's resource id.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_deposits_api_Get_AR_Deposit_response"
          description: The query executed successfully.
        "404":
          description: The resource does not exist.
      summary: Get AR Deposit
      tags:
      - Accounts Receivable Deposits API
  /accounting/v1/ar-deposits:
    get:
      description: List AR Deposits based on specified parameters.
      operationId: accounts_receivable_deposits_api_List_AR_Deposits
      parameters:
      - description: The ID of the AR Deposit.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The AR deposit number.
        explode: true
        in: query
        name: depositNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The start date used to return AR deposit records during a period.
        explode: true
        in: query
        name: periodDisplayBegin
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The end date used to return AR deposit records during a period.
        explode: true
        in: query
        name: periodDisplayEnd
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The beginning date used to return AR deposit transaction records
          during a period.
        explode: true
        in: query
        name: transactionDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The ending date used to return AR deposit transaction records
          during a period.
        explode: true
        in: query
        name: transactionDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The beginning date used to return AR deposits created within
          a time frame.
        explode: true
        in: query
        name: createdDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: The ending date used to return AR deposits created within a time
          frame.
        explode: true
        in: query
        name: createdDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:44Z
          format: date-time
          type: string
        style: form
      - description: Specify AR deposit is booked.
        explode: true
        in: query
        name: booked
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/accounts_receivable_deposits_api_List_AR_Deposits_item"
                title: accounts_receivable_deposits_api_List_AR_Deposits_response
                type: array
          description: The query executed successfully.
      summary: List AR Deposits
      tags:
      - Accounts Receivable Deposits API
  /accounting/v1/ar-invoices:
    get:
      description: "Disclaimer: The APIs are designed to maintain optimal performance\
        \ with a limit of 1,000 invoices per call (depending on the number of distribution\
        \ lines per invoice). To avoid timeout errors, you can apply relevant filters\
        \ to retrieve a more specific response."
      operationId: accounts_receivable_invoices_api_List_AR_Invoices
      parameters:
      - description: The ID of the AR invoice.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The AR invoice number.
        explode: true
        in: query
        name: invoiceNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The beginning date used to return AR invoice records during a
          period.
        explode: true
        in: query
        name: periodDisplayBegin
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The end date used to return AR invoice records during a period.
        explode: true
        in: query
        name: periodDisplayEnd
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The beginning date used to return AR transaction records during
          a period.
        explode: true
        in: query
        name: transactionDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AR transaction records during a period.
        explode: true
        in: query
        name: transactionDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The beginning date used to return AR invoices created within
          a time frame.
        explode: true
        in: query
        name: createdDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AR invoices created within a time
          frame.
        explode: true
        in: query
        name: createdDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: Specify that an AR invoice has a booked status.
        explode: true
        in: query
        name: booked
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The beginning date used to return AR invoices modified within
          a time frame.
        explode: true
        in: query
        name: modifiedDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The end date used to return AR invoices modified within a time
          frame.
        explode: true
        in: query
        name: modifiedDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The AR invoice customer code.
        explode: true
        in: query
        name: customerCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AR invoice customer purchase order number.
        explode: true
        in: query
        name: customerPONo
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The AR invoice status.
        explode: true
        in: query
        name: status
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: "Specify whether or not the AR invoices in your query results\
          \ have been paid by entering one of the following: 0 - Unpaid invoices only,\
          \ 1 - Fully paid invoices only, 2 - Partially paid invoices only, 3 - All\
          \ invoices."
        explode: true
        in: query
        name: paid
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: Specify that the AR invoice is void.
        explode: true
        in: query
        name: void
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/accounts_receivable_invoices_api_List_AR_Invoices_item"
                title: accounts_receivable_invoices_api_List_AR_Invoices_response
                type: array
          description: Query executed successfully.
      summary: List AR Invoices
      tags:
      - Accounts Receivable Invoices API
    post:
      description: Add an AR invoice.
      operationId: accounts_receivable_invoices_api_Create_AR_Invoice
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_receivable_invoices_api_Create_AR_Invoice_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_invoices_api_Create_AR_Invoice_201_response"
          description: The record was created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_invoices_api_Create_AR_Invoice_400_response"
          description: Validation error.
      summary: Create AR Invoice
      tags:
      - Accounts Receivable Invoices API
  /accounting/v1/ar-invoices/{id}:
    get:
      description: Retrieve an AR invoice by ID.
      operationId: accounts_receivable_invoices_api_Get_AR_Invoice
      parameters:
      - description: The Accounts Receivable invoice ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_invoices_api_Get_AR_Invoice_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
      summary: Get AR Invoice
      tags:
      - Accounts Receivable Invoices API
    put:
      description: Update an AR invoice.
      operationId: accounts_receivable_invoices_api_Update_AR_Invoice
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/accounts_receivable_invoices_api_Update_AR_Invoice_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_invoices_api_Update_AR_Invoice_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/accounts_receivable_invoices_api_Update_AR_Invoice_400_response"
          description: Validation error.
      summary: Update AR Invoice
      tags:
      - Accounts Receivable Invoices API
  /management/v1/activity-manager:
    get:
      description: Retrieve a list of activities.
      operationId: activity_manager_api_List_Activities
      parameters:
      - description: The Tenant ID.
        explode: true
        in: query
        name: tenantId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: The ID of the activity.
        explode: true
        in: query
        name: activityIds
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The name of the activity.
        explode: true
        in: query
        name: activityName
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The activity type.
        explode: true
        in: query
        name: activityType
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The status information of the activity.
        explode: true
        in: query
        name: activityStatus
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The priority information about the activity.
        explode: true
        in: query
        name: priority
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: The due date of the activity.
        explode: true
        in: query
        name: dueDateStartDateTime
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The due date of the activity.
        explode: true
        in: query
        name: dueDateEndDateTime
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The customer code of the activity.
        explode: true
        in: query
        name: customerCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The supplier code of the activity.
        explode: true
        in: query
        name: supplierCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The location of the activity.
        explode: true
        in: query
        name: location
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: Indicates whether the activity is private or not.
        explode: true
        in: query
        name: private
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The User ID assigned to the activity.
        explode: true
        in: query
        name: assignedTo
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: The department code to which the activity is assigned.
        explode: true
        in: query
        name: assignedToDepartment
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The user involved in the activity.
        explode: true
        in: query
        name: involvedUsers
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The status type of the activity.
        explode: true
        in: query
        name: statusType
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: The progress type of the activity.
        explode: true
        in: query
        name: progressType
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: The parent ID of the activity.
        explode: true
        in: query
        name: parentActivity
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: The planned start date of the activity.
        explode: true
        in: query
        name: plannedStartDateTime
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      - description: The planned finish date of the activity.
        explode: true
        in: query
        name: plannedFinishDateTime
        required: false
        schema:
          example: 2026-04-29T19:08:42Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/activity_manager_api_List_Activities_item"
                title: activity_manager_api_List_Activities_response
                type: array
          description: Query executed successfully.
      summary: List Activities
      tags:
      - Activity Manager API
    post:
      description: Add an activity.
      operationId: activity_manager_api_Create_Activity
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity_manager_api_Create_Activity_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activity_manager_api_Create_Activity_201_response"
          description: The record was created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activity_manager_api_Create_Activity_400_response"
          description: Validation error.
      summary: Create Activity
      tags:
      - Activity Manager API
  /management/v1/activity-manager/{id}:
    get:
      description: Retrieves an activity by ID.
      operationId: activity_manager_api_Get_Activity
      parameters:
      - description: The Activity ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activity_manager_api_Get_Activity_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
      summary: Get Activity
      tags:
      - Activity Manager API
    put:
      description: |-
        NOTE:
        When you update an activity and provide a value for a field, any existing values are cleared and replaced with the new one.
        When you update an activity and do not provide a value for a field, any previously stored values for that field are retained.
      operationId: activity_manager_api_Update_Activity
      parameters:
      - description: The Activity ID.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/activity_manager_api_Update_Activity_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activity_manager_api_Update_Activity_response"
          description: The record was updated.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/activity_manager_api_Update_Activity_400_response"
          description: Validation error.
        "404":
          description: Resource not found.
      summary: Update Activity
      tags:
      - Activity Manager API
  /purchasing/v1/approved-suppliers/{id}:
    get:
      description: Retrieve an Approved Supplier by Resource ID.
      operationId: approved_suppliers_api_Get_Approved_Supplier
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approved_suppliers_api_Get_Approved_Supplier_response"
          description: The query executed successfully.
        "404":
          description: The resource does not exist.
      summary: Get Approved Supplier
      tags:
      - Approved Suppliers API
  /purchasing/v1/approved-suppliers/{id}/edi-details:
    get:
      description: Gets EDI information related to the approved supplier.
      operationId: approved_suppliers_api_Get_EDI_Details
      parameters:
      - description: The resource ID of the approved supplier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approved_suppliers_api_Get_EDI_Details_response"
          description: Success
        "404":
          description: Not Found
      summary: Get EDI Details
      tags:
      - Approved Suppliers API
  /purchasing/v1/approved-suppliers/{id}/mrp-details:
    get:
      description: Gets MRP information related to the approved supplier.
      operationId: approved_suppliers_api_Get_MRP_Details
      parameters:
      - description: The resource ID of the approved supplier.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/approved_suppliers_api_Get_MRP_Details_response"
          description: Success
        "404":
          description: Not Found
      summary: Get MRP Details
      tags:
      - Approved Suppliers API
  /purchasing/v1/approved-suppliers:
    get:
      description: List Approved Suppliers by query parameters.
      operationId: approved_suppliers_api_List_Approved_Suppliers
      parameters:
      - description: A list of approved supplier IDs.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The part ID.
        explode: true
        in: query
        name: partId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: "Application: Operation List"
        explode: true
        in: query
        name: operationCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The supplier ID.
        explode: true
        in: query
        name: supplierId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/approved_suppliers_api_List_Approved_Suppliers_item"
                title: approved_suppliers_api_List_Approved_Suppliers_response
                type: array
          description: The query executed successfully.
      summary: List Approved Suppliers
      tags:
      - Approved Suppliers API
  /purchasing/v1/approved-suppliers/{id}/prices:
    get:
      description: List Prices by query parameters.
      operationId: approved_suppliers_api_List_Prices
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      - explode: true
        in: query
        name: active
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The date on which the price is effective.
        explode: true
        in: query
        name: effectiveDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      - description: The date on which the price is effective.
        explode: true
        in: query
        name: effectiveDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      - description: The date on which the price expires.
        explode: true
        in: query
        name: expirationDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      - description: The date on which the price expires.
        explode: true
        in: query
        name: expirationDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      - description: The ID of the last person to modify the record.
        explode: true
        in: query
        name: modifiedById
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: The date on which the record was last modified.
        explode: true
        in: query
        name: modifiedDateBegin
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      - description: The date on which the record was last modified.
        explode: true
        in: query
        name: modifiedDateEnd
        required: false
        schema:
          example: 2026-04-29T19:08:46Z
          format: date-time
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/approved_suppliers_api_List_Prices_item"
                title: approved_suppliers_api_List_Prices_response
                type: array
          description: The query executed successfully.
        "404":
          description: The Approved Supplier resource was not found.
      summary: List Prices
      tags:
      - Approved Suppliers API
  /engineering/v1/boms:
    get:
      description: List BOM Components by query parameters.
      operationId: bom_api_List_BOM_Components
      parameters:
      - description: A unique identifier for the part resource.
        explode: true
        in: query
        name: partId
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: A unique identifier for the part operation identifier.
        explode: true
        in: query
        name: partOperationId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/bom_api_List_BOM_Components_item"
                title: bom_api_List_BOM_Components_response
                type: array
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_List_BOM_Components_400_response"
          description: Bad Request
      summary: List BOM Components
      tags:
      - BOM API
    post:
      description: Create a new BOM Component.
      operationId: bom_api_Create_BOM_Component
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bom_api_Create_BOM_Component_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Create_BOM_Component_201_response"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Create_BOM_Component_400_response"
          description: Bad Request
      summary: Create BOM Component
      tags:
      - BOM API
  /engineering/v1/boms/{id}/deactivate:
    post:
      description: Deactivate a BOM Component.
      operationId: bom_api_Deactivate_BOM_Component
      parameters:
      - description: The ID of the BOM Component.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "204":
          description: No Content
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Deactivate_BOM_Component_400_response"
          description: Bad Request
      summary: Deactivate BOM Component
      tags:
      - BOM API
  /engineering/v1/boms/{id}:
    get:
      description: Retrieve a BOM Component by ID.
      operationId: bom_api_Get_BOM_Component
      parameters:
      - description: The ID of the BOM Component.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Get_BOM_Component_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Get_BOM_Component_400_response"
          description: Bad Request
        "404":
          description: Not Found
      summary: Get BOM Component
      tags:
      - BOM API
    patch:
      description: Patch a BOM Component.
      operationId: bom_api_Patch_BOM_Component
      parameters:
      - description: The ID of the BOM Component.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/bom_api_Patch_BOM_Component_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Patch_BOM_Component_response"
          description: Success
        "404":
          description: Not Found
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/bom_api_Patch_BOM_Component_400_response"
          description: Bad Request
      summary: Patch BOM Component
      tags:
      - BOM API
  /mdm/v1/buildings/{id}:
    get:
      description: Retrieve a building by ID.
      operationId: buildings_api_Get_Building
      parameters:
      - description: A unique identifier for the building.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/buildings_api_Get_Building_response"
          description: The query executed successfully.
        "404":
          description: The resource does not exist.
        "400":
          description: A validation error has occurred.
      summary: Get Building
      tags:
      - Buildings API
  /mdm/v1/buildings:
    get:
      description: List buildings by query parameters.
      operationId: buildings_api_List_Buildings
      parameters:
      - description: A unique identifier for the building.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: The building code.
        explode: true
        in: query
        name: buildingCode
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The building type.
        explode: true
        in: query
        name: buildingType
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The name of the building.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: The active status of the building.
        explode: true
        in: query
        name: active
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/buildings_api_List_Buildings_item"
                title: buildings_api_List_Buildings_response
                type: array
          description: The query executed successfully.
        "400":
          description: A validation error has occurred.
      summary: List Buildings
      tags:
      - Buildings API
  /mdm/v1/chart-of-accounts/{id}/activate:
    post:
      description: Activate an Account.
      operationId: chart_of_accounts_api_Activate_Account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: The Activate ChartOfAccountcommand was accepted for processing.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Activate_Account_400_response"
          description: A validation error has occurred.
        "404":
          description: The ChartOfAccount Resource does not exist.
      summary: Activate Account
      tags:
      - Chart of Accounts API
  /mdm/v1/chart-of-accounts:
    get:
      description: List Accounts by query parameters.
      operationId: chart_of_accounts_api_List_Accounts
      parameters:
      - description: A unique identifier for the Account.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - description: A supplemental ID field used to identify an account.
        explode: true
        in: query
        name: accountNumber
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: A unique name for the account.
        explode: true
        in: query
        name: name
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: "Must be one of the following values: Asset, Equity, Expense,\
          \ Liability,  or Revenue."
        explode: true
        in: query
        name: categoryType
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: This flag will be set to Active by default.
        explode: true
        in: query
        name: active
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/chart_of_accounts_api_List_Accounts_item"
                title: chart_of_accounts_api_List_Accounts_response
                type: array
          description: The query executed successfully.
      summary: List Accounts
      tags:
      - Chart of Accounts API
    post:
      description: Create a new Account.
      operationId: chart_of_accounts_api_Create_Account
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/chart_of_accounts_api_Create_Account_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Create_Account_201_response"
          description: The ChartOfAccount resource was successfully created.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Create_Account_400_response"
          description: A validation error has occurred.
      summary: Create Account
      tags:
      - Chart of Accounts API
  /mdm/v1/chart-of-accounts/{id}/deactivate:
    post:
      description: Deactivate an Account.
      operationId: chart_of_accounts_api_Deactivate_Account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: The Deactivate ChartOfAccount command was accepted for processing.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Deactivate_Account_400_response"
          description: A validation error has occurred.
        "404":
          description: The ChartOfAccount Resource does not exist.
      summary: Deactivate Account
      tags:
      - Chart of Accounts API
  /mdm/v1/chart-of-accounts/{id}:
    get:
      description: Retrieve an Account by Resource ID.
      operationId: chart_of_accounts_api_Get_Account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Get_Account_response"
          description: The query executed successfully.
        "404":
          description: The resource does not exist.
      summary: Get Account
      tags:
      - Chart of Accounts API
    put:
      description: Update an Account.
      operationId: chart_of_accounts_api_Update_Account
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/chart_of_accounts_api_Update_Account_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Update_Account_response"
          description: The ChartOfAccount resource was updated successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Update_Account_400_response"
          description: A validation error has occurred.
        "404":
          description: The resource does not exist.
      summary: Update Account
      tags:
      - Chart of Accounts API
  /mdm/v1/chart-of-accounts/sync:
    post:
      description: Sync a set of Accounts from another system. This operation creates
        Accounts that do not exist in Plex and updates existing Accounts.
      operationId: chart_of_accounts_api_Sync_Accounts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/chart_of_accounts_api_Sync_Accounts_request"
        required: true
      responses:
        "202":
          description: The Sync command was accepted for processing.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/chart_of_accounts_api_Sync_Accounts_400_response"
          description: A validation error has occurred.
      summary: Sync Accounts
      tags:
      - Chart of Accounts API
  /quality/v1/checksheets:
    post:
      description: "Checksheets are the realization of control plan lines and are\
        \ used to collect real-time inspection data. Control plans may be classified\
        \ as either part or process. Part control plans are available at quality/{version}/control-plans,\
        \ while process control recipes are available at quality/{version}/process-control-plans.\
        \ Specifications are similarly divided into part and process, and can be found\
        \ at quality/{version}/specifications and quality/{version}/process-specifications,\
        \ respectively.\nThere are two primary types of checksheets: live and non-live.\n\
        A live checksheet is completed by an inspector directly within the Plex control\
        \ panel.\nA non-live checksheet is filled out outside the control panel, such\
        \ as through Checksheet launchers in Plex.\nThe following guidelines outline\
        \ the required information to create a checksheet:\n\nControlPlanId: Required\
        \ for a non-live checksheet. If there are multiple process control recipes\
        \ with the same PartId, OperationId, and InspectionMode, you must specify\
        \ this.\nProductionWorkcenterId: Required for completing a live checksheet.\
        \ The workcenter must be properly configured and have an operator logged in\
        \ to Plex. The control plan must be designated as primary and must have an\
        \ active control plan status (&quot;Available For Use&quot; flag set to true).\
        \ Additionally, for part control plans, the Inspection Mode Manufacturing\
        \ flag must be set to true, and the selected part operation must be active\
        \ and not designated as a sub-operation. For process control recipes, the\
        \ Inspection Mode Process Check flag must be set to true, the control plan\
        \ type must have its process flag enabled, and it must belong to a process\
        \ control recipe family.\nApprovedWorkcenterId: Relevant only for a non-live\
        \ checksheet. For a part and operation, these are available in production/{version}/production-definitions/approved-workcenters\n\
        InspectorEmployeeId: Do not specify this if you are providing the ProductionWorkcenterId.\
        \ For a live checksheet, this field is automatically set to the primary operator\
        \ logged into the workcenter. If no operator is specified, the inspector defaults\
        \ to the Plex API user. Employee information is available at mdm/{version}/employees.\n\
        JobOperationId: In live mode, if sent, should match the setup of the control\
        \ panel. They can be found at scheduling/{version}/jobs.\nPartOperationId:\
        \ In live mode, if sent, should match the setup of the control panel. They\
        \ can be found at mdm/{version}/part-operations.\nIf ProductionWorkcenterId\
        \ is specified, it is optional to send the PartId, PartOperationId, JobOperationId,\
        \ and ControlPlanId.\nIf JobOperationId is specified, it is optional to send\
        \ the PartId and PartOperationId.\nProcess control recipe validations differ\
        \ slightly from those of part control plans. For part control plans, you can\
        \ add the checksheet to either a live or non-live checksheet. For process\
        \ control recipes, the configuration of the process control recipe family,\
        \ along with the &quot;Control Panel&quot; group and the &quot;All Process\
        \ Checksheets Display&quot; setting, determines whether the submitted checksheet\
        \ is valid. If the recipe family is configured as workcenter-only, the checksheet\
        \ may be added only in the live-mode to any part associated with the specified\
        \ ProductionWorkcenterId, provided the operation matches that of the recipe\
        \ family. If the recipe family is set up with both parts and workcenters,\
        \ the checksheet can only be added to those specific combinations of parts,\
        \ workcenters, and operations defined in the recipe family. If the &quot;All\
        \ Process Checksheets Display&quot; setting is enabled, the restrictions for\
        \ workcenter-only or part-specific assignments no longer apply. In this case,\
        \ as long as the ProductionWorkcenterId and Operation are aligned, the checksheet\
        \ may be added to any part only in the live-mode.\n\nSample Request for a\
        \ Live Checksheet\n{\n  &quot;productionWorkcenterId&quot;: &quot;AF05A9CC-83D6-4A95-A79D-0932906A7212&quot;,\n\
        \  &quot;operationId&quot;: &quot;9C10C43A-4181-40CF-BE62-4B5ED0034F0D&quot;,\n\
        \  &quot;inspectionMode&quot;: &quot;In Process (each container)&quot;,\n\
        \  &quot;measurements&quot;: [\n    {\n      &quot;specificationId&quot;:\
        \ &quot;168E2C69-31AB-43B2-9B61-BC6A22BA0719&quot;,\n      &quot;value&quot;:\
        \ 1\n    }\n  ]\n}\n            \n\nSample Request for a Non-Live Checksheet\n\
        {\n  &quot;controlPlanId&quot;: &quot;616f5aad-0d68-48be-af5a-39da2f932f9d&quot;,\n\
        \  &quot;approvedWorkcenterId&quot;: &quot;57DFB705-7122-431D-B5B7-246DF6130BE7&quot;,\n\
        \  &quot;partId&quot;: &quot;85989389-5CE1-4FDD-95D9-94A3CD663CE6&quot;,\n\
        \  &quot;operationId&quot;: &quot;3C85A9B0-3B87-4FF5-95A6-1709D45986CE&quot;,\n\
        \  &quot;partOperationId&quot;: &quot;a0a315d1-ef64-4e74-9d56-02b430ea5e1f&quot;,\n\
        \  &quot;inspectionMode&quot;: &quot;Process Checks - Setup&quot;,\n  &quot;measurements&quot;:\
        \ [\n    {\n      &quot;specificationId&quot;: &quot;497ABAB9-D86D-4674-99F6-9586ED8D1578&quot;,\n\
        \      &quot;value&quot;: 510\n    }\n  ]\n}\n\n\nUnsupported Functionality:\n\
        \nStreams\nPiece Measurements\n\nThis operation supports sending in a maximum\
        \ of 100 specifications for a checksheet."
      operationId: checksheet_api_Create_Checksheet
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/checksheet_api_Create_Checksheet_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checksheet_api_Create_Checksheet_201_response"
          description: Checksheet added successfully.
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checksheet_api_Create_Checksheet_400_response"
          description: A validation error occurred.
      summary: Create Checksheet
      tags:
      - Checksheet API
  /quality/v1/checksheets/{id}:
    get:
      description: "Disclaimer: Measurement details are not included in checksheet\
        \ data."
      operationId: checksheet_api_Get_Checksheet
      parameters:
      - description: The Checksheet Number.
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 0
          format: int32
          type: integer
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/checksheet_api_Get_Checksheet_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
      summary: Get Checksheet
      tags:
      - Checksheet API
  /quality/v1/checksheet-types:
    get:
      description: Retrieve a list of checksheet types.
      operationId: checksheet_type_api_List_Checksheet_Types
      parameters:
      - description: A list of Checksheet Type descriptions.
        explode: true
        in: query
        name: description
        required: false
        schema:
          items:
            example: string
            type: string
          type: array
        style: form
      - description: Determines if Customer Specified or Dock Audit specifications
          are preselected on the checksheet setup form when Specifications is set
          to Multiple Part Specs.
        explode: true
        in: query
        name: preselectedSpecifications
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: Designation if the checksheet type is used for production checksheets
          launched from the Control Panel.
        explode: true
        in: query
        name: inProcess
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The default number of measurements on the checksheet setup form.
        explode: true
        in: query
        name: pieces
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: Designation if container serial numbers are used on the checksheet
          form. Used in conjunction with the setting Container Text Standalone Display
          to enable the SPC Checksheet Container Text field on the checksheet form.
        explode: true
        in: query
        name: container
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Designation if the operation field is enabled on the checksheet
          form.
        explode: true
        in: query
        name: operation
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Designation if workcenters are used on the checksheet setup.
        explode: true
        in: query
        name: workcenter
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The subgroup size.
        explode: true
        in: query
        name: subgroupSize
        required: false
        schema:
          example: 0
          format: int32
          type: integer
        style: form
      - description: Designation if subgroups are used on the checksheet.
        explode: true
        in: query
        name: subgroup
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Designation if the checksheet type is used for Process Control
          checksheets.
        explode: true
        in: query
        name: process
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: Designation if the Status and Days Until Expiration fields are
          enabled on the checksheet.
        explode: true
        in: query
        name: statusRequired
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/checksheet_type_api_List_Checksheet_Types_item"
                title: checksheet_type_api_List_Checksheet_Types_response
                type: array
          description: Query executed successfully.
      summary: List Checksheet Types
      tags:
      - Checksheet Type API
  /mdm/v1/contacts:
    get:
      description: List Contacts by query parameters.
      operationId: contacts_api_List_Contacts
      parameters:
      - description: A list of contact IDs.
        explode: true
        in: query
        name: id
        required: false
        schema:
          items:
            example: 00000000-0000-0000-0000-000000000000
            format: uuid
            type: string
          type: array
        style: form
      - explode: true
        in: query
        name: customerId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - explode: true
        in: query
        name: firstName
        required: false
        schema:
          example: string
          type: string
        style: form
      - explode: true
        in: query
        name: lastName
        required: false
        schema:
          example: string
          type: string
        style: form
      - explode: true
        in: query
        name: companyName
        required: false
        schema:
          example: string
          type: string
        style: form
      - explode: true
        in: query
        name: description
        required: false
        schema:
          example: string
          type: string
        style: form
      - explode: true
        in: query
        name: supplierId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      - description: "Setup table: Contact Type."
        explode: true
        in: query
        name: type
        required: false
        schema:
          example: string
          type: string
        style: form
      - description: IAM Account Id
        explode: true
        in: query
        name: associatedWithId
        required: false
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/contacts_api_List_Contacts_item"
                title: contacts_api_List_Contacts_response
                type: array
          description: The query executed successfully.
      summary: List Contacts
      tags:
      - Contacts API
    post:
      description: Create a new Contact.
      operationId: contacts_api_Create_Contact
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contacts_api_Create_Contact_request"
        required: true
      responses:
        "201":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Create_Contact_201_response"
          description: Created
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Create_Contact_400_response"
          description: Bad Request
      summary: Create Contact
      tags:
      - Contacts API
  /mdm/v1/contacts/{id}/deactivate:
    post:
      description: Deactivate a Contact.
      operationId: contacts_api_Deactivate_Contact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Deactivate_Contact_400_response"
          description: Bad Request
        "404":
          description: Not Found
      summary: Deactivate Contact
      tags:
      - Contacts API
  /mdm/v1/contacts/{id}:
    delete:
      description: Delete a Contact.
      operationId: contacts_api_Delete_Contact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Delete_Contact_400_response"
          description: Bad Request
        "404":
          description: Not Found
      summary: Delete Contact
      tags:
      - Contacts API
    get:
      description: Retrieve a Contact by Resource ID.
      operationId: contacts_api_Get_Contact
      parameters:
      - description: Contact Resource ID
        explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Get_Contact_response"
          description: The query executed successfully.
        "400":
          description: Bad Request
        "404":
          description: The contact does not exist.
      summary: Get Contact
      tags:
      - Contacts API
    put:
      description: Update a Contact.
      operationId: contacts_api_Update_Contact
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contacts_api_Update_Contact_request"
        required: true
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Update_Contact_response"
          description: Success
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Update_Contact_400_response"
          description: Bad Request
        "404":
          description: Not Found
      summary: Update Contact
      tags:
      - Contacts API
  /mdm/v1/contacts/sync:
    post:
      description: Sync a set of Contacts from another system. This operation creates
        Contacts that do not exist in Plex and updates existing Contacts.
      operationId: contacts_api_Sync_Contacts
      parameters: []
      requestBody:
        content:
          application/json:
            schema:
              $ref: "#/components/schemas/contacts_api_Sync_Contacts_request"
        required: true
      responses:
        "202":
          description: Accepted
        "400":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/contacts_api_Sync_Contacts_400_response"
          description: Bad Request
      summary: Sync Contacts
      tags:
      - Contacts API
  /quality/v1/control-plan-types:
    get:
      description: Retrieve a list of control plan types.
      operationId: control_plan_types_api_List_Control_Plan_Types
      parameters:
      - description: A list of Control Plan Types.
        explode: true
        in: query
        name: controlPlanType
        required: false
        schema:
          items:
            example: string
            type: string
          type: array
        style: form
      - description: The production flag.
        explode: true
        in: query
        name: production
        required: false
        schema:
          example: false
          type: boolean
        style: form
      - description: The process flag.
        explode: true
        in: query
        name: process
        required: false
        schema:
          example: false
          type: boolean
        style: form
      responses:
        "200":
          content:
            application/json:
              schema:
                items:
                  $ref: "#/components/schemas/control_plan_types_api_List_Control_Plan_Types_item"
                title: control_plan_types_api_List_Control_Plan_Types_response
                type: array
          description: Query executed successfully.
      summary: List Control Plan Types
      tags:
      - Control Plan Types API
  /quality/v1/control-plans/{id}:
    get:
      description: Retrieve a control plan.
      operationId: control_plans_api_Get_Control_Plan
      parameters:
      - explode: false
        in: path
        name: id
        required: true
        schema:
          example: 00000000-0000-0000-0000-000000000000
          format: uuid
          type: string
        style: simple
      responses:
        "200":
          content:
            application/json:
              schema:
                $ref: "#/components/schemas/control_plans_api_Get_Control_Plan_response"
          description: Query executed successfully.
        "404":
          description: Resource not found.
      summary: Get Control Plan
      tags:
      - Control Plans API
  /quality/v1/control-plans/{id}/control-plan-lines/{lineId}:
    get:
      description: Retrieve a control plan line.
      operationId: control_plans_api_Get_Control_Plan_Line
      parameters:
      - explode: false
[...]
